<%layout("/eeda/layout.html"){%>
<div id="page-wrapper">
	 <div class="row simple_search_div">
  	   <div class="panel panel-default">
	      	<div class="panel-heading">
	                 <h4 class="panel-title">
	                     <a data-toggle="collapse" data-parent="#accordion" href="#collapseChargeInfo" aria-expanded="false" class="collapsed">
	                     <i id="collapseChargeIcon" class="fa fa-angle-double-down"></i> 查询条件                                       </a>
                    
	                 </h4>
	           </div>
	        <div id="collapseChargeInfo" class="panel-collapse collapse in" aria-expanded="false" style="height: auto;">
	            <div class="panel-body" id="ChargeDiv">
        		  <div class="col-lg-12">
						<form id="applicationForm" role="form" >
							 <input id='back' name='back' type="hidden" value="${back!''}">
                			<input id="confirmVal" type="hidden">
							<div class="row search_panel">
								<div class="col-lg-4">
								<input id="rowIndex" type="text" hidden>
								<input id="table_id" type="text" hidden>
									<div class="form-group">
										<%include("/eeda/component/form/inputSpField.html", { id:'sp_id', label:'结算公司',  value: '' }){} %>
	                                </div>     
                                      <div class="form-group">      
                                         	<%include("/eeda/component/form/inputField.html", {id:'orderNo', label:'业务单据号'}){} %>
									</div>
									<div class="form-group">
										<label class="search-label">申请单号</label>
										<input type="text" class="form-control search-control applicationOrderNo" id="applicationOrderNo" value="">
									</div>
									<div class="form-group">
										<label class="search-label">状态</label>
										<select id="status2" class="form-control search-control status2">
											<option value="新建">新建</option>
											<option value="已复核">已复核</option>
											<option value="复核不通过">复核不通过</option>
											<option value="已付款">已付款</option>
                     						 <option value="该笔为坏账">该笔为坏账</option>
											<option value=""></option>
										</select>
									</div>
								</div>
								<!-- end of col-lg-6-->
								<div class="col-lg-4">
									 <div class="form-group">      
                                         	<%include("/eeda/component/form/inputField.html", {id:'sp_code', label:'结算公司代码'}){} %>
									</div>
								  <div class="form-group">
									<label class="search-label">项目</label>
										<select id="fee_type" class="form-control search-control ">
											<option></option>
											<option value="transFee">代理货运服务费</option>
											<option value="customFee">代理报关服务费</option>
											<option value="consultFee">咨询服务费</option>
											<option value="internationalFee">国际货代服务费</option>
		                                    <option value="transAndInsurance">货物运输保险费</option>
		                                    <option value="domesticPaymentFee" >国内货款</option>
		                                    <option value="otherFee">其他</option>
										</select>
									</div>
									<div class="form-group">      
			                     			<%include("/eeda/component/form/dateInputField.html", {id:'service_stamp', label:'业务发生月', value:''}){} %>
									</div>
										
								</div>
								<div class="col-lg-4">
									<div class="form-group">      
	                                     	<%include("/eeda/component/form/inputDateQueryField.html", {id:'check_begin_date', label:'复核时间', value:''}){} %>
									</div>
									<div class="form-group">      
	                                     	<%include("/eeda/component/form/inputDateQueryField.html", {id:'confirmBegin_date', label:'付款时间', value:''}){} %>
									</div>
									<div class="form-group">      
	                                     	<%include("/eeda/component/form/inputDateQueryField.html", {id:'begin_date', label:'创建时间', value:''}){} %>
									</div>
								</div>
								
							</div>
					<button id="searchBtn1" class="btn btn_grey" type="button">查询</button>
                    <button id="resetBtn1" class="btn btn_white" type="button">清空条件</button>
					</form>
			</div>
		 </div>
		</div>
	</div>
	<!-- /.col-lg-12 -->
	</div>
				  <div class="simple_row_div">
					<span class="badge" style='margin-top:12px;margin-right:5px;'> CNY总额: <span id="cny_totalAmountSpan">0</span></span>
					<span class="badge" style='margin-top:12px;margin-right:5px;'> USD总额: <span id="usd_totalAmountSpan">0</span></span>
					<span class="badge" style='margin-top:12px;margin-right:5px;'> JPY总额: <span id="jpy_totalAmountSpan">0</span></span>
					<span class="badge" style='margin-top:12px;margin-right:10px;'> HKD总额: <span id="hkd_totalAmountSpan">0</span></span>
					<button id="totalZero" class="badge" style='display:none;margin-top:12px;margin-right:10px;background-color: #005BAC;'>金额清零</button>
					<button id="checked" class="btn  btn btn_green" style="margin-top:12px;"  disabled>复核</button>
					<button id="confirmed" class="btn btn btn_green" style="margin-top:12px;"  disabled>付款确认</button>
					<button id="badBtn" type="button" class="btn btn-danger btn-xs" style="background-color:#d9534f;margin-top:12px;	"  disabled="disabled" >坏账确认</button>
					<a href="/costRequest/create" class="btn btn_green" type="button" style="margin-left:55px;margin-top:12px;">创建申请单</a>
				  </div>
					<div class="row simple_list_div">
						<div class="form-group">
							<ul id="orderTabs" class="nav nav-tabs">
                                <li class="active"><a href="#unchecked" data-toggle="tab" data-src="unchecked" id="uncheckedCostCheckOrder">未选中明细</a>
                                </li>
                                <li class=""><a href="#checked_li" data-toggle="tab" id="checkedCostCheckOrder">已选中明细 </a>
                                </li>                        
                            </ul>
						</div>

						<div class="tab-content">
							<div class="tab-pane fade active in" id="unchecked">
                                <%include("/eeda/component/form/detailTable.html", 
                                {
                                    id:'application_table',
                                    style:'width:2100px',
                                    headers:[
                                    '<input type="checkbox" id="allCheck">',
                                    
                                    '状态',
                                    '付款对象',
                                    '发票类型',
                                    '项目',
                                    '业务发生月',
                                    '申请付款(CNY)',
                                    '申请付款(USD)',
                                    '申请付款(JPY)',
                                    '申请付款(HKD)',
                                    '付款备注',
                                    '操作',
                                    '申请单号',
                                    '业务单号',
                                    '付款方式',
                                    '创建人',
                                    '创建时间',
                                    '复核时间',
                                    '付款时间',
                                    '单据类型',
                                    '备注'
                                    ]
                                }){} %>
                             </div>
                          <div class="tab-pane fade " id="checked_li" >
                       		 <%include("/eeda/component/form/detailTable.html", 
                                {
                                    id:'checked_application_table',
                                    style:'width:2100px',
                                    headers:[
                                    '<input type="checkbox" id="allCheck2">',
                                    
                                    '状态',
                                    '收款对象',
                                    '发票类型',
                                    '项目',
                                    '业务发生月',
                                    '申请收款(CNY)',
                                    '申请收款(USD)',
                                    '申请收款(JPY)',
                                    '申请收款(HKD)',
                                    '收款备注',
                                    '业务单号',
                                    '操作',
                                    '申请单号',
                                    '收款方式',
                                    '创建人',
                                    '创建时间',
                                    '复核时间',
                                    '收款时间',
                                    '单据类型',
                                    '备注'
                                    ]
                                }){} %>
                        </div>
                 </div>
				</div>
	


</div>


<a id='cost_table_msg_btn' data-target='#cost_table_msg' data-toggle='modal' style='display:none'></a>
  <div class="modal fade" id="cost_table_msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:500px;">
        <div class="modal-content">
            <div class="modal-body">
				 
                 	<div class="row">
                        <div class="col-lg-6">
                         <%include("/eeda/component/form/dateInputField.html",
				                        {    id:'receive_time', 
				                             label:'确认时间',
				                             value:order.receive_time!''
	                              }){} %>
	                     </div>
                  </div> 
                  <div class="row" id="pay_remark_hide" style="">
                        <div class="col-lg-8">
                            <label>备注</label>
                           <textarea id='pay_remark' class="form-control" rows="3" name="pay_remark">${order.pay_remark!''}</textarea>
                        </div>                    
                 </div>  
                   <div class="row" style="margin-top:15px;">
	                     <div class="col-lg-6">
	                      	 <button id="confirmBtn"  type="button" class="btn  btn-primary save" data-dismiss="modal">确定</button>
            	 			       <button type="button" class="btn  btn-default" data-dismiss="modal">返回</button>
                       </div>
                  </div>

				  <br>
			</div>
           
        </div>
    </div>
</div>
<%}%>
<script>
var itemOrder={};
</script>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/arap/CostRequest/list']);
    });
</script>
