<link rel="stylesheet" href="/js/lib/pageguide-1.3.2/css/pageguide.min.css">

<ul id="tlyPageGuide" data-tourtitle="付款申请单教程">
  <li class="tlypageguide_left" data-tourtarget=".guide_target1">
    <div>
      默认是不查询的, 请点击查询按钮, 查询出需要做付款的申请单的记录。
    </div>
  </li>
  <li class="tlypageguide_left" data-tourtarget=".guide_target2">
    <div>
      高级查询: 这里提供更多的查询条件供您查询。
    </div>
  </li>
  <li class="tlypageguide_left" data-tourtarget=".guide_target3">
    <div>
      汇总: 这里是申请单列表中(选中记录)费用的币种金额汇总。
    </div>
  </li>
  <li class="tlypageguide_top" data-tourtarget=".guide_target4">
    <div>
      在查询结果中选择数据(可多选), 点击按钮进行申请单复核, 复核后的申请单才可以进行付款确认。
    </div>
  </li>
  <li class="tlypageguide_top" data-tourtarget=".guide_target5">
    <div>
      在查询结果中选择数据(可多选), 点击按钮进行申请单付款确认, 至此财务流程就结束了。
    </div>
  </li>
</ul>