<%layout("/eeda/layout.html"){%>
 <link href="/js/lib/sco/css/sco.message.css" rel="stylesheet">  
  <!--<link rel="stylesheet" href="/yh/css/ui/jquery-ui.css"> -->
 <div id="page-wrapper">
    <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            	供应商基本信息
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <form id="customerForm" role="form"  method="post">
                                    <input id="partyId" name="party_id" type="hidden" value="${party.id!''}">
                                    <!-- /.col-lg-6 (odd) 奇数列 -->
									<div class="col-lg-4">
                                            <div class="form-group">
                                                <label>代码</label>
                                                <input placeholder="" class="form-control" id="code" name="code" type="text" value="${party.code!''}">
                                            </div> 
                                            <div class="form-group">
                                                <label>公司名称(必填)</label>
                                                <input placeholder="" class="form-control" id="company_name" name="company_name" type="text" value="${party.company_name!''}">
                                            </div> 
                                            <div class="form-group">
                                                <label>简称(必填)</label>
                                                <input class="form-control" id="abbr" type="text" name="abbr" value="${party.abbr!''}">
                                            </div>
                                            <div class="form-group">
                                                <label>联系地址</label>
                                                <input placeholder="" class="form-control" id="address" type="text" name="address" value="${party.address!''}">
                                            </div> 
                                            <div class="form-group">
                                                <label>负责人(必填)</label>
                                                <input placeholder="" class="form-control" id="contact_person" type="text" name="contact_person" value="${party.contact_person!''}">
                                            </div>
                                            <div class="form-group">
                                                <label>负责人电话</label>
                                                <input placeholder="" class="form-control" id="disabledInput" type="text" name="phone" value="${party.phone!''}">
                                            </div>

                                            <div class="form-group">
                                                <label>负责人Email</label>
                                                <input placeholder="" class="form-control" id="email" type="text" name="email" value="${party.email!''}">
                                            </div>
                                            
                                            <div class="form-group">
                                                <label>公司传真</label>
                                                <input placeholder="" class="form-control" id="fax" type="text" name="fax" value="${party.fax!''}">
                                            </div>
                                            <div class="form-group">
                                                <label>助记码(拼音首字母)</label>
                                                <input placeholder="" class="form-control" id="quick_search_code" type="text" name="quick_search_code" value="${party.quick_search_code!''}">
                                            </div>
                                            
                                            
                                      </div>
                                      <div class="col-lg-4">
                                           <div class="form-group">
                                                <label>收款人</label>
                                                <input class="form-control" id="receiver" type="text" name="receiver" value="${party.receiver!''}">
                                            </div>
                                            <div class="form-group">
                                                <label>付款方式</label>
	                                           	<select class="form-control" id="payment" name="payment">
	                                           		<option value="monthlyStatement">月结</option>
	                                           		<option value="freightCollect">到付</option>
	                                           		<option value="cashPayment">现付</option>
	                                           	</select>
                                            </div>
                                            <div class="form-group">
                                                <label>公司英文名称</label>
                                                <input placeholder="" class="form-control" id="company_name_eng" name="company_name_eng" type="text" value="${party.company_name_eng!''}">
                                            </div> 
                                            <div class="form-group">
                                                <label>联系地址_英文</label>
                                                <input placeholder="" class="form-control" id="address_eng" type="text" name="address_eng" value="${party.address_eng!''}">
                                            </div> 
                                            <div class="form-group">
                                                <label>负责人_英文</label>
                                                <input placeholder="" class="form-control" id="contact_person_eng" type="text" name="contact_person_eng" value="${party.contact_person_eng!''}">
                                            </div>
                                            
                                            
                                            <div class="form-group">
                                                <label>银行账号</label>
                                                <input class="form-control" id="bank_no" type="text" name="bank_no" value="${party.bank_no!''}">
                                            </div>
                                            
                                            <div class="form-group">
                                                <label>开户行</label>
                                                <input class="form-control" id="bank_name" type="text" name="bank_name" value="${party.bank_name!''}">
                                            </div>
                                            <div class="form-group">
                                                <label>注册资金</label>
                                                <input placeholder="" class="form-control" id="register_capital" type="text" name="register_capital" value="${party.register_capital!''}">
                                            </div>
                                            <div class="form-group">
                                                <label>主营业务</label>
                                                <input class="form-control" id="main_business" type="text" name="main_business" value="${party.main_business!''}">
                                            </div>
                                      </div>
                                      <div class="col-lg-4">
                                      		<div class="form-group">
                                                <label>计费方式</label>
	                                         	<input type="hidden" value="${party.charge_type!''}" id="chargeTypeSelect">
	                                           	<select class="form-control" id="chargeType" name="chargeType">
	                                           		<option value="perUnit">计件</option>
	                                           		<option value="perCar">整车</option>
	                                           		<option value="perCargo">零担</option>
	                                           	</select>
                                            </div>
                                            <div class="form-group">
                                         	
                                                <%include("/eeda/component/form/inputLocationField.html", 
                                                    {
                                                        id:'location', 
                                                        label:'始发城市', 
                                                        value: party.location!'',
                                                        display_value: location!'',
                                                        vertical: true
                                                    }){} %>
                                            </div>
                                            <div class="form-group">
                                                <label>邮政编码</label>
                                                <input placeholder="" class="form-control" id="postal_code" type="text" name="postal_code" value="${party.postal_code!''}">
                                            </div>
                                            <div class="form-group">
                                                <label>付款单位</label>
                                                <input class="form-control" id="receipt" type="text" name="receipt" value="${party.receipt!''}">
                                            </div>
                                            <div class="form-group">
                                                <label>公司网站</label>
                                                <input placeholder="" class="form-control" id="website" type="text" name="website" value="${party.website!''}">
                                            </div>
                                            <div class="form-group">
                                                <label>开户信息</label>
                                                <input placeholder="" class="form-control" id="account_information" type="text" name="account_information" value="${party.account_information!''}">
                                            </div>
                                            <div class="form-group">
                                                <%include("/eeda/component/form/dateInputField.html", 
								                       {   id:'establish_time', 
								                           label:'成立时间',
								                           value:party.establish_time!'',
								                           inline: false
								                       }){}%>
                                            </div>
                                      </div>
                                      
                                      <div class="col-lg-12">
                                      		<div class="form-group">
                                                <label>供应商类型</label>
                                                <div class="checkbox">
                                                    <label>
                                                        <input id="sp_type_truck" name="sp_type_truck" type="checkbox" value="truck" style="margin-top: 0px;">运输公司
                                                    </label>&nbsp&nbsp&nbsp&nbsp
                                                    <label>
                                                        <input id="sp_type_carrier" name="sp_type_carrier" type="checkbox" value="carrier" style="margin-top: 0px;">船公司
                                                    </label>&nbsp&nbsp&nbsp&nbsp
                                                    <label>
                                                        <input id="sp_type_air" name="sp_type_air" type="checkbox" value="air" style="margin-top: 0px;">航空公司
                                                    </label>&nbsp&nbsp&nbsp&nbsp
                                                    <label>
                                                        <input id="sp_type_broker" name="sp_type_broker" type="checkbox" value="broker" style="margin-top: 0px;">报关行
                                                    </label>&nbsp&nbsp&nbsp&nbsp
                                                    <label>
                                                        <input id="sp_type_line" name="sp_type_line" type="checkbox" value="line" style="margin-top: 0px;">干线运输供应商
                                                    </label>&nbsp&nbsp&nbsp&nbsp
                                                    <label>
                                                        <input id="sp_type_delivery" name="sp_type_delivery" type="checkbox" value="delivery" style="margin-top: 0px;">配送供应商
                                                    </label>&nbsp&nbsp&nbsp&nbsp
                                                    <label>
                                                        <input id="sp_type_pickup" name="sp_type_pickup" type="checkbox" value="pickup" style="margin-top: 0px;">提货供应商
                                                    </label>&nbsp&nbsp&nbsp&nbsp
                                                    <label>
                                                        <input id="sp_type_personal" name="sp_type_personal" type="checkbox" value="personal" style="margin-top: 0px;">个人运输供应商
                                                    </label>
                                                    <label>
                                                        <input id="sp_type_head_car" name="sp_type_head_car" type="checkbox" value="head_car" style="margin-top: 0px;">头程船公司
                                                    </label>&nbsp&nbsp&nbsp&nbsp
                                                    <label>
                                                        <input id="sp_type_oversea_agent" name="sp_type_oversea_agent" type="checkbox" value="oversea_agent" style="margin-top: 0px;">海外代理
                                                    </label>&nbsp&nbsp&nbsp&nbsp
                                                    <label>
                                                        <input id="sp_type_booking_agent" name="sp_type_booking_agent" type="checkbox" value="booking_agent" style="margin-top: 0px;">订舱代理
                                                    </label>&nbsp&nbsp&nbsp&nbsp
                                                    <label>
                                                        <input id="sp_type_cargo_agent" name="sp_type_cargo_agent" type="checkbox" value="cargo_agent" style="margin-top: 0px;">货运代理
                                                    </label>
                                                    <label>
                                                        <input id="sp_type_manufacturer" name="sp_type_manufacturer" type="checkbox" value="manufacturer" style="margin-top: 0px;">生产商
                                                    </label>&nbsp&nbsp&nbsp&nbsp
                                                    <label>
                                                        <input id="sp_type_traders" name="sp_type_traders" type="checkbox" value="traders" style="margin-top: 0px;">贸易商
                                                    </label>
                                                </div>
                                            </div>
                                       </div>
                                       <div class="form-group">
	                                       <div class="col-lg-4">
	                                           <label>企业性质</label>
	                                           <input type="hidden" id="enterprise_nature" value="party.enterprise_nature!''">
	                                           <div class="radio">
	                                               <label>
	                                                   <input id="State-run" name="enterprise_nature" type="radio" <% if(party.enterprise_nature!'State-run'=='State-run'){ %>checked="checked" <% }%> value="State-run" style="margin-top: 0px;">国营
	                                               </label>&nbsp&nbsp&nbsp&nbsp
	                                               <label>
	                                                   <input id="private" name="enterprise_nature" type="radio" <% if(party.enterprise_nature!''=='private'){ %>checked="checked" <% }%> value="private" style="margin-top: 0px;">私营
	                                               </label>&nbsp&nbsp&nbsp&nbsp
	                                               <label>
	                                                   <input id="fund_raising" name="enterprise_nature" type="radio" <% if(party.enterprise_nature!''=='fund_raising'){ %>checked="checked" <% }%> value="fund_raising" style="margin-top: 0px;">集资
	                                               </label>&nbsp&nbsp&nbsp&nbsp
	                                               <label>
	                                                   <input id="foreign_capital" name="enterprise_nature" type="radio" <% if(party.enterprise_nature!''=='foreign_capital'){ %>checked="checked" <% }%> value="foreign_capital" style="margin-top: 0px;">外资
	                                               </label>&nbsp&nbsp&nbsp&nbsp
	                                               <label>
	                                                   <input id="shareholding" name="enterprise_nature" type="radio" <% if(party.enterprise_nature!''=='shareholding'){ %>checked="checked" <% }%> value="shareholding" style="margin-top: 0px;">股权
	                                               </label>&nbsp&nbsp&nbsp&nbsp
	                                               <label>
	                                                   <input id="joint_venture" name="enterprise_nature" type="radio" <% if(party.enterprise_nature!''=='joint_venture'){ %>checked="checked" <% }%> value="joint_venture" style="margin-top: 0px;">合资
	                                               </label>&nbsp&nbsp&nbsp&nbsp
	                                           </div>
	                                       </div>
	                                       <div class="col-lg-4">
                                                <label>纳税人类别</label>
                                                <input type="hidden" id="taxpayer_category" value="party.taxpayer_category!''">
                                                <div class="radio">
                                                    <label>
                                                        <input id="VAT_general" name="taxpayer_category" type="radio" <% if(party.taxpayer_category!'VAT_general'=='VAT_general'){ %>checked="checked" <% }%> value="VAT_general"  style="margin-top: 0px;">增值税一般纳税人
                                                    </label>&nbsp&nbsp&nbsp&nbsp
                                                    <label>
                                                        <input id="VAT_small_scale" name="taxpayer_category" type="radio" <% if(party.taxpayer_category!''=='VAT_small_scale'){ %>checked="checked" <% }%> value="VAT_small_scale" style="margin-top: 0px;">增值税小规模纳税人
                                                    </label>&nbsp&nbsp&nbsp&nbsp
                                                    <label>
                                                        <input id="other" name="taxpayer_category" type="radio" <% if(party.taxpayer_category!''=='joint_venture'){ %>checked="other" <% }%> value="other" style="margin-top: 0px;">其他
                                                    </label>&nbsp&nbsp&nbsp&nbsp
                                                </div>
                                            </div>
											<div class="col-lg-4">
	                                                <label>体系及资质认证</label>
	                                                <input type="hidden" id="sys_and_qua_certification" value="party.sys_and_qua_certification!''">
	                                                <div class="radio">
	                                                    <label>
	                                                        <input id="ISO9000_authentication" name="sys_and_qua_certification"  <% if(party.sys_and_qua_certification!'ISO9000_authentication'=='ISO9000_authentication'){ %>checked="other" <% }%> type="radio" value="ISO9000_authentication" style="margin-top: 0px;">ISO9000认证
	                                                    </label>&nbsp&nbsp&nbsp&nbsp
	                                                    <label>
	                                                        <input id="other_authentication" name="sys_and_qua_certification" type="radio" <% if(party.sys_and_qua_certification!''=='other_authentication'){ %>checked="other" <% }%> value="other_authentication" style="margin-top: 0px;">其他
	                                                    </label>&nbsp&nbsp&nbsp&nbsp
	                                                </div>
	                                        </div>
	                                  </div>
                                  
                                       <div class="col-lg-12">
											<h4>经营信息</h4>
                                       </div>
                                       <div class="form-group">
                                       		<div class="col-lg-4">
                                                <label>今年销售额</label>
												<input placeholder="" class="form-control" id="this_year_salesamount" name="this_year_salesamount" type="text" value="${party.this_year_salesamount!''}">
                                            </div>
                                    		<div class="col-lg-4">
                                                 <label>去年销售额</label>
											      <input placeholder="" class="form-control" id="last_year_salesamount" name="last_year_salesamount" type="text" value="${party.last_year_salesamount!''}">
                                             </div>
                                    		<div class="col-lg-4">
                                             	<label>前年销售额</label>
												<input placeholder="" class="form-control" id="beforelast_year_salesamount" name="beforelast_year_salesamount" type="text" value="${party.beforelast_year_salesamount!''}">
                                         	</div>
                                       </div>
                                       
                                       <div class="col-lg-12">
											<h4>联系信息</h4>
                                       </div>
                                       <div class="form-group">
                                       		<div class="col-lg-4">
                                                <label>销售联系人信息(姓名，手机，办公电话，电子邮箱)</label>
												<input placeholder="" class="form-control" id="sales_contact_information" name="sales_contact_information" type="text" value="${party.sales_contact_information!''}">
                                            </div>
                                    		<div class="col-lg-4">
                                                 <label>销售部经理信息(姓名，手机，办公电话，电子邮箱)</label>
											      <input placeholder="" class="form-control" id="sales_manager_information" name="sales_manager_information" type="text" value="${party.sales_manager_information!''}">
                                             </div>
                                    		<div class="col-lg-4">
                                             	<label>运作联系人信息(姓名，手机，办公电话，电子邮箱)</label>
												<input placeholder="" class="form-control" id="operation_contact_information" name="operation_contact_information" type="text" value="${party.operation_contact_information!''}">
                                         	</div>
                                         	<div class="col-lg-4">
                                             	<label>客服联系人信息(姓名，手机，办公电话，电子邮箱)</label>
												<input placeholder="" class="form-control" id="customer_contact_information" name="customer_contact_information" type="text" value="${party.customer_contact_information!''}">
                                         	</div>
                                         	<div class="col-lg-4">
                                             	<label>财务联系人信息(姓名，手机，办公电话，电子邮箱)</label>
												<input placeholder="" class="form-control" id="financial_contact_information" name="financial_contact_information" type="text" value="${party.financial_contact_information!''}">
                                         	</div>
                                       </div>
                                       <div class="col-lg-12">
											<h4>售后服务承诺</h4>
                                       </div>
                                       <div class="form-group">
                                       		<div class="col-lg-4">
                                                <label>问题响应时间</label>
												<input placeholder="" class="form-control" id="response_problem_time" name="response_problem_time" type="text" value="${party.response_problem_time!''}">
                                            </div>
                                    		<div class="col-lg-4">
                                                 <label>问题解决时间</label>
											      <input placeholder="" class="form-control" id="solve_problem_time" name="solve_problem_time" type="text" value="${party.solve_problem_time!''}">
                                             </div>
                                    		<div class="col-lg-4">
                                             	<label>付款账期</label>
												<input placeholder="" class="form-control" id="pay_account_time" name="pay_account_time" type="text" value="${party.pay_account_time!''}">
                                         	</div>
                                       </div>
                                       <div class="form-group">
                                            <div class="col-lg-6">
                                                <label>营业范围</label>
												<textarea class="form-control" rows="3" id="business_scope" name="business_scope">${party.business_scope!''}</textarea>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>公司简介</label>
												<textarea class="form-control" rows="3" id="introduction" name="introduction">${party.introduction!''}</textarea>
                                            </div>
                                            <div class="col-lg-12">
                                                <label>备注</label>
												<textarea class="form-control" rows="3" id="remark" name="remark">${party.remark!''}</textarea>
                                            </div>
                                       </div>
									</form>
									<div class="col-lg-4">
                                        <label>供应商审核状态</label>
										<input placeholder="" disabled class="form-control" id="status" name="status" type="text" value="${party.status!''}">
                                    </div>
									<div class="col-lg-12">
										<div class="button-bar" style="clear:both;">
                                        	<button id="save" type="button" class="btn  btn_green" disabled>保存</button>
                                        	<button id="submit" type="button" class="btn  btn_green" disabled>提交</button>
                                        	
                                    		<% if(shiro.hasPermission("approval")){%>
                                        	<button id="approval" type="button" class="btn  btn_green" disabled>审核通过</button>
                                        	<button id="disapproval" type="button" class="btn  btn_green" disabled>审核不通过</button>
                                        	<%}%>
                                        	<button id="marking" type="button" class="btn  btn_green">打分</button>
                                        	<a class="btn  btn_white" href="/serviceProvider">返回</a>
                                    	</div>
									</div>
                                    

                            </div>
                            <!-- /.row (nested) -->
                            
			            	
                        </div>
                    </div>
                    <div>
                	
                </div>
                </div>
                
            </div>
</div>

                                    
 <%include("/eeda/profile/serviceProvider/serviceProviderMark.html"){} %>
			
<%}%>
<script>
	if('${party.company_name!''}'){
		document.title = '${party.company_name!''}'+' | '+document.title;
	}
	
	var spType = '${party.sp_type!''}';
	var payment = '${party.payment!''}';
</script>
<script>
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/profile/serviceProvider/edit']);
    });
</script>
