<%layout("/profile/module/moduleLayout.html"){%>
<link href="/js/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/js/lib/sco/css/sco.message.css" rel="stylesheet">
<link href="/js/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
<style>
	.form-group .search-control {
	    height: 34px;
	}
	#addProductDiv input {
		margin-left: 5px;
	}
</style>
<div id="page-wrapper">

<div class="row">
	<div class="col-lg-8">
		<h2>模块定义 <button id="addModuleBtn" type="button" class="btn btn-success btn-xs">添加模块</button></h2>
	
	</div>
	<div class="col-lg-4" style="padding-top: 20px;">
		<div class="form-group">
            <label style="width: 150px;">清除用户菜单缓存： </label>
            <select id ="user_id" >
            	<%  
                    for(user in users![]){
                %>
                  <option value="${user.id}">${user.c_name}</option>
                <%}%>
            </select>
            <button  id="clearBtn" class="btn btn-success btn-xs">清除</button>
        </div>
	</div>
</div>
<div class="row">

	<div class="col-lg-2">

		<input type="hidden" id="customerId" />
		<input type="hidden" id="categoryId" />
		<input type="hidden" id="module_id" />
		<input type="hidden" id="module_version" />
		<div id='treeListDiv'>
	        <ul id="moduleTree" class="ztree"></ul>
	    </div>
    </div>
    <!--end of col4 -->
    <div class="col-lg-10">
    	<div id="displayDiv" style="display: none;">
    		<div class="btn-header">
		    	<div id="addProductDiv" style="display: block;">
		    		<h3>模块定义 </h3>
		    		<div>
						<input type="radio" name="form_type" value="form" checked>表单 
						<input type="radio" name="form_type" value="search_form">自定义查询 
		    		</div>    		
				</div>
			</div>
			<div>
				  <!-- Nav tabs -->
				  <ul class="nav nav-tabs" role="tablist" id='tablist'>
				    <li role="presentation" class="active" >
				 	 	<a href="#info" aria-controls="permission" role="tab" data-toggle="tab">基本信息</a>
				 	</li>
				 	<li role="presentation" >
				 	 	<a href="#fields" aria-controls="permission" role="tab" data-toggle="tab">字段</a>
					</li>
					<li role="presentation" style="display: none;">
						<a href="#custom_search" aria-controls="permission" role="tab" data-toggle="tab">自定义查询</a>
					</li>
				 	 <li role="presentation" >
				 	 	<a href="#template" aria-controls="permission" role="tab" data-toggle="tab">表单模板</a>
				 	 </li>
				 	 <li role="presentation">
				 	 	<a href="#buttons" aria-controls="permission" role="tab" data-toggle="tab">工具栏按钮</a>
				 	 </li>
				 	 <li role="presentation">
				 	 	<a href="#events" aria-controls="permission" role="tab" data-toggle="tab">事件响应</a>
				 	 </li>
				 	 <li role="presentation">
				 	 	<a href="#formular" aria-controls="permission" role="tab" data-toggle="tab">回写公式</a>
				 	 </li>
				  	 <li role="presentation">
				 	 	<a href="#permission" aria-controls="permission" role="tab" data-toggle="tab">权限</a>
				 	 </li>
				 	 <li role="presentation">
				 	 	<a href="#role_permission" aria-controls="role_permission" role="tab" data-toggle="tab">岗位-权限</a>
				 	 </li>
				 	 <li role="presentation">
				 	 	<a href="#print_template" aria-controls="role_permission" role="tab" data-toggle="tab">打印模板</a>
				 	 </li>
				 	 <li role="presentation">
				 	 	<a href="#data_interface" aria-controls="role_permission" role="tab" data-toggle="tab">数据接口</a>
				 	 </li>
				  </ul>

				  <!-- Tab panes -->
				  <div class="tab-content">
				  	<div class="tab-pane fade in active" id="info">
                        <%include("/profile/module/edit_tab_info.html", {}){} %>
                    </div>
                    <div class="tab-pane" id="fields">
                        <%include("/profile/module/fields/edit_tab_fields.html", {}){} %>
					</div>
					<div class="tab-pane" id="custom_search">
                        <%include("/profile/module/custom_search/custom_search.html", {}){} %>
                    </div>
                    <div class="tab-pane" id="template">
                        <%include("/profile/module/edit_tab_template.html", {}){} %>
                    </div>
                    <div class="tab-pane" id="buttons">
                        <%include("/profile/module/btns/edit_tab_btns.html", {}){} %>
                    </div>
                    <div class="tab-pane" id="events">
                        <%include("/profile/module/events/edit_tab_events.html", {}){} %>
                    </div>
				  	<div role="tabpanel" class="tab-pane " id="permission">
				    	<div class="form-group">
				    		<div class="col-lg-12">
							    <section class=''>
							        <div class="row">
							    		<div class="form-group button-bar" >
									    	<button type="button" class="btn btn-success btn-xs" id="addPermissionBtn">添加权限</button>
									    </div>
							    	</div>
									<div class="row" name="body">
							    		<table id="permission_table" class="display" cellspacing="0" style="width: 100%;">
								            <thead class="eeda">
								                <tr>
								                    <th></th>
								                    <th>权限ID</th>
								                    <th>权限code</th>
								                    <th>权限名称</th>
								                    <th>权限URL</th>
								                </tr>
								            </thead>
								            <tbody>
								            </tbody>
								        </table>
							    	</div>
							    </section>
							</div>
						</div>
				    </div>
				    <div role="tabpanel" class="tab-pane" id="role_permission">
				    	<div class="form-group">
				    		<div class="col-lg-12">
							    <section class=''>
							        <div class="row">
							    		<div class="form-group button-bar" >
									    	<button type="button" class="btn btn-success btn-xs" id="addAuthBtn">添加岗位</button>
									    </div>
							    	</div>
									<div class="row" name="body">
							    		<table id="auth_table" class="display" cellspacing="0" style="width: 100%;">
								            <thead class="eeda">
								                <tr>
								                    <th></th>
								                    <th></th>
								                    <th>岗位</th>
								                    <th>权限</th>
								                </tr>
								            </thead>
								            <tbody>
								            </tbody>
								        </table>
							    	</div>
							    </section>
							</div>
						</div>
				    </div>
				    <div class="tab-pane" id="print_template">
                        <%include("/profile/module/print_template/print_template.html", {}){} %>
                    </div>
                    <div class="tab-pane" id="data_interface">
                        <%include("/profile/module/interface/interface.html", {}){} %>
                    </div>
				  </div>

					<div class="row" >
						<div class="col-lg-12">
							<div class="form-group button-bar" >
						    	<button id="saveBtn" type="button" class="btn btn-success">保存</button>
						    	<!--button id="stopBtn" type="button" class="btn btn-default">停用</button-->
						  	</div>
						 </div>
					</div>
				  
					
			</div>
	    </div>
    </div>
    <!--end of col8 -->
</div>
<!--end of row -->

</div>
    

	<%include("/profile/module/events/formular/formular_modal.html", {}){} %>
	<%include("/profile/module/component/form_select_modal.html", {}){} %>   
	<%include("/profile/module/component/form_fields_select_modal.html", {}){} %>

<%}%>

<script>

	// template.helper('JsonStringify', function (content) {
	//     return JSON.stringify(content);
	// });

    var Module={};
</script>

<style type="text/css">
	.ztree li span.button.add {
		margin-left:2px; 
		margin-right: -1px; 
		background-position:-144px 0; 
		vertical-align:top; 
		*vertical-align:middle
	}
</style>

<link rel="stylesheet" href="/js/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css" type="text/css">

<script>
	window.UEDITOR_HOME_URL = "/js/lib/ueditor/";
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/profile/module/main']);
    });
</script>
