<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>${SYS_CONFIG.system_title!''}</title>
    <% var logoPath=SYS_CONFIG.logo!'';
    if(logoPath==""){%>
	<link rel="shortcut icon" href="/yh/img/eeda_logo.ico">
	<%}else{%>
	<link rel="shortcut icon" href="${SYS_CONFIG.logo!''}">
	<%}%>
    <link href="/css/bootstrap/bootstrap.min.3.3.6.css" rel="stylesheet">
    <link href="/css/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/js/lib/sco/css/sco.message.css" rel="stylesheet"> 
    <!-- <link href="/js/lib/datatables/css/jquery.dataTables.css" rel="stylesheet"> -->
    <link href="/js/lib/datatables/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"> -->
    
    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/css/morris/morris-0.4.3.min.css"  rel="stylesheet">
    <link href="/css/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page fdsafdsafdsa-->
    <link href="/js/lib/sb-admin/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/js/lib/layer/theme/default/layer.css">
    <link href="/css/eeda.css" rel="stylesheet">  
    <script src="/js/lib/require2.3.2.min.js"></script>
    <%include("/eeda/component/form/commonJs.html",{}){} %>
</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">${SYS_CONFIG.system_title!''}</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
				<%
	                var title = SYS_CONFIG.system_title!'易达物流';
	                var show = 'none';
	                if(title=='易达物流'){
	                    show = 'block';
	                }
	            %>
                <!-- /.dropdown -->
                ${office_name!''}
                <li class="dropdown">
                    <a class="dropdown-toggle" href="/">
                        返回工作台
                    </a>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        ${layoutContent}

    </div>
    <!-- /#wrapper 11-->

    <!-- Core Scripts - Include with every page -->
    
  
</body>

</html>
