<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>商家后台-商家注册</title>
<link rel="stylesheet" href="/css/BusinessAdmin/style.default.css" type="text/css" />
<link rel="stylesheet" href="/css/BusinessAdmin/pagestyle.css" type="text/css" />
<%include("/eeda/component/form/commonJs.html",{}){} %>
</head>
<body class="reg_header">
<form id="first_form">
<div class="bodywrapper" style="width:900px; margin:100px auto; border:1px solid #ccc; background-color:#FFF">  
  	<div style="font-size:15px;padding:10px;line-height:30px">
  	<h2><center>商家注册协议</center></h2>
尊敬的商家，欢迎您来到婚礼帮，婚礼帮移动互联网平台（以下简称“婚礼帮”）根据以下服务条款为您提供服务。这些条款可由婚礼帮随时更新，且毋须另行通知。提醒您注意的是，无论您事实上是否在注册之前认真阅读了本协议，只要您点击了以下同意按钮即表示您与婚礼帮达成协议，完全接受本协议项下的全部条款。
婚礼帮所提供的各项服务的所有权和运作权归由珠海婚礼帮网络科技有限公司（以下，简称为公司），您须同意下述所有用户协议才能完成注册程序，成为婚礼帮的正式注册商家并使用婚礼帮提供的各项服务。您一旦使用婚礼帮服务，即视为您已了解并完全同意使用协议各项内容，包括婚礼帮对使用协议随时所做的任何修改。
<br/>
<h4>1. 服务内容</h4>
婚礼帮是一个婚礼行业商家展示、婚品导购、社区分享为一体的应用平台，这是提供给供应商（如婚纱摄影、婚礼策划、婚纱礼服、摄影师、摄像师、化妆师、主持人等）直面客户的展示平台，同时也是帮助用户解决婚礼筹备与记录的难题，可以与婚礼各环节服务商的互动平台。
<br/>
<h4>2. 账户注册与使用</h4>
为了能使用婚礼帮提供的服务，您同意以下事项：依本服务注册提示请您填写正确的注册账号、密码和名号，并确保今后更新的登录信息、名号、头像等资料的有效性和合法性。若您提供任何违法、不道德或婚礼帮认为不适合在婚礼帮上展示的资料；或者婚礼帮有理由怀疑你的资料属于程序或恶意操作，婚礼帮有权暂停或终止您的帐号，并拒绝您于现在和未来使用本服务的全部或任何部分。
完成本服务的注册程序并成功注册之后，您可使用您的账号和密码，登录到您在婚礼帮的帐号（下称“帐号”）。保护您的帐号安全，是您的责任。您应对所有使用您的密码及帐号的活动负完全的责任。您同意：
<br/>
1）您的婚礼帮帐号遭到未获授权的使用，或者发生其它任何安全问题时，您将立即通知婚礼帮；
<br/>
2）如果您未保管好自己的帐号和密码，因此而产生的任何损失或损害，婚礼帮无法也不承担任何责任；
<br/>
3）每个用户都要对其帐号中的所有行为和事件负全责。如果您未保管好自己的帐号和密码而对您、婚礼帮或第三方造成的损害，您将负全部责任。
<br/>
<h4>3.商家服务及规范</h4>
您已经了解，通过婚礼帮发布的作品及信息（包括但不限于套餐和案例、套餐案例作品的描述与说明、商家名称、联系人信息，相关图片、视频、内容等）均为公开的信息，其他第三方均可以获取您发布的内容，您对任何内容的发布即认可该内容为公开的信息内容，并单独对此行为承担法律责任；任何您不愿被其他第三人获知的信息都不应该在婚礼帮上进行发布。
您已经了解，通过婚礼帮发布的作品及信息（包括但不限于套餐和案例、套餐案例作品的描述与说明、商家名称、联系人信息，相关图片、视频、内容等），如果涉及第三方的肖像权、版权、物权、知识产权及隐私权等，必须征得该第三方的同意后方可发布，由此引发的纠纷及责任，均由您自行承担责任，任何情况下，婚礼帮对由此引起的任何争议、纠纷等均不承担任何责任
您承诺不得以任何方式利用婚礼帮直接或间接从事违反中国地区法律、以及社会公德的行为，并已了解，婚礼帮有权对违反上述承诺的内容予以删除。为了创造一个和谐的网络环境，您在同意使用婚礼帮提供的各项服务时必须遵守以下各项行为准则：
不得利用婚礼帮发布或发送任何危害国家安全、泄露国家秘密、颠覆国家政权、破坏国家统一、破坏民族团结、破坏国家宗教政策，宣扬邪教和封建迷信等违法内容；
不得在婚礼帮上散布谣言，不得散布淫秽、色情、赌博、暴力、凶杀、恐怖、扰乱社会秩序，破坏社会稳定的言论或者教唆犯罪；
不得通过婚礼帮侮辱或者诽谤他人，侵害他人合法权益（包括名誉权、隐私权等人身权利），或对他人进行骚扰、胁迫、猥亵、中伤，或发布或发送任何令他人反感的内容；
遵守中国有关的法律和法规对于著作权和人身权的相关规定，不发布任何侵犯他人知识产权和人身权的内容，发布的图片或视频不得侵犯他人姓名权和肖像权。；
不得通过婚礼帮进行任何其它被法律、行政法规禁止的活动。
您在使用婚礼帮提供的服务时违反以上准则的，婚礼帮有权根据自己的独立判断，限制您对婚礼帮的访问，对相关言论及数据进行删除，情节严重的，婚礼帮将直接删除相关内容并冻结或注销您的用户账号。
<br/>
<h4>4. 隐私保护</h4>
婚礼帮庄重承诺以高度的勤勉、审慎义务对待您的信息，我们保证不对外公开或向第三方提供您的注册资料及您在使用婚礼帮时存储的非公开内容，但下列情况除外：
<br/>
1. 事先获得您的明确授权；
<br/>
2. 根据有关的法律法规要求；
<br/>
3. 为维护社会公众的利益；
<br/>
4. 为维护婚礼帮的合法权益及提升婚礼帮产品服务的需要；
<br/>
5. 您同意让第三方共享资料；
<br/>
6. 我们发现您违反了婚礼帮用户协议或相关规则，根据协议约定或相关规则规定应当披露您的个人信息；
<br/>
7. 婚礼帮可能会与第三方合作向您提供相关的服务，以提供该服务的范围为限，如该第三方 同意承担与婚礼帮同等的保护用户隐私的责任，则婚礼帮可将您的个人信息等提供给该第三方；
因前款规定的事由需要透露商家个人信息的，婚礼帮将提供最小范围内的必要信息。婚礼帮会始终致力于在充分保护您隐私的前提下，为您提供更优质的体验和服务
<br/>
<h4>5. 知识产权</h4>
婚礼帮服务与资料是基于“现状”提供，而且婚礼帮明确地表示拒绝对于“服务”“资料”或“产品”给予任何明示或暗示之保证，包括但不限于，得为商业使用或适合于特定目的之保证。婚礼帮对于因“服务”“资料”或“产品”所生之任何直接、间接、附带的或因此而导致之衍生性损失概不负责。如果您对他人的知识产权造成了侵害，婚礼帮将依国家法律法规的规定，或在适当的情形下，将依其服务条款或其相关规范性规定，删除特定内容或以至终止您对账户的使用。
除网站注册用户在婚礼帮制作、发布或传播的信息内容以外，在婚礼帮出现的所有内容，包括但不限于文字、软件、照片、图形、图表、美术作品、视频、音乐、声音、名称、图标、商标和服务标志，均为婚礼帮及其关联方或许可方所有的财产，受著作权法、商标法和其他知识产权法律法规的保护，任何该等内容仅可用于您的个人非商业用途。未经婚礼帮或其关联方的书面允许，任何人不得对此进行修改、复制、转载、散发、散布、出售、发表、广播或传播
网站注册用户在婚礼帮制作、公开发布或传播的信息内容的著作权归原文作者所有，但视为默示许可婚礼帮使用其作品，婚礼帮有权在本网站其它频道，由其拥有的其他媒介（包括但不限于其他网站及杂志、电视视频等）或由婚礼帮与其合作伙伴合作运营的其他网站和媒介的中无限次地复制、传播其作品，并没有任何时间限制。但婚礼帮其他注册用户或其他网站需要转载该作品的，必须征得原文作者授权。
<br/>
<h4>6. 修改协议</h4>
婚礼帮有权在必要时修改本用户协议，用户协议一旦发生变动，婚礼帮将会在网站的重要页面上提示修改内容。如果您不同意所改动的内容，您可以选择注销账户或停止使用婚礼帮提供的服务，否则将视为接受了用户协议的变动
<br/>
<h4>7. 违约责任</h4>
如您违反有关法律、法规或本协议项下的任何条款而给婚礼帮及其关联方或任何其他第三人造成损失，您将承担所有由此产生的损害赔偿责任
<br/>
<h4>8. 通知</h4>
婚礼帮向用户发出的通知，包括但不限于：电话通知、电子邮件、手机短信、页面公告或常规信件等形式。本协议的修改及其他事项的告知(包括但不限于注册结果通知、预订结果通知、手机验证通知等)，婚礼帮将会以上述形式进行通知。
<br/>
<h4>9. 不可抗力及其他免责事由</h4>
1）本使用协议的任何规定不会免除婚礼帮对造成您人身伤害的、或因故意或重大过失造成您财产损失的任何责任，但无法对由于战争、地震、水灾、火灾、暴风雪或其他不可抗力等第三方原因给您造成的损失承担责任；
<br/>
2）您使用本服务之风险由您个人负担。本服务系依“现状”及“现有”基础提供。婚礼帮对本服务不提供任何明示或默示的担保或保证，包含但不限于商业适售性、特定目的之适用性及未侵害他人权利等担保或保证；
<br/>
3）婚礼帮不保证以下事项∶
<br/>
• 本服务将符合您的要求；
<br/>
• 本服务将不受干扰、及时提供、安全可靠或不会出错；
<br/>
• 使用本服务取得之结果正确可靠；
<br/>
• 您经由本服务购买或取得之任何产品、服务、资讯或其它信息将符合您的期望；
<br/>
4）是否使用本服务下载或取得任何资料应由您自行考虑且自负风险，因任何资料之下载而导致的您电脑系统之任何损坏或数据流失等后果，由您自行承担；
<br/>
5）您自婚礼帮或经由本服务取得的任何建议或信息，无论是书面或口头形式，除非本使用协议有明确规定，将不构成本使用协议以外的任何保证。
<br/>
<h4>10.法律适用、管辖及其他</h4>
1）本使用协议和免责声明构成您与婚礼帮之全部协议，并规范您对于本服务之使用行为。在您使用相关服务、使用第三方提供的内容或软件时，亦应遵从所适用之附加条款及条件；
<br/>
2）本使用协议及您与婚礼帮之关系，均受到中华人民共和国法律管辖。您与婚礼帮就本服务、本使用协议或其它有关事项发生的争议，应首先友好协商解决，协商不成时应提请婚礼帮注册所在地法院判决，法院判决是终局性的，对双方均有约束力；
<br/>
3） 婚礼帮未行使或执行本使用协议任何权利或规定，不构成对前述权利或权利之放弃；
<br/>
4）倘本使用协议之任何规定因与中华人民共和国法律抵触而无效，您依然同意应依照法律，努力使该规定所反映之当事人意向具备效力，且本使用协议其它规定仍应具有完整的效力及效果；
<br/>
5）本使用协议标题仅供方便而设，不具任何法律或契约效果；
<br/>
6）婚礼帮对本使用协议享有最终解释权。
  	</div>
</div>
</form>
</body>
</html>
