<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>商家后台-商家注册</title>
<link rel="stylesheet" href="/css/BusinessAdmin/style.default.css" type="text/css" />
<link rel="stylesheet" href="/css/BusinessAdmin/pagestyle.css" type="text/css" />
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.flot.min.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.slimscroll.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/general.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/dashboard.js"></script>
<script src="/js/lib/require2.3.2.min.js"></script>
<%include("/eeda/component/form/commonJs.html",{}){} %>
<link href="/js/lib/sco/css/sco.message.css" rel="stylesheet"> 
<link href="/js/lib/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet">
<link href="/css/eeda.css" rel="stylesheet"> 
<link href="/css/wedding/main.css" rel="stylesheet">
</head>
<body class="reg_header">
<form method="post" id="first_form" action="/BusinessAdmin/register/info">
<div class="bodywrapper" style="width:900px; margin:100px auto; border:1px solid #ccc; background-color:#FFF">  
    <!--leftmenu-->
    <div class="">
        <div class="pageheader notab">
            <h1 class="pagetitle"> <strong class="orange">注册账号</strong> > 填写资料 >  等待审核 > 完成 </h1>      
        </div>
        <div class="registered " id="login-content">
            <dl>
                <dt>
                    <div class="fm-label-wrap "> 
                        <label for="fm-login-id">用户名：</label>
                    </div>
                </dt>
                <dd>
                    <div class="textin">
                        <input type="text" name="login_name"  />
                        <span class="red">            *</span>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>
                    <div class="fm-label-wrap "> 
                        <label for="fm-login-id">手机号码：</label>
                    </div>
                </dt>
                <dd>
                    <div class="textin">
                        <input type="text" name="phone" />
                        <span class="red">*</span>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt class="fm-label">
                    <div class="fm-label-wrap ">
                        <label for="fm-login-password">设置密码：</label>
                    </div>
                </dt>
                <dd class="fm-field" id="fm-login-password-wrap">
                    <div class="textin">
                        <input type="password" class="input_text"  name="password" id="password" >
                        <span class="red">*</span>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt class="fm-label">
                    <div class="fm-label-wrap ">
                        <label for="fm-login-password">确认密码：</label>
                    </div>
                </dt>
                <dd class="fm-field" id="fm-login-password-wrap">
                    <div class="textin">
                        <input type="password" class="input_text"  name="passwordagain" />
                        <span class="red">*</span>
                    </div>
                </dd>
            </dl>
            <p style="padding-left:10px;">
                注册即同意并接受<strong class="red"><a href="agreement.html" class="orangeboldlink">商家服务条款</a></strong>
            </p>
            <div style="padding-left:10px; margin-top:10px;">
                <button class="stdbtn btn_blue" style="width:200px;"  id="nextBtn">下一步</button>
            </div>
        </div>
  </div>
</div>
</form>
</body>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
         requirejs(['/js/BusinessAdmin/register/index.js']);
    });
</script>
</html>
