<%layout("/eeda/layout.html"){%>
    <div id="page-wrapper">
        <div class="row simple_search_div">
            <div class="col-lg-12">
                <form id="orderForm">
                    <div class="row">
                    	<div class="col-lg-4">
                        	<%include("/eeda/component/form/inputField.html", 
                        	{ 	id: 'item_no', 
                            	label: '产品编码', 
                            	value: ''
                        	}){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                            {   id: 'item_name', 
                                label: '产品名称', 
                                value: ''
                            }){}%>
                        </div>
                        <div class="col-lg-4" style="display:block;">        
                            <%include("/eeda/component/form/inputDateQueryField.html", 
                            {	id:'create_time', 
	                            label:'创建时间', 
	                            value:''
	                        }){} %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                        	<%include("/eeda/component/form/inputField.html", 
                        	{ 	id: 'part_no', 
                            	label: '组件编码', 
                            	value: ''
                        	}){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                            {   id: 'part_name', 
                                label: '组件名称', 
                                value: ''
                            }){}%>
                        </div>
                    </div>
                    <div class="form-group button-bar" >
                        <button id="searchBtn" class="btn btn-default" type="button">查询</button>
                        <button id="resetBtn" class="btn btn-default" type="button">清空条件</button>
                        <!-- <button id="showBtn" class="btn btn-info" style="float:right;" type="button">显示明细</button> -->
                    </div>
                </form>
            </div>
        </div>
        
        <div class="form-group itemShow" style="background-color:#DCDCDC;display:none" >
        	<label>产品编码</label>
        	<label id="orderText"></label>
        </div>
       
        <div class="row simple_list_div">
                <%include("/eeda/component/form/detailTable.html", 
                {
                    id:'eeda-table', 
                    headers:[
                    	'产品编码',
                    	'产品名称',
                    	'组件编码',
                    	'组件名称',
                        '组件筐数'
                        ]
                }){} %>
        </div>
        
<!-- 		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" data-backdrop="static">
		  <div class="modal-dialog" style="width:1200px;">
		    <div class="modal-content">
		      	<div class="modal-header">组件列表</div>
		      	<div class="modal-body">
					<div class="row">
					</div>
					<div class="">  
						 <%include("/eeda/component/form/detailTable.html", 
                        { 
						id:'item6_table', 
						style:'width:1300px',
						headers:[
		                    	'产品编码',
		                    	'产品名称',
		                    	'组件编码',
		                        '组件名称',
		                        '库位',
		                        '数量',
		                        '操作时间',
		                        '操作人']
						}){} %>        
	               </div>
		        </div>
		        <div class="modal-footer">
		            <button type="button" class="btn  btn-default" data-dismiss="modal">返回</button>
		        </div>
		    </div>
		  </div>
		</div> -->
		
        <div class="modal fade" id="itemDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" style="width:1200px;">
		    <div class="modal-content">
		      	<div class="modal-header">库存明细列表</div>
		      	<div class="modal-body">
					<div class="row">
					</div>
					<div class="">  
						 <%include("/eeda/component/form/detailTable.html", 
                        { 
						id:'item_table', 
						style:'width:1300px',
						headers:[
		                    	'产品编码',
		                    	'产品名称',
		                    	'组件编码',
		                        '组件名称',
		                        '库位',
		                        '数量',
		                        '操作时间',
		                        '操作人']
						}){} %>        
	               </div>
		        </div>
		        <div class="modal-footer">
		        	<button type="button" id="confirmBtn" disabled class="btn  btn-primary" style="display:none;">确认</button>
		            <button type="button" id="returnBtn" class="btn  btn-default" data-dismiss="modal">返回</button>
		        </div>
		    </div>
		  </div>
		</div>
    </div>
<%}%>
<div class="blockUI" style="display:block"></div>
<div class="blockUI blockOverlay" style="z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.6; cursor: wait; position: fixed;">222</div>
<div class="blockUI blockMsg blockPage" style="z-index: 1011; position: fixed; padding: 0px; margin: 0px; width: 30%; top: 40%; left: 35%; text-align: center; color: rgb(0, 0, 0); border: 3px solid rgb(170, 170, 170); background-color: rgb(255, 255, 255); cursor: wait;">
	<h1><img src="/images/loading.gif" style="height: 50px; margin-top: -3px;">LOADING...</h1>
</div>
<script>
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/wms/inventory/list']);
    });
</script>
