<input type="hidden" id="customSelf_id" value="${customSelf.id!''}">
           
            <div class="form-group" style="margin-left:15px"> 
                    <div class="row">
                            <div class="form-group button-bar">
                                <button id='addair_transport_item' class="btn btn_blue btn-xs" type="button">添加</button>
                            </div>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'air_transport_table',
                                        style:'width:1200px;',
                                        headers:[ '','区域', '服务内容','备注'],
                                        field_list:['','region', 'service_content','remark'],
                                        value_list: customSelfItemList![]
                                    }){} %>
                       
                  	</div>
         </div><!-- /.row -->
         
<script>
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/contractManagement/air_transport']);
    });
</script>