   
            <div class="form-group"> 
                    <div class="row" style="margin-left:0px">
                            <div class="form-group button-bar">
                                <button id='add_custom_item' class="btn btn_blue btn-xs" type="button">添加</button>
                            </div>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'custom_table',
                                        headers:[ '','区域', '服务口岸','服务内容','码头费实报实销','币制','检验检疫实报实销','币制','报关单证录入费','币制','报检单证录入费','币制',
                                        '报关代理费','币制','费用汇总','币制','有效时间','创建时间','备注','','','','','',''],
                                        field_list:['','region', 'service_port','service_content','dock_fee_reimbursement','dock_fee_reimbursement_crc','inspection_quarantine_reimbursement','inspection_quarantine_reimbursement_crc','customs_entry_fee','customs_entry_fee_crc','inspection_entry_fee','inspection_entry_fee_crc',
                                        'customs_agent_fee','customs_agent_fee_crc','total_fee','total_fee_crc','effective_time','create_stamp', 'remark',
                                        'dock_fee_reimbursement_crc_name','inspection_quarantine_reimbursement_crc_name','customs_entry_fee_crc_name',
                                        'inspection_entry_fee_crc_name','customs_agent_fee_crc_name','total_fee_crc_name'
                                        ],
                                        value_list: order.customList![]
                                    }){} %>_
                       
                  	</div>
         </div><!-- /.row -->
         
<script>
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/contractManagement/custom']);
    });
</script>