<input type="hidden" id="customSelf_id" value="${customSelf.id!''}">
           
            <div class="form-group" style="margin-top:15px;">
                    <div class="row">
                            <div class="col-lg-3">
                            <span>服务：</span> <textarea id="delivery_express_service" rows="3" cols="20"style="margin-top:5px;"></textarea>
                               
                            </div>
                            <div class="col-lg-3" style="margin-left:15px;">
                              备注：  <textarea id="delivery_express_remark" rows="3" cols="20"></textarea>
                               
                        </div>
                    </div>
         </div><!-- /.row -->

<script>
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/contractManagement/delivery_express']);
    });
</script>