<input type="hidden" id="customSelf_id" value="${customSelf.id!''}">
           
            <div class="form-group">
                    <div class="row">
                            <div class="col-lg-3">
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'land_transport_table',
                                        style:'width:1200px;',
                                        headers:[ '服务内容',''],
                                        field_list:['custom_bank',''],
                                        value_list: customSelfItemList![]
                                    }){} %>
                            </div>
                            <div class="col-lg-3" style="margin-left:15px;">
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'land_transport_table',
                                        style:'width:1200px;',
                                        headers:[ '备注',''],
                                        field_list:['',''],
                                        value_list: customSelfItemList![]
                                    }){} %>
                        </div>
                    </div>
         </div><!-- /.row -->