
            <div class="form-group">  <!--  form row  -->
            		<div class="row" style="margin-left:0px">
            			<input type="hidden" id="land_qualification_type" value="${party.land_qualification_type!''}">
            				<div class="checkbox" id="land_qualification_type_val">
                                <label class="checkbox-inline" >
                                    <input id="danger_goods" name="danger_goods"  type="checkbox" value="danger_goods" >危险品
                                </label>
                                <label class="checkbox-inline">
                                    <input id="common_goods" name="common_goods" type="checkbox" value="common_goods">普通
                                </label>
                                <label class="checkbox-inline">
                                    <input id="closed_transport" name="closed_transport" type="checkbox" value="closed_transport">封关运输
                                </label>
                            </div>
            		</div>
                    <div class="row" style="margin-left:0px">
                            <div class="form-group button-bar">
                                <button id='addland_transport' class="btn btn_blue btn-xs" type="button">添加</button>
                            </div>
                            <div class="form-group ">
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'land_transport_table',
                                        headers:[ '','区域', '服务内容','备注'],
                                        field_list:['','region', 'service_content', 'remark'],
                                        value_list: order.landTransportList![]
                                    }){} %>
                       		</div>
                  	</div>
                  	
                  	<div class="row" style="margin-left:0px">
                            <div class="form-group button-bar">
                                <button id='addland_transport_item' class="btn btn_blue btn-xs" type="button">添加</button>
                            </div>
                            <div class="form-group ">
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'land_transport_item_table',
                                        style:'width:3000px',
                                        headers:[ '','启运地', '目的地','危险品类型','车型','单位','单价','不含税单价',
                                        '税率','含税单价','运输时间','文件费','理货费','中国出口代理报关费','目的地进口代理报关费','关税。增值税',
                                        '目的地场站换单费','仓储费','配送费','海关查验费','有效时间','创建时间','备注'],
                                        field_list:['','route_from', 'route_to','dangerous_goods_type','car_type','unit','price','notax_price',
                                        'tax_rate','tax_price','transit_time','document_fee','tally_fee','CEA_custom_fee','DIA_custom_fee','tariff',
                                        'exchange_fee','storage_fee','delivery_fee','customs_inspection_fee','effective_time','create_stamp','remark'],
                                        value_list: order.landTransportItemList![]
                                    }){} %>
                       		</div>
                  	</div>
         </div><!-- /.row -->
<script>
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/contractManagement/land_transport','app/contractManagement/land_transport_item']);
    });
</script>