<input type="hidden" id="customSelf_id" value="${customSelf.id!''}">
           
            <div class="form-group" style="margin-left:15px">  <!--  form row  -->
            		<div class="row">
            				<input type="hidden" id="bulk_qualification_type" value="${party.bulk_qualification_type!''}">
            				<div class="checkbox" id="bulk_qualification_type_val">
                                <label class="checkbox-inline">
                                    <input id="NVOCC" name="NVOCC" type="checkbox" value="NVOCC">NVOCC
                                </label>
                                <label class="checkbox-inline">
                                    <input id="freight_forwarding" name="freight_forwarding" type="checkbox" value="freight_forwarding">货代
                                </label>
                                <label class="checkbox-inline">
                                    <input id="shipowner" name="shipowner" type="checkbox" value="shipowner">船东
                                </label>
                            </div>
            		</div>
                    <div class="row">
                            <div class="form-group button-bar">
                                <button id='add_bulkCargo' class="btn btn_blue btn-xs" type="button">添加</button>
                            </div>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'bulkCargo_table',
                                        headers:[ '','船运类型','区域','优势航线','备注'],
                                        field_list:['','shipping_type','region','advantage_route', 'remark'],
                                        value_list: order.bulkCargoList![]
                                    }){} %>
                       
                  	</div>
                  	
                  	<div class="row">
                            <div class="form-group button-bar">
                                <button id='add_bulkCargo_item' class="btn btn_blue btn-xs" type="button">添加</button>
                            </div>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'bulkCargo_item_table',
                                        style:'width:2500px',
                                        headers:[ '操作','POL', 'POD','服务船东','船期','目的港费用','目的港费用币制','DOC-SET','DOC-SET币制','VGM-BL','VGM-BL币制','D/O-SET','D/O-SET币制',
                                        'O/F-RT','O/F-RT币制','HANDLING-SET','HANDLING-SET币制','CFS-RT','CFS-RT币制','THC-RT','THC-RT币制','BAF-RT','BAF-RT币制','CIC-RT',
                                        'CIC-RT币制','LOADING FEE-RT','LOADING FEE-RT币制', 'TOTAL','TOTAL币制','有效时间','备注','创建时间','创建人',
                                        'creator_name','','','','','','','','','','','','' ],
                                        
                                        field_list:['','POL','POD', 'service_owner','shipment', 'port_charge','port_charge_crc','DOC','DOC_CRC','VGM','VGM_CRC','D_O','D_O_CRC',
                                        'O_F','O_F_CRC',
                                        'HANDLING','HANDLING_CRC','CFS','CFS_CRC','THC','THC_CRC','BAF','BAF_CRC','CIC','CIC_CRC','LOADING_FEE','LOADING_FEE_CRC',
                                        'total',
                                        'total_CRC','effective_time','remark','create_stamp','creator','creator_name'
                                        ,'PORT_CHARGE_CRC_NAME','DOC_CRC_NAME','VGM_CRC_NAME','D_O_CRC_NAME','O_F_CRC_NAME','HANDLING_CRC_NAME','CFS_CRC_NAME','THC_CRC_NAME','BAF_CRC_NAME','CIC_CRC_NAME','LOADING_FEE_CRC_NAME','TOTAL_CRC_NAME' ],
                                        value_list: order.bulkCargoItemList![]
                                    }){} %>
                       
                  	</div>
         </div><!-- /.row -->