<input type="hidden" id="customSelf_id" value="${customSelf.id!''}">
           
            <div class="form-group" style="margin-left:15px">
            		<div class="row">
            				<input type="hidden" id="ocean_qualification_type" value="${party.ocean_qualification_type!''}">
            				<div class="checkbox" id="ocean_qualification_type_val">
                                <label class="checkbox-inline">
                                    <input id="NVOCC" name="NVOCC" type="checkbox" value="NVOCC">NVOCC
                                </label>
                                <label class="checkbox-inline">
                                    <input id="freight_forwarding" name="freight_forwarding" type="checkbox" value="freight_forwarding">货代
                                </label>
                                <label class="checkbox-inline">
                                    <input id="shipowner" name="shipowner" type="checkbox" value="shipowner">船东
                                </label>
                            </div>
            		</div>
            		<div class="row" style="display:none;">
            			<label>船期</label>
						<textarea class="form-control" rows="3" id="ocean_shipment" name="ocean_shipment">${party.ocean_shipment!''}</textarea>
            		</div>
                    <div class="row">
                            <div class="form-group button-bar">
                                <button id='add_ocean_cargo' class="btn btn_blue btn-xs" type="button">添加</button>
                            </div>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'ocean_table',
                                        headers:[ '','区域','优势航线', '服务船东','备注'],
                                        field_list:['','region','advantage_route', 'service_owner', 'remark'],
                                        value_list: order.oceanCargoList![]
                                    }){} %>
                       
                  	</div>
                  	
                  	<div class="row">
                            <div class="form-group button-bar">
                                <button id='add_ocean_item_cargo' class="btn btn_blue btn-xs" type="button">添加</button>
                            </div>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'ocean_item_table',
                                        style:'width:7000px',
                                        headers:[ '操作','POL', 'POD','服务船东','船期','DOC-BL','币制','TLX','币制','EIR','币制','HSS','币制','O/F_20GP-CTR','币制','O/F_40GP-CTR','币制',
                                        'O/F_40HQ-CTR','币制','THC_20GP-CTR','币制','THC_40GP-CTR','币制' ,'THC_40HQ-CTR','币制','EBS_20GP-CTR','币制','EBS_40GP-CTR','币制',
                                        'EBS_40HQ-CTR','币制','AMS/AFR_20GP-CTR','币制','AMS/AFR_40GP-CTR','币制','AMS/AFR_40HQ-CTR','币制','VAT_20GP-CTR','币制','VAT_40GP-CTR','币制',
                                        'VAT_40HQ-CTR','币制','ISPS_20GP-CTR','币制','ISPS_40GP-CTR','币制','ISPS_40HQ-CTR','币制','TRUCK_20GP-CTR','币制','TRUCK_40GP-CTR','币制',
                                        'TRUCK_40HQ-CTR','币制','TOTAL_20GP','币制','TOTAL_40GP','币制','TOTAL_40HQ','币制','有效时间','备注','创建时间','创建人','creator_name','','','','','','','','','','','','','','','','','','','','','','','','','','','','','',''],
                                        
                                        field_list:['','POL','POD', 'service_owner','shipment', 'DOC','DOC_CRC','TLX','TLX_CRC','EIR','EIR_CRC','HSS','HSS_CRC','O_F_20GP','O_F_20GP_CRC','O_F_40GP','O_F_40GP_CRC',
                                        'O_F_40HQ','O_F_40HQ_CRC','THC_20GP','THC_20GP_CRC','THC_40GP' ,'THC_40GP_CRC','THC_40HQ','THC_40HQ_CRC','EBS_20GP','EBS_20GP_CRC','EBS_40GP','EBS_40GP_CRC',
                                        'EBS_40HQ','EBS_40HQ_CRC','AMS_AFR_20GP','AMS_AFR_20GP_CRC','AMS_AFR_40GP','AMS_AFR_40GP_CRC','AMS_AFR_40HQ','AMS_AFR_40HQ_CRC','VAT_20GP','VAT_20GP_CRC','VAT_40GP','VAT_40GP_CRC',
                                        'VAT_40HQ','VAT_40HQ_CRC','ISPS_20GP','ISPS_20GP_CRC','ISPS_40GP','ISPS_40GP_CRC','ISPS_40HQ','ISPS_40HQ_CRC','TRUCK_20GP','TRUCK_20GP_CRC','TRUCK_40GP','TRUCK_40GP_CRC',
                                        'TRUCK_40HQ','TRUCK_40HQ_CRC','TOTAL_20GP','TOTAL_20GP_CRC','TOTAL_40GP','TOTAL_40GP_CRC','TOTAL_40HQ','TOTAL_40HQ_CRC','effective_time','remark','create_stamp','creator','creator_name'
                                        ,'doc_crc_name','tlx_crc_name','eir_crc_name','hss_crc_name','o_f_20gp_crc_name','o_f_40gp_crc_name','o_f_40hq_crc_name','thc_20gp_crc_name','thc_40gp_crc_name','thc_40hq_crc_name',
                                        'ebs_20gp_crc_name','ebs_40gp_crc_name','ebs_40hq_crc_name','ams_afr_20gp_crc_name','ams_afr_40gp_crc_name','ams_afr_40hq_crc_name','vat_20gp_crc_name','vat_40gp_crc_name','vat_40hq_crc_name',
                                        'isps_20gp_crc_name','isps_40gp_crc_name','isps_40hq_crc_name','truck_20gp_crc_name','truck_40gp_crc_name','truck_40hq_crc_name','total_20gp_crc_name','total_40gp_crc_name','total_40hq_crc_name','POL_name','POD_name'],
                                        value_list: order.oceanCargoItemList![]
                                    }){} %>
                       
                  	</div>
         </div><!-- /.row -->