<input type="hidden" id="customSelf_id" value="${customSelf.id!''}">
           
            <div class="form-group">  <!--  form row  -->
            		<div class="row">
            				<div class="checkbox">
                                <label>
                                    <input id="ocean_Shipment" name="ocean_Shipment" type="checkbox" value="truck" style="margin-top: 0px;">远样柜货
                                </label>&nbsp&nbsp&nbsp&nbsp
                                <label>
                                    <input id="internal_trade" name="internal_trade" type="checkbox" value="carrier" style="margin-top: 0px;">内贸
                                </label>&nbsp&nbsp&nbsp&nbsp
                                <label>
                                    <input id="ocean_bulkCargo" name="ocean_bulkCargo" type="checkbox" value="air" style="margin-top: 0px;">海运散货
                                </label>&nbsp&nbsp&nbsp&nbsp
                                <label>
                                    <input id="land_transport" name="land_transport" type="checkbox" value="broker" style="margin-top: 0px;">陆路运输
                                </label>&nbsp&nbsp&nbsp&nbsp
                                <label>
                                    <input id="storage" name="sp_type_line" type="checkbox" value="line" style="margin-top: 0px;">仓储
                                </label>&nbsp&nbsp&nbsp&nbsp
                                <label>
                                    <input id="air_transport" name="air_transport" type="checkbox" value="delivery" style="margin-top: 0px;">空运
                                </label>&nbsp&nbsp&nbsp&nbsp
                                <label>
                                    <input id="delivery_express" name="delivery_express" type="checkbox" value="pickup" style="margin-top: 0px;">快递
                                </label>&nbsp&nbsp&nbsp&nbsp
                                <label>
                                    <input id="custom" name="custom" type="checkbox" value="delivery" style="margin-top: 0px;">报关
                                </label>&nbsp&nbsp&nbsp&nbsp
                                <label>
                                    <input id="pickup_van" name="pickup_van" type="checkbox" value="pickup" style="margin-top: 0px;">包装吊车
                                </label>&nbsp&nbsp&nbsp&nbsp
                            </div>
            		</div>
                    <div class="row">
                            <div class="form-group button-bar">
                                <button id='addCustomSelf' class="btn btn_blue btn-xs" type="button">添加报关申请单</button>
                            </div>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'custom_self_item_table',
                                        style:'width:1200px;',
                                        headers:[ '','报关行', '报关单号码','海关状态', '填报人', '填报时间'],
                                        field_list:['','custom_bank', 'custom_order_no', 'status', 
                                        'creator', 'create_stamp','CUSTOM_BANK_NAME'],
                                        value_list: customSelfItemList![]
                                    }){} %>
                       
                  	</div>
         </div><!-- /.row -->