<input type="hidden" id="customSelf_id" value="${customSelf.id!''}">
           
            <div class="form-group" style="margin-left:15px">  <!--  form row  -->
            		<div class="row">
            				<input type="hidden" id="bulk_qualification_type" value="${party.bulk_qualification_type!''}">
            				<div class="checkbox" id="bulk_qualification_type_val">
                                <label class="checkbox-inline">
                                    <input id="NVOCC" name="NVOCC" type="checkbox" value="NVOCC">NVOCC
                                </label>
                                <label class="checkbox-inline">
                                    <input id="freight_forwarding" name="freight_forwarding" type="checkbox" value="freight_forwarding">货代
                                </label>
                                <label class="checkbox-inline">
                                    <input id="shipowner" name="shipowner" type="checkbox" value="shipowner">船东
                                </label>
                            </div>
            		</div>
            		<div class="row">
            			<label>船期</label>
						<textarea class="form-control" rows="3" id="bulk_shipment" name="bulk_shipment">${party.bulk_shipment!''}</textarea>
            		</div>
                    <div class="row">
                            <div class="form-group button-bar">
                                <button id='add_bulkCargo' class="btn btn_blue btn-xs" type="button">添加</button>
                            </div>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'bulkCargo_table',
                                        headers:[ '','船运类型','区域','优势航线','备注'],
                                        field_list:['','shipping_type','region','advantage_route', 'remark'],
                                        value_list: order.bulkCargoList![]
                                    }){} %>
                       
                  	</div>
                  	
                  	<div class="row">
                            <div class="form-group button-bar">
                                <button id='add_bulkCargo_item' class="btn btn_blue btn-xs" type="button">添加</button>
                            </div>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'bulkCargo_item_table',
                                        style:'width:2500px',
                                        headers:[ '操作','POL', 'POD','服务船东','目的港费用','DOC-SET','VGM-BL','D/O-SET',
                                        'O/F-RT','HANDLING-SET','CFS-RT','THC-RT','BAF-RT','CIC-RT','LOADING FEE-RT',
                                        'TOTAL','有效时间','备注','创建时间','创建人'],
                                        
                                        field_list:['','POL','POD', 'service_owner', 'port_charge','DOC','VGM','D/O',
                                        'O/F','HANDLING','CFS','THC','BAF','CIC','LOADING_FEE',
                                        'total','effective_time','remark','create_stamp','creator'],
                                        value_list: order.bulkCargoItemList![]
                                    }){} %>
                       
                  	</div>
         </div><!-- /.row -->