<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 公告信息
        <% if(shiro.hasPermission("msg.create")){%>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-warning btn-xs">
                    发布公告
                </button>
            </div>
        </div>
        <%}%>
    </div>
    <div class="panel-body">
        
    
        <ul class="chat">
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Ray Liu</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 2016-09-23 10:30:12
                        </small>
                    </div>
                    <p>
                        <a href='#'>[日本邮船公告]：我司将新增一条加班船EXW-HYUNDAI SHAN.</a>
                    </p>
                </div>
            </li>
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Ray Liu</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 2016-09-23 10:30:12</small>
                    </div>
                    <p>
                        <a href='#'>[川崎汽船公告]：自2016年第38周起我们将新开一条每周六开航地中海.</a>
                    </p>
                </div>
            </li>
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Ray Liu</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 2016-09-23 10:30:12</small>
                    </div>
                    <p>
                        [达飞轮船公告]：接总部通知，ASAF航线从40周开始（即船名为：AP.
                    </p>
                </div>
            </li>
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Ray Liu</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 2016-09-23 10:30:12</small>
                    </div>
                    <p>
                        [马士基航运公告]：为迎接即将到来的国庆假期，马士基航运谨此通知您以下相.
                    </p>
                </div>
            </li>
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Ray Liu</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 2016-09-23 10:30:12</small>
                    </div>
                    <p>
                        海岬型船价格上涨 国际油轮成交稀少
                    </p>
                </div>
            </li>
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Ray Liu</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 2016-09-23 10:30:12</small>
                    </div>
                    <p>
                        陕车辆运输车、公路货车专项整治"双排车"禁行，省交通厅、省公安厅从9月21日8时起在全省范围内联合开展“车辆运输车联合执法专项行动”及“整治公路货车违法超限超载行为专项行动”。
                    </p>
                </div>
            </li>
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Ray Liu</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 2016-09-23 10:30:12</small>
                    </div>
                    <p>
                        陕车辆运输车、公路货车专项整治"双排车"禁行，省交通厅、省公安厅从9月21日8时起在全省范围内联合开展“车辆运输车联合执法专项行动”及“整治公路货车违法超限超载行为专项行动”。
                    </p>
                </div>
            </li>
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Ray Liu</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 2016-09-23 10:30:12</small>
                    </div>
                    <p>
                        陕车辆运输车、公路货车专项整治"双排车"禁行，省交通厅、省公安厅从9月21日8时起在全省范围内联合开展“车辆运输车联合执法专项行动”及“整治公路货车违法超限超载行为专项行动”。
                    </p>
                </div>
            </li>
        </ul>
    </div><!-- /.panel-body -->
</div>