<%layout("/eeda/layout.html"){%>
<div id="page-wrapper">

	<div class="row">
		<div class="col-lg-12">
			<div class="btn-header">
				<!-- 付款确认确认 -->
			</div>
		</div>
		<!-- /.col-lg-12 -->
	</div>

	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
						<form id="applicationForm" role="form" style="margin: 15px 15px;">
							<div class="row search_panel">
								<div class="col-lg-4">
									<div class="form-group">
										<%include("/eeda/component/form/inputSpField.html", { id:'sp_id', label:'结算公司',  value: '' }){} %>
	                                </div>     
                                      <div class="form-group">      
                                         	<%include("/eeda/component/form/inputField.html", {id:'orderNo', label:'业务单据号'}){} %>
									</div>
									<div class="form-group">
										<label class="search-label">申请单号</label>
										<input type="text" class="form-control search-control applicationOrderNo" id="applicationOrderNo" value="">
									</div>
									<div class="form-group">
										<label class="search-label">状态</label>
										<select id="status2" class="form-control search-control status2">
											<option value=""></option>
											<option value="新建">新建</option>
											<option value="已复核">已复核</option>
											<option value="已付款">已付款</option>
										</select>
									</div>
								</div>
								<!-- end of col-lg-6-->
								<div class="col-lg-4">
									
									<div class="form-group">      
                                         	<%include("/eeda/component/form/inputDateQueryField.html", {id:'begin_date', label:'创建时间', value:''}){} %>
									</div>
									<div class="form-group">      
                                         	<%include("/eeda/component/form/inputDateQueryField.html", {id:'check_begin_date', label:'复核时间', value:''}){} %>
									</div>
									<div class="form-group">      
                                         	<%include("/eeda/component/form/inputDateQueryField.html", {id:'confirmBegin_date', label:'付款时间', value:''}){} %>
									</div>
								</div>
								
							</div>
							<!-- end of row-->
					
					<button id="searchBtn1" class="btn btn-primary btn-sm" type="button">查询</button>
                    <button id="resetBtn1" class="btn btn-default btn-sm" type="button">清空条件</button>
                    <a href="/chargeRequest/create" class="btn btn-success btn-sm" type="button">创建申请单</a>
					</form>
                                <%include("/eeda/component/form/detailTable.html", 
                                {
                                    id:'application_table',
                                    headers:[
                                    '申请单号',
                                    '单据类型',
                                    '状态',
                                    '业务单号',
                                    '申请收款(CNY)',
                                    '申请收款(USD)',
                                    '申请收款(JPY)',
                                    '申请收款(HKD)',
                                    '付款对象',
                                    '收款人',
                                    '付款方式',
                                    '创建人',
                                    '创建时间',
                                    '复核时间',
                                    '付款时间',
                                    '备注'
                                    ]
                                }){} %>
				
	
</div>
<!-- /.col-lg-12 -->
</div>

</div>

<%}%>
<script>
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/arap/ChargeRequest/list']);
    });
</script>
