<%layout("/eeda/layout.html"){%>
<link rel="stylesheet" href="/js/lib/jQuery-File-Upload-9.9.3/css/jquery.fileupload.css">
	<div id="page-wrapper">
		<div class="row simple_search_div">
             <div class="col-lg-12">
                <form id="orderForm">
            			<div class="row">
            			<input id='ids' name='ids' type="hidden" value="${ids!''}">
            			
            			<input id='detailJson' name='detailJson' type="hidden">
            			<input id='total_app_usd' name='total_app_usd' type="hidden">
                        <input id='total_app_cny' name='total_app_cny' type="hidden">
                        <input id='total_app_hkd' name='total_app_hkd' type="hidden">
                        <input id='total_app_jpy' name='total_app_jpy' type="hidden">
                           
                            <div class="col-lg-4">
                                <div class="guide_target1">
                                    <%include("/eeda/component/form/inputSpField.html",
                                        { id:'sp_id', 
                                        label:'结算公司', 
                                        value: '' }){} %>
                                </div>
								
								<%include("/eeda/component/form/inputField.html", { id:'payee_name',
										label:'付款人', value:order.payee_name!''
										}){}%>
								<div id="invoiceDiv">
                                <%include("/eeda/component/form/inputField.html", { id:'billing_unit',
										label:'开票单位', value:order.billing_unit!''
										}){}%>
								</div>
                                <div class="guide_target3">
								    <%include("/eeda/component/form/inputDateQueryField.html", { id:'check_time',
											label:'业务发生月', 
												begin_value:order.begin_time!'', 
												end_value:order.end_time!'', 
												disabled: 'disabled',
												required:'required'
											}){}%>
                                </div>
                            </div>
                            <div class="col-lg-4 ">
                            	<div class="form-group guide_target2">
                                    <label class="search-label">收款方式</label>
                                    <input type="hidden" id="payment_method_show" value="${order.payment_method!''}"/>
                                	<select id="payment_method" class="form-control search-control payment_method" name="payment_method" >
                                    <option value=""></option>
                                    <option value="cash" <% if(order.payment_method!'cash'=='cash'){%>selected<% }%>>现金</option>
                                    <option value="transfers" <% if(order.payment_method!''=='transfers'){%>selected<% }%>>转账</option>
                                    <option value="checkTransfers" <% if(order.payment_method!''=='checkTransfers'){%>selected<% }%>>支票转账</option>
                                    </select>
                                </div>
	                             <div id="transfers_massage" <% if(order.payment_method!'cash'=='cash'){%>style="display:none"<% }%>>
		                            <%include("/eeda/component/form/inputAccountField.html", 
		                            { id:'deposit_bank',
									label:'开户行', value:order.deposit_bank!''
									}){}%>
									
									<%include("/eeda/component/form/inputField.html", 
									{ id:'account_no',
									label:'收款账号', value:order.account_no!''
									}){}%>
									
									<%include("/eeda/component/form/inputField.html", 
									{ id:'account_name',
									label:'账户名', value:order.account_name!''
									}){}%>
                                </div>
                            </div>
                            <div class="col-lg-4">
	                            <div class="form-group">
	                                    <label class="search-label">发票类型</label>
	                                    <input id="invoice_type_show" type="hidden" value="${order.bill_type!''}">
	                                    <select id="bill_type" class="form-control search-control invoice_type" name="bill_type">
		                                    <option></option>
		                                    <option value="wbill" <% if(order.bill_type!'wbill'=='wbill'){%>selected<%}%>>无发票</option>
		                                    <option value="ordinarybill" <% if(order.bill_type!''=='ordinarybill'){%>selected<%}%>>增值税普通发票</option>
		                                    <option value="specialbill" <% if(order.bill_type!''=='specialbill'){%>selected<%}%>>增值税专用发票</option>
		                                    <option value="dbill" <% if(order.bill_type!''=='dbill'){%>selected<%}%>>代开发票</option>
		                                    <option value="HKINVbill" <% if(order.bill_type!''=='HKINVbill'){%>selected<%}%>>HK INV</option>
	                                    </select>
	                            </div>
	                            <div class="form-group">
		                            <%if(shiro.hasPermission("chargeRequest.newProcessFlag")){%>
			                            <div class="form-group">
			                                    <label class="">新流程</label>
			                                    <input id="newProcessFlag" type="checkbox" checked/>
			                            </div>
		                            <%}%>
	                            </div>
                            </div>
                            <div id="projectFee">
                                <div class="col-lg-4">
    	                            <div class="form-group">
    	                                    <label class="search-label">项目</label>
    	                                    <input id="fee_type_show" type="hidden" value="${order.fee_type!''}">
    	                                    <select id="fee_type" class="form-control search-control fee_type" name="fee_type">
    		                                    <option></option>
    		                                    <option value="transFee" <% if(order.fee_type!''=='transFee'){%>selected<%}%>>代理货运服务费</option>
    		                                    <option value="customFee" <% if(order.fee_type!''=='customFee'){%>selected<%}%>>代理报关服务费</option>
    		                                    <option value="consultFee" <% if(order.fee_type!''=='consultFee'){%>selected<%}%>>咨询服务费</option>
    		                                    <option value="internationalFee" <% if(order.fee_type!''=='internationalFee'){%>selected<%}%>>国际货代服务费</option>
    		                                    <option value="advanceFee" <% if(order.fee_type!''=='advanceFee'){%>selected<%}%>>代垫付费</option>
    		                                    <option value="foreignFee" <% if(order.fee_type!''=='foreignFee'){%>selected<%}%>>国外货款</option>
    		                                    <option value="taxRefundFee" <% if(order.fee_type!''=='taxRefundFee'){%>selected<%}%>>国税退税</option>
    	                                    </select>
    	                            </div>
                                </div>
                                <div class="col-lg-4" style="display:none">
    			                            <%include("/eeda/component/form/inputField.html", 
    			                            { id:'invoice_money',
    											label:'开票金额', 
    											value:order.invoice_money!''
    											}){}%>
                                </div>
                            </div>
						    <div class="col-lg-12">
    							<label>发票信息</label>
    							<textarea id='invoice_no' class="form-control" rows="3" name="invoice_no">${order.invoice_no!''}</textarea>
						    </div>
                        </div>
                        
                        <div class="row"  >
                            <div class="col-lg-12  btn-header">
                                <button id="createSave" disabled class="btn btn_green guide_target7" type="button" >创建申请单</button>
                            </div>
                        </div>
                        <div class="row guide_target4">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                    <%include("/eeda/component/form/inputField.html", { id:'modal_cny',
                                    label:'CNY', value:order.cny!'',disabled:'disabled'
                                    }){}%>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                    <%include("/eeda/component/form/inputField.html", { id:'modal_usd',
                                    label:'USD', value:order.usd!'',disabled:'disabled'
                                    }){}%>
                                    </div>
                                </div>
                                 <div class="col-lg-3">
                                    <div class="form-group">
                                     <%include("/eeda/component/form/inputField.html", { id:'modal_jpy',
                                     label:'JPY', value:order.jpy!'',disabled:'disabled'
                                     }){}%>
                                     </div>
                                 </div>
                                 <div class="col-lg-3">
                                    <div class="form-group">
                                    <%include("/eeda/component/form/inputField.html", { id:'modal_hkd',
                                    label:'HKD', value:order.hkd!'',disabled:'disabled'
                                    }){}%>
                                    </div>
                                 </div>
                             </div>
                    </form>
                </div>
            </div>

             <div class="simple_order_list_div" >
                    <div>
                        <ul id="orderTabs" class="nav nav-tabs">
							<li class="active guide_target5">
								<a href="#list" data-toggle="tab" id="costCheckOrderItem">第一步: 选择对账单</a>
							</li>
							<li class="guide_target6">
                                <a href="#item_list" data-toggle="tab" id="costCheckOrderSelectItem">第二步:选择单据明细</a>
                            </li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="list">
                                <%include("/oms/ChargeRequest/createStep1.html", {}){} %>
		                    </div>
		                    <div class="tab-pane fade" id="item_list">
                                <%include("/oms/ChargeRequest/chargeEdit_select_item.html", {}){} %>
                            </div>
		               </div>
           		    </div>
            </div>
	</div>
	
<%}%>

<%include("/oms/ChargeRequest/create_guide.html",{}){} %>
<script>
    var itemOrder = {};
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/arap/ChargeRequest/chargeCreate']);
    });
</script>
