<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>商家后台-账号信息</title>
<link rel="stylesheet" href="/css/BusinessAdmin/style.default.css" type="text/css" />
<link rel="stylesheet" href="/css/BusinessAdmin/pagestyle.css" type="text/css" />

<link href="/js/lib/sco/css/sco.message.css" rel="stylesheet"> 
<link href="/js/lib/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet">
<link href="/css/eeda.css" rel="stylesheet"> 
<link href="/css/wedding/main.css" rel="stylesheet"> 

<script type="text/javascript" src="/js/lib/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/general.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script>
$().ready(function(){
	$.post('/BusinessAdmin/getLoginUser',function(data){
		if(data){
			$('#head_name').text(data.C_NAME);
			$('#phone').text(data.TELEPHONE);
			$('#diamond_flag').val(data.DIAMOND);
			$('.s_logo').attr('src','/upload/'+data.LOGO);
		}
	});
});
</script>


<script src="/js/lib/require2.3.2.min.js"></script>
<%include("/eeda/component/form/commonJs.html",{}){} %>

</head>
<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo"><img src="/images/businessAdmin/logo.png" alt="" /><span style="margin-bottom:10px;">商家后台</span></h1>
            <br clear="all" />
        </div>
        <!--left-->
        <div class="right">
		<div class="userinfo"> 
			<input type="hidden" id="diamond_flag">
			<img src="/images/thumbs/avatar.png" style="width:28px;height:28px"  class="s_logo"/> 
			<span class="login_name" id="head_name"></span> 
		</div>

<div class="userinfodrop" style="display:none">
    <div class="avatar"> <a href=""><img src="/images/thumbs/avatarbig.png" style="width:100px;height:100px" class="s_logo" /></a> </div>
    <div class="userdata">
        <h4 class="login_name"></h4><br/>
                        联系电话：<span id="phone"></span>
        <ul>
            <li><a href="/BusinessAdmin/logOut">退出</a></li>
        </ul>
    </div>
</div>
</div>
    </div>
    <div class="vernav2 iconmenu">
<ul>    
      <li><a href="/BusinessAdmin/account" class="calendar">账号信息</a></li>
      <li><a style="padding-left:30px;" href="/BusinessAdmin/account/modify_info" class="support">修改公司资料</a></li>
      <li><a style="padding-left:30px;" href="/BusinessAdmin/account/modify_pwd" class="typo">修改密码</a></li>
      <li><a href="/BusinessAdmin/product" class="tables">产品管理</a></li>
      <li><a style="padding-left:30px;" href="/BusinessAdmin/product/edit" class="buttons">上传产品</a></li>
      <li><a href="/BusinessAdmin/ad/cu/buy" class="buttons">广告管理</a></li>
      <li><a style="padding-left:30px;" href="/BusinessAdmin/ad/cu/buy" class="buttons">开通"促"销</a></li>
      <li><a style="padding-left:30px;" href="/BusinessAdmin/ad/cu" class="buttons">管理"促"销</a></li>
      <li><a style="padding-left:30px;" href="/BusinessAdmin/ad/hui" class="buttons">开通优"惠"</a></li>
      <li><a style="padding-left:30px;" href="/BusinessAdmin/ad/diamond" class="buttons">开通钻石商家</a></li>
      <li><a style="padding-left:30px;" href="/BusinessAdmin/ad/mobile" class="buttons">开通手机推送广告</a></li>
      <li><a style="padding-left:30px;" href="/BusinessAdmin/ad/banner" class="buttons">开通横幅广告</a></li>
      <li><a href="/BusinessAdmin/case" class="buttons">案例列表</a></li>
      <li><a href="/BusinessAdmin/video" class="buttons">视频案例</a></li>
  </ul>
<br /></div>
    <div class="centercontent">
        ${layoutContent}
    </div>
</div>
</body>
</html>