<div id='customOrderExportModal' class="modal fade">
  <div class="modal-dialog modal-lg" style="width:1000px;">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">报关单填写</h4>
      </div>
      <div class="modal-body">
            <form id = "customDetailExportForm">
                <div class="form-group"> 
                  <div class="row">
                         <div align="center">
                             <label class="label-margin">类型</label>
                             <label class="radio-inline">
                                 <input type="radio" name="type" value="出口" checked>出口
                             </label>
                             <label class="radio-inline">
                                 <input type="radio" name="type"  value="进口 " >进口
                             </label>
                         </div>
                    </div>
                    <hr/>
                    <div class="row">
                    	<div class="col-lg-6">
                       		<%include("/eeda/component/form/inputSelectArea.html", 
			                                 {   id:'consigner', 
			                                     label:'收发货人', 
                                                 required:'required',
			                                     display_value:order.consigner_input!'',
							                     value:order.consigner!'',
							                     textarea_value:order.consigner_info!'' 
			                                  }){}%>
                        </div>
                        <div class="col-lg-6"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'export_port', 
                                    label:'出口口岸',
                                    inline: false,
                                    value:custom.export_port!'',
                                    required:'required'
                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"> 
                          <%include("/eeda/component/form/dateInputField.html", 
                                {   id:'custom_export_date', 
                                    label:'出口日期',
                                    inline: false,
                                    value:custom.export_date!'',
                                    required:'required'
                                }){}%>
                         </div>
                         <div class="col-lg-3"> 
                          <%include("/eeda/component/form/dateInputField.html", 
                                {   id:'application_date', 
                                    label:'申报日期',
                                    inline: false,
                                    value:custom.application_date!'',
                                    required:'required'
                                }){}%>
                         </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'production_and_sales', 
                                    label:'生产销售单位',
                                    inline: false,
                                    value:custom.production_and_sales!'',
                                    required:'required'
                                }){}%>
                        </div>
                        <div class="col-lg-2"> 
                            <%include("/eeda/component/form/selectField.html", 
				                                 {   id:'transport_type', 
				                                     label:'运输方式', 
				                                     class:'form-control', 
				                                     required:'required',
				                                     value:order.transport_type!'',
				                                     value_list:[
                                                        {code:'', value:''},
				                                        {code:'非保税区', value:'非保税区'},
				                                        {code:'监管仓库', value:'监管仓库'},
                                                        {code:'水路运输', value:'水路运输'},
                                                        {code:'铁路运输', value:'铁路运输'},
                                                        {code:'公路运输', value:'公路运输'},
                                                        {code:'航空运输', value:'航空运输'},
                                                        {code:'邮件运输', value:'邮件运输'},
                                                        {code:'保税区', value:'保税区'},
                                                        {code:'保税仓库', value:'保税仓库'},
                                                        {code:'其它运输', value:'其它运输'},
                                                        {code:'边境特殊海关作业区', value:'边境特殊海关作业区'},
                                                        {code:'物流中心', value:'物流中心'},
                                                        {code:'物流园区', value:'物流园区'},
                                                        {code:'保税港区', value:'保税港区'},
                                                        {code:'出口加工区', value:'出口加工区'}
				                                    ] 
				                                 }){}%>
                        </div>
                        <div class="col-lg-2"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'transport_tool', 
                                    label:'运输工具名称',
                                    inline: false,
                                    value:custom.transport_tool!'',
                                    required:'required'
                                }){}%>
                        </div>
                        <div class="col-lg-2"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'tracking_no', 
                                    label:'提运单号',
                                    inline: false,
                                    value:custom.tracking_no!'',
                                    required:'required'
                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'application_unit', 
                                    label:'申报单位',
                                    inline: false,
                                    value:custom.application_unit!'',
                                    required:'required'
                                }){}%>
                        </div>
                        <div class="col-lg-2"> 
                            <%include("/eeda/component/form/inputDropListField.html", 
                                {   id:'supervision_mode', 
                                    label:'监管方式',
                                    class:'form-control', 
                                    url: '/serviceProvider/searchSupervisionMethod',
                                    value:order.supervision_mode!'',
                                    display_value:order.supervision_mode_name!'',
                                    required:'required'
                                }){}%>
                        </div>
                        <div class="col-lg-2"> 
                            <%include("/eeda/component/form/selectField.html", 
				                                 {   id:'nature_of_exemption', 
				                                     label:'征免性质', 
				                                     class:'form-control', 
				                                     required:'required',
				                                     value:order.nature_of_exemption!'',
				                                     value_list:[
                                                        {code:'', value:''},
				                                        {code:'0110 ', value:'一般贸易'},
				                                        {code:'0130', value:'易货贸易'},
                                                        {code:'0200', value:'来料余料结转'},
                                                        {code:'0214', value:'来料加工'},
                                                        {code:'0220', value:'来料加工设备'},
                                                        {code:'0245', value:'来料料件内销'},
                                                        {code:'0255 ', value:'来料深加工'},
                                                        {code:'0345', value:'来料成品内销'},
                                                        {code:'0513', value:'补偿贸易'},
                                                        {code:'0600', value:'进料余料结转'},
                                                        {code:'0615', value:'进料对口'},
                                                        {code:'0644', value:'进料料件内销'},
                                                        {code:'0645', value:'进料深加工'},
                                                        {code:'0715', value:'进料非对口'},
                                                        {code:'0744', value:'进料成品内销'}
				                                    ] 
				                                 }){}%>
                        </div>
                        <div class="col-lg-2"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'record_no', 
                                    label:'备案号',
                                    inline: false,
                                    value:custom.record_no!'',
                                    required:'required'
                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6"> 
                        	<%include("/eeda/component/form/inputDropListField.html", 
		                        {   id:'trading_country', 
		                            class:'form-control',
		                            label:'贸易国', 
		                            value:order.trading_country!'',
                                    display_value:order.trading_country_name!'',
                                    url: '/location/searchCountry',
                                    required:'required'
		                        }){}%>
                        </div>
                        <div class="col-lg-2"> 
                        	<%include("/eeda/component/form/inputDropListField.html", 
		                        {   id:'destination_country', 
		                            class:'form-control',
		                            label:'抵运国', 
		                            value:order.destination_country!'',
                                    display_value:order.destination_country_name!'',
                                    url: '/location/searchCountry',
                                    required:'required'
		                        }){}%>
                        </div>
                        <div class="col-lg-2"> 
                          <%include("/eeda/component/form/inputPortField.html", 
                                {   id:'destination_port', 
                                	class:'form-control', 
                                    label:'指运港',
                                    inline: false,
                                    value:custom.destination_port!'',
                                    required:'required'
                                }){}%>
                        </div>
                        <div class="col-lg-2"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'supply_of_goods', 
                                    label:'境内货源地',
                                    inline: false,
                                    value:custom.supply_of_goods!'',
                                    required:'required'
                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'license_no', 
                                    label:'许可证号',
                                    inline: false,
                                    value:custom.license_no!'',
                                    required:'required'
                                }){}%>
                        </div>
                        <div class="col-lg-3"> 
                             <%include("/eeda/component/form/selectField.html", 
                                {   id:'transaction_mode',
                                    class:'form-control', 
                                    label:'成交方式', 
                                    value:order.transaction_mode!'',
                                    required:'required',
                                    value_list:[
                                        {code:'FOB', value:'FOB'},
                                        {code:'CIF', value:'CIF'},
                                        {code:'CFR', value:'CFR'},
                                        {code:'DDU', value:'DDU'},
                                        {code:'DDP', value:'DDP'},
                                        {code:'OTHER', value:'OTHER'}
                                    ]
                                }){}%>
                        </div>
                        <div class="col-lg-2"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'freight', 
                                    label:'运费',
                                    value:custom.freight!'',
                                    inline: false
                                }){}%>
                        </div>
                        <div class="col-lg-2"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'insurance_premium', 
                                    label:'保费',
                                    value:custom.insurance_premium!'',
                                    inline: false
                                }){}%>
                        </div>
                        <div class="col-lg-2"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'incidental', 
                                    label:'杂费',
                                    value:custom.incidental!'',
                                    inline: false
                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'contract_agreement_no', 
                                    label:'合同协议号',
                                    inline: false,
                                    value:custom.contract_agreement_no!'',
                                    required:'required'
                                }){}%>
                        </div>
                        <div class="col-lg-2"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'number', 
                                    label:'件数',
                                    inline: false,
                                    value:custom.number!'',
                                    required:'required'
                                }){}%>
                        </div>
                        <div class="col-lg-2"> 
                            <%include("/eeda/component/form/selectField.html", 
				                                 {   id:'package_type', 
				                                     label:'包装种类', 
				                                     class:'form-control', 
				                                     value:order.package_type!'',
				                                     value_list:[
                                                        {code:'', value:''},
				                                        {code:'裸装', value:'裸装'},
				                                        {code:'散装', value:'散装'},
                                                        {code:'集装箱', value:'集装箱'},
                                                        {code:'托盘', value:'托盘'},
                                                        {code:'集装包', value:'集装包'},
                                                        {code:'集装袋', value:'集装袋'},
                                                        {code:'箱', value:'箱'},
                                                        {code:'桶', value:'桶'},
                                                        {code:'袋', value:'袋'},
                                                        {code:'包', value:'包'},
                                                        {code:'木箱', value:'木箱'},
                                                        {code:'纸箱', value:'纸箱'},
                                                        {code:'木桶', value:'木桶'},
                                                        {code:'铁桶', value:'铁桶'},
                                                        {code:'塑料桶', value:'塑料桶'},
                                                        {code:'麻袋', value:'麻袋'},
                                                        {code:'纸袋', value:'纸袋'},
                                                        {code:'塑料袋', value:'塑料袋'},
                                                        {code:'卷', value:'卷'},
                                                        {code:'其他', value:'其他'}
				                                    ] 
				                                 }){}%>
                        </div>
                        <div class="col-lg-2"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'custom_gross_weight', 
                                    label:'毛重(KG)',
                                    inline: false,
                                    value:custom.gross_weight!'',
                                    required:'required'
                                }){}%>
                        </div>
                        <div class="col-lg-2"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'custom_net_weight', 
                                    label:'净重(KG)',
                                    inline: false,
                                    value:custom.net_weight!'',
                                    required:'required'
                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'container_no', 
                                    label:'集装箱号',
                                    inline: false,
                                    value:custom.container_no!'',
                                    required:'required'
                                }){}%>
                        </div>
                        <div class="col-lg-8"> 
                          <%include("/eeda/component/form/inputField.html", 
                                {   id:'documents_attached', 
                                    label:'随附单证',
                                    inline: false,
                                    value:custom.documents_attached!'',
                                    required:'required'
                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12"> 
                          <div class="form-group">
                               <label>标记唛码及备注</label>
                               <textarea id='shipping_marks' class="form-control" rows="3" name="shipping_marks">${custom.shipping_marks!''}</textarea>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12"> 
                            <button type="button" class="btn btn-success btn-xs" id="add_custom_item">添加货品</button>
                            <br>
                            <%include("/eeda/component/form/detailTable.html", 
                                {
                                    id:'custom_item_table',
                                    style:'width:2300px',
                                    headers:['<input id="allCheckOfCustomItem" style="width:30px" type="checkbox">','', '项号', '商品编号', '商品名称', '规格型号','数量及单位', '最终目的国(地区)','单价', '总价', '币制', '征免','currency_name'],
                                    field_list:['id','','item_no', 'commodity_no', 'commodity_name', 'specification_model','quantity_and_unit', 'destination_country', 'price', 'total',
                                     'currency', 'exemption','currency_name'],
                                    value_list: customItemList![]
                                }){} %>
                        </div>
                    </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="returnCustomOrderExportModal"  class="btn btn-default" data-dismiss="modal">返回</button>
        <button type="button" id="confirmCustomDetailBtn" class="btn btn-primary">确定</button>
      </div>
<%include("/eeda/component/jsTemplate/tableInputFieldCurrencyId.js",{}){} %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




