
<input type="hidden" id="insurance_id" value="${insurance.id!''}">
<form id = "insuranceForm">
            <div class="form-group">  <!--  form row  -->
                    <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'insurance_company', 
                                    label:'保险公司', 
                                    value:insurance.insurance_company!''
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'policy_holder', 
                                    label:'投保人', 
                                    value:insurance.policy_holder!''
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'insurant', 
                                    label:'被保险人', 
                                    value:insurance.insurant!''
                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'insurance_amount', 
                                    label:'保险金额', 
                                    value:insurance.insurance_amount!''
                                }){}%>
                        </div>
                        
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/selectField.html", 
                                {   id:'insurance_type', 
                                    label:'保险类型', 
                                    required:'required',
                                    value:insurance.insurance_type!'',
                                    value_list:[
                                        {code:'export', value:'国内陆运'},
                                        {code:'import', value:'进出口国际运输'}
                                    ]
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'insure_no', 
                                    label:'投保单号', 
                                    value:insurance.insure_no!''
                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'insurance_no', 
                                    label:'保险单号', 
                                    value:insurance.insurance_no!''
                                }){}%>
                        </div>
                    </div>
                   
                   
            </div><!-- /.row -->
</form>


