<%layout("/eeda/layout.html"){%>
<% var orderPermission = shiro.hasPermission("planOrder.order");
   var boolOrder = orderPermission;
   %>
        <div id="page-wrapper">
            <div class="row simple_search_div" style="padding-top: 5px;">
                <div class="col-lg-12">
                	<input id="submit_flag" type="hidden"  name="submit_flag" value="${order.submit_flag!''}"/>
                    <input id="order_id" type="hidden" name="order_id" value="${order.id!''}"/>
                    <input id="login_office_type" type="hidden" name="login_office_type" value="${login_office.type!''}"/>
                   <form id="orderForm">
                       <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'order_no', 
                                                    label:'计划订单号码', 
                                                    value:order.order_no!'',
                                                    disabled: 'disabled'
                                                }){}%>
                        </div> 
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'creator_name', 
                                                    label:'创建人', 
                                                    value:user.c_name!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'create_stamp', 
                                                    label:'创建时间', 
                                                    value:order.create_stamp!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>                       
                       
                    </div>
                    <div class="row"><!--  第4行  -->
                            
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'status', 
                                                    label:'状态', 
                                                    value:order.status!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                       <div class="col-lg-4 guide_target1">
                             <%include("/eeda/component/form/inputDateQueryField.html", 
                             {	id:'plan_time', 
                             	label:'计划时间段', 
                             	begin_value:order.begin_plan_time!'',
                             	end_value:order.end_plan_time!''
                             }){} %>
                       </div><!-- /.col-lg-4 -->
                    </div>
                                    
                </form>
                            
                                <div class="form-group">
                                 <label>备注</label>
                                 <textarea id='note' class="form-control" rows="3" name="note">${order.remark!''}</textarea>
                                </div>
            
                </div>
            </div>
           
            <div class="simple_order_list_div">
	            <div class="col-lg-6 guide_target2">
	            	<% 
		                var party_name='';
		                if(has(self_party) && (null != self_party.ABBR!)){
		                    party_name = self_party.ABBR;
		                }else if(has(entrusted) && (null != entrusted.OFFICE_NAME!)){
		                    party_name = entrusted.OFFICE_NAME;
		                }else if(has(office) && (null != office.OFFICE_NAME!)){
		                    party_name = office.OFFICE_NAME;
		                }
		            %>
	            	<%include("/eeda/component/form/inputCustomerField.html",
											{   id:'self_party_id', 
												label:'委托方',  
												value:self_party.ID!entrusted.ID!office.ID!'',
												display_value:party_name!'',
												disabled: 'disabled'
											}){} %>
	             </div>
            	
           		<div class="col-lg-6 guide_target3">           			
           			<%	var dis='';
           				if(order.submit_flag!''=='Y'){
           				dis='disabled';
           				}
           			%>
           			
           			<%include("/eeda/component/form/inputSpField.html",
											{   id:'to_party_id', 
												label:'被委托方',
												type:'SP',  
												value:to_party.ID!toEntrusted.ID!'',
												display_value:to_party.ABBR!toEntrusted.OFFICE_NAME!'',
												disabled:dis												
											}){} %>
                </div>  
                   
                <div class="">
                    <ul id="orderTabs" class="nav nav-tabs">
                        <li class="active">
                            <a href="#itemDetail" data-toggle="tab">计划明细</a>
                        </li>
                    </ul>
                    <div class="button-bar ">
                        <button class="btn btn_green guide_target4" id="add_cargo">添加</button> 
                        <!-- <button class="btn btn_green" id="create_jobOrder" disabled>创建工作单</button> -->
                    </div>
                    <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'cargo_table',
                                        style:'width:2700px',
                                        headers:['<input type="checkBox" class="allCheck">','','','Booking单号','出货类型','出货时间','纳期','提货地点', '启运港POL','目的港POD','件数','毛重(KG)','体积(CBM)','柜型','柜量','车型车量','货物名称','报关类型',
                                        			'船公司', '船名vessel', '航次voyage','ETA','ETD','SO号码','运输方式', '负载方式','单位','净重(KG)','总重量(KG)','送货地点','收货港POR',  
                                                 '截关日期',  '报关日期', 'por_name', 'pol_name', 'pod_name', 'carrier_name', 'is_gen_job','unit_name','confirm_shipment','book_order_id','submit_flag'],
                                        field_list:['id','','','book_order_no','job_order_type','factory_loading_time','delivery','pickup_addr','pol','pod','pieces','gross_weight','volume', 
                                        'container_type','container_amount','truck_type','cargo_name', 'customs_type','carrier', 'vessel', 'voyage', 'eta','etd','so_number', 'transport_type','load_type',    
                                        'unit_id', 'net_weight','vgm','dilvery_addr','por','cls','customs_data', 'por_name', 'pol_name', 'pod_name', 'carrier_name', 'is_gen_job','unit_name',
                                        'confirm_shipment','book_order_id','submit_flag'],
                                        value_list: itemList![]
                                    }){} %>

                    
                    <div class="button-bar">
                        <button id='saveBtn' class="btn btn_green" >保存</button>
                        <button id='submitBtn' class="btn btn_green" >提交</button>
                        <%if(boolOrder){%>
                        <button id="confirmCompleted" class="btn btn-primary guide_target5">计划订单锁单</button>
                        <%}%>
                        <a class="btn btn_white" href="/planOrder">返回</a>
                        <button id='allShipmentBtn' class="btn btn_green guide_target6">批量出货</button>
                    </div>
                    
                </div>
            </div>
            
            <a id='containerTypeShow_btn' data-target='#containerType_msg' data-toggle='modal' style='display:none'></a>
		    <div class="modal fade" id="containerType_msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		      <div class="modal-dialog">
		        <div class="modal-content">
		          <div class="modal-header">请选择箱量 </div>
		            <div class="modal-body">
		                <div class="form-group">
		                    <ul id="containerTypeTab" class="checkbox-inline">
			                    <li class="checkbox-inline">
			                        <input type="checkbox" value="20'GP">20GP X </input><input class="container_amount" style="width:30px"  value='1'></input>
			                    </li><br>
			                    <li class="checkbox-inline">
			                        <input type="checkbox" value="40'GP">40GP X </input><input class="container_amount" style="width:30px"  value='1'></input>
			                    </li><br>
			                    <li class="checkbox-inline">
			                        <input type="checkbox" value="45'GP">45GP X </input><input class="container_amount" style="width:30px"  value='1'></input>
			                    </li><br>
			                    <li class="checkbox-inline">
			                        <input type="checkbox" value="45'GP">45HQ X </input><input class="container_amount" style="width:30px"  value='1'></input>
			                    </li>
			                </ul>
		                </div>
		            </div>
		            <div class="modal-footer">
		                <button type="button" id="containerType_btnConfirm" class="btn  btn-primary" data-dismiss="modal">确认</button>
		                <button type="button" class="btn  btn-default" data-dismiss="modal">返回</button>
		            </div>
		      </div>
		    </div>
		  </div>
		  
		  <a id='truckTypeShow_btn' data-target='#truckType_msg' data-toggle='modal' style='display:none'></a>
		    <div class="modal fade" id="truckType_msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		      <div class="modal-dialog">
		        <div class="modal-content">
		          <div class="modal-header">请选择车型车量 </div>
		            <div class="modal-body">
		                <div class="form-group" id="truckTypeTab">
		                   <ul style="overflow:hidden;zoom:1" >
						　　　　<li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='40HQ'>40HQ X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='40GP'>40GP X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
						      <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='20GP'>20GP X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='40T'>40T  X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='20T'>20T X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='10T'>10T X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
						      <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='8T'>8T X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='5T'>5T X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
						      <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='3T'>3T X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='1.5T'>1.5T X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
						      <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='21M'>21M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='18.5M'>18.5M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='18.0M'>18.0M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='17.8M'>17.8M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
						      <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='17.5M'>17.5M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='17.0M'>17.0M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
						     <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='16.0M'>16.0M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='15.0M'>15.0M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='14.5M'>14.5M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
						      <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='13.5M'>13.5M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='13.0M'>13.0M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
						     <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='12.5M'>12.5M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='9.6M'>9.6M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='8.6M'>8.6M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
						      <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='8.0M'>8.0M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='7.6M'>7.6M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							 <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='7.2M'>7.2M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							 <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='6.8M'>6.8M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
						 	 <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='6.5M'>6.5M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
						 	  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='5.3M'>5.3M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							 <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='4.3M'>4.3M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
						 	 <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='4.2M'>4.2M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
						 	  <li style=" float:left; margin-left:20px; list-style-type:none;">
									<input type="checkbox" value='2.6M'>2.6M X </input><input class="container_amount" style="width:30px"  value='1'></input>
						　　　　</li>
							</ul>
		                </div>
		            </div>
		            <div class="modal-footer">
		                <button type="button" id="truckType_btnConfirm" class="btn  btn-primary" data-dismiss="modal">确认</button>
		                <button type="button" class="btn  btn-default" data-dismiss="modal">返回</button>
		            </div>
		      </div>
		    </div>
		  </div>
		  
		  
		  
		  
  
        </div>
<%}%>
<%include("/eeda/component/jsTemplate/tableInputDateField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableSelectTruckTypeField.js",{}){} %>

<%include("/oms/PlanOrder/edit_guide.html",{}){} %>

<div class="blockUI" style="display:none"></div>
<div class="blockUI blockOverlay" style="z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.6; cursor: wait; position: fixed;"></div>
<div class="blockUI blockMsg blockPage" style="z-index: 1011; position: fixed; padding: 0px; margin: 0px; width: 30%; top: 40%; left: 35%; text-align: center; color: rgb(0, 0, 0); border: 3px solid rgb(170, 170, 170); background-color: rgb(255, 255, 255); cursor: wait;"><h4><img src="/images/loading.gif" style="height: 20px; margin-top: -3px;"></h4></div>

<script>
    var order_no = '${order.order_no!'订单编辑'}'; 
    var salesOrder = {};
</script>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/oms/planOrder/edit']);
        requirejs(['app/oms/planOrder/edit_item_table']);
    });

</script>
