
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>admin管理后台-基本信息</title>
<link rel="stylesheet" href="http://www.iwedclub.com/WebAdmin/css/style.default.css" type="text/css" />
<link rel="stylesheet" href="http://www.iwedclub.com/WebAdmin/css/pagestyle.css" type="text/css" />
<script type="text/javascript" src="http://www.iwedclub.com/WebAdmin/js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="http://www.iwedclub.com/WebAdmin/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="http://www.iwedclub.com/WebAdmin/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="http://www.iwedclub.com/WebAdmin/js/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="http://www.iwedclub.com/WebAdmin/js/plugins/jquery.flot.min.js"></script>
<script type="text/javascript" src="http://www.iwedclub.com/WebAdmin/js/plugins/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="http://www.iwedclub.com/WebAdmin/js/plugins/jquery.slimscroll.js"></script>
<script type="text/javascript" src="http://www.iwedclub.com/WebAdmin/js/custom/general.js"></script>
<script type="text/javascript" src="http://www.iwedclub.com/WebAdmin/js/custom/dashboard.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/plugins/excanvas.min.js"></script><![endif]-->
<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
    <script src="js/plugins/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body class="withvernav">
<div class="bodywrapper">
    <!--topheader-->
    <div class="topheader">
        <div class="left">
            <h1 class="logo">Admin<span>管理后台</span></h1> <div class="topsearch">搜索：<input class="top-search" type="text" /></div>
            <br clear="all" />
        </div>
        <!--left-->
        <div class="right">
            <!--<div class="notification">
                <a class="count" href="ajax/notifications.html"><span>9</span></a>
            </div>-->
            <div class="userinfo"> <img src="images/thumbs/avatar.png" alt="" /> <span>管理员</span> </div>
            <!--userinfo-->
            <div class="userinfodrop">
                <div class="avatar"> <a href=""><img src="images/thumbs/avatarbig.png" alt="" /></a> </div>
                <!--avatar-->
                <div class="userdata">
                    <h4>Juan</h4>
                    <span class="email">youremail@yourdomain.com</span>
                    <ul>
                        <li><a href="editprofile.html">编辑资料</a></li>
                        <li><a href="accountsettings.html">账号设置</a></li>
                        <li><a href="help.html">帮助</a></li>
                        <li><a href="index.html">退出</a></li>
                    </ul>
                </div>
                <!--userdata-->
            </div>
            <!--userinfodrop-->
        </div>
        <!--right-->
    </div>    
    <div class="vernav2 iconmenu">
        <ul>
            <%  
                var map = permissionMap!'';
                var breadcrumb_name='';
                for(module in modules![]){
            %>
                    <li id="${module.id!}">
                        <a href="#">${module.module_name!}</a>
                        <% if(module.orders != null ){%>
                            
                                <%
                                for(menu_order in module.orders){
                                    if(request.requestURI == '/'+menu_order.url!''){
                                        breadcrumb_name = menu_order.module_name;
                                    }
                                %>
                                    <li id="${menu_order.id}">
                                        <a class="support"  style="padding-left:30px;" href="/${menu_order.url!''}">${menu_order.module_name!}</a>
                                    </li>
                                <%}%>
                            
                        <%}%>
                    </li>
            <%  }%>

        </ul>
        <br />
    </div>
    <!--leftmenu-->    
  <div class="centercontent">
        ${layoutContent}
  </div><!--contentwrapper-->

</div>
<!--bodywrapper-->
</body>
</html>
