
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>admin管理后台-基本信息</title>
<link rel="stylesheet" href="/css/wedding/style.default.css" type="text/css" />
<link rel="stylesheet" href="/css/wedding/pagestyle.css" type="text/css" />



<link href="/js/lib/sco/css/sco.message.css" rel="stylesheet"> 
<link href="/css/eeda.css" rel="stylesheet"> 
<link href="/css/wedding/main.css" rel="stylesheet"> 
<!-- <link href="/js/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/js/lib/datatables/js/jquery.dataTables.min.js" rel="stylesheet"> -->

<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.flot.min.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.slimscroll.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/general.js"></script>
<script type="text/javascript" src="/js/lib/jquery/jquery-1.10.2.js"></script>


<script type="text/javascript" src="/js/lib/jquery-ui-1.11.4/jquery-ui.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script>
function checkMessage(){
	$.post('/WebAdmin/getLoginUser',function(data){
		if(data){
			var banner = data.BANNER;
			var mobile = data.MOBILE;
			var nopass = data.NOPASS;
			var diamond = data.DIAMOND;
			var cu = data.CU;
			if(nopass > 0){
				$("#rm_page").text(nopass).show();
			}else{
				$("#rm_page").text(nopass).hide();
			}
			if(mobile > 0 ){
				$("#mobile_page").text(mobile).show();
			}else{
				$("#mobile_page").text(mobile).hide();
			}
			if(banner > 0){
				$("#banner_page").text(banner).show();
			}else{
				$("#banner_page").text(banner).hide();
			}
			if(cu > 0){
				$("#cu_page").text(cu).show();
			}else{
				$("#cu_page").text(cu).hide();
			}
			if(diamond > 0){
				$("#diamond_page").text(diamond).show();
			}else{
				$("#diamond_page").text(diamond).hide();
			}
		}
		
	});
}
$().ready(function(){

	 checkMessage();
});
</script>
<script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth) return;
                        if (clientWidth >= 640) {
                            docEl.style.fontSize = '100px';
                        } else {
                            docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                        }
                    };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>

</head>
<body class="withvernav">
<div class="bodywrapper">
    <!--topheader-->
<div class="topheader">
    <div class="left">
        <h1 class="logo">Admin<span>管理后台</span></h1> <div class="topsearch"></div>
        <br clear="all" />
    </div>
    <!--left-->
    <div class="right">
        <!--<div class="notification">
            <a class="count" href="ajax/notifications.html"><span>9</span></a>
        </div>-->
        <div class="userinfo"> <img src="/images/thumbs/avatar.png" alt="" /> <span class="login_name">管理员</span> </div>
        <!--userinfo-->
        <div class="userinfodrop">
            <div class="avatar"> <a><img src="/images/thumbs/avatarbig.png" alt="" /></a> </div>
            <!--avatar-->
            <div class="userdata">
                <h4 class="login_name"></h4><br/>
                <span class="email" id="email"></span>
                <ul>
                    <li><a href="/WebAdmin/account/info">编辑资料</a></li>
                    <li><a href="/WebAdmin/account">账号设置</a></li>
                   <!--  <li><a href="help.html">帮助</a></li> -->
                    <li><a href="/WebAdmin/logOut">退出</a></li>
                </ul>
            </div>
            <!--userdata-->
        </div>
        <!--userinfodrop-->
    </div>
    <!--right-->
</div>    <div class="vernav2 iconmenu">
  <ul>
    <li><a href="/WebAdmin">基本信息</a></li>
    <li><a href="/WebAdmin/user">用户管理</a></li>
      <li><a href="/WebAdmin/user/quotation" class="support" style="padding-left:30px;">用户档期查询 和 报价<span class="warn_icon" id="user_page"></span></a></li>
    <li><a style="padding-left:30px;" href="/WebAdmin/user/project" class="support">新增婚筹项目列表</a></li>
    <li><a style="padding-left:30px;" href="/WebAdmin/user/ask" class="typo">婚礼问问列表<span class="warn_icon" id="ww_page"></span></a></li>
    <li><a style="padding-left:30px;" href="/WebAdmin/user/consult" class="typo">用户咨询<span class="warn_icon" id="ww_page"></span></a></li>
    <li><a style="padding-left:30px;" href="/WebAdmin/user/feedback" class="typo">用户反馈<span class="warn_icon" id="ww_page"></span></a></li>
    
    <li><a href="/WebAdmin/biz" class="tables">商家管理</a></li>
    <li><a href="/WebAdmin/biz/reminder" class="buttons" style="padding-left:30px;">商家申请入驻提醒<span class="warn_icon" id="rm_page" message="222"></span></a></li>
      <li><a href="/WebAdmin/biz/bannerApplication" class="buttons" style="padding-left:30px;">淘婚品横幅广告申请<span class="warn_icon" id="banner_page" message="${banner!''}"></span></a></li>
      <li><a href="/WebAdmin/biz/mobilePush" class="buttons" style="padding-left:30px;">手机推送申请<span class="warn_icon" id="mobile_page" message="${mobile!''}"></span></a></li>
      <li><a style="padding-left:30px;" href="/WebAdmin/biz/diamond" class="buttons">钻石商家<span class="warn_icon" id="diamond_page"></span></a></li>
    <li><a style="padding-left:30px;" href="/WebAdmin/biz/notice" class="buttons">修改公告</a></li>
        <li><a style="padding-left:30px;" href="/WebAdmin/biz/inviteCode" class="buttons">邀请码统计</a></li>
        
    <li><a href="/WebAdmin/ad" class="typo">广告管理</a></li>
    <li><a style="padding-left:30px;" href="/WebAdmin/ad/tao" class="buttons">淘婚品广告管理</a></li>
    <li><a style="padding-left:30px;" href="/WebAdmin/ad/cu" class="buttons">“促”广告管理<span class="warn_icon" id="cu_page"></span></a></li>
    <li><a style="padding-left:30px;" href="/WebAdmin/ad/hui" class="buttons">"惠"广告管理</a></li>
    <li><a href="/WebAdmin/tao_manage" class="typo">淘婚品管理</a></li>
    <li><a style="padding-left:30px;" href="/WebAdmin/tao_manage/product" class="buttons">产品列表</a></li>
    <li><a style="padding-left:30px;" href="/WebAdmin/tao_manage/video" class="buttons">视频列表</a></li>
    <li><a style="padding-left:30px;" href="/WebAdmin/tao_manage/case" class="buttons">案例列表</a></li>
    <li><a href="/WebAdmin/best_wedding" class="typo">精选婚礼</a></li>  
  </ul>
  <br />
</div>
<!--leftmenu-->    
<script src="/js/lib/require2.3.2.min.js"></script>
<%include("/eeda/component/form/commonJs.html",{}){} %>
<div class="centercontent">
        ${layoutContent}
</div>
<!--bodywrapper-->
</body>
</html>
