
/* DataTables Overrides */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}
/*1.9*/
table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

/*1.10   Ray    start*/
table.dataTable thead.eeda .sorting_asc:after {
    content: "";
}

table.dataTable thead.eeda .sorting_desc:after {
    content: "";
}
table.dataTable thead.eeda .sorting:after {
    content: "";
}
/* 
.dataTables_wrapper .dataTables_paginate .paginate_button {
    display: inline !important;
    padding: 0 0 !important; 
    margin-left: 0 !important;
    color: #333 !important;
}
*/
/*1.10   Ray   end*/
/* Circle Buttons */

 .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

/* Ray add for input */
.input-inline {
  display: inline;  
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}


label.valid {
  width: 24px;
  height: 24px;
  background: url(assets/img/valid.png) center center no-repeat;
  display: none !important;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

.search-control{
    display: inline;
    width: 65%;
}

.form-group .input-date{
    display: inline;
}

.search-control.date{
    width:25%;
    font-size: 7px;
    padding: 0 3px;
}

.search-label{
    //height: 30px;
    width: 30%;
}

/* datepicker icon style*/
.add-on{
    display: inline-block !important;
}

.bootstrap-datetimepicker-widget ul{
    padding: 0;
}

.tree .edit_icons{
	display: inline;
}

.form-group{
	margin-bottom: 5px !important;
}
.form-group .search-control{
	height:30px;
}

.form-group label{
	margin: 5px 0;	
}

.search_panel .form-group{
    height:27px;
}
.label-margin{
	margin-right: 20px;
}
.dropdown-scroll{
    max-height: 300px;
    overflow-y: auto;
}

.datatable-scroll {
    clear: both;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: visible;
}

.btn-header {
    margin: 10px 0px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.huge {
    font-size: 40px;
    line-height: normal;
}

.date .add-on{
	position: absolute;
    right: 8%;
    margin-top: 10px;
}

.col-lg-6 .date .add-on{
	position: absolute;
    right: 13%;
    margin-top: 10px;
}

table .form-control{
	/*width: 100% !important;*/
}

.button-bar{
	margin-top: 10px;
}

.button-bar button{
    margin-right: 5px;
}

/* location div */
.area-list{
    position: absolute;
    width: 481px;
    border: 1px solid #dddddd;
    margin-top: 0;
    background: #ffffff;
    z-index: 99;
    padding: 10px;
}

.area-list-title {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: 28px;
}

.area-list-title input {
    float: left;
    height: 25px;
    line-height: 25px;
    width: 50px;
    text-align: center;
    font-size: 14px;
    border: none;
    background-color: white;
}

.area-list-title .tips {
    float: right;
    color: #B3B3B3;
    height: 25px;
    line-height: 30px;
    text-align: center;
    font-size: 10px;
    border: none;
    background-color: white;
}

.area-list-title input.this {
    background: #34b2fb;
    color: #ffffff;
}

.area-list a {
    display: inline-block;
    width: 70px;
    color: #666666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    line-height: 30px;
    padding: 0 5px;
    height: 30px;
    float: left;
}

.area-list a:hover{
    color: #34b2fb;
}

section>a.remove {
    position: absolute;
    margin-top: -15px;
    margin-left: -10px;
    color: red;
}

a.edit {
    margin-right: 15px;
}
#displayDiv .btn-header .checkbox{
    display: inline-block;
    margin-right: 25px;
}

.col-lg-12>.form-group .search-label{
    width: 9.5%;
}
.col-lg-12>.form-group .search-control{
    width: 88.9%;
}
.col-lg-8>.form-group .search-label{
    width: 14.3%;
}
.col-lg-8>.form-group .search-control{
    width: 83.3%;
}
.form-group .checkbox-inline{
    margin: 5px 20px 0 0;
}

.checkbox-inline>input{
    margin-top: 0px;
}

li{
    list-style-type: none;
}

/* 海运 */
.usedOceanInfo input{
    margin-top: 0px;
}

.usedOceanInfo .port{
    margin-left: 0px; 
    color: darkgray;
}

#partyForm .col-lg-12>.form-group .search-label {
    width: 14.2%;
}
#partyForm .col-lg-12>.form-group .search-control {
    width: 83.5%;
}

#release_radio_div .radio-inline{
    padding-left: 0px;
    padding-right: 5px;
}
#release_radio_div .radio-inline input[type=radio] {
    margin-left: -15px;
}

/* ray added */