table td{
    padding: 5px;
}

/* location div */
.area-list{
    position: absolute;
    width: 481px;
    border: 1px solid #dddddd;
    margin-top: 0;
    background: #ffffff;
    z-index: 99;
    padding: 10px;
}

.area-list-title {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: 28px;
}

.area-list-title input {
    float: left;
    height: 25px;
    line-height: 25px;
    width: 50px;
    text-align: center;
    font-size: 14px;
    border: none;
    background-color: white;
}

.area-list-title .tips {
    float: right;
    color: #B3B3B3;
    height: 25px;
    line-height: 30px;
    text-align: center;
    font-size: 10px;
    border: none;
    background-color: white;
}

.area-list-title input.this {
    background: #34b2fb;
    color: #ffffff;
}

.area-list a {
    display: inline-block;
    width: 70px;
    color: #666666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    line-height: 30px;
    padding: 0 5px;
    height: 30px;
    float: left;
}

.area-list a:hover{
    color: #34b2fb;
}

table .eeda td ul.dropDown-menu{
    position: absolute;
}

article td a {
    text-decoration: underline;
}