<%layout("/eeda/layout.html"){%>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <input id="order_id" type="hidden" name="order_id" value="${order.id!''}"/>
                    <input id="user_id" type="hidden" name="user_id" value="${user.id!''}" />
                    <input id="company_id" type="hidden" name="company_id" value="${order.company_id!''}" />
                    <input id="company_abbr" type="hidden" name="company_abbr" value="${order.company_abbr!''}" />
                </div>
            </div>
            <!-- /.row -->
            <div class="row simple_search_div">
                <div class="col-lg-12">
                		<form role="form" id="costCheckOrderForm">
                                <div class="row">
                                        	<input id="id" type="hidden" value="${order.id!''}"/>
                                        	<input id="ids" type="hidden"  value="${order.ids!''}"/>
                                        	<input id="sp_id" type="hidden"  value="${order.sp_id!''}"/>
                                        	<input id="car_id" type="hidden"  value="${order.car_id!''}"/>
                                        <div class="col-lg-4">
                                            <%include("/eeda/component/form/inputField.html", 
                                                                {   id:'order_no', 
                                                                    label:'对账单号', 
                                                                    value: order.order_no!'',
                                                                    disabled: 'disabled'
                                                                }){}%>
                                        </div>
                                        <div class="col-lg-4">
                                            <%include("/eeda/component/form/inputField.html", 
                                                                {   id:'status', 
                                                                    label:'单据状态', 
                                                                    value: order.status!'',
                                                                    disabled: 'disabled'
                                                                }){}%>
                                        </div>
                                        <div class="col-lg-4">
                                            <%include("/eeda/component/form/inputField.html", 
                                                                {   id:'creator', 
                                                                    label:'创建人', 
                                                                    value: order.creator_name!'',
                                                                    disabled: 'disabled'
                                                                }){}%>
                                        </div>
                                        <div class="col-lg-4">
                                            <%include("/eeda/component/form/inputField.html", 
                                                                {   id:'create_stamp', 
                                                                    label:'创建时间', 
                                                                    value: order.create_stamp!'',
                                                                    disabled: 'disabled'
                                                                }){}%>
                                        </div>
                                        <div class="col-lg-4">
                                            <%include("/eeda/component/form/inputField.html", 
                                                                {   id:'confirm_name', 
                                                                    label:'确认人', 
                                                                    value: order.confirm_by_name!'',
                                                                    disabled: 'disabled'
                                                                }){}%>
                                        </div>
                                        <div class="col-lg-4">
                                            <%include("/eeda/component/form/inputField.html", 
                                                                {   id:'confirm_stamp', 
                                                                    label:'确认时间', 
                                                                    value: order.confirm_stamp!'',
                                                                    disabled: 'disabled'
                                                                }){}%>
                                        </div>
                                        <div class="col-lg-4">
                                            <%include("/eeda/component/form/inputField.html", 
                                                                {   id:'sp_name', 
                                                                    label:'结算公司', 
                                                                    value: order.company_name!'',
                                                                    disabled: 'disabled'
                                                                }){}%>
                                        </div>
                                        <div class="col-lg-4">
                                            <%include("/eeda/component/form/inputField.html", 
                                                                {   id:'car_no_name', 
                                                                    label:'结算车牌', 
                                                                    value: order.car_no_name!'',
                                                                    disabled: 'disabled'
                                                                }){}%>
                                        </div>
                                        <div class="col-lg-4">
                                            <%include("/eeda/component/form/inputDateQueryField.html", 
                                            {   id:'audit', 
                                                label:'对账时间段', 
                                                begin_value: order.begin_time!'',
                                                required:'required',
                                                end_value: order.end_time!''
                                            }){} %>
                                        </div>
                                </div>
                                 <div class="row">
                                     <div class="col-lg-12">
                                         <label>备注</label>
                                         <textarea class="form-control" rows="4" id="remark">${order.remark!''}</textarea>
                                     </div>
                                </div>
                                
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <h4>对账币值金额汇总</h4>
                                        </div>
                                    </div>
					                <div class="col-lg-3">
					                    <%include("/eeda/component/form/inputField.html", { id:'cny',
					                    label:'应付CNY', value:order.cny!'',disabled:'disabled'
					                    }){}%>
					                </div>
					                <div class="col-lg-3">
					                    <%include("/eeda/component/form/inputField.html", { id:'usd',
					                    label:'应付USD', value:order.usd!'',disabled:'disabled'
					                    }){}%>
					                </div>
					                <div class="col-lg-3">
					                    <%include("/eeda/component/form/inputField.html", { id:'hkd',
					                    label:'应付HKD', value:order.hkd!'',disabled:'disabled'
					                    }){}%>
					                </div>
					                <div class="col-lg-3">
					                    <%include("/eeda/component/form/inputField.html", { id:'jpy',
					                    label:'应付JPY', value:order.jpy!'',disabled:'disabled'
					                    }){}%>
					                </div>
					            </div>
                                 <div class="row">
                                        <div class="col-lg-12">
                                            <div class="btn-header" style="font-size: 18px">结算金额汇总</div>
                                        </div>
                                        <div class="col-lg-6">
                                           <%include("/eeda/component/form/inputField.html", { id:'total_amount',
                                        label:'应付人民币总额', value:order.total_amount!'',disabled:'disabled'
                                        }){}%>
                                        </div>
                                 </div>
                                </form>
                                </div>
                                </div>
                            
      <div class="row simple_search_div" id="confirmOrder_div"  style = "margin-top:10px;display:none;">
            <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseChargeInfo" aria-expanded="false" class="collapsed">
                      <i id="collapseChargeIcon " class="fa fa-angle-double-down"></i> 付款确认                                       </a>
                  </h4>
              </div>
            <div id="collapseChargeInfo" class="panel-collapse collapse in" aria-expanded="false" style="height: auto;">
                                <form id="confirmForm">
                                    <!-- <div class="search_panel"> -->
                                      <div class="col-lg-4">

                                        <%include("/eeda/component/form/inputField.html", { id:'audit_status',
                                                    label:'状态', value:order.audit_status!'未处理',disabled:'disabled'
                                                    }){}%>
                                      </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="search-label">付款方式</label>
                                            <input type="hidden" id="payment_method_show" value="${order.payment_method!''}"/>
                                            <select id="payment_method" class="form-control search-control payment_method" name="payment_method" >
                                            <option value=""></option>
                                            <option value="cash" <% if(order.payment_method!'cash'=='cash'){%>selected<% }%>>现金</option>
                                            <option value="transfers" <% if(order.payment_method!''=='transfers'){%>selected<% }%>>转账</option>
                                            <option value="checkTransfers" <% if(order.payment_method!''=='checkTransfers'){%>selected<% }%>>支票转账</option>
                                            </select>
                                        </div>
                                         <div id="transfers_massage" <% if(order.payment_method!'cash'=='cash'){%>style="display:none"<% }%>>
                                            <%include("/eeda/component/form/inputAccountField.html", 
                                            { id:'deposit_bank',
                                            label:'开户行',
                                            value:order.deposit_bank!'',
                                            display_value:order.deposit_bank_input
                                            }){}%>
                                            
                                            <%include("/eeda/component/form/inputField.html", 
                                            { id:'account_no',
                                            label:'付款账号', value:order.account_no!''
                                            }){}%>
                                            
                                            <%include("/eeda/component/form/inputField.html", 
                                            { id:'account_name',
                                            label:'账户名', value:order.account_name!''
                                            }){}%>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                                <label class="search-label">发票类型</label>
                                                <input id="invoice_type_show" type="hidden" value="${order.bill_type!''}">
                                                <select id="bill_type" class="form-control search-control invoice_type" name="bill_type">
                                                    <option></option>
                                                    <option value="wbill" <% if(order.bill_type!'wbill'=='wbill'){%>selected<%}%>>无发票</option>
                                                    <option value="ordinarybill" <% if(order.bill_type!''=='ordinarybill'){%>selected<%}%>>增值税普通发票</option>
                                                    <option value="specialbill" <% if(order.bill_type!''=='specialbill'){%>selected<%}%>>增值税专用发票</option>
                                                    <option value="dbill" <% if(order.bill_type!''=='dbill'){%>selected<%}%>>代开发票(垫付款)</option>
                                                    <option value="HKINVbill" <% if(order.bill_type!''=='HKINVbill'){%>selected<%}%>>HK INV</option>
                                                </select>
                                        </div>
                                    </div>
                                  <div id="projectFee">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                                <label class="search-label">项目</label>
                                                <input id="fee_type_show" type="hidden" value="${order.fee_type!''}">
                                                <select id="fee_type" class="form-control search-control fee_type" name="fee_type">
                                                    <option></option>
                                                    <option value="transFee" <% if(order.fee_type!''=='transFee'){%>selected<%}%>>代理货运服务费</option>
                                                    <option value="customFee" <% if(order.fee_type!''=='customFee'){%>selected<%}%>>代理报关服务费</option>
                                                    <option value="consultFee" <% if(order.fee_type!''=='consultFee'){%>selected<%}%>>咨询服务费</option>
                                                    <option value="internationalFee" <% if(order.fee_type!''=='internationalFee'){%>selected<%}%>>国际货代服务费</option>
                                                </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" style="display:none">
                                                <%include("/eeda/component/form/inputField.html", 
                                                { id:'invoice_money',
                                                    label:'开票金额', 
                                                    value:order.invoice_money!''
                                                    }){}%>
                                    </div>
                                  </div>
                                    <div class="col-lg-12">
                                        <label>发票信息</label>
                                        <textarea id='invoice_no' class="form-control" rows="3" name="invoice_no">${order.invoice_no!''}</textarea>
                                    </div>
                                <!-- </div><br/><br/> -->
        
                               
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <h4>付款金额汇总</h4>
                                        </div>
                                    </div>
                               
                                
                                <div class=" form-group">
                                        <div class="col-lg-4">
                                            <%include("/eeda/component/form/inputField.html", { id:'receive_cny',
                                            label:'本次付款CNY', value:order.residual_cny!''
                                            }){}%>
                                        </div>
                                        <div class="col-lg-4" >
                                            <%include("/eeda/component/form/inputField.html", { id:'residual_cny',
                                            label:'未付余额CNY', value:order.residual_cny!'',disabled:'disabled'
                                            }){}%>
                                        </div>
                                     
                                 </div><br>
                                    <div class=" form-group">
                                        <div class="col-lg-4">
                                            <%include("/eeda/component/form/inputField.html", { id:'charge_confirm_name',
                                            label:' 确认付款人', value:user.c_name!'',disabled:'disabled'
                                            }){}%>
                                       </div>
                                       <div class="col-lg-4">
                                            <%include("/eeda/component/form/dateInputField.html",
                                                    {    id:'receive_time', 
                                                         label:'付款时间',
                                                         required:'required',
                                                         value:order.receive_time!''
                                              }){} %>
                                        </div>
                                     </div>
                                    <div class="button-bar col-lg-12" style = "margin-bottom:15px" >
                                        <button id='charge_confirmBtn' type="button" class="btn  btn_green" disabled >付款确认</button>                                        
                                    </div>
                                </form>                        
                             </div>
                </div>


                                <div class="simple_order_list_div">
                                <div class="group-form" style="margin-top: 15px;">
									<ul id="orderTabs" class="nav nav-tabs">
										<li class="active"><a href="#itemDetail" data-toggle="tab"
											id="costCheckOrderItem">明细信息</a></li>
                                        <li ><a href="#receiptDetail" data-toggle="tab"  id="costCheckreceipt" style="display:none">付款明细信息</a></li>
									</ul>
									<br>
								
                            <div class="tab-content">
                                 <div class="tab-pane fade active in" id="itemDetail">	
                                <div class=col-lg-12>
								    <div class="table_btn_bar">
								   	 	<button class="btn btn_blue" id="add_cost">添加明细</button> 
								    </div>
								</div>
	                               <%include("/eeda/component/form/detailTable.html", 
	                                   {
	                                       id:'eeda-table', 
                                            style: 'width:1500px',
	                                       headers:[
	                                           '<input type="checkbox" id="allcheck" >',
                                               '操作','工作单号','创建时间','柜号',
                                               'so号','提柜时间', '客户','结算公司','费用名称','对账币制',
			                                   '对账金额', '对人民币汇率','对账金额(CNY)', '备注','',
                                               ''
	                                       ],
	                                       field_list:[
	                                           'ID','','ORDER_NO','CREATE_STAMP','CONTAINER_NO',
                                           'SO_NO','cabinet_date','CUSTOMER_NAME', 'SP_NAME', 'fin_name','CURRENCY_NAME',
	                                   'TOTAL_AMOUNT','EXCHANGE_RATE', 'AFTER_TOTAL', 'remark', 'ORDER_TYPE',
                                               'JOB_ORDER_ID'
	                                       ],
	                                       value_list: order.item_list!item_list![]
	                                   }){} %>
	                               </div>
                                   <div class="tab-pane fade  in" id="receiptDetail">
                                        <div class="col-lg-12" style="margin-top:15px;">
                                            <label >剩余金额汇总</label>
                                            <label >CNY:</label><br><br>
                                        </div>
                                            <%include("/eeda/component/form/detailTable.html", 
                                                {
                                                    id:'receip-table', 
                                                    style:'width:700px',
                                                   headers:['币制','应付总金额','上次付款金额','剩余应付金额','付款时间','确认付款人'],
                                                    field_list:['currency_name','total_amount','receive_cny','residual_cny','receive_time','                    receive_name'], 
                                                    value_list: order.receive_itemList!receive_itemList![] 
                                                }){} %>
                                    </div>
                                 </div>
                                
                                <!-- /.panel-body -->
                          <div class="form-group">
                                <div class="col-lg-12">
                                    <br>    
                                    <button id="saveBtn" type="button" class="btn  btn_green" disabled>保存</button> 
                                    <button id="confirmBtn" type="button" class="btn btn_green" disabled>确认</button>
							        <button id="printBtn"  type="button" class="btn btn_white" disabled>打印</button>
                                    <a class="btn btn_white" href="/transCostCheckOrder">返回</a>
                                </div>
                         </div>
        </div>
        <!-- /#page-wrapper -->
        <a id='cost_table_msg_btn' data-target='#cost_table_msg' data-toggle='modal' style='display:none'></a>
      <div class="modal fade" id="cost_table_msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                      <div class="row">
                            <div class="col-lg-4">
                                <%include("/eeda/component/form/inputSpField.html", 
                                    {
                                        id:'que_sp', 
                                        label:'结算公司', 
                                        value: '',
                                        required: 'required'
                                }){} %>
                            </div>
                            <div class="col-lg-4">
                                <%include("/eeda/component/form/inputField.html", 
                                    {   id: 'que_order_no', 
                                        label: '工作单号', 
                                        value: ''
                                    }){}%>
                            </div>    
                      </div>    
                       <div class="row">
                            <div class="col-lg-4">
                                 <%include("/eeda/component/form/inputDateQueryField.html", 
                                         {   id:'que_create_stamp', 
                                             label:'创建日期'
                                         }){} %>
                             </div>
                             <div class="col-lg-4">
                                    <%include("/eeda/component/form/inputCustomerField.html", 
                                         {   id: 'que_customer', 
                                             label: '客户', 
                                             value: ''
                                         }){}%>
                           </div>
                      </div>    
                         <div class="form-group button-bar" >
                            <button id="searchBtn" class="btn btn-primary btn-sm" type="button">查询</button>
                            <button id="resetBtn" class="btn btn-default btn-sm" type="button">清空条件</button>
                            &nbsp&nbsp<input type="checkbox" name="checkOrderAll" id="checkOrderAll" value="Y">查看应收应付<span style="color:red">(红色为应收)</span>
                        </div>
                      <br>
                     <%include("/eeda/component/form/detailTable.html", 
                                        {
                                            id:'eeda_cost_table', 
                                            style: 'width:2000px',
                                            headers:['<input type="checkbox" id="allcost">','工作单号','创建时间','柜号','so号',
                                                '客户','结算公司','费用名称',
                                            '对账金额','对账币制','对人民币汇率','对账金额（CNY）','备注'
                                            ]
                                        }){} %>
                </div>
                <div class="modal-footer">
                     <button id="add_cost_item" type="button" class="btn  btn_green save" data-dismiss="modal">添加</button>
                     <button type="button" class="btn  btn_white" data-dismiss="modal">返回</button>
               </div>
            </div>
        </div>
      </div>
</div>
<%}%>
<script>
	var itemOrder = {};
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/tms/arap/transCostCheckOrder/edit']);
    });
</script>
