<%layout("/WebAdmin/layout.html"){%>
    <div class="pageheader notab overhide">
            <p>
                <h3><strong>用户列表</strong></h3>
                <select class=" select_text" id="location">
                    <option value=''>全国</option>
                    <%
                    	
                    	for(location in locations!)
                    	{ 
                    %>
                    	<option value='${location.code!''}'>${location.city!''}</option>
                   
                    <%
                    	}
                    %>
                </select>
                <select class="select_text" id="user_type">
               		<option value = "0">全部</option>
                    <option value = "1">普通商家</option>
                    <option value = "2">钻石商家</option>
                </select>
            </p>
        <div style="margin:20px 0 0 0px">
			<% for(name in categoryList![]){%>
	      	<input class="stdbtn btn_default searchBtn" style="margin-right:5px" type="button" value="${name.name!''}" >
	      	<%}%>
      	</div>
         <%include("/eeda/component/form/detailTable.html", 
          {
              id:'eeda_table', 
              headers:['序号', '商家', '用户名','负责人','联系电话','分类','店铺电话','地区','注册时间','钻石剩余时间']
          }){} %>
        </div>

<%}%>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
    	 requirejs(['/js/WebAdmin/biz/list.js']);
    });
</script>
