<%layout("/WebAdmin/layout.html"){%>
    <div class="pageheader notab overhide">
            <p>
                <strong>用户列表</strong>
                <select class="ml10">
                    <option>全国</option>
                    <option>珠海</option>
                </select>
                <select class="ml10">
                    <option>普通商家</option>
                    <option>钻石商家</option>
                    <option>全部</option>
                </select>
            </p>
            <br />
            <input type="button" class="delete-btn" value="全部" onclick="GoTradeType(0);" />
                        <input type="button" class="delete-btn" value="影楼" onclick="GoTradeType(1);">
                        <input type="button" class="delete-btn" value="婚礼策划" onclick="GoTradeType(2);">
                        <input type="button" class="delete-btn" value="跟拍摄影" onclick="GoTradeType(3);">
                        <input type="button" class="delete-btn" value="跟拍摄像" onclick="GoTradeType(4);">
                        <input type="button" class="delete-btn" value="化妆" onclick="GoTradeType(5);">
                        <input type="button" class="delete-btn" value="主持" onclick="GoTradeType(6);">
                        <input type="button" class="delete-btn" value="花店" onclick="GoTradeType(7);">
                        <input type="button" class="delete-btn" value="婚品" onclick="GoTradeType(8);">
                        <input type="button" class="delete-btn" value="甜品" onclick="GoTradeType(9);">
                        <input type="button" class="delete-btn" value="租车" onclick="GoTradeType(10);">
                        <input type="button" class="delete-btn" value="礼服" onclick="GoTradeType(11);">
                        <input type="button" class="delete-btn" value="蜜月旅游" onclick="GoTradeType(12);">
                        <input type="button" class="delete-btn" value="烟酒" onclick="GoTradeType(13);">
                        <input type="button" class="delete-btn" value="珠宝" onclick="GoTradeType(14);">
                        <input type="button" class="delete-btn" value="酒店" onclick="GoTradeType(15);">
             <%include("/eeda/component/form/detailTable.html", 
          {
              id:'eeda_table', 
              headers:['序号', '商家', '用户名','负责人','联系电话','分类','店铺电话','城 市','注册时间','级别','钻石剩余时间']
          }){} %>
        </div>

<%}%>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
    	 requirejs(['/js/WebAdmin/biz/list.js']);
    });
</script>
