<%layout("/WebAdmin/layout.html"){%>
        <div class="pageheader notab overhide">
            <div class="baseinfo-list">
                <div class="baseinfo-wrap">注册用户量<br /><strong>${user.total!'0'}人</strong> </div>
            </div>
            <div class="baseinfo-list">
                <div class="baseinfo-wrap">商家申请入驻<br /><strong>2个</strong> </div>
                <div class="baseinfo-wrap">商家入驻量<br /><strong>300人</strong> </div>
                <div class="baseinfo-wrap">上传产品数<br /><strong>${product.total!'0'}个</strong> </div>
                <div class="baseinfo-wrap">上传案例数<br /><strong>${wccase.total!'0'}</strong> </div>
                <div class="baseinfo-wrap">发布视频数<br /><strong>${wcvideo.total!'0'}</strong> </div>
            </div>
            <div class="baseinfo-list">
                <div class="baseinfo-wrap">“促”用户数<br /><strong>${ad_deal.total!'0'}个</strong> </div>
                <div class="baseinfo-wrap">“惠”用户数<br /><strong>${ad_hui.total!'0'}个</strong> </div>
                <div class="baseinfo-wrap">钻石商家数<br /><strong>${dimond.total!'0'}个</strong> </div>
            </div>
            <div class="baseinfo-list">
                <div class="baseinfo-wrap">“促”收入<br /><strong>200元</strong> </div>
                <div class="baseinfo-wrap">“钻石商家”收入<br /><strong>300元</strong> </div>
                <div class="baseinfo-wrap">“淘婚品”收入<br /><strong>200元</strong> </div>
            </div>
            <div class="baseinfo-list">
                <h3>地区管理</h3>
                <div style="margin:5px 0 0 0">
                	<button class="modifibtn" id="add_loc">添加地区</button>
                </div>
                
		        <%include("/eeda/component/form/detailTable.html", 
		          {
		              id:'loc_table', 
		              headers:['地区','操作']
		          }){} %>
        	</div>
        	
        	<div class="baseinfo-list">
                <h3>地区管理</h3>
                <div style="margin:5px 0 0 0">
                	<button class="modifibtn" id="add_category">添加分类</button>
                </div>
                
		        <%include("/eeda/component/form/detailTable.html", 
		          {
		              id:'category_table', 
		              headers:['分类','操作']
		          }){} %>
        	</div>
<!--         <div class="baseinfo-list">
             <h3>分类管理</h3>
      
             <table cellspacing="0" cellpadding="0" border="0" class="stdtable mt10">
                    <colgroup>
                        <col class="con0">
                        <col class="con1">
                        <col class="con0">
                        <col class="con1">
                        <col class="con0">
                    </colgroup>
                    <thead>
                        <tr>
                            <th width="11%" class="head0">粉类</th>
                            <th width="89%" class="head1"><input name="button" type="button" class="modifibtn" value="增加分类"></th>
                        </tr>
                    </thead>                    
                    <tbody>
                        <tr>
                            <td>摄楼</td>
                            <td><input type="button" class="modifibtn" value="删除"  /></td>
                        </tr>
                        <tr>
                            <td> 婚礼策划 </td>
                            <td><input type="button" class="modifibtn" value="删除"  /></td>
                        </tr>
                        <tr>
                          <td> 跟拍摄影 </td>
                          <td><input type="button" class="modifibtn" value="删除"></td>
                        </tr>
                        <tr>
                          <td> 跟拍摄像 </td>
                          <td><input type="button" class="modifibtn" value="删除" /></td>
                        </tr>
                        <tr>
                          <td> 化妆 </td>
                          <td><input name="button2" type="button" class="modifibtn" value="删除" /></td>
                        </tr>
                        <tr>
                          <td> 主持 </td>
                          <td><input name="button3" type="button" class="modifibtn" value="删除" /></td>
                        </tr>
                        <tr>
                          <td> 花店 </td>
                          <td><input name="button4" type="button" class="modifibtn" value="删除" /></td>
                        </tr>
                        <tr>
                          <td> 婚品 </td>
                          <td><input name="button5" type="button" class="modifibtn" value="删除" /></td>
                        </tr>
                        <tr>
                          <td> 甜品 </td>

                          <td><input name="button6" type="button" class="modifibtn" value="删除" /></td>
                        </tr>
                        <tr>
                          <td> 租车 </td>
                          <td><input name="button7" type="button" class="modifibtn" value="删除" /></td>
                        </tr>
                        <tr>
                          <td> 礼服 </td>
                          <td><input name="button8" type="button" class="modifibtn" value="删除" /></td>
                        </tr>
                        <tr>
                          <td> 蜜月旅游 </td>
                          <td><input name="button9" type="button" class="modifibtn" value="删除" /></td>
                        </tr>
                        <tr>
                          <td> 烟酒 </td>
                          <td><input name="button10" type="button" class="modifibtn" value="删除" /></td>
                        </tr>
                        <tr>
                          <td> 珠宝 </td>
                          <td><input name="button11" type="button" class="modifibtn" value="删除" /></td>
                        </tr>
                        <tr>
                          <td> 酒店 </td>
                          <td><input name="button12" type="button" class="modifibtn" value="删除" /></td>
                        </tr>
                    </tbody>
                </table>
        </div> -->
    </div>

<%}%>
<script>
	requirejs(['/js/eeda/eeda-common.js'], function (common) {
	    requirejs(['/js/WebAdmin/index.js']);
	});
</script>
