<%layout("/WebAdmin/layout.html"){%>
<div class="content">
	<div class="pageheader notab overhide">
		<input id="order_id" value="${question.id!''}" type="hidden">
    	<div class="newproject-wrap bdgray">
	        <h3 class="tipsred2">问：${question.title!''}</h3>
	        <h4 class="chzn-disabled mt10">${question.create_time!''}</h4>
	        <input type="text" value="${question.id!''}" id="order_id" style="display:none;">
	        <input type = "button" class="modifibtn" id="answerBtn" value="我要回答">
	        <hr>
	        <ul class="mt10">
	        <% for(list in responseList![]){%>
       	  	<li>
       	  	<div class="row">
       	  		<input type="button" class="delete-btn delete" value="删除" id="${list.id!''}"> <h4 class="chatsearch" >  ${list.value!''}</h4>
       	  		<span class="tipsred2">用户：${list.user_name!''} </span>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="chzn-disabled mt10"> ${list.create_time!''} </span>
       	  	</div>
		   	</li>
		   	<% }%>
        	</ul>
      	</div>
      	
      	
      	<div id="layer">
      	</div>
      	<div class="pop" id="box" >
      		<div style="margin-top:10px">
      		  <textarea rows="8" cols="50" id="answerValue"></textarea>
    	      <div style="margin:10px 0 0 0">
		      <button class="modifibtn" id="saveBtn" >保存</button>
    	      </div>
      		</div>
    	</div>

	</div>
 </div>
<%}%>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
    	 requirejs(['/js/WebAdmin/user/ask/details.js']);
    });
</script>
