<%layout("/eeda/layout.html"){%>
<!-- <link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet">
<link href="/yh/js/plugins/datatables-1.10.9/css/jquery.dataTables.min.css" rel="stylesheet"> -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-list fa-fw"></i>报关通知列表
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">

                            <div class="">  <!--  form row  -->
                                <form id="orderForm">
                                    <div class="row"><!--  第1行  -->
                                        <div class="col-lg-4"><!--  三列排版  -->
                                            <%include("/eeda/component/form/inputField.html", 
                                                                {   id: 'order_no', 
                                                                    label: '工作单号', 
                                                                    value: ''
                                                                }){}%>
                                        </div>
                                        <div class="col-lg-4"><!--  三列排版  -->
                                            <%include("/eeda/component/form/inputField.html", 
                                                                {   id: 'order_no', 
                                                                    label: '报关单号', 
                                                                    value: ''
                                                                }){}%>
                                        </div>
                                        <div class="col-lg-4">
                                            
                                        </div><!-- /.col-lg-4 -->
                                    </div><!-- /.row-->
                                </form>
                            </div><!-- /.row -->

                            <div class="form-group button-bar" >
                                <button id="searchBtn" class="btn btn-primary btn-sm" type="button">查询</button>
                                <button id="resetBtn" class="btn btn-default btn-sm" type="button">清空条件</button>
                                <a class="btn btn-success btn-sm" href="/customOrder/create">新增报关通知单</a>
                            </div>

                            <%include("/eeda/component/form/detailTable.html", 
                                {
                                    id:'eeda-table', 
                                    headers:['工作单号',
                                        '报关单号','报关类型',
                                        '客户名称',
                                        '报关状态']
                                }){} %>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
          
        </div><!-- end of  .page-wrapper-->

<%}%>

<script>
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/oms/customOrder/list']);
    });
</script>
