<%layout("/eeda/layout.html"){%>
	<!-- <link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/yh/css/ui/jquery-ui.css">
    <link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet"> 
    <link href="/yh/js/plugins/datatables-1.10.9/css/jquery.dataTables.min.css" rel="stylesheet"> -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-header" style="font-size:32px">单位</div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <input id="id" type="hidden" name="id" value="${order.id!''}"/>

            <div class="row">  <!--  form row  -->
                <form id="orderForm">
                    <div class="row"><!--  第1行  -->
                        <div class="col-lg-4"><!--  三列排版  -->
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'name', 
                                    label:'单位', 
                                    value:order.NAME!'',
                                    required:'required'
                                }){}%>
                        </div>
                    </div>
                </form>
            </div><!-- /.row -->

            <br>
            <div class="row">
                <div class="col-lg-12">
                    <a id='saveBtn' class="btn  btn-primary" href="#">保存</a>
                    <a class="btn  btn-default" href="/unit">返回</a>
                </div>
                <!-- /.col-lg-12 -->
            </div>


        </div><!--  form row  -->
        <!-- /#page-wrapper -->
<%}%>

<script>
</script>
<script>
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/profile/unit/edit']);
    });
</script>
