<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>创诚易达WMS</title>
    <link rel="stylesheet" href="/js/lib/weui-1.1.2/style/weui.css"/>
    <link rel="stylesheet" href="/js/lib/weui-1.1.2/example/example.css"/>
    <link rel="stylesheet" href="/css/weui/weui.css"/>
</head>
<body ontouchstart>
    <div class="weui-toptips weui-toptips_warn js_tooltips">请输入Part No</div>

    <div class="container" id="container"></div>

    <script type="text/html" id="tpl_home">
<div class="page">
	<div class="page__bd page__bd_spacing">
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">产品库存查询</h4>
        </div>

        <div class="weui-cells weui-cells_form">
			<div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd">
                    <label class="weui-label">Item No</label>
                </div>
                <div class="weui-cell__bd">
                    <input id="item_no" class="weui-input" type="text" placeholder="请输入SP码">
                </div>
                <div class="weui-cell__ft">
                     <button class="weui-vcode-btn" id="qr_btn">二维码</button>
                </div>
            </div>
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd">
                    <label class="weui-label">Part No</label>
                </div>
                <div class="weui-cell__bd">
                    <input id="part_no" class="weui-input" type="text" placeholder="请输入Part No">
                </div>
                <div class="weui-cell__ft">
                     <button class="weui-btn weui-btn_primary" id="clear_btn">清空</button>
                </div>
            </div>
        </div>
        <div class="button-sp-area" style="margin-top: 20px;margin-bottom: 20px;">
            <a href="javascript:;" class="weui-btn weui-btn_primary" id="queryPartNo">查询</a>
        </div>

        <div class="weui-cells" id="dataValue">
        </div>
    </div>
 </div>

<div id="loadingToast" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">        
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>
   

<div id="toast" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <i class="weui_icon_msg weui_icon_warn"></i>
        <p class="weui_toast_content msg"></p>
    </div>
</div>
   
</script>
    <script src="/js/lib/weui-1.1.2/example//zepto.min.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
    <script src="/js/lib/weui-1.1.2/example/example.js"></script>
    <script src="/js/eeda/wms/wx/edit.js?v=1.1"></script>
</body>
</html>
<script type="text/javascript">
wx.config({
    debug: false,
    appId:'${appId}',
    timestamp: '${timestamp}',
    nonceStr: '${nonceStr }',
    signature: '${signature}',
    jsApiList: [
      'checkJsApi',
      'scanQRCode'
    ]
});
</script>