<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>创诚易达WMS</title>
    <link rel="stylesheet" href="/js/lib/weui-1.1.2/style/weui.css"/>
    <link rel="stylesheet" href="/js/lib/weui-1.1.2/example/example.css"/>
</head>
<body ontouchstart>
    <div class="weui-toptips weui-toptips_warn js_tooltips">请输入Part No.</div>

    <div class="container" id="container"></div>

    <script type="text/html" id="tpl_home">
<div class="page">


    <div class="page__bd page__bd_spacing">
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">产品库存查询</h4>
            <p class="weui-media-box__desc">可手工输入Part No.查询，也可通过扫描二维码查询。</p>
        </div>

        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd">
                    <label class="weui-label">Part No.</label>
                </div>
                <div class="weui-cell__bd">
                    <input id="part_no" class="weui-input" type="text" placeholder="请输入Part No.">
                </div>

                <div class="weui-cell__ft">
                     <button class="weui-vcode-btn" id="queryPartNo">查询</button>
                </div>
            </div>
            
        </div>
         <div class="button-sp-area" style="margin-top: 20px;margin-bottom: 20px;">
            <a href="javascript:;" class="weui-btn weui-btn_primary" id="qr_btn">扫描二维码</a>
        </div>

        <div class="weui-cells">

            <a class="weui-cell weui-cell_access" href="/wx/showImg">
                <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>PartNo1</p>
                </div>
                <div class="weui-cell__ft">库存：3000</div>
            </a>
            <a class="weui-cell weui-cell_access" href="/wx/showImg">
                <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>PartNo2</p>
                </div>
                <div class="weui-cell__ft">库存：1000</div>
            </a>
        </div>

       
    </div>
 </div><!-- home -->

    
   


   
</script>
    <script src="/js/lib/weui-1.1.2/example//zepto.min.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
    <script src="/js/lib/weui-1.1.2/example/example.js"></script>
</body>
</html>
<script type="text/javascript">
 wx.config({
    debug: true,
    appId:'${appId}',
    timestamp: '${timestamp}',
    nonceStr: '${nonceStr }',
    signature: '${signature}',
    jsApiList: [
      'checkJsApi',
      'scanQRCode'
    ]
  });


        $(function(){
            var $tooltips = $('.js_tooltips');
            $('#queryPartNo').on('click', function(){
                if($('#part_no').val().length>0){
                    console.log('click 查询按钮...')
                }else{
                    if ($tooltips.css('display') != 'none') return;

                    // toptips的fixed, 如果有`animation`, `position: fixed`不生效
                    $('.page.cell').removeClass('slideIn');

                    $tooltips.css('display', 'block');
                    setTimeout(function () {
                        $tooltips.css('display', 'none');
                    }, 2000);
                }
            });

            $('#qr_btn').on('click', function(){
                wx.scanQRCode({
                    needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                    scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                    success: function (res) {
                        var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                        console.log(result);
                    }
                });
            });
        });
   
  </script>
