<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<%  
            var map = permissionMap!'';
			
            for(module in modules![]){
        %>
                <dl id="menu-article">
					<dt><i class="Hui-iconfont">&#xe616;</i> ${module.module_name!}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
					<dd>
	                    <% if(module.orders != null ){%>
	                        <ul>
	                            <%
	                            for(menu_order in module.orders){
	                            %>
	                            	<li><a href="/${menu_order.url!''}" title="${menu_order.module_name!}">${menu_order.module_name!}</a></li>
	                            <%}%>
	                        </ul>
	                    <%}%>
	                </dd>
				</dl>
        <%  }%>
	</div>
</aside>
<div class="dislpayArrow hidden-xs">
	<a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>