/* kevin added */
/* 图片阴影 */
.shadow{  
  -webkit-box-shadow:10px 10px 10px #808080;  
  -moz-box-shadow:10px 10px 10px #808080;  
  box-shadow: 10px 10px 10px #808080;  
}  

.file {
    position: relative;
    display: inline-block;
    background: #53c2ff;
    border: 1px solid #24abe6;
    border-radius: 2px;
    padding: 4px 12px;
    overflow: hidden;
    color: #ffffff;
    font-weight:bold;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    box-shadow: 1px 1px 2px #96e9fe, 1px 1px 2px #96e9fe, 1px 1px 2px #96e9fe, inset 1px 1px 2px #96e9fe;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #1eadfb;
    border-color: #44aaee;
    color: #ffffff;
    font-weight:bold;
    text-decoration: none;
}

.input_text{ padding: 8px 5px; border: 1px solid #ccc; width: 85%;
    border-radius: 2px; background: #fcfcfc; vertical-align: middle; 
    -moz-box-shadow: inset 0 1px 3px #ddd; 
    -webkit-box-shadow: inset 0 1px 3px #ddd; 
    box-shadow: inset 0 1px 3px #ddd; 
    color: #666
}

.input_text:focus {
    padding: 8px 5px; border: 1px solid #ccc; 
    border-radius: 2px; background: #fcfcfc; vertical-align: middle; 
    -moz-box-shadow: inset 0 0px 1px #ddd; 
    -webkit-box-shadow: inset 0 0px 1px #ddd; 
    box-shadow: inset 0 0px 1px #ddd; 
    color: #666
}

.input_div{
	margin-left:50px;
	width:400px;
}
