<%layout("/eeda/layout.html"){%>
	<link href="/js/lib/sco/css/sco.message.css" rel="stylesheet">
	<div id="page-wrapper">
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<form name="form1" id="editForm" method="post" action="/role/editRole">
							<div class="row">
								<div class="col-lg-8">
									<div class="form-group ">
										<input id="role_id" class="form-control" type="hidden" name="id" value="${role.id!''}">
										<label class="control-label" for="inputSuccess">岗位名称</label> 
										<input id="rolename" class="form-control" type="text" name="rolename" value="${role.name!''}">
									</div>	
									<div class="form-group">
											<label>备注</label>
											<textarea class="form-control" rows="3" id="roleremark" >${role.remark!''}</textarea>
									</div>
								</div>

								<br/>
								<div class="col-lg-12">
									<div class="row simple_rectangle_title_div">
										<div class="font_style">权限分配</div>
									</div>
								</div>

								<%for(menu in menu_list![]){ %>
									<div class="col-lg-12">
										<div class="form-group">
											<h4>${menu.MODULE_NAME}</h4>

											<%for(module in menu.MODULE_LIST![]){ %>
												<div class="form-group" style="padding-left: 100px;">
													<label style="margin-right: 10px;" module_id="${module.ID}">${module.MODULE_NAME}</label>

													<%for(permission in module.PERMISSION_LIST![]){ %>
													    <label class="checkbox-inline" style="margin-top: 0px;">
													        <input type="checkbox" class="btn_id" style="margin-left: -15px;" 
													            module_id="${module.ID}" 
													            permission_id="${permission.PERMISSION_ID!''}"
													            role_permission_id="${permission.ID!''}" 
													            name="${permission.PERMISSION_CODE}" 
													            code="${permission.PERMISSION_CODE}" 
													            
													            <% if(permission.is_authorize == 1){
													            	print(' checked');
													            }%>
													            <% if(role.code == 'admin'){
													            	print(' disabled');
													            }%>
													            >${permission.PERMISSION_NAME}
													    </label>
												    <%}%>
												</div>
											<%}%>
										</div>
									</div>
								<%}%>


								<div class="col-lg-12">
									<div class="form-group">
										<button id="saveBtn" class="btn btn-primary btn-sm" type="button">保存</button>
										<a class="btn btn-primary btn-sm" href="/role"> 返回 </a>
									</div>
								</div>
						</form>
					</div>
				</div>
			</div>
			
			


		</div>
	</div>
<%}%>
		
<script>
    //app根目录在WebRoot/js/
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/profile/role/edit']);
    });
</script>

