<%layout("/WebAdmin/layout.html"){%>
    <div class="pageheader notab overhide">
    <input type="hidden" value="${user.id!''}" id="user_id">
      <div class="bd-detail">
      <p class="bd"><span>用户:${user.user_name!''}</span><span> 婚期：${user.wedding_date!''}</span> <input type="button" value="删除用户" class="red-deletbtn deleteBtn" /></p>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="userdetailtable bdtable mt10">
        <tr>
          <td rowspan="2">账号资料</td>
          <td><span>账号：${user.phone!''} </span>
        </tr>
        <tr>
          <td><span>手机： ${user.phone!''}</span> <span>邀请码：${user.invitation_code!''} </span>     <span>注册时间：${user.create_time!''} </span></td>
        </tr>
        <!-- <tr>
          <td rowspan="2">新人资料</td>
          <td><span>周某茜</span>  <span>珠海</span> <span>1343191420</span> <span>1992-1-1</span></td>
        </tr>
        <tr>
          <td><span>陈某村</span>  <span>珠海</span> <span>1349391930</span>  <span> 2015-1-1</span></td>
        </tr> -->
      </table>
      <!--筹备表开始-->
      
      
      <div style="margin-top:20px">
      	   <h3>用户婚筹项目记录</h3>
      	   <%include("/eeda/component/form/detailTable.html", 
            {
                id:'eeda_table', 
                headers:['项目名称','项目内容','完成时间']
        	}){} %>
      </div>
      
      
      

      <div class="mt10" style="float:left; width:49%;display:none">
        <h4>筹备项目记录</h4>
        <table class="userdetailtable" border="1" cellpadding="0" cellspacing="0" width="100%">
  	  <tr>
    <td height="19" width="72">序号</td>
    <td width="61">　</td>
    <td width="406">项目</td>
    <td width="87">　</td>
    <td width="109">　</td>
    <td width="181">完成时间</td>
  </tr>
  <tr>
    <td height="21">1</td>
    <td align="right">10</td>
    <td colspan="4"><strong>定日子</strong></td>
  </tr>
  <tr>
    <td height="21">2</td>
    <td>　</td>
    <td width="406">婚前体检</td>
    <td width="87">　</td>
    <td width="109">　</td>
    <td>2016-01-02-21:00:00</td>
  </tr>
  <tr>
    <td height="21">3</td>
    <td>　</td>
    <td width="406">选购婚戒</td>
    <td width="87">　</td>
    <td>优惠购 到珠宝</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">4</td>
    <td>　</td>
    <td width="406">订购鲜花</td>
    <td width="87">　</td>
    <td width="109">　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">5</td>
    <td>　</td>
    <td width="406">登记预约</td>
    <td width="87">　</td>
    <td width="109">　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">6</td>
    <td align="right">9</td>
    <td colspan="4" width="783"><strong>订婚宴</strong></td>
  </tr>
  <tr>
    <td height="21">7</td>
    <td>　</td>
    <td>制定结婚费用预算表</td>
    <td>下载</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">8</td>
    <td>　</td>
    <td>确定酒店(酒店洽谈列表)</td>
    <td>下载</td>
    <td>优惠购 到酒店</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">9</td>
    <td>　</td>
    <td>商讨开支分配</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">10</td>
    <td>　</td>
    <td>草拟宴客名单</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">11</td>
    <td>　</td>
    <td>确定宴客名单</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">12</td>
    <td>　</td>
    <td>确定酒席桌数</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">13</td>
    <td>　</td>
    <td>预定酒席</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">14</td>
    <td>　</td>
    <td>试菜、确订婚宴菜肴</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">15</td>
    <td>　</td>
    <td>确认婚宴现场的音响效果</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">16</td>
    <td>　</td>
    <td>选定婚礼蛋糕</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">17</td>
    <td>　</td>
    <td width="406">制定婚礼当天座位表</td>
    <td width="87">下载</td>
    <td width="109">　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">18</td>
    <td>　</td>
    <td>购买喜帖</td>
    <td>　</td>
    <td>优惠购 到婚品</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">19</td>
    <td>　</td>
    <td>发请柬</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">20</td>
    <td>　</td>
    <td>电话通知外地亲友</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">21</td>
    <td>　</td>
    <td>网上发布结婚通知 </td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">22</td>
    <td>　</td>
    <td>宴客名单确认总表</td>
    <td>下载</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">23</td>
    <td>　</td>
    <td>及时反馈亲友受邀信息</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">24</td>
    <td>　</td>
    <td>对于重要亲友再次确认 </td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">25</td>
    <td align="right">8</td>
    <td colspan="4" width="783"><strong>拍婚照</strong></td>
  </tr>
  <tr>
    <td height="21">26</td>
    <td>　</td>
    <td>挑选婚纱影楼</td>
    <td>　</td>
    <td>优惠购 到影楼</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">27</td>
    <td>　</td>
    <td>确订婚纱影楼</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">28</td>
    <td>　</td>
    <td>拍摄婚纱照</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">29</td>
    <td>　</td>
    <td>选片</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">30</td>
    <td align="right">7</td>
    <td colspan="4"><strong>订婚庆</strong></td>
  </tr>
  <tr>
    <td height="21">31</td>
    <td>　</td>
    <td>挑选婚庆公司</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">32</td>
    <td>　</td>
    <td>就婚礼当天计划与设想与之沟通</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">33</td>
    <td>　</td>
    <td>确定婚庆公司</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">34</td>
    <td>　</td>
    <td>与酒店、婚庆协调婚宴布置细节</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">35</td>
    <td>　</td>
    <td>确定跟拍摄影</td>
    <td>　</td>
    <td>优惠购 到跟拍摄影</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">36</td>
    <td>　</td>
    <td>确定跟拍摄像</td>
    <td>　</td>
    <td>优惠购 到跟拍摄像</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">37</td>
    <td>　</td>
    <td>确定司仪</td>
    <td>　</td>
    <td>优惠购 到司仪</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">38</td>
    <td>　</td>
    <td>新娘试妆</td>
    <td>　</td>
    <td>优惠购 到化妆</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">39</td>
    <td>　</td>
    <td>确认婚礼当天的造型 </td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">40</td>
    <td>　</td>
    <td>预演新娘动作 台步 交杯酒动作</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">41</td>
    <td>　</td>
    <td>确定伴郎，伴娘人选</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">42</td>
    <td>　</td>
    <td>确定伴郎，伴娘礼服</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">43</td>
    <td>　</td>
    <td>确定姐妹，兄弟礼服</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">44</td>
    <td>　</td>
    <td>预约主婚人，证婚人</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">45</td>
    <td>　</td>
    <td>确认婚礼当天要发言人</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">46</td>
    <td>　</td>
    <td>确定花童</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">47</td>
    <td>　</td>
    <td>确定花童礼服</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">48</td>
    <td>　</td>
    <td>确定领位人</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">49</td>
    <td>　</td>
    <td>贵重物品看管人</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">50</td>
    <td>　</td>
    <td>完成婚礼致辞</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">51</td>
    <td>　</td>
    <td>制定婚礼当天流程表</td>
    <td>下载</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">52</td>
    <td>　</td>
    <td>复印多份婚礼当天流程表</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">53</td>
    <td>　</td>
    <td>向单位申请婚假</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">54</td>
    <td>　</td>
    <td>沟通伴郎伴娘职责 </td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">55</td>
    <td>　</td>
    <td>调换崭新钞票 </td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">56</td>
    <td>　</td>
    <td>确定滚床儿童</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">57</td>
    <td>　</td>
    <td>为远道而来的亲友准备客房</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">58</td>
    <td>　</td>
    <td>确定新娘捧花</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">59</td>
    <td>　</td>
    <td>预约花车</td>
    <td>　</td>
    <td>优惠购 到租车</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">60</td>
    <td>　</td>
    <td>确定婚车数量 </td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">61</td>
    <td>　</td>
    <td>选定婚车司机</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">62</td>
    <td>　</td>
    <td>选好花车样式（建议在男方家附近找花店）</td>
    <td>　</td>
    <td>优惠购 到花店</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">63</td>
    <td>　</td>
    <td>预约扎花车时间地点</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">64</td>
    <td>　</td>
    <td>确定婚礼当天婚车行进路线及所需时间 </td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">65</td>
    <td align="right">6</td>
    <td colspan="4"> <strong>选礼服</strong></td>
  </tr>
  <tr>
    <td height="21">66</td>
    <td>　</td>
    <td>选购婚纱，礼服</td>
    <td>　</td>
    <td>优惠购 礼服</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">67</td>
    <td>　</td>
    <td>准备各式嫁妆</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">68</td>
    <td>　</td>
    <td>选购要佩戴的首饰 </td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">69</td>
    <td>　</td>
    <td>隐形BAR</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">70</td>
    <td>　</td>
    <td>新娘的新鞋</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">71</td>
    <td>　</td>
    <td>新郎的皮鞋</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">72</td>
    <td align="right">5</td>
    <td colspan="4" width="783">淘婚品</td>
  </tr>
  <tr>
    <td height="21">73</td>
    <td>　</td>
    <td>床上用品</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">74</td>
    <td>　</td>
    <td>家电、家具</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">75</td>
    <td>　</td>
    <td>保持新房通风透气</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">76</td>
    <td>　</td>
    <td>红包</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">77</td>
    <td>　</td>
    <td>喜碗</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">78</td>
    <td>　</td>
    <td>喜字</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">79</td>
    <td>　</td>
    <td width="406">敬茶用具</td>
    <td width="87">　</td>
    <td width="109">　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">80</td>
    <td>　</td>
    <td>一次性杯</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">81</td>
    <td>　</td>
    <td>喜糖</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">82</td>
    <td>　</td>
    <td>彩带</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">83</td>
    <td>　</td>
    <td>拉纱</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">84</td>
    <td>　</td>
    <td>缎带</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">85</td>
    <td>　</td>
    <td>蜡烛</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">86</td>
    <td>　</td>
    <td>拉花</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">87</td>
    <td>　</td>
    <td>喷物</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">88</td>
    <td>　</td>
    <td>礼炮</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">89</td>
    <td>　</td>
    <td>香烟</td>
    <td>　</td>
    <td>优惠购 到烟酒</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">90</td>
    <td>　</td>
    <td>酒水</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>

  </tr>
  <tr>
    <td height="21">91</td>
    <td>　</td>
    <td>葡萄汁（敬酒用）</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">92</td>
    <td>　</td>
    <td>饮料 </td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">93</td>
    <td>　</td>
    <td>茶叶</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">94</td>
    <td>　</td>
    <td>水果</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">95</td>
    <td>　</td>
    <td>红枣（早）</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">96</td>
    <td>　</td>
    <td>花生（生）</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">97</td>
    <td>　</td>
    <td>桂元肉（贵）</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">98</td>
    <td>　</td>
    <td>瓜子（子）</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">99</td>
    <td>　</td>
    <td width="406">鞭炮</td>
    <td width="87">　</td>
    <td width="109">　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">100</td>
    <td>　</td>
    <td>胶布(透明胶，双面胶)</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">101</td>
    <td>　</td>
    <td>签到本，记账本</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">102</td>
    <td>　</td>
    <td>彩色气球(充气抢)</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">103</td>
    <td>　</td>
    <td>雨具（以防婚礼当天下雨）</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">104</td>
    <td>　</td>
    <td>备用电池 或 移动电源 2块</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">105</td>
    <td>　</td>
    <td>救药箱（以防万一）</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">106</td>
    <td>　</td>
    <td>止痛药</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">107</td>
    <td>　</td>
    <td>助消化药</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">108</td>
    <td>　</td>
    <td>创可贴</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">109</td>
    <td>　</td>
    <td>吸管（不会弄坏唇彩）</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">110</td>
    <td>　</td>
    <td>距婚礼还剩几了天，截图预告朋友圈</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">111</td>
    <td align="right">4</td>
    <td colspan="4"><strong>美新娘</strong></td>
  </tr>
  <tr>
    <td height="21">112</td>
    <td>　</td>
    <td>新娘开始皮肤保养 </td>

    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">113</td>
    <td>　</td>
    <td>制定新娘美容计划</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">114</td>
    <td>　</td>
    <td>新娘美体与保养</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">115</td>
    <td>　</td>
    <td>新娘化妆品</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">116</td>
    <td>　</td>
    <td>新娘补妆盒</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">117</td>
    <td align="right">3</td>
    <td colspan="4"><strong>婚礼前一天筹备</strong></td>
  </tr>
  <tr>
    <td height="21">118</td>
    <td>　</td>
    <td>布置新房</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">119</td>
    <td>　</td>
    <td>整理新房、摆放婚礼物品</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">120</td>
    <td>　</td>
    <td>新房装饰、清扫</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">121</td>
    <td>　</td>
    <td>与化妆师约好上门时间</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">122</td>
    <td>　</td>
    <td>与摄像师约好上门时间</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">123</td>
    <td>　</td>
    <td>与摄影师约好上门时间</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">124</td>
    <td>　</td>
    <td>准备婚纱相册及光盘</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">125</td>
    <td>　</td>
    <td>检查首饰、饰品及化妆品</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">126</td>
    <td>　</td>
    <td>手机充电 及 移动电源</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">127</td>
    <td>　</td>
    <td>购买家居鲜花</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">128</td>
    <td>　</td>
    <td>保证充足的睡眼</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">129</td>
    <td>　</td>
    <td>姐妹准备各种导具</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">130</td>
    <td>　</td>
    <td>抢亲时新娘提问准备 </td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">131</td>
    <td>　</td>
    <td>确认婚礼当天要发言人的准备情况 </td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">132</td>
    <td>　</td>
    <td>将婚礼当天要穿的所有服装分装口袋 </td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">133</td>
    <td>　</td>
    <td>准备两瓶葡萄汁（假酒）</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">134</td>
    <td>　</td>
    <td>准备婚礼当天新郎新娘的快餐干粮 </td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">135</td>
    <td>　</td>
    <td>最后检查所有物品并交于专人保管</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">136</td>
    <td>　</td>
    <td>准备闹钟</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">137</td>
    <td align="right">2</td>
    <td colspan="4"><strong>婚礼当天</strong></td>
  </tr>
  <tr>
    <td height="21">138</td>
    <td>　</td>
    <td>结算所有费用   （婚礼预算表）</td>
    <td>下载</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">139</td>
    <td>　</td>
    <td>清点礼金总数</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">140</td>
    <td>　</td>
    <td>电话感谢帮忙的工作人员</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">141</td>
    <td align="right">1</td>
    <td colspan="4"><strong>度蜜月</strong></td>
  </tr>
  <tr>
    <td height="21">142</td>
    <td>　</td>
    <td>收集蜜月旅行资料</td>
    <td>　</td>
    <td>优惠购 到蜜月</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">143</td>
    <td>　</td>
    <td>安排蜜月时间、行程</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">144</td>
    <td>　</td>
    <td>确定蜜月行程</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">145</td>
    <td>　</td>
    <td>准备蜜月行李物品</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
  <tr>
    <td height="21">146</td>
    <td>　</td>
    <td>整理好蜜月行行李物品</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
  </tr>
</table>
      </div>
      <!--筹备表1结束-->
      <div class="mt10" style="float:left; margin-left:10px; width:49%;display:none">
        <h4>筹备时间记录</h4>
        <table class="userdetailtable" border="1" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td colspan="1" height="19" rowspan="1" width="72">序号</td>
    <td colspan="1" rowspan="1" width="22">　</td>
    <td colspan="1" rowspan="1" width="321">项目</td>
    <td colspan="1" rowspan="1" width="42">　</td>
    <td colspan="1" rowspan="1" width="142">　</td>
    <td colspan="1" rowspan="1" width="181">完成时间</td>
  </tr>
  <tr>
    <td colspan="1" height="19" rowspan="1">1</td>
    <td align="right" colspan="1" rowspan="1">1</td>
    <td colspan="4" rowspan="1"><strong>前6个月</strong></td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">2</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1" width="321">婚前体检</td>
    <td colspan="1" rowspan="1" width="42">　</td>
    <td colspan="1" rowspan="1" width="142">　</td>
    <td colspan="1" rowspan="1">2016-01-02-21:00:00</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">3</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1" width="321">选购婚戒</td>
    <td colspan="1" rowspan="1" width="42">　</td>
    <td colspan="1" rowspan="1">优惠购 到珠宝</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">4</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1" width="321">订购鲜花</td>
    <td colspan="1" rowspan="1" width="42">　</td>
    <td colspan="1" rowspan="1" width="142">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">5</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1" width="321">登记预约</td>
    <td colspan="1" rowspan="1" width="42">　</td>
    <td colspan="1" rowspan="1" width="142">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">6</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">制定结婚费用预算表</td>
    <td colspan="1" rowspan="1">下载</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">7</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确定酒店(酒店洽谈列表)</td>
    <td colspan="1" rowspan="1">下载</td>
    <td colspan="1" rowspan="1">优惠购 到酒店</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">8</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">商讨开支分配</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">9</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">草拟宴客名单</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">10</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确定宴客名单</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">11</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确定酒席桌数</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">12</td>
    <td align="right" colspan="1" rowspan="1">2</td>
    <td colspan="4" rowspan="1"><strong>前5个月</strong></td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">13</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">挑选婚纱影楼</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">优惠购 到影楼</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">14</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确订婚纱影楼</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1"><br clear="none"/></td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">15</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">拍摄婚纱照</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">16</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">选片</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">17</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">挑选婚庆公司</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">18</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">就婚礼当天计划与设想与之沟通</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">19</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确订婚庆公司</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">20</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">与酒店、婚庆协调婚宴布置细节</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">21</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">预定酒席</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">22</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">试菜、确订婚宴菜肴</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">23</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确认婚宴现场的音响效果</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">24</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">选定婚礼蛋糕</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">25</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1" width="321">制定婚礼当天座位表</td>
    <td colspan="1" rowspan="1">下载</td>
    <td colspan="1" rowspan="1" width="142">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">26</td>
    <td align="right" colspan="1" rowspan="1">3</td>
    <td colspan="4" rowspan="1" width="686"><strong>前三个月</strong></td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">27</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">购买喜帖</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">优惠购 到婚品</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">28</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">发请柬</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">29</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">电话通知外地亲友</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">30</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">网上发布结婚通知 </td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">31</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">宴客名单确认总表</td>
    <td colspan="1" rowspan="1">下载</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">32</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">及时回馈亲友受邀信息</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">33</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">对于重要亲友再次确认 </td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">34</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">选购婚纱，礼服</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">优惠购 礼服</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">35</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">准备各式嫁妆</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">36</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">选购要佩戴的首饰 </td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">37</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">新郎的皮鞋</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">38</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">新娘的新鞋</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">39</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">隐形BAR</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">40</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">床上用品</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">41</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">家电、家具</td>
    <td colspan="1" rowspan="1">　</td>

    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">42</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">保持新房通风透气</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">43</td>
    <td align="right" colspan="1" rowspan="1">4</td>
    <td colspan="4" rowspan="1"><strong>前两个月</strong></td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">44</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">红包</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">45</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">喜碗</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">46</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">喜字</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">47</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1" width="321">敬茶用具</td>
    <td colspan="1" rowspan="1" width="42">　</td>
    <td colspan="1" rowspan="1" width="142">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">48</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">一次性杯</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">49</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">喜糖</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">50</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">彩带</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">51</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">拉纱</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">52</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">缎带</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">53</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">蜡烛</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">54</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">拉花</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">55</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">喷物</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">56</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">礼炮</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">57</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">香烟</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">优惠购 到烟酒</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">58</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">酒水</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1"><br clear="none"/></td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">59</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">葡萄汁（敬酒用）</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">60</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">饮料 </td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">61</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">茶叶</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">62</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">水果</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">63</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">红枣（早）</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">64</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">花生（生）</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">65</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">桂元肉（贵）</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">66</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">瓜子（子）</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">67</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1" width="321">鞭炮</td>
    <td colspan="1" rowspan="1" width="42">　</td>
    <td colspan="1" rowspan="1" width="142">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">68</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">胶布(透明胶，双面胶)</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">69</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">签到本，记账本</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">70</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">彩色气球(充气抢)</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">71</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">雨具（以防婚礼当天下雨）</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">72</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">备用电池 或 移动电源 2块</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">73</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">救药箱（以防万一）</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">74</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">止痛药</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">75</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">助消化药</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">76</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">创可贴</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">77</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">吸管（不会弄坏唇彩）</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">78</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">新娘化妆品</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">79</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">新娘补妆盒</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">80</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">新娘开始皮肤保养 </td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">81</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">制定新娘美容计划</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">82</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">新娘美体与保养</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">83</td>
    <td align="right" colspan="1" rowspan="1">5</td>
    <td colspan="4" rowspan="1"><strong>前一个月</strong></td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">84</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确定伴郎，伴娘人选</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">85</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">预约主婚人，证婚人</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">86</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确认婚礼当天要发言人</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">87</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确定花童</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">88</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确定领位人</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">89</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">贵重物品看管人</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">90</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确定跟拍摄影</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">优惠购 到跟拍摄影</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">91</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确定跟拍摄像</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">优惠购 到跟拍摄像</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">92</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确定司仪</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">优惠购 到司仪</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">93</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">新娘试妆</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">优惠购 到化妆</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">94</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确认婚礼当天的造型 </td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">95</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确定伴郎，伴娘礼服</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">96</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确定姐妹，兄弟礼服</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">97</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确定花童礼服</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">98</td>
    <td align="right" colspan="1" rowspan="1">6</td>
    <td colspan="4" rowspan="1"><strong>前一个星期</strong></td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">99</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">距婚礼还剩几了天，截图预告朋友圈</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">100</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">沟通新郎新娘职责 </td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">101</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">完成婚礼致辞</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">102</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">制定婚礼当天流程表</td>
    <td colspan="1" rowspan="1">下载</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">103</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">复印多份婚礼当天流程表</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">104</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">向单位申请婚假</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">105</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">预约花车</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">优惠购 到租车</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">106</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确订婚车数量 </td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">107</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">选订婚车司机</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">108</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">选好花车样式（建议在男方家附近找花店）</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">优惠购 到花店</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">109</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">预约扎花车时间地点</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">110</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确定婚礼当天婚车行进路线及所需时间 </td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">111</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确定新娘捧花</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">112</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">为远道而来的亲友准备客房</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">113</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">整理新房、摆放婚礼物品</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">114</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">新房装饰、清扫</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">115</td>
    <td align="right" colspan="1" rowspan="1">7</td>
    <td colspan="4" rowspan="1"><strong>前一天筹备</strong></td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">116</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">布置新房</td>
    <td colspan="1" rowspan="1">　</td>

    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">117</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">调换崭新钞票 </td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">118</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确定滚床儿童</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">119</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">预演新娘动作 台步 交杯酒动作</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">120</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">购买家居鲜花</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">121</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">准备婚纱相册及光盘</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">122</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">与化妆师约好上门时间</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">123</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">与摄像师约好上门时间</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">124</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">与摄影师约好上门时间</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">125</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">检查首饰、饰品及化妆品</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">126</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">手机充电 及 移动电源</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">127</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">保证充足的睡眼</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">128</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">姐妹准备各种导具</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">129</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">抢亲时新娘提问准备 </td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">130</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确认婚礼当天要发言人的准备情况 </td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">131</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">将婚礼当天要穿的所有服装分装口袋 </td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">132</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">准备两瓶葡萄汁（假酒）</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">133</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">准备婚礼当天新郎新娘的快餐干粮 </td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">134</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">最后检查所有物品并交于专人保管</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">135</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">准备闹钟</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">136</td>
    <td align="right" colspan="1" rowspan="1">8</td>
    <td colspan="4" rowspan="1"><strong>当天</strong></td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">137</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">结算所有费用   （婚礼预算表）</td>
    <td colspan="1" rowspan="1">下载</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">138</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">清点礼金总数</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">139</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">电话感谢帮忙的工作人员</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">140</td>
    <td align="right" colspan="1" rowspan="1">9</td>
    <td colspan="4" rowspan="1"><strong>渡蜜月</strong></td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">141</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">收集蜜月旅行资料</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">优惠购 到蜜月</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">142</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">安排蜜月时间、行程</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">143</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">确定蜜月行程</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">144</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">准备蜜月行李物品</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
  <tr>
    <td colspan="1" height="21" rowspan="1">145</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">整理好蜜月行行李物品</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
    <td colspan="1" rowspan="1">　</td>
  </tr>
</table>
      </div>
      </div>
      
      
    </div>


<%}%>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
    	 requirejs(['/js/WebAdmin/user/edit.js']);
    });
</script>
