<%layout("/WebAdmin/layout.html"){%>
    <div class="pageheader notab overhide">
        <p><strong>用户列表</strong><select class="ml10"><option>全国</option><option>珠海</option></select></p>

        <%include("/eeda/component/form/detailTable.html", 
            {
                id:'eeda-table', 
                headers:['序 号','用 户','邮 箱','邀请码','婚 期',
                    '新 郎','城 市','电 话','生 日','新 娘','电 话','生 日','注册时间']
            }){} %>
<!--         <table cellspacing="0" cellpadding="0" border="0" class="stdtable mt10" >
            <colgroup>
                <col class="con0">
                <col class="con1">
                <col class="con0">
                <col class="con1">
                <col class="con0">
            </colgroup>
            <thead>
                <tr>
                    <th class="head0">序 号</th>
                    <th class="head1">用 户</th>
                    <th class="head1">邮 箱</th>
                    <th class="head0">邀请码</th>
                    <th class="head1">婚 期</th>
                    <th class="head0">新 郎</th>
                    <th class="head1">城 市</th>
                    <th class="head0">电 话</th>
                    <th class="head1">生 日</th>
                    <th class="head0">新 娘</th>
                    <th class="head1">城 市</th>
                    <th class="head0">电 话</th>
                    <th class="head1">生 日</th>
                    <th class="head0">注册时间</th>
                </tr>
            </thead>
            <tbody>
                                <tr>
                    <td>3</td>
                    <td><a href="/WebAdmin/customer/edit?id=2">18088823274</a></td>
                    <td>125889170@qq.com</td>
                    <td>无</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2016-04-15 18:14:31</td>
                </tr>
                                <tr>
                    <td>1</td>
                    <td><a href="/WebAdmin/customer/edit?id=1">18088823273</a></td>
                    <td>125889169@qq.com</td>
                    <td>无</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2016-04-15 18:06:16</td>
                </tr>
                            </tbody>
        </table>
        <div class="dataTables_paginate paging_full_numbers" id="dyntable2_paginate">
            <span class="first paginate_button paginate_button_disabled" id="dyntable2_first" onclick="javascript:GoPage(1);">First</span>
            <span class="previous paginate_button paginate_button_disabled" id="dyntable2_previous" onclick="javascript:GoPage(1);">Previous</span>
            <span>
                                <span class="paginate_active">1</span>
                            </span>
            <span class="next paginate_button" id="dyntable2_next" onclick="javascript:GoPage(1);">Next</span>
            <span class="last paginate_button" id="dyntable2_last" onclick="javascript:GoPage(1)">Last</span>
        </div>
    </div> -->


<%}%>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
    	 requirejs(['app/msgBoard/list']);
    });
</script>
