<%layout("/WebAdmin/layout.html"){%>
    <div class="pageheader notab overhide">
        <p><strong>用户列表</strong><select class="ml10"><option>全国</option><option>珠海</option></select></p>
		<%include("/eeda/component/form/detailTable.html", 
            {
                id:'eeda_table', 
                headers:['用 户','电 话','邀请码','婚 期','注册时间']
        }){} %>
        <!-- <%include("/eeda/component/form/detailTable.html", 
            {
                id:'eeda_table', 
                headers:['序 号','用 户','邮 箱','邀请码','婚 期',
                    '新 郎','城 市','电 话','生 日','新 娘','电 话','生 日','注册时间']
            }){} %> -->
<%}%>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
    	 requirejs(['/js/WebAdmin/user/userList.js']);
    });
</script>
