<%layout("/WebAdmin/layout.html"){%>
    <div class="pageheader notab overhide">
        <h3>用户列表</h3>
        <div style="margin: 10px 0;">
	        <input type="text" id="location" placeholder="请输入城市"  style="height:18px;">
	        <button class="modifibtn" id="searchBtn">查询</button>
        </div>
		<%include("/eeda/component/form/detailTable.html", 
            {
                id:'eeda_table', 
                style:'width:1500px',
                headers:['用 户', '电 话','婚 期', '注册时间', '号码归属地', '状态', '上级邀请码', '上级公司', '子级邀请码', '邀请人', '备注（咨询）', '备注（成功下单）', '备注（结算邀请人）','操作']
        }){} %>
     </div>
<%}%>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
    	 requirejs(['/js/WebAdmin/user/userList.js']);
    });
</script>
