<%layout("/eeda/layout.html"){%>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-header" style="font-size:32px">派车单</div>
                </div>
            </div>
            
            <div class="form-group">
                <form id="orderForm">
                <input id="id" type="hidden" name="id" value="${truckOrder.id!''}"/>
                    <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'order_no', 
                                                    label:'工作单号', 
                                                    value:jobOrder.order_no!'',
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>                        
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {
                                    id:'create_stamp', 
                                    label:'创建时间', 
                                    value:jobOrder.create_stamp!'',
                                    disabled: 'disabled'
                                }){} %>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/selectField.html", 
                                {
                                    id: 'status', 
                                    label:'状态', 
                                    value:truckOrder.status!'',
                                     value_list:[
				                            {code:'', value:''},
				                            {code:'待发车', value:'待发车'},
				                            {code:'已发车', value:'已发车'}
				                       ]
                                }){} %>
                        </div>
                    </div>
                    <div class="row"><!--  第4行  -->
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'unload_type', 
                                                    label:'收卸货类型', 
                                                    value: truckOrder.unload_type!,
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'transport_company', 
                                                    label:'运输公司', 
                                                    value:truckOrder.transport_company!'',
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>    
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'driver', 
                                                    label:'司机', 
                                                    value:truckOrder.driver!''
                                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'driver_tel', 
                                                    label:'司机电话', 
                                                    value:truckOrder.driver_tel!''
                                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'truck_type', 
                                                    label:'车型', 
                                                    value:truckOrder.truck_type!''
                                                }){}%>
                        </div>    
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'car_no', 
                                                    label:'车牌', 
                                                    value:truckOrder.car_no!''
                                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'consignor', 
                                                    label:'发货人', 
                                                    value:truckOrder.consignor!''
                                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'consignor_phone', 
                                                    label:'发货人电话', 
                                                    value:truckOrder.consignor_phone!''
                                                }){}%>
                        </div>    
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'take_address', 
                                                    label:'发货地点', 
                                                    value:truckOrder.take_address!''
                                                }){}%>
                        </div>
                    </div>
                    <div class="row"><!--  第4行  -->
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'consignee', 
                                                    label:'收货人', 
                                                    value:truckOrder.consignee!'',
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'consignee_phone', 
                                                    label:'收货人电话', 
                                                    value:truckOrder.consignee_phone!'',
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                        <div class="col-lg-4">
                           <%include("/eeda/component/form/inputField.html", 
                                                {   id:'delivery_address', 
                                                    label:'收货地点', 
                                                    value:truckOrder.delivery_address!'',
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'eta', 
                                                    label:'预约到达时间', 
                                                    value:truckOrder.eta!'',
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'cargo_info', 
                                                    label:'货品信息', 
                                                    value:truckOrder.cargo_info!'',
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'required_time_remark', 
                                                    label:'运输及时间要求', 
                                                    value:truckOrder.required_time_remark!'',
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'sign_desc', 
                                                    label:'签收文件描述', 
                                                    value:truckOrder.sign_desc!''
                                                }){}%>
                        </div>
                        <div class="col-lg-4">
                           <%include("/eeda/component/form/inputField.html", 
                                                {   id:'sign_status', 
                                                    label:'签收状态', 
                                                    value:truckOrder.sign_status!''
                                                }){}%>
                        </div>
                    </div>
                
                </form>
            </div>
            
         

            <br>
            <div class="row">
                <div class="col-lg-12">
                    <a id='saveBtn' class="btn  btn-primary" href="#">保存</a>
                    <button id="printBtn" type="button" class="btn  btn-primary" data-toggle="modal"  data-target=".bs-example-modal-sm">打印</button>
                    <a class="btn  btn-default" href="/truckOrder">返回</a>
                </div>
            </div>
        </div>
<%}%>

<script>
    var order_no = '${order.order_no!'订单编辑'}'; 
    var itemOrder = {};
</script>
<script>
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/oms/truckOrder/edit']);
        requirejs(['app/oms/truckOrder/edit_cargo_table']);
        requirejs(['app/oms/truckOrder/edit_charge_table']);
    });
</script>


