<%layout("/eeda/layout.html"){%>
<div id="page-wrapper">
	<div class="row simple_search_div">
    	<div class="panel panel-default">
        	<div class="panel-heading">
            	<div class="row"><!--  第1行  -->
                	<div class="three_tab"><!--  三列排版  -->
						<nobr>
                        	<div class="search_single">
                              		<select id="selected_field" name="selected_field" class="form-control search-label">
                              			<option value="order_no">工作单号</option>
	                                	<option value="status">状态</option>
	                                	<option value="create_stamp">创建时间</option>	 
                            		</select>

                            		<input type="text" class="form-control search-control" id="single_order_no">
                            		<select id="single_status" class="form-control search-control" style="display: none;">
		    											<option></option>
		    		                                    <option value="待发车">待发车</option>
		    		                                    <option value="已发车" >已发车</option>
		    		                                    <option value="已完成" >已完成</option>
		    						</select>
                            		<div style="display:none;position:absolute;left:34%;bottom:-5px;" id="create_stamp_show">        
		                            	<%include("/eeda/component/form/inputDateQueryField.html",
		                                	{	id:'single_create_stamp',
		                                		style:'width:120%',
								                begin_style:'width:30%',
								                end_style:'width:30%',
		                                        value:''
		                                	}){} %>
		                            </div>
							</div>
                      </nobr>
					</div>
                      <div class="three_tab"><!--  三列排版  -->
                          <div class="search_single">
                            <button id="singleSearchBtn" class="btn btn_grey" type="button">查询</button>
                          </div>
                          
                      </div>
                      <div class="three_tab"><!--  三列排版  -->
                          <h4 class="panel-title pull-right" style="padding-top: 5px;">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseChargeInfo" aria-expanded="false" class="complex_search collapsed">
                                <i id="collapseChargeIcon" class="fa fa-angle-double-down"></i> 高级查询
                              </a>
                          </h4>
                      </div>
                  </div>
                  
              </div>
                    <div id="collapseChargeInfo" class="panel-collapse collapse" aria-expanded="false" style="height: auto;">
                        <div class="panel-body" id="ChargeDiv">
                            <div class="col-lg-12">
                                <form id="orderForm">
                                    <div class="row"><!--  第1行  -->
                                            <div class="col-lg-4">
                                                <%include("/eeda/component/form/inputField.html", 
                                                                    {   id: 'order_no', 
                                                                        label: '工作单号', 
                                                                        value: ''
                                                                    }){}%>
                                            </div>
                                            <div class="col-lg-4"> 
		                                            <%include("/eeda/component/form/selectField.html", 
		                                                    {   id:'status', 
		                                                        label:'状态', 
		                                                        value: '',
		                                                        value_list:[
		                                                            {code:'', value:''},
										                            {code:'待发车', value:'待发车'},
										                            {code:'已发车', value:'已发车'},
										                            {code:'已完成', value:'已完成'}
		                                                        ]
		                                                    }
		                                                 ){} %>
		                                    </div>
                                            <div class="col-lg-4">        
		                                            <%include("/eeda/component/form/inputDateQueryField.html",
		                                            	{	id:'create_stamp',
		                                            		label:'创建时间',
		                                            		value:''
		                                            	}){} %>
		                                    </div>
                                        </div>
                                    <div class="form-group button-bar" >
                                        <button id="searchBtn" class="btn btn_grey" type="button">查询</button>
                                        <button id="resetBtn" class="btn btn-default btn-sm" type="button">清空条件</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                   </div>
                </div>

                
            </div>
            <div class="row simple_list_div">
		                            <%include("/eeda/component/form/detailTable.html", 
		                                    {
		                                        id:'truck_table',
		                                        style:'width:3600px',
		                                        headers:['工作单号','创建时间','状态','收卸货类型', '运输公司', '司机', '司机电话', '车型','车牌','发货人','发货人电话', '发货地点','收货人','收货人电话', '收货地点', '预约到达时间', '货品信息','运输及时间要求','签收文件描述','签收状态']
		                                    }){} %>
		                            
		                        </div>
        </div><!-- end of  .page-wrapper-->

<%}%>
<script>
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/oms/truckOrder/list']);
    });
</script>
