<%layout("/WebAdmin/layout.html"){%>
 <div class="pageheader notab">
            <h1 class="pagetitle">修改密码和用户名</h1>
        </div>
        <div class="pageheader notab">
            <div class="registered " id="login-content">
            	<form id="orderForm" autocomplete="off">
            	   <dl>
                    <dt>
                        <div class="fm-label-wrap ">
                            <label for="fm-login-id">用户名：</label>
                        </div>
                    </dt>
                    <dd>
                         <div class="textin">
                            <input style="width:200px" type="text" class="input_text" id="user_name" name="user_name" value="${user.user_name!''}"/>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <div class="fm-label-wrap ">
                            <label for="fm-login-id">原密码：</label>
                        </div>
                    </dt>
                    <dd>
                         <div class="textin">
                            <input type="password" class="input_text" id="old_password" name="old_password"/>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt class="fm-label">
                        <div class="fm-label-wrap ">
                            <label for="fm-login-password">输入新密码：</label>
                        </div>
                    </dt>
                    <dd class="fm-field" id="fm-login-password-wrap">
                        <div class="textin">
                            <input type="password" class="input_text"  id="password" name="password"/>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt class="fm-label">
                        <div class="fm-label-wrap ">
                            <label for="fm-login-password">确认新密码：</label>
                        </div>
                    </dt>
                    <dd class="fm-field" id="fm-login-password-wrap">
                        <div class="textin ">
                            <input type="password" class="input_text"  id="confirm_password" name="confirm_password"/>
                        </div>
                    </dd>
                </dl>
                </form>
                <div style="padding-left:10px; margin-top:10px;">
                    <button id="updateBtn" class="stdbtn btn_blue" style="width:200px;"/>修改</button>
                </div>
            </div>
        </div>
<%}%>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
         requirejs(['/js/WebAdmin/account/edit.js']);
    });
</script>
