<%layout("/BusinessAdmin/layout.html"){%>
        <div class="pageheader notab">
            <h1 class="pagetitle">产品管理列表
            </h1>
             <a class="stdbtn btn_blue" id="uploadBtn" style="margin-left:20px" href="/BusinessAdmin/product/edit">上传产品</a>
      </div>
      <div style="margin:20px 0 0 10px">
        <% for(name in categoryList![]){%>
      	<input class="stdbtn btn_default searchBtn" style="margin-right:5px" type="button" value="${name.name!''}" >
      	<%}%>
      </div>
        <div class="pageheader notab" >
          <input type = "hidden"  id ="cu_leave_days" value="${cu.leave_days!'0'}"/>
          <div class="product-table">
            <%include("/eeda/component/form/detailTable.html", 
            {
                id:'eeda_table', 
                headers:['封 面','类别','产品名','描述','价 格','上 架','促(剩余'+cu.leave_days!'0'+'天)','']
            }){} %>
          </div>
        </div>
<%}%>

<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
        requirejs(['/js/BusinessAdmin/product/list.js']);
    });
</script>
