<%  var page='layout.html';
	if(showSideMenu=="Y")
		page='layoutSideMenu.html';
	layout("/lego_app/layout/"+page){%>
	<!--侧滑菜单部分-->       
	<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
		<%if(showSideMenu=="Y"){%>
			<a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
		<%}else{%>
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="/form/12312"></a>
		<%}%>
		<h1 class="mui-title">${form_name!''}</h1>
		<%if(showSideMenu=="N"){%>
		<a id="menu" class="mui-action-menu mui-btn-link mui-pull-right" href="#action_popover">操作</a>
		<%}%>
	</header>
	<%if(showSideMenu=="N"){%>
		<!--右上角弹出菜单-->
		<div id="action_popover" class="mui-popover">
			<ul class="mui-table-view">  
				<li class="mui-table-view-cell"><a href="#">保存</a></li>
				<li class="mui-table-view-cell"><a href="#">打印</a></li>
				<li class="mui-table-view-cell"><a href="#">审核</a></li>
			</ul>
		</div>
	<%}%>
	<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
		<input type="hidden" id="module_id" value="${module_id!''}">
		<input type="hidden" id="form_id" value="${form_id!''}">
		<input type="hidden" id="order_id" value="${order_id!''}">
		<div class="mui-scroll" style="padding-left: 10%;">
				${form_content!''}
		</div>
		
		<form class="mui-input-group">
			<div id="form_fields">
				<!-- 字段 -->
				<!-- 你也许需要才能看到数据刷新本页 -->
			</div>
			<ul id="app_form_list" class="mui-table-view mui-table-view-chevron">
				
			</ul>
		</form>
	</div>
	<!-- off-canvas backdrop -->
	<div class="mui-off-canvas-backdrop"></div>
	<%include("/lego_app/jsTemplate/inputField.art",{}){} %>
	<%include("/lego_app/jsTemplate/detailList.art",{}){} %>
<%}%>

<script>
	requirejs([], function (common) {
		<%if(action=='add'){%>
			requirejs(['app/lego_app/form/add/main']);
		<%} else if(action=='edit'){%>
			requirejs(['app/lego_app/form/edit/main']);
		<%} else if(action=='view'){%>
			requirejs(['app/lego_app/form/view/main']);
		<%} else if(action=='list'){%>
			requirejs(['app/lego_app/form/list/main']);
		<%}%>
	});
</script>