<%layout("/eeda/layout.html"){%>
        <div id="page-wrapper">
            
            <div class="row simple_search_div">
                <div class="col-lg-12">
                    <form id="orderForm">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="search-label">销售日期</label>
                                        <select id="created_time" name="created_time" class="search-control">
                                              <option value="1">1天内</option>
                                              <option value="3" selected="">3天内</option>
                                              <option value="7">7天内</option>
                                              <option value="15">15天内</option>
                                              <option value="30">30天内</option>
                                              <option value="60">60天内</option>
                                              <option value="90">90天内</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-8">
                                  <div class="form-group" id="transport_type">
                                  	  <label class="search-label">eBay 账号</label>
                                  	  <% for(list in ebayAcountList){%>
                                  	  <label class="checkbox-inline">
                                          <input type="checkbox" value="${list.id!''}" checked>${list.account_name!''}
                                      </label>
                                  	  <% }%>
                                  </div>
                              </div>
                            </div>
                        <div class="form-group button-bar" >
                            <button id="searchBtn" class="btn btn-default" type="button">查询</button>
                            <button id="resetBtn" class="btn btn-default" type="reset">清空条件</button>
                            <button id="importBtn" class="btn btn-default" type="button">同步最新数据</button>
                            <% if(shiro.hasPermission("msg.create")){%>
          					          <a data-target='#addRadioDetail' data-toggle='modal'>
          					                <button id="addRadio" type="button" class="btn btn_green">发布公告</button>
          					          </a>
					                  <%}%>
                        </div>
                   </form>
                </div>
            </div><!-- /.row -->
            <div class="row simple_list_div">
                
                <ul id="orderTabs" class="nav nav-tabs">
                    <li class="active">
                        <a href="#" data-toggle="tab" name="全部">全部</a>
                    </li>
                    <li style="text-align:center;" class="">
                        <a href="#" data-toggle="tab" name="待审核">未付款 <span id="waitAuditing" class="badge badge-warning">${orderNopayCount!0}</span></a>
                    </li>
                    <li style="text-align:center;">
                        <a href="#" data-toggle="tab" name="放行">未发货 <span id="release" class="badge badge-warning">${orderNoshipCount!0}</span></a>
                    </li>
                </ul>
		            <%include("/eeda/component/form/detailTable.html", 
                        {
                            id:'eeda_table',
                            width: '1150px',
                            headers:[
                                'TransactionID',
                                'ItemID',
                                '记录号',
                                'SKU',
                                '买家ID',
                                '卖家ID',
                                '实付金额',
                                '下单日期',
                                '付款时间',
                                '发货',
                                '发货方式',
                                '状态',
                                '追踪单号']
                        }){} %>
                
            </div><!-- /.row -->
        </div><!-- end of  .page-wrapper-->
        
<!-- 拟态框 -->
<div class="modal fade" id="buyerAddressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">买家地址</div>
            <form action="/msgBoard/saveOfMsgBoard" method="post">
                <div class="modal-body">
                    <div class="form-group">
                          <label>名称</label>
                          <input type="text" id="buyerName" name="buyerName" class="form-control" disabled><br>
                          <label>地址</label>
                          <pre id="buyerAddress" name="buyerAddress" rows="15" disabled></pre><br>
                    </div>   
                </div>
                <div class="modal-footer">
                    <button id="returnBtn" class="btn  btn-default" data-dismiss="modal">返回</button>
                </div>
            </form>
    </div>
  </div>
</div>


<%}%>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
      $.blockUI();
    	requirejs(['app/oms/salesOrder/ebaySalesOrderList']);
    });
</script>
