<link rel="stylesheet" href="/js/lib/pageguide-1.3.2/css/pageguide.min.css">

<ul id="tlyPageGuide" data-tourtitle="托运工作单教程">
  <li class="tlypageguide_left" data-tourtarget=".customerClass">
    <div>
     	所有带红  * 的都为必填
    </div>
  </li>
  <li class="tlypageguide_left" data-tourtarget="#add_land">
    <div>
      	根据上框所填的信息，添加一条明细
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#allCheckOfLand">
    <div>
      	勾选所需要创建成托运工作单的明细。     一条明细等于一张托运工作单
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#create">
    <div>
      	根据你勾选的明细，创建出托运工作单。。。一次勾选多条等于一次创建多张托运工作单
    </div>
  </li>
  <li class="tlypageguide_top" data-tourtarget="#confirmCompleted">
    <div>
      	锁定工作单，将不能在编辑
    </div>
  </li>
</ul>