<%layout("/eeda/layout.html"){%>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-header">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-list fa-fw"></i>工作单快速录入界面
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                                <form id="orderForm">
                                    <div class="row"><!--  第1行  -->
                                        <div class="col-lg-4"><!--  三列排版  -->
                                            <%include("/eeda/component/form/dateInputField.html", 
                                                                {   id: 'CREATE_STAMP', 
                                                                    label: '创建时间', 
                                                                    value: ''
                                                                }){}%>
                                        </div>
		                        		<div class="col-lg-4">
		                        		    <%include("/eeda/component/form/inputField.html", 
		                        		        {   id:'lading_no', 
		                        		            label:'提单号', 
		                        		            value: order.lading_no!''
		                        		        }){}%>
		                        		</div>
				                        <div class="col-lg-4">
				                            <%include("/eeda/component/form/inputCustomerField.html", 
				                                {
				                                    id:'CUSTOMER_ID', 
				                                    label:'客户', 
				                                    required:'required',
				                                    value:order.customer_id!planOrder.customer_id!'',
				                                    display_value:party.abbr!''
				                                }){} %>
				                       </div>
                                    </div><!-- /.row-->
                              <div class="row"><!--  第3行  -->
	                        <div class="col-lg-4">
	                            <%include("/eeda/component/form/selectField.html", 
	                                {   id:'type', 
	                                    label:'类型', 
	                                    value:order.type!'',
	                                    value_list:[
	                                        {code:'出口柜货', value:'出口柜货'},
	                                        {code:'进口柜货', value:'进口柜货'}, 
	                                        {code:'出口散货', value:'出口散货'},
	                                        {code:'进口散货', value:'进口散货'},
	                                        {code:'出口空运', value:'出口空运'},
	                                        {code:'进口空运', value:'进口空运'},
	                                        {code:'内贸海运', value:'内贸海运'},
	                                        {code:'香港头程', value:'香港头程'},
	                                        {code:'香港游', value:'香港游'},
	                                        {code:'陆运', value:'陆运'},
	                                        {code:'报关', value:'报关'},
	                                        {code:'快递', value:'快递'},
	                                        {code:'加贸', value:'加贸'},
	                                        {code:'贸易', value:'贸易'},
	                                        {code:'园区游', value:'园区游'}
	                                    ]
	                                }){}%>
	                        </div><!-- /.col-lg-4 -->		                    
	                        <div class="col-lg-4">
	                            <%include("/eeda/component/form/inputField.html", 
	                                {   id:'so_no', 
	                                    label:'SO号', 
	                                    value: order.so_no!''
	                                }){}%>
	                        </div>   
	                        <div class="col-lg-4">
	                            <%include("/eeda/component/form/inputField.html", 
	                                {   id:'container_no', 
	                                    label:'柜号', 
	                                    value: order.container_no!''
	                                }){}%>
	                        </div>
	                    </div>
                             <div class="row">
					            <div class="col-lg-4">
					                  <%include("/eeda/component/form/inputCarInfoField.html", 
							                    {   id:'TIJIGUI_CAR_NO',
							                        type:'head_car',
							                        label:'提吉柜车牌号', 
							                        value: head.head_carrier!'',
							                        display_value:head.abbr!''
							                    }){}%>
					           </div>
					           <div class="col-lg-4">
					                  <%include("/eeda/component/form/inputCarInfoField.html", 
							                    {   id:'SHOUZHONGGUI_CAR_NO',
							                        type:'head_car',
							                        label:'收重柜车牌号', 
							                        value: head.head_carrier!'',
							                        display_value:head.abbr!''
							                    }){}%>
					           </div>
					           <div class="col-lg-4">
					                  <%include("/eeda/component/form/inputCarInfoField.html", 
							                    {   id:'YIGUI_CAR_NO',
							                        type:'head_car',
							                        label:'移柜车牌号', 
							                        value: head.head_carrier!'',
							                        display_value:head.abbr!''
							                    }){}%>
					           </div>
					        </div>
					        <div class="row">
					            <div class="col-lg-4">
					                  <%include("/eeda/component/form/inputDockField.html", 
					                    {   id:'TAKE_WHARF', 
					                        label:'提柜码头', 
					                        value:order.take_wharf!'',
		                                    display_value:order.take_wharf_name!''
					                    }){}%>
					            </div>
					            <div class="col-lg-4">
					                  <%include("/eeda/component/form/inputDockField.html", 
					                    {   id:'BACK_WHARF', 
					                        label:'还柜码头', 
					                        value:order.back_wharf!'',
		                                    display_value:order.back_wharf_name!''
					                    }){}%>
					            </div>
					        </div>
					        <div class="row">
					            <div class="col-lg-4">
					                  <%include("/eeda/component/form/inputDockField.html", 
					                    {   id:'LOADING_WHARF1', 
					                        label:'装货地点1'
					                    }){}%>
					            </div>
					            <div class="col-lg-4">
					                  <%include("/eeda/component/form/inputDockField.html", 
					                    {   id:'LOADING_WHARF2', 
					                        label:'装货地点2'
					                    }){}%>
					            </div>   
	                    		<div class="col-lg-4">
				           	     <%include("/eeda/component/form/selectField.html", 
				           	         {   id:'cabinet_type', 
				           	             label:'柜型', 
				           	             value:order.cabinet_type!'',
				           	             value_list:[
				           	                 {code:'40HQ', value:'40HQ'},
				           	             	{code:'', value:''},
				           	                 {code:'20GP', value:'20GP'},
				           	                 {code:'40GP', value:'40GP'}, 
				           	                 {code:'45GP', value:'45GP'}
				           	             ]
				           	         }){}%>
				           	 </div>
					        </div>
		                    <div class="form-group">
			                 <label>备注</label>
			                 <textarea id='remark' class="form-control" rows="3" name="remark">${order.remark!''}</textarea>
			            	</div>
                                  </div>
                                </form>

                            <div class="form-group button-bar" >
                           	 	<button type='button' class="btn btn-success btn-xs" id="add_on">将上框内容应用到表中</button> 
                                <button id="resetBtn" class="btn btn-default btn-sm" type="button">清空上框内容</button>
                                <button type='button' class="btn btn-success btn-xs" id="create" disabled>创建托运工作单</button>
                                <hr>
                                <button type='button' class="btn btn-success btn-xs" id="add_land">添加明细</button>
                            </div>
                            <%include("/eeda/component/form/detailTable.html", 
                                {
                                    id:'eeda-table', 
                                    style:'width:2050px',
                                    headers:[
                                    	'<input id="allCheckOfLand" type="checkbox" style="width:30px">',
                                    	'',
                                    	'创建时间',
                                    	'提单号',
                                    	'SO号',
                                        '客户',
                                        '类型',
                                        '柜号',
                                        '柜型',
                                        '提吉柜车牌号',
                                        '收重柜车牌号',
                                        '移柜车牌号',
                                        '提柜码头',
                                        '还柜码头',
                                        '装货地点1',
                                        '装货地点2',
                                        '应收费用名称',
                                        '应收费用金额',
                                        '币制',
                                        '对人民币汇率',
                                        '金额（人民币）',
                                        '备注']
                                }){} %>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
          
        </div><!-- end of  .page-wrapper-->

<%}%>
<%include("/eeda/component/jsTemplate/tableInputDateField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputFieldCurrencyId.js",{}){} %>

<%include("/eeda/component/jsTemplate/tableInputTruckOutField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputTruckInField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputDateField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableSelectTruckTypeField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputFieldCurrencyId.js",{}){} %>

<%include("/oms/JobOrder/party_create_modal.html", {}){} %>
<%include("/eeda/component/jsTemplate/tableInputCarInfoField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputDockInfoField.js",{}){} %>

<script>
      var type = "${type!''}";
      var itemOrder={};
 </script>
<script>
    requirejs(['/js/eeda/eeda-common.js'], 
        function (common) {
        requirejs(['app/tms/transJobOrder/OrderShortCut']);
    },
    function(error) {
        console.error('报错了: ',error);
        //error.requireModules : is Array of all failed modules
        var failedId = error.requireModules && error.requireModules[0];
        console.error(failedId);
        console.error(error.message);
    });
</script>
