<%layout("/eeda/layout.html"){%>
        <div id="page-wrapper" >
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-header">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-list fa-fw"></i>工作单快速录入界面
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                           <form id="orderForm">
                              <div class="row"><!--  第1行  -->
                                    	<div class="customerClass col-lg-4">
				                            <%include("/eeda/component/form/inputCustomerField.html", 
				                                {
				                                    id:'CUSTOMER_ID', 
				                                    label:'客户', 
				                                    required:'required',
				                                    value:order.customer_id!planOrder.customer_id!'',
				                                    display_value:party.abbr!''
				                                }){} %>
				                     	</div>
				                     	<div class="col-lg-4">
				                            <%include("/eeda/component/form/inputField.html", 
				                                {   id:'customer_salesman', 
				                                    label:'客户业务员'
				                                }){}%>
				                        </div>
				                        <div class="col-lg-4">
				                            <%include("/eeda/component/form/inputField.html", 
				                                {   id:'contract_no', 
				                                    label:'合同号'
				                                }){}%>
				                        </div>  
	                    	  </div><!-- /.row-->
                          	  <div class="row"><!--  第2行  -->
                                       <div class="col-lg-4"><!--  三列排版  -->
                                           <%include("/eeda/component/form/dateInputField.html", 
                                                               {   id: 'cabinet_date', 
                                                                   label: '提柜/货时间', 
                                                                   value: ''
                                                               }){}%>
                                       </div>
                                       <div class="col-lg-4"><!--  三列排版  -->
                                           <%include("/eeda/component/form/dateInputField.html", 
                                                               {   id: 'closing_date', 
                                                                   label: '收重柜时间', 
                                                                   value: ''
                                                               }){}%>
                                       </div>
                                       <div class="col-lg-4"><!--  三列排版  -->
                                           <%include("/eeda/component/form/dateInputField.html", 
                                                               {   id: 'charge_time', 
                                                                   label: '结算时间', 
                                                                   value: ''
                                                               }){}%>
                                       </div>				                        
                                </div><!-- /.row-->
                              	<div class="row"><!--  第2行  -->
                              		<div class="col-lg-4">
				                            <%include("/eeda/component/form/selectField.html", 
				                                {   id:'type', 
				                                    label:'类型', 
				                                    value:order.type!'',
				                                    value_list:[
				                                        {code:'出口柜货', value:'出口柜货'},
				                                        {code:'进口柜货', value:'进口柜货'}, 
				                                        {code:'出口散货', value:'出口散货'},
				                                        {code:'进口散货', value:'进口散货'},
				                                        {code:'出口空运', value:'出口空运'},
				                                        {code:'进口空运', value:'进口空运'},
				                                        {code:'内贸海运', value:'内贸海运'},
				                                        {code:'香港头程', value:'香港头程'},
				                                        {code:'香港游', value:'香港游'},
				                                        {code:'陆运', value:'陆运'},
				                                        {code:'报关', value:'报关'},
				                                        {code:'快递', value:'快递'},
				                                        {code:'加贸', value:'加贸'},
				                                        {code:'贸易', value:'贸易'},
				                                        {code:'园区游', value:'园区游'}
				                                    ]
				                                }){}%>
				                    </div><!-- /.col-lg-4 -->              
			                        <div class="col-lg-4">
			                            <%include("/eeda/component/form/inputField.html", 
			                                {   id:'so_no', 
			                                    label:'SO号', 
			                                    value: order.so_no!''
			                                }){}%>
			                        </div> 
			                        <div class="col-lg-4">
			                            <%include("/eeda/component/form/inputField.html", 
			                                {   id:'container_no', 
			                                    label:'柜号', 
			                                    value: order.container_no!''
			                                }){}%>
			                        </div>  
	                    	 </div>
                             <div class="row"><!--  第3行  -->
			                     <div class="col-lg-4">
				           	     <%include("/eeda/component/form/selectField.html", 
				           	         {   id:'cabinet_type', 
				           	             label:'柜型', 
				           	             value:order.cabinet_type!'',
				           	             value_list:[
				           	                 {code:'40HQ', value:'40HQ'},				           	             	 
				           	                 {code:'20GP', value:'20GP'},
				           	                 {code:'40GP', value:'40GP'}, 
				           	                 {code:'45GP', value:'45GP'},
				           	                 {code:'', value:''}
				           	             ]
				           	         }){}%>
				           	     </div>
				           	     <div class="col-lg-4">
			                        		    <%include("/eeda/component/form/inputField.html", 
			                        		        {   id:'lading_no', 
			                        		            label:'提单号', 
			                        		            value: order.lading_no!''
			                        		        }){}%>
			                            </div>
						           <div class="col-lg-4">
	                       		    <%include("/eeda/component/form/inputField.html", 
	                       		        {   id:'seal_no', 
	                       		            label:'封条号', 
	                       		            value: order.lading_no!''
	                       		        }){}%>
	                            </div>
					        </div>
					        <div class="row">
					        	<div class="col-lg-4">
					                  <%include("/eeda/component/form/inputDockField.html", 
					                    {   id:'TAKE_WHARF', 
					                        label:'提柜码头', 
					                        value:order.take_wharf!'',
		                                    display_value:order.take_wharf_name!''
					                    }){}%>
					            </div>
					        	<div class="col-lg-4">
					                  <%include("/eeda/component/form/inputDockField.html", 
					                    {   id:'BACK_WHARF', 
					                        label:'还柜码头', 
					                        value:order.back_wharf!'',
		                                    display_value:order.back_wharf_name!''
					                    }){}%>
					            </div>
					            
					            <div class="col-lg-4">
					                  <%include("/eeda/component/form/inputDockField.html", 
					                    {   id:'LOADING_WHARF1', 
					                        label:'装货地点1'
					                    }){}%>
					            </div>
					        </div>
					        <div class="row">
					        	<div class="col-lg-4">
					                  <%include("/eeda/component/form/inputDockField.html", 
					                    {   id:'LOADING_WHARF2', 
					                        label:'装货地点2'
					                    }){}%>
					        	</div>
					        	<div class="col-lg-4">
					                  <%include("/eeda/component/form/inputField.html", 
					                    {   id:'loading_platform', 
					                        label:'装货平台'
					                    }){}%>
					        	</div>					        	
					        	<div class="col-lg-4">
					                  <%include("/eeda/component/form/inputCarInfoField.html", 
							                    {   id:'WHOLE_COURSE_CAR_NO',
							                        type:'whole_course_car',
							                        label:'全程车牌', 
							                        value: head.whole_course_car!'',
							                        display_value:head.whole_course_car_name!''
							                    }){}%>
					           </div>
					        </div>
					        <div class="row">
					        	<div class="col-lg-4">
					                  <%include("/eeda/component/form/inputCarInfoField.html", 
							                    {   id:'TIJIGUI_CAR_NO',
							                        type:'head_car',
							                        label:'提吉柜车牌', 
							                        value: head.head_carrier!'',
							                        display_value:head.abbr!''
							                    }){}%>
					             </div>
					        	 <div class="col-lg-4">
					                  <%include("/eeda/component/form/inputCarInfoField.html", 
							                    {   id:'SHOUZHONGGUI_CAR_NO',
							                        type:'head_car',
							                        label:'收重柜车牌', 
							                        value: head.head_carrier!'',
							                        display_value:head.abbr!''
							                    }){}%>
					            </div>
					            <div class="col-lg-4">
					                  <%include("/eeda/component/form/inputCarInfoField.html", 
							                    {   id:'YIGUI_CAR_NO',
							                        type:'head_car',
							                        label:'移柜车牌', 
							                        value: head.head_carrier!'',
							                        display_value:head.abbr!''
							                    }){}%>
					            </div>					            
					        </div>
					        <div class="row">
				        	<div class="col-lg-4">
								<%include("/eeda/component/form/inputPartyField.html", 
									{   id:'HEAD_CARRIER',
									    type:'head_car',
									    label:'头程船公司', 
									    value: order.HEAD_CARRIER!'',
									    display_value:order.abbr!''
									}){}%>
								</div>
							</div>
					        <div class="row">
					        	<div class="col-lg-12">
				                    <div class="form-group">
						                 <label>备注</label>
						                 <textarea id='remark' class="form-control" rows="3" name="remark">${order.remark!''}</textarea>
					            	</div>
					            </div>
				            </div>
                   	  	</form>

                            <div class="form-group button-bar" >
                           	 	<button type='button' class="btn btn_green" id="add_on">将上框内容应用到表中</button> 
                                <button id="resetBtn" class="btn btn-default btn-sm" type="button">清空上框内容</button>
                                <button type='button' class="btn btn_green" id="create" disabled>创建托运工作单</button>
                                <hr>
                                <button type='button' class="btn btn_green" id="add_land">添加明细</button>
                            </div>
                            <%include("/eeda/component/form/detailTable.html", 
                                {
                                    id:'eeda-table', 
                                    style:'width:2450px',
                                    headers:[
                                    	'<input id="allCheckOfLand" type="checkbox" style="width:30px">',
                                    	'',
                                    	'客户简称',
                                    	'提柜/货时间',
                                    	'收重柜时间',
                                    	'结算时间',
                                    	'类型',
                                    	'SO号',
                                    	'柜号',
                                        '柜型',
                                        '提单号',
                                        '封条号',
                                    	'头程船公司',
                                        '提柜码头',
                                        '还柜码头',
                                        '装货地点1',
                                        '装货地点2',
                                        '装货平台',
                                    	'全程牌号',
                                    	'提吉柜车牌号',
                                        '收重柜车牌号',
                                        '移柜车牌号',
                                        '运费',
                                        '跨境',
                                        '客户业务员',
                                        '合同号',
                                        '拖卡号',
                                        '高速费',
                                        '打单费',
                                        '压夜费',
                                        '过磅费',
                                        '吉进吉出费',
                                        '代垫费',
                                        '备注']
                                }){} %>
                                
                            <div class="form-group button-bar" >
                                <hr>
                                <button type='button' class="btn btn_green" id="add_land1">添加明细</button>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
          
        </div><!-- end of  .page-wrapper-->

<%}%>
<%include("/eeda/component/jsTemplate/tableInputDateField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputFieldCurrencyId.js",{}){} %>

<%include("/eeda/component/jsTemplate/tableInputTruckOutField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputTruckInField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputDateField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableSelectTruckTypeField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputFieldCurrencyId.js",{}){} %>

<%include("/oms/JobOrder/party_create_modal.html", {}){} %>
<%include("/eeda/component/jsTemplate/tableInputCarInfoField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputDockInfoField.js",{}){} %>

<%include("/tms/TransJobOrder/guideEdit2.html",{}){}%>
<%include("/eeda/component/jsTemplate/inputLocationField.js",{}){} %>
<script>
      
      var itemOrder={};
 </script>
<script>
    requirejs(['/js/eeda/eeda-common.js'], 
        function (common) {
        requirejs(['app/tms/transJobOrder/OrderShortCut']);
    },
    function(error) {
        console.error('报错了: ',error);
        //error.requireModules : is Array of all failed modules
        var failedId = error.requireModules && error.requireModules[0];
        console.error(failedId);
        console.error(error.message);
    });
</script>
