<link rel="stylesheet" href="/js/lib/pageguide-1.3.2/css/pageguide.min.css">

<ul id="tlyPageGuide" data-tourtitle="工作单教程">
  <li class="tlypageguide_left" data-tourtarget=".first_element_to_target">
    <div>
      这里是最主要的工作单信息, 注意带<div style="color: red;display: inline;">*</div>是必填项。
    </div>
  </li>
  <li class="tlypageguide_left" data-tourtarget=".second_element_to_target">
    <div>
      涵盖的服务项目: 对应下面第4的选项页. 请勾选并注意第3点的变化。
    </div>
  </li>
  <li class="tlypageguide_left" data-tourtarget=".fourth_element_to_target">
    <div>
      这里的选项页分别对应"工作单信息"中你所勾选的服务项目, 请在里面分别录入对应的海、陆、空等业务信息。
    </div>
  </li>
  <li class="tlypageguide_top" data-tourtarget=".5_element_to_target">
    <div>
      当此工作单已完成所有业务数据录入, 不允许再修改, 点击该按钮进行锁定。
    </div>
  </li>
</ul>