<input type="hidden" id="customSelf_id" value="${customSelf.id!''}">
           
            <div class="form-group">  <!--  form row  -->
                    <div class="row">
                            <div class="form-group button-bar">
                                <button id='addCustomSelf' class="btn btn_blue btn-xs" type="button">添加报关申请单</button>
                            </div>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'custom_self_item_table',
                                        style:'width:1200px;',
                                        headers:[ '','报关行', '报关单号码','海关状态', '填报人', '填报时间'],
                                        field_list:['','custom_bank', 'custom_order_no', 'status', 
                                        'creator', 'create_stamp','CUSTOM_BANK_NAME'],
                                        value_list: customSelfItemList![]
                                    }){} %>
                       
                  </div>
         </div><!-- /.row -->