
<input type="hidden" id="trade_id" value="${trade.id!''}">
<form id="tradeForm">
<div class="form-group">  <!--  form row  -->
        <div id="trade_recover_div" class="alert alert-warning" style="display: none;">
            贸易商品信息有之前保存的临时数据, 是否恢复？ 
            <a id="trade_recover" href="" class="alert-link">恢复</a> 
            <a id="trade_recover_no_need" href="" class="alert-link no_need">不需要了</a>
        </div>
             <div class="row">
                    <div class="col-lg-12">
                        <h3>贸易商品信息</h3> 
                        <button class="btn btn_blue" type="button" id="add_tradeItem" style="float:right;margin-bottom:15px;">添加贸易商品条目</button> 
                      
                    </div>
             </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'contract_number', 
                                    label:'合同号', 
                                    value:trade.contract_number!''
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/dateInputField.html", 
                                {   id:'set_out_date', 
                                    label:'厂家出货日期', 
                                    value:trade.set_out_date!''
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/dateInputField.html", 
                                {   id:'custom_date', 
                                    label:'报关日期', 
                                    value:trade.custom_date!''
                                }){}%>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputSpField.html", 
                                {   id:'cost_company', 
                                    label:'供应商', 
                                    value:trade.cost_company!'',
                                    display_value:trade.cost_company_name!''
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputCurrencyField.html", 
                                {   id:'cost_currency', 
                                    label:'币制', 
                                    value:trade.cost_currency!'',
                                    display_value:trade.cost_currency_name!''
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'cost_currency_rate', 
                                    label:'汇率', 
                                    value:trade.cost_currency_rate!''
                                }){}%>
                        </div>
                     </div>
                     
                       <div class="row">
                            <div class="col-lg-12">
                            <input type="hidden" id="total_difference" value="${trade.total_difference!''}"  >
                            <input type="hidden" id="price_difference" value="${trade.price_difference!''}">
                                <button class="btn btn_blue btn-xs" type="button" id="add_trade_cost_table">添加明细</button><br><br>
                                <font size="3px">(客户退税金额总额 - 减去应收服务费用总额)总价差异：<span id="total_difference_span" name="total_difference" text="${trade.total_difference!''}" ></span></font>&nbsp&nbsp
                                <font size="3px">(总价差异 / 总数量)单价差异：<span id="price_difference_span" name="price_difference" text="${trade.price_difference!''}"></span></font>
                                <br>
                                <%include("/eeda/component/form/detailTableWithFoot.html", 
                                    {
                                        id:'trade_cost_table',
                                        style:'width:1657px;',
                                        headers:['','','商品名称','数量','单位','单价(CNY)','国内货值(CNY)','增值税率','国税退税率','客户退税率','国税退税金额','客户退税金额','调整后单价','调整后总价','报关单价','数量','报关金额','报关币制','报关汇率','报关金额(CNY)','代理费百分比(%)','代理费金额','currency_name','commodity_name'],
                                        field_list:[
                                        '',
                                        '',
                                        'commodity_id',
										'number',
										'legal_unit',
										'price',
										'domestic_price',
										'value_added_tax',
										'tax_refund_rate',
										
										'tax_refund_rate_customer',
										  
										'tax_refund_amount',
										'adjusted_tax_refund_amount',
										'adjusted_unit_price',
										'adjusted_total_price',
										'custom_price',
										'number',
										'custom_amount',
										'custom_currency',
										'custom_rate',
										'custom_amount_cny',
										
										'agency_rate',
										'agency_amount_cny',
										
										'CURRENCY_ID_NAME',
										'commodity_name',
										'currency_name'
                                            ],
                                        value_list: trade_cost_list![]
                                    }){} %>
                            </div>
                        </div><br>
                        * 注：<span style="color:#AAAAAA">代理金额=国内货值*代理费百分比</span> <nbsp><nbsp><nbsp><nbsp><nbsp>
                        <span style="margin-left:38px;color:#AAAAAA">报关金额=报关单价*数量</span><br/><br>
                        <span style="margin-left:38px;color:#AAAAAA">国税退税金额=调整后金额/(1+增值税率)*国税退税率</span><nbsp><nbsp><nbsp><nbsp>
                        <span style="margin-left:38px;color:#AAAAAA">客户退税金额=国内货值/(1+增值税率)*客户退税率</span><br><br>
                        <span style="margin-left:38px;color:#AAAAAA">总价差异=客户退税总额-应收服务费(金额(人民币)总额)</span><nbsp><nbsp><nbsp><nbsp>
                        <span style="margin-left:38px;color:#AAAAAA">单价差异=总价差异/总数量</span><br/><br>
						<span style="margin-left:38px;color:#AAAAAA">调整后单价=单价差异+单价</span><nbsp><nbsp><nbsp><nbsp><nbsp>
						<span style="margin-left:38px;color:#AAAAAA">调整后总价=调整后单价*数量</span><br/>
                        <br>
                            <div class="col-lg-12">
                                <h3>应收服务费用</h3>
                                <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseChargeServiceInfo" aria-expanded="false" class="collapsed">
                                        <i id='collapseChargeServiceIcon' class="fa 
                                        <%if(order.id!''==''){%>fa-angle-double-up<%}else{%>fa-angle-double-down<%}%>"></i> 常用应收服务费用
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseChargeServiceInfo" class="panel-collapse collapse <%if(order.id!''==''){%>in<%}%>" aria-expanded="false" style="height: auto;">
                                   <div class="panel-body" id="ChargeServiceDiv">
                                        
                                    </div>
                               </div>
                            </div>
                                <div class="col-lg-3">
			                            <%include("/eeda/component/form/inputCurrencyField.html", 
				                                {   id:'service_currency_id', 
				                                    label:'对账币制', 
				                                    value:trade.service_currency!'',
				                                    display_value:trade.service_currency_name!''
				                                }){}%>
				                 </div>
				                 <div class="col-lg-3">
			                            <%include("/eeda/component/form/inputField.html", 
				                                {   id:'service_currency_rate', 
				                                    label:'对CNY汇率', 
				                                    value:trade.service_currency_rate!''
				                                }){}%>
				                 </div>
				                 <div class="col-lg-3">
			                            <%include("/eeda/component/form/inputCurrencyField.html", 
				                                {   id:'service_exchange_currency', 
				                                    label:'结算币制', 
				                                    value:trade.service_currency!'',
				                                    display_value:trade.service_currency_name!''
				                                }){}%>
				                 </div>
				                 <div class="col-lg-3">
			                            <%include("/eeda/component/form/inputField.html", 
				                                {   id:'service_exchange_currency_rate', 
				                                    label:'结算汇率', 
				                                    value:trade.service_currency_rate!''
				                                }){}%>
				                 </div>
				                 <div class="col-lg-12">
	                            	<button class="btn btn_blue btn-xs" type="button" id="add_charge_service_table">添加明细</button>
	                              </div>
                                <br>
                                <div class="col-lg-12">
                                <%include("/eeda/component/form/detailTableWithFoot.html", 
                                    {
                                        id:'charge_service_table',
                                        headers:['', '', '结算公司', '费用名称','费用名称(英文)', '单价', '数量', '单位','对账金额','对账币制', '对人民币汇率', '对账金额(人民币)','结算币制','结算汇率','结算金额','对人民币汇率','结算金额(人民币)','汇兑损益','备注','sp_name', 'charge_name','charge_name_eng','unit_name','currency_name','audit_flag'],
                                    field_list:['', 'type', 'sp_id', 'charge_id','charge_eng_id', 'price', 'amount', 'unit_id', 'total_amount','currency_id',
                                     'exchange_rate', 'currency_total_amount','exchange_currency_id','exchange_currency_rate','exchange_total_amount','exchange_currency_rate_rmb','exchange_total_amount_rmb','rmb_difference','remark','sp_name', 'charge_name','charge_name_eng','unit_name','currency_name','exchange_currency_id_name','audit_flag'],
                                        value_list: trade_charge_service_list![]
                                    }){} %>
                              </div>
                            </div>
	                            <div class="col-lg-12">
	                                <h3>销售应收费用</h3>
                                     <div class="panel panel-default">
                                 <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseChargeSaleInfo" aria-expanded="false" class="collapsed">
                                        <i id='collapseChargeSaleIcon' class="fa 
                                        <%if(order.id!''==''){%>fa-angle-double-up<%}else{%>fa-angle-double-down<%}%>"></i> 常用销售应收费用
                                        </a>
                                    </h4>
                                  </div>
                                 <div id="collapseChargeSaleInfo" class="panel-collapse collapse <%if(order.id!''==''){%>in<%}%>" aria-expanded="false" style="height: auto;">
                                    <div class="panel-body" id="ChargeSaleDiv">
                                        
                                     </div>
                                 </div>
                            </div>
                             	<div class="col-lg-3">
			                            <%include("/eeda/component/form/inputCurrencyField.html", 
				                                {   id:'sale_currency_id', 
				                                    label:'对账币制', 
				                                    value:trade.sale_currency!'',
				                                    display_value:trade.sale_currency_name!''
				                                }){}%>
				                 </div>
				                 <div class="col-lg-3">
			                            <%include("/eeda/component/form/inputField.html", 
				                                {   id:'sale_currency_rate', 
				                                    label:'对CNY汇率', 
				                                    value:trade.sale_currency_rate!''
				                                }){}%>
				                 </div>
				                 <div class="col-lg-3">
			                            <%include("/eeda/component/form/inputCurrencyField.html", 
				                                {   id:'sale_exchange_currency', 
				                                    label:'结算币制', 
				                                    value:trade.sale_currency!'',
				                                    display_value:trade.sale_currency_name!''
				                                }){}%>
				                 </div>
				                 <div class="col-lg-3">
			                            <%include("/eeda/component/form/inputField.html", 
				                                {   id:'sale_exchange_currency_rate', 
				                                    label:'结算汇率', 
				                                    value:trade.sale_currency_rate!''
				                                }){}%>
				                 </div>

                             </div>
                            <div class="col-lg-12">
                                <button class="btn btn_blue btn-xs" type="button" id="add_trade_sale_table">添加明细</button>
                                <br>
                                <%include("/eeda/component/form/detailTableWithFoot.html", 
                                    {
                                        id:'trade_sale_table',
                                        headers:['', '', '结算公司', '费用名称','费用名称(英文)', '单价', '数量', '单位','对账金额','对账币制', '对人民币汇率', '对账金额(人民币)','结算币制','结算汇率','结算金额','对人民币汇率','结算金额(人民币)','汇兑损益','备注','sp_name', 'charge_name','charge_name_eng','unit_name','currency_name','audit_flag'],
                                    field_list:['', 'type', 'sp_id', 'charge_id','charge_eng_id', 'price', 'amount', 'unit_id', 'total_amount','currency_id',
                                     'exchange_rate', 'currency_total_amount','exchange_currency_id','exchange_currency_rate','exchange_total_amount','exchange_currency_rate_rmb','exchange_total_amount_rmb','rmb_difference','remark','sp_name', 'charge_name','charge_name_eng','unit_name','currency_name','exchange_currency_id_name','audit_flag'],
                                        value_list: trade_charge_sale_list![]
                                    }){} %>
                            </div>
            </div><!-- /.row -->
            </form>
