<%layout("/BusinessAdmin/layout.html"){%>
    <div class="pageheader notab">
      <h1 class="pagetitle" style="float:left;">案例管理</h1><span class="red" style="float:left;">*普通商家只能上传5个案例</span>
      <div style=" clear:both;"></div>
    </div>
    <div>
    
    <div class="pageheader" style="float:left">
        <div class="zdy-fenlei">
        <p><strong>上传案例</strong></p>
        <input type="hidden" value="${example.id!""}" id="id"/>
        <div class="mt10"><label>案例名称：<input type="text" name="example_name" id="example_name"/></label></div>
         <div class="mt10">上传图片：<input type="file" value="单张上传" class="edit" id="picture_up" name="picture_up"/><span class="red">*图片小于500Kb</span>
         </div>
                <img src="/images/fengmianpic.png" id="example_img" style="width:200px"/>
        <div class="mt10"><input type="button" style="width:200px;" class="stdbtn btn_blue" value="上 传" id="upload"/> </div>
        </div>
    </div>
    <div class="row" style="float:left">
	      <%include("/eeda/component/form/detailTable.html", 
	          {
	              id:'eeda_table', 
	              headers:['案例名称', '创建时间','操作']
	      }){} %> 
 	</div>
<%}%>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
         requirejs(['/js/BusinessAdmin/case/list.js']);
    });
</script>
