<%layout("/BusinessAdmin/layout.html"){%>
        <div class="pageheader notab">
            <div class="announcement">
                <h3>公告</h3>
                    <p>${notice!''}</p>
                </div>  
                <div class="xx-detail">
                    <h3>珠海维多利亚摄影</h3>
                    <p>商家邀请码 ：<strong class="red anchorbutton" >234567</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;影响力 ：<strong class="red anchorbutton">109</strong></p>
                    <p>您成功用邀请码邀请109对新人使用婚礼帮并注册，您的影响力是：109 。 影响力有助商家排名上升。      </p>
                </div>
                <div class="product-table">
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
                        <thead>
                            <tr>
                                <th width="13%" class="head0">分 类</th>
                                <th width="65%" class="head1">信 息</th>
                                <th class="head0">购  买</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>钻石商家</td>
                                <td><span class="fail-verify">剩余30天 至 2016-1-1</span>&nbsp;&nbsp;</td>
                              <td><input type="button" value="开通广告" class="stdbtn btn_red" onclick="window.location.href='ad-buy-3.inc.php'" /></td>
                            </tr>
                        <tr>
                            <td>APP横幅广告服务</td>
                            <td><span class="anchorbutton">影响力可以对兑此服务，详情咨询客服。</span>&nbsp;</td>
                          <td><input name="button" type="button" class="stdbtn btn_red" value="开通广告" onclick="window.location.href='ad-buy-2.inc.php'"/></td>
                        </tr>
                        <tr>
                            <td>“促”销广告</td>
                            <td><span class="fail-verify">剩余3天  至 2016-1-1</span>&nbsp;</td>
                            <td><input type="button" value="开通广告" class="stdbtn btn_red" onclick="window.location.href='ad-buy-1.inc.php'" /></td>
                        </tr>
                        <tr>
                            <td>优“惠“广告服务</td>
                            <td><span class="anchorbutton">状态：关闭</span></td>
                            <td><input type="button" value="免费开通" class="stdbtn btn_yellow" onclick="window.location.href='ad-manage-hui.php'"/></td>
                        </tr>
                        <tr>
                            <td>商店浏览次数</td>
                            <td><span class="fail-verify">10人次</span></td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

<%}%>

