<%layout("/BusinessAdmin/layout.html"){%>
        <div class="pageheader notab">
            <div class="announcement">
                <h3>公告</h3>
                    <p>${notice.content!'暂无公告'}</p>
                    <br/>
                    <p>${notice.create_time!''}</p>
                </div>  
                <div class="xx-detail">
                    <h3>珠海维多利亚摄影</h3>
                    <p>商家邀请码 ：<strong class="red anchorbutton" >${user.invitation_code!''}</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;影响力 ：<strong class="red anchorbutton">109</strong></p>
                    <p>您成功用邀请码邀请109对新人使用婚礼帮并注册，您的影响力是：109 。 影响力有助商家排名上升。      </p>
                </div>
                <div class="product-table">
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
                        <thead>
                            <tr>
                                <th width="13%" class="head0">分 类</th>
                                <th width="65%" class="head1">信 息</th>
                                <th class="head0">购  买</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%if(diamond.leave_days!'0'>0){%>钻石商家<%} else{%>普通商家<%}%></td>
                                <td><span class="fail-verify"><%if(diamond.leave_days!'0'>0){%>剩余${diamond.leave_days!''}天<%}%></span>&nbsp;&nbsp;</td>
                             <td><a style="color:white;text-decoration:none;" type="button" class=" stdbtn btn_red" href='/BusinessAdmin/ad/diamond' >开通钻石</a></td>
                            </tr>
                        <tr>
                            <td>APP横幅广告服务</td>
                            <td><span class="fail-verify">影响力可以对兑此服务，详情咨询客服。</span>&nbsp;</td>
                           <td><a style="color:white;text-decoration:none;" type="button" class=" stdbtn btn_red" href='/BusinessAdmin/ad/banner' >开通横幅广告</a></td>
                        </tr>
                        <tr>
                            <td>“促”销广告</td>
                            <td><span class="fail-verify">你有${cu.count_cu!'0'}个促销广告有效，请到促销管理查看 </span>&nbsp;</td>
                            <td><a style="color:white;text-decoration:none;" type="button" class=" stdbtn btn_red" href='/BusinessAdmin/ad/cu' >开通促销</a></td>
                        </tr>
                        <tr>
                            <td>优“惠“广告服务</td>
                            <%
                            	var status = hui.is_active;
                            	if(status == 'B'){
                            		status = "禁止";
                            	}else if(status == 'Y'){
                            		status = "开启";
                            	}else if(status == 'N'){
                            		status = "关闭";
                            	}
                            %>
                            <td><span class="fail-verify">状态：${status!'无'}</span></td>
                            <td><a style="color:white;text-decoration:none;" class="stdbtn btn_yellow" href='/BusinessAdmin/ad/hui'>免费开通</a></td>
                        </tr>
                        <tr>
                            <td>商店浏览次数</td>
                            <td><span class="fail-verify">10人次</span></td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

<%}%>

