<%layout("/eeda/layout.html"){%>
<div id="page-wrapper">
	<input id="order_id" type="hidden" name="order_id" value="${order.id!''}" />
	<input id="company_id" type="hidden" name="company_id" value="${order.company_id!''}" />
	<input id="user_id" type="hidden" name="user_id" value="${user.id!''}" />
	<input id="company_abbr" type="hidden" name="company_abbr" value="${order.company_abbr!''}" />
	<div class="row simple_search_div">
        <div class="col-lg-12">
		<form id="orderForm">
			<input id="sp_id" type="hidden" name="sp_id" value="${order.sp_id!''}" />
				<!--  第1行  -->
		   	<!--  第2行  -->
	 
			<div class="row">
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", {
					id:'order_no', label:'对账单号', value:order.order_no!'', disabled:
					'disabled' }){}%>
				</div>
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", { id:'status',
					label:'单据状态', value:order.status!'新建', disabled: 'disabled' }){}%>
				</div>
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", {
					id:'creator_name',
					 label:'创建人', value:order.creator_name!'',
					 disabled:'disabled' 
					 }){}%>
				</div>
			</div>
			<!--  第3行  -->
			<div class="row">
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", {
					id:'create_stamp', label:'创建时间', value:order.create_stamp!'',
					disabled: 'disabled' }){}%>
				</div>
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", {
					 id:'confirm_name',
					 label:'确认人',
					 value:order.confirm_by_name!'', 
					 disabled:'disabled' 
					 }){}%>
				</div>
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", {
					id:'confirm_stamp', label:'确认时间',
					value:order.confirm_stamp!'',
					disabled: 'disabled'
					 }){}%>
				</div>
			</div>
			<!--  第4行  -->
			<div class="row">
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", { id:'company_name',
					label:'结算公司', value:order.company_name!'',disabled:'disabled'
					}){}%>
				</div>
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", { id:'address',
					label:'地址', value:order.address!'',disabled:'disabled'
					}){}%>
				</div>
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", { id:'customer',
					label:'联系人', value:order.customer!'',disabled:'disabled'
					}){}%>
				</div>
			</div>
			<!--  第5行  -->
			<div class="row">
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", { id:'phone',
					label:'电话', value:order.phone!'',disabled:'disabled'
					}){}%>
				</div>
				<div class="col-lg-4">	
					<%include("/eeda/component/form/inputDateQueryField.html", { id:'check_time',
					label:'对账时间', begin_value:order.begin_time!'', end_value:order.end_time!'', disabled: 'disabled' 
					}){}%>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<label>发票号</label>
					<textarea id='invoice_no' class="form-control" rows="1" name="invoice_no">${order.invoice_no!''}</textarea>
				</div>
			</div><br>
			<div class="row">
				<div class="col-lg-12">
					<label>备注</label>
					<textarea id='remark' class="form-control" rows="3" name="remark">${order.remark!''}</textarea>
				</div>
			</div><br><br>
			
		<!--  	<div class="row">
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", { id:'total_amount',
					label:'应收总金额(CNY)', value:order.total_amount!'',disabled:'disabled'
					}){}%>
				</div>
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", { id:'check_amount',
					label:'对账总金额(CNY)', value:order.check_amount!order.total_amount!'',disabled:'disabled'
					}){}%>
				</div>
			</div>      -->
			<div class="row">
				<div class="form-group">
					<div class="col-lg-12">
						<h4>对账币值金额汇总</h4>
					</div>
				</div>
		   </div>
			<div class="row">
				<div class="col-lg-3">
					<%include("/eeda/component/form/inputField.html", { id:'cny',
					label:'应收CNY', value:order.cny!'',disabled:'disabled'
					}){}%>
				</div>
				<div class="col-lg-3">
					<%include("/eeda/component/form/inputField.html", { id:'usd',
					label:'应收USD', value:order.usd!'',disabled:'disabled'
					}){}%>
				</div>
				<div class="col-lg-3">
					<%include("/eeda/component/form/inputField.html", { id:'hkd',
					label:'应收HKD', value:order.hkd!'',disabled:'disabled'
					}){}%>
				</div>
				<div class="col-lg-3">
					<%include("/eeda/component/form/inputField.html", { id:'jpy',
					label:'应收JPY', value:order.jpy!'',disabled:'disabled'
					}){}%>
				</div>
			</div>
			<div class="row"  style="display:none">
				<!--  第4行  -->
				<div class="col-lg-4">
					<div class="form-group">
                         <label class="label-margin">是否开票</label>
                        	<label class="radio-inline">
                             <input type="radio" name="invoiceType" value="Y" <% if(order.have_invoice!''=='Y'||order.have_invoice==''){ %>checked="checked"<% }%>>是
                         </label>
                        	 <label class="radio-inline">
                             <input type="radio" name="invoiceType"  value="N" <% if(order.have_invoice!'N'=='N'){%>checked="checked"<% }%>>否
                         </label>
                     </div>
                </div>
			</div>
			<div class="row" id="invoice_flag" <% if(order.have_invoice!'N'=='N'){%>style="display:none"<% }%>>
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", { id:'billing_unit',
					label:'开票单位', value:order.billing_unit!''}){}%></div>
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", { id:'payee',
					label:'收款人', value:order.payee!''}){}%></div>
			</div>
			
			<div class="row">
					<div class="col-lg-12">
						<div class="btn-header" style="font-size: 18px">结算金额汇总</div>
					</div>
				   <div class="col-lg-6">
					<%include("/eeda/component/form/inputField.html", { id:'total_amount',
					label:'应收人民币总额', value:order.cny!'',disabled:'disabled'
					}){}%>
				</div>
			</div>
			
		</form>
		</div>
	</div>


		<div class="row simple_search_div" id="confirmOrder_div"  style = "margin-top:10px;display:none;">
			<div class="panel-heading">
	              <h4 class="panel-title">
	                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseChargeInfo" aria-expanded="false" class="collapsed">
	                  <i id="collapseChargeIcon" class="fa fa-angle-double-down"></i> 收款确认                                       </a>
	              </h4>
	          </div>
	        <div id="collapseChargeInfo" class="panel-collapse collapse in" aria-expanded="false" style="height: auto;">
                                <form id="confirmForm">
                                    <!-- <div class="search_panel"> -->
		                              <div class="col-lg-4">

										<%include("/eeda/component/form/inputField.html", { id:'audit_status',
													label:'状态', value:order.audit_status!'未处理',disabled:'disabled'
													}){}%>
		                              </div>
		                            <div class="col-lg-4">
		                            	<div class="form-group">
		                                    <label class="search-label">收款方式 <span style='color:red; display:initial;'>*</span></label>
		                                    <input type="hidden" id="payment_method_show" value="${order.payment_method!''}"/>
		                                	<select id="payment_method" class="form-control search-control payment_method" name="payment_method" >
		                                    <option value=""></option>
		                                    <option value="cash" <% if(order.payment_method!'cash'=='cash'){%>selected<% }%>>现金</option>
		                                    <option value="transfers" <% if(order.payment_method!'transfers'=='transfers'){%>selected<% }%>>转账</option>
		                                    <option value="checkTransfers" <% if(order.payment_method!'transfers'=='checkTransfers'){%>selected<% }%>>支票转账</option>
		                                    </select>
		                                </div>
			                             <div id="transfers_massage" <% if(order.payment_method!'cash'=='cash'){%>style="display:none"<% }%>>
				                            <%include("/eeda/component/form/inputAccountField.html", 
				                            { id:'deposit_bank',
											label:'开户行',
										    value:order.deposit_bank!'',
										    display_value:order.deposit_bank_input,
										    required:'required'
											}){}%>
											
											<%include("/eeda/component/form/inputField.html", 
											{ id:'account_no',
											label:'收款账号', value:order.account_no!''
											}){}%>
											
											<%include("/eeda/component/form/inputField.html", 
											{ id:'account_name',
											label:'账户名', value:order.account_name!''
											}){}%>
		                                </div>
		                            </div>
		                            <div class="col-lg-4">
			                            <div class="form-group">
			                                    <label class="search-label">发票类型</label>
			                                    <input id="invoice_type_show" type="hidden" value="${order.bill_type!''}">
			                                    <select id="bill_type" class="form-control search-control invoice_type" name="bill_type">
				                                    <option></option>
				                                    <option value="wbill" <% if(order.bill_type!'wbill'=='wbill'){%>selected<%}%>>无发票</option>
				                                    <option value="ordinarybill" <% if(order.bill_type!''=='ordinarybill'){%>selected<%}%>>增值税普通发票</option>
				                                    <option value="specialbill" <% if(order.bill_type!''=='specialbill'){%>selected<%}%>>增值税专用发票</option>
				                                    <option value="dbill" <% if(order.bill_type!''=='dbill'){%>selected<%}%>>代开发票(垫付款)</option>
				                                    <option value="HKINVbill" <% if(order.bill_type!''=='HKINVbill'){%>selected<%}%>>HK INV</option>
			                                    </select>
			                            </div>
		                            </div>
		                          <div id="projectFee">
		                            <div class="col-lg-4">
			                            <div class="form-group">
			                                    <label class="search-label">项目</label>
			                                    <input id="fee_type_show" type="hidden" value="${order.fee_type!''}">
			                                    <select id="fee_type" class="form-control search-control fee_type" name="fee_type">
				                                    <option></option>
				                                    <option value="transFee" <% if(order.fee_type!''=='transFee'){%>selected<%}%>>代理货运服务费</option>
				                                    <option value="customFee" <% if(order.fee_type!''=='customFee'){%>selected<%}%>>代理报关服务费</option>
				                                    <option value="consultFee" <% if(order.fee_type!''=='consultFee'){%>selected<%}%>>咨询服务费</option>
				                                    <option value="internationalFee" <% if(order.fee_type!''=='internationalFee'){%>selected<%}%>>国际货代服务费</option>
			                                    </select>
			                            </div>
		                            </div>
		                            <div class="col-lg-4" style="display:none">
					                            <%include("/eeda/component/form/inputField.html", 
					                            { id:'invoice_money',
													label:'开票金额', 
													value:order.invoice_money!''
													}){}%>
		                            </div>
		                          </div>
									
		                        <!-- </div><br/><br/> -->
		
		                       
									<div class="form-group">
										<div class="col-lg-12">
											<h4>收款金额汇总</h4>
										</div>
									</div>
							   
		                        
		                        <div class=" form-group">
			                            <div class="col-lg-4">
			                                <%include("/eeda/component/form/inputField.html", { id:'receive_cny',
			                                label:'本次收款CNY', value:order.residual_cny!''
			                                }){}%>
			                            </div>
			                            <div class="col-lg-4" >
				                            <%include("/eeda/component/form/inputField.html", { id:'residual_cny',
				                            label:'未收余额CNY', value:order.residual_cny!'',disabled:'disabled'
				                            }){}%>
			                            </div>
			                         
		                         </div><br>
		                            <div class=" form-group">
			                       		<div class="col-lg-4">
			                           		<%include("/eeda/component/form/inputField.html", { id:'charge_confirm_name',
											label:'	确认收款人', value:user.c_name!'',disabled:'disabled'
											}){}%>
								       </div>
								       <div class="col-lg-4">
				                            <%include("/eeda/component/form/dateInputField.html",
							                        {    id:'receive_time', 
							                             label:'收款时间',
							                             required:'required',
							                             value:order.receive_time!''
				                              }){} %>
				                        </div>
				                     </div>
                                    <div class="button-bar col-lg-12" style = "margin-bottom:15px" >
										<button id='charge_confirmBtn' type="button" class="btn  btn_green" disabled >收款确认</button> 							            
									</div>
                                </form>                        
		                  	 </div>
				</div>

	<div class="simple_order_list_div">
	<div class="group-form" style="margin-top: 15px;">
		<ul id="orderTabs" class="nav nav-tabs">
			<li class="active"><a href="#unchecked" data-toggle="tab"
				id="costCheckOrderItem">明细信息</a></li>
			<li ><a href="#receiptDetail" data-toggle="tab"
				id="costCheckreceipt" style="display:none;">收款明细信息</a></li>
		</ul>
		<br/>
		

	      <div class="tab-content">
	       <div class="tab-pane fade active in" id="unchecked">
	       		<div class="col-lg-12">
	        		<div class="table_btn_bar">
	        			<button class="btn btn_blue" id="add_charge">添加明细</button> 
	        		</div><br/>
				 </div>
						<%include("/eeda/component/form/detailTable.html", 
                            {
                                id:'eeda-table', 
                                style:'width:1400px',
                                headers:[
                                	'<input type="checkbox" id="allcheck">','操作','工作单号','创建时间','柜号',
                                	'SO号','提柜时间','客户','结算公司','费用名称','对账币制',
                                	'对账金额','对人民币汇率','对账金额（CNY）','备注' ,'',''                           
                                ],
					field_list:['id','','order_no','create_stamp','container_no',
						'so_no','cabinet_date','customer_name','sp_name','fin_name','currency_name',
						'total_amount','exchange_rate','after_total','remark','ORDER_TYPE','job_order_id'
						], value_list: order.itemList!item_list![] }){} %>
			</div>
			<div class="tab-pane fade  in" id="receiptDetail">
			    	<div class="col-lg-12">
				    	<label >剩余金额汇总</label>
				    	<label >CNY:</label><br><br>
			    	</div>
						<%include("/eeda/component/form/detailTable.html", 
                            {
                                id:'receip-table', 
                               headers:['币制','应收总金额','上次收款金额','剩余应收金额','收款时间','确认收款人','收款方式','开户行','收款账号','账户名'],
								field_list:['currency_name','total_amount','receive_cny','residual_cny','receive_time','receive_name','payment_method','deposit_bank_input','account_no','account_name'], 
								value_list: order.receive_itemList!receive_itemList![] 
							}){} %>
			    </div>
		</div>
			</div>
	
	<div class="form-group">
		<div class="col-lg-12">
			<br>
			<button id='saveBtn' class="btn  btn_green" disabled >保存</button> 
			<button id='confirmBtn' class="btn  btn_green" disabled >确认</button> 
			<button id='cancelConfirmBtn' class="btn  btn_green" disabled >取消确认</button>
			<button id="exportBtn" type="button" class="btn  btn_white" >导出Excel</button>
			<a class="btn  btn_white" href="/transChargeCheckOrder">返回</a>
		</div>
		<!-- /.col-lg-12 -->
		<br/>
	</div>
	</div>

	 <a id='charge_table_msg_btn' data-target='#charge_table_msg' data-toggle='modal' style='display:none'></a>
  <div class="modal fade" id="charge_table_msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
				  <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputSpField.html", 
                                {
                                    id:'que_sp', 
                                    label:'结算公司', 
                                    value: '',
                                    required: 'required'
                            }){} %>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id: 'que_order_no', 
                                    label: '工作单号', 
                                    value: ''
                                }){}%>
                        </div>    
                  </div>    
                   <div class="row">
                        <div class="col-lg-4">
	                         <%include("/eeda/component/form/inputDateQueryField.html", 
			                         {   id:'que_create_stamp', 
			                             label:'创建日期'
			                         }){} %>
	                     </div>
	                     <div class="col-lg-4">
                                <%include("/eeda/component/form/inputCustomerField.html", 
                                     {   id: 'que_customer', 
                                         label: '客户', 
                                         value: ''
                                     }){}%>
                       </div>
                  </div>    
			 		 <div class="form-group button-bar" >
                        <button id="searchBtn" class="btn btn_grey" type="button">查询</button>
                        <button id="resetBtn" class="btn btn_white btn-sm" type="button">清空条件</button>
                        &nbsp&nbsp<input type="checkbox" name="checkOrderAll" id="checkOrderAll" value="Y">查看应收应付<span style="color:red">(红色为应付)</span>
                    </div>
				  <br>
				  <%include("/eeda/component/form/detailTable.html", 
			      {
			          id:'eeda_charge_table',
			          style:'width:1550px',
			          headers:['<input type="checkbox" id="allCharge">','工作单号','创建时间','客户','结算公司','费用名称','对账金额',
                                	'对账币制','对人民币汇率','对账金额（CNY）','备注'
	                                            ],
			          field_list:['id','', 'CREATE_STAMP', 'sp_id', 'charge_id', 'total_amount','currency_id',
			           'exchange_rate', 'currency_total_amount','exchange_currency_id','exchange_currency_rate','exchange_total_amount','remark','sp_name', 'charge_name','charge_name_eng','unit_name','currency_name','EXCHANGE_CURRENCY_ID_NAME','audit_flag'],
			          value_list: chargeList![]
			      }){} %>
			</div>
            <div class="modal-footer">
           		 <button id="add_charge_item" type="button" class="btn btn_green save" data-dismiss="modal">添加</button>
            	 <button type="button" class="btn  btn_white" data-dismiss="modal">返回</button>
           </div>
        </div>
    </div>
</div>
</div>
<%}%>
<script> 
    var itemOrder = {};
</script>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/tms/arap/transChargeCheckOrder/edit']);
    });
</script>
