<%layout("/eeda/layout.html"){%>
        
        <div id="page-wrapper">
            <div class="row">
            	<div class="col-lg-12">
            	<div class="btn-header"></div>
                    <div class="panel-body">
                        <%
                        	var isEnkyo = SYS_CONFIG.css_path;
			                var title = SYS_CONFIG.system_title!'易达物流';
			                var show = 'none';
			                if(title=='易达物流'){
			                    show = 'block';
			                }
			            %>  
			            <!-- { id: 'SOTodoCount', name: 'SO待更新',title:'类型是出口柜货，且没有so号的工作单', url:'/jobOrder?type=sowait'}, -->
			            <div class="row head_style"><div class="font_style">To-do List 待办事项</div></div>
			            <div class="row simple_title_div">
			            	<div class="col-xs-12">
			            	注：<span style="line-height:200%"">下面图标：左边数字为相应待办的数量，右边的文字是待办事项的提醒条件</span>
			            		<div class="row">
			            		<%
				                  var alertItems = [
				                    { id: 'wait1', name: '未约柜',title:'距离出货时间少于3天,且没点击已约柜按钮', url:'/jobOrder?type=aboutShipment',row:'1'},
				                    { id: 'wait2', name: '未派车',title:'距离出货时间少于3天,且没点击已完成派车按钮', url:'/jobOrder?type=truckorderwait'},
				                    { id: 'wait3', name: '待发头程资料',title:'距离出货日期时间少于1天，且没有发送头程给客户的工作单', url:'/jobOrder?type=shipmentHead',row:'1'},
				                    { id: 'wait4', name: '待发送VGM',title:'出货时间等于或小于今天，且还没填写VGM信息的工作单', url:'/jobOrder?type=vgmwait'},
				                    { id: 'wait5', name: '未确认HBL',title:'出货时间等于或小于今天，且还没核对HBL的工作单', url:'/jobOrder?type=hblwait',row:'1'},
				                    { id: 'wait6', name: '未确认MBL',title:'出货时间等于或小于今天，且还还没确认MBL的工作单', url:'/jobOrder?type=mblwait'},
				                    { id: 'wait7', name: '待买保险',title:'出货时间等于或小于今天，服务类型勾上了保险，且保险信息的Tab中的投保单号为空', url:'/jobOrder?type=insurancewait',row:'1'},
				                    { id: 'wait8', name: '待海外系统申报',title:'勾选待海外申报,且距离ETD的时间少于48小时提醒,未点击已AFR/AMS结束提醒', url:'/jobOrder?type=overseacustomwait'},
				                    { id: 'wait9', name: '待电放提单',title:'ETD时间等于当天提醒，未点击已电放结束提醒。', url:'/jobOrder?type=tlxOrderwait',row:'1'},
				                    { id: 'wait10', name: '工作单待报关',title:'服务类型勾上了报关，且报关信息的Tab中，报关行的信息为空的工作单', url:'/jobOrder?type=customwait'}
				                  ];
				                  
				              if(isEnkyo=="/css/enkyo.css"){
				                for(info in alertItems![]){%>
						                    <div class="interval">
						                        <div class="panel <% if(info.row=='1'){%>panel-gray<%}else{%>panel-gray<%}%> li">
						                            <div class="panel-heading">
						                                <div class="row">
						                                	<div class="col-xs-8">
						                                		<a href='${info.url}' style="color:#595757;">
						                                			<div class="huge" id="${info.id}" style="font-size:55px;color:#595757;"></div>
						                                        	<div style="font-size:12px;color:#595757;">${info.name}</div>
						                                		</a>
						                                    </div>
						                                    <div style="font-size:10px;line-height:115%;color:#595757;">${info.title}</div>
						                                    
						                                </div>
						                            </div>
						                        </div>
						                    </div>
						         <%}  
						         }else{
						         	for(info in alertItems![]){ %>
						         	<div class="interval">
				                        <div class="panel <% if(info.row=='1'){%>panel-blue<%}else{%>panel-gray<%}%> li">
				                            <div class="panel-heading">
				                                <div class="row">
				                                	<div class="col-xs-8">
				                                		<a href='${info.url}' style="<% if(info.row=='1'){%>color:white<%}%>;">
				                                			<div class="huge" id="${info.id}" style="font-size:55px;"></div>
				                                        	<div style="font-size:12px;">${info.name}</div>
				                                		</a>
				                                    </div>
				                                    <div style="font-size:10px;line-height:115%;">${info.title}</div>
				                                    
				                                </div>
				                            </div>
				                        </div>
				                    </div>
						         <% }  }%>
						       </div>
						   </div>            
						</div>
			            
                    <div class="row">
                        <div class="col-lg-12">
                        	<div >
                                <%include("/eeda/index/msgPanel.html",{}){} %>
                            </div>
                        </div>
	                     <!--div class="col-lg-6">   
		                     <div class="row head_style"><div class="font_style">工作周报</div></div>
					         <div class="row simple_title_div">
		                        <div class="col-xs-12">
		                            <div class="panel panel-default">
		                                <div class="panel-body">
		                                    <div id="line_chart" style="height:400px"></div>
		                                </div>
		                            </div>
		                        </div>
		                   	</div>
                   		</div-->
                   	</div>
			            <div class="row">
			                <div class="col-lg-12">
			                    <div class="panel panel-default" style="display: none;">
			                        <div class="panel-heading">
			                            <i class="fa fa-bar-chart-o fa-fw"></i> 单据状态
			                        </div>
			                        <!-- /.panel-heading -->
			                        <div class="panel-body">
			                            <div id="main" style="height:400px"></div>
			                        </div>
			                        <!-- /.panel-body -->
			                    </div>
			                    <!-- /.panel -->
			                    
			                </div>
			            </div>
			           </div>
			     </div>
			</div>
			
        </div>
        <!-- /#page-wrapper test-->

<%}%>
<script>
    requirejs(['app/index/main'], function () {
    });
</script>
