<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta property="qc:admins" content="1621525725152022123671306654" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
    <title>${_res.pageTitle}</title>
	
	<link rel="shortcut icon" href="/yh/img/eeda_logo.ico">
	

    <!-- Core CSS - Include with every page -->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/simple.css" rel="stylesheet">
</head>

<body>
    <section class="login_back_top">
        <div class="login_logo">
        </div>
        <div class="login_slogan">
        </div>
        <div class="login_langs">
            <button class="simple_btn active">中文</button>
            <button class="simple_btn">日语</button>
            <button class="simple_btn">English</button>
        </div>
    </section>
    <section class="login_back_middle">
        <div class="row">
            <div>
                <div class="index_circle">
                    <a href="http://booking.esimplev.com/login">
                        <img src="/images/BookingSystem.png">
                    </a>
                </div>
                <div class="index_circle">
                    <a href="http://trade.esimplev.com/login">
                        <img src="/images/TradeSystem.png">
                    </a>
                </div>
                <div class="index_circle">
                    <a href="http://forwarder.esimplev.com/login">
                        <img src="/images/ForwarderSystem.png">
                    </a>
                </div class="index_circle">
                <div class="index_circle">
                    <a href="http://custom.esimplev.com/login">
                        <img src="/images/CustomSystem.png">
                    </a>
                </div>
                <div class="index_circle">
                    <a href="http://trans.esimplev.com/login">
                        <img src="/images/TransSystem.png">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="login_back_half_down">
        <div class="login_half_down_icons">
            <div class="icon">
                <img src="/images/simple/login_icon1.png">
                <p>
                    Shared Resource
                </p>
                <p>
                    资源共享
                </p>
            </div>
            <div class="icon">
                <img src="/images/simple/login_icon2.png">
                <p>
                    Full Controllable
                </p>
                <p>
                    全程可控
                </p>
            </div>
            <div class="icon">
                <img src="/images/simple/login_icon3.png">
                <p>
                    Professional & Efficient
                </p>
                <p>
                    专业高效
                </p>
            </div>
        </div>
        
    </section>
    <section class="login_back_footer">
        Copyright © 2017-2027 ESIMPLEV
    </section>

    <!-- Core Scripts - Include with every page 
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101116610" data-redirecturi="http://56.eeda123.com" charset="utf-8"></script>
    -->
    <script src="/js/lib/jquery/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/js/lib/validate/jquery.validate.min.js"></script>
    <script src="/js/lib/validate/jvalidate.messages_cn.js"></script>
    <script src="/js/lib/jquery/jquery.cookie.js"></script> 


<script>
    $(document).ready(function() {
    
        //QC.Login({
          // btnId:"qqLoginBtn"    //插入按钮的节点id
        //});

        $('#loginForm').validate({
            rules: {
            username: {//form 中company_name为必填, 注意input 中定义的id, name都要为company_name
                required: true
              },
              password:{//form 中 name为必填
                required: true
              }
            },
            messages:{
              	username:"请输入用户名",
              	password:"请输入用户密码"
              },
            highlight: function(element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function(element) {
                element.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
            }
        }); 
        
      //按照状态读取是否显示昵称
      var COOKIE_NAME = 'username'; 
      if( $.cookie(COOKIE_NAME) ){ 
    	  	$("#username").val( $.cookie(COOKIE_NAME) );
    	  	$("#remUserSelect").attr("checked",true) 
    	  	$.cookie(COOKIE_NAME, $("#username").val() , { path: '/', expires: 365 });
    	}
      $("#remUserSelect").click(function(){ 
    	  if(this.checked){ 
    		  $.cookie(COOKIE_NAME, $("#username").val() , { path: '/', expires: 365 }); 
    	  }else{ 
    		  $.cookie(COOKIE_NAME, null, { path: '/' }); //删除cookie 
    		  } 
      });
      
      
    });
</script>
<script>
	$('button[type=submit]').focus();
</script>
</body>

</html>
