<%layout("/eeda/layout.html"){%>
        
        <div id="page-wrapper">
            <div class="row">
            	<div class="col-lg-12">
            	<div class="btn-header"></div>
                    <div class="panel-body">
                        <%
			                var title = SYS_CONFIG.system_title!'易达物流';
			                var show = 'none';
			                if(title=='易达物流'){
			                    show = 'block';
			                }
			            %>  
			            
			            <div class="row head_style"><div class="font_style">To-do List 代办事项</div></div>
			            <div class="row simple_title_div">
			            	<div class="col-xs-12">
			            		<div class="row">
			            		<%
				                  var alertItems = [
				                    { id: 'planOrderTodoCount', name: '计划订单待处理', url:'/planOrder?type=todo',row:'1'},
				                    { id: 'SOTodoCount', name: 'SO待更新', url:'/jobOrder?type=sowait'},
				                    { id: 'truckOrderTodoCount', name: '派车单待处理', url:'/jobOrder?type=truckorderwait',row:'1'},
				                    { id: 'SITodoCount', name: 'SI待更新', url:'/jobOrder?type=siwait'},
				                    { id: 'MBLTodoCount', name: '未确认MBL', url:'/jobOrder?type=mblwait',row:'1'},
				                    { id: 'waitCustomTodoCountPlan', name: '计划单待报关', url:'/planOrder?type=customwaitPlan'},
				                    { id: 'waitCustomTodoCount', name: '工作单待报关', url:'/jobOrder?type=customwait',row:'1'},
				                    { id: 'waitBuyInsuranceTodoCount', name: '待买保险', url:'/jobOrder?type=insurancewait'},
				                    { id: 'waitOverseaCustomTodoCount', name: '待海外系统申报', url:'/jobOrder?type=overseacustomwait',row:'1'},
				                    { id: 'TlxOrderTodoCount', name: '待电放提单', url:'/jobOrder?type=tlxOrderwait'}
				                  ];
				                for(info in alertItems![]){%>
						                    <div class="interval">
						                        <div class="panel <% if(info.row=='1'){%>panel-blue<%}else{%>panel-gray<%}%> li">
						                            <div class="panel-heading">
						                                <div class="row">
						                                	<div class="col-xs-9">
						                                		<a href='${info.url}' style="<% if(info.row=='1'){%>color:white<%}%>">
						                                			<div class="huge" id="${info.id}" style="font-size:60px;"></div>
						                                        	<div style="font-size:14px;">${info.name}</div>
						                                		</a>
						                                    </div>
						                                    <div class="col-xs-3 text-right" style="margin-top:20px">
						                                        <i class="fa fa-file-text fa-2x"></i>
						                                    </div>
						                                </div>
						                            </div>
						                        </div>
						                    </div>
						         <%}%>
						         </div>
						   </div>            
						</div>
			            
                    <div class="row">
                        <div class="col-lg-6">
                        	<div style="width:98%">
                                <%include("/eeda/index/msgPanel.html",{}){} %>
                            </div>
                        </div>
	                     <div class="col-lg-6">   
		                     <div class="row head_style"><div class="font_style">工作周报</div></div>
					         <div class="row simple_title_div">
		                        <div class="col-xs-12">
		                            <div class="panel panel-default">
		                                <div class="panel-body">
		                                    <div id="line_chart" style="height:400px"></div>
		                                </div>
		                            </div>
		                        </div>
		                   	</div>
                   	</div>
                   	</div>
			            <div class="row">
			                <div class="col-lg-12">
			                    <div class="panel panel-default" style="display: none;">
			                        <div class="panel-heading">
			                            <i class="fa fa-bar-chart-o fa-fw"></i> 单据状态
			                        </div>
			                        <!-- /.panel-heading -->
			                        <div class="panel-body">
			                            <div id="main" style="height:400px"></div>
			                        </div>
			                        <!-- /.panel-body -->
			                    </div>
			                    <!-- /.panel -->
			                    <% 
			                        var isShowProfitChart = permissionMap.Index_showProfitChart;
			                        if(nvl(isShowProfitChart, '') != ""){
			                    %>
				               <div class="row head_style"><div class="font_style">运营报表</div></div>
					         		<div class="row simple_title_div">
				                        <div class="panel-body">
					                        <div class="col-lg-4" style="margin:0px 0px 0px 80px;">
			                                     <%include("/eeda/component/form/inputCustomerField.html", 
			                                                {
			                                                    id:'customer_id', 
			                                                    label:'客户名称', 
			                                                    value: ''
			                                                }){} %>
			                                </div>
			                                <div class="col-lg-4">        
		                                            <%include("/eeda/component/form/yearsInputField.html",
		                                            		{
		                                            			id:'years_date', 
		                                            			label:'时间', 
		                                            			value:''
		                                            		}){} %>
		                                    </div>
		                                    <button id="searchBtn" class="btn btn-primary btn-sm" type="button">查询</button>
						                    <div id="profit_chart" style="height:400px"></div>
						                    <script>
                                                requirejs([], function () {
                                                    requirejs(['app/index/index_profit_charts']);
                                                });
                                            </script>
				                    	</div>
				                    </div>
			                    <%}%>
			                </div>
			            </div>
			           </div>
			     </div>
			</div>

        </div>
        <!-- /#page-wrapper test-->

<%}%>
<script>
    requirejs(['app/index/main'], function () {
    });
</script>
