<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>${SYS_CONFIG.system_title!''}</title>
    <% var logoPath=SYS_CONFIG.logo!'';
    if(logoPath==""){%>
	<link rel="shortcut icon" href="/yh/img/eeda_logo.ico">
	<%}else{%>
	<link rel="shortcut icon" href="${SYS_CONFIG.logo!''}">
	<%}%>
     <!-- Core CSS - Include with every page -->
    <link href="/css/bootstrap/bootstrap.min.3.3.6.css" rel="stylesheet">
    <link href="/css/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/js/lib/sco/css/sco.message.css" rel="stylesheet"> 
    <!-- <link href="/js/lib/datatables/css/jquery.dataTables.css" rel="stylesheet"> -->
    <link href="/js/lib/datatables/css/dataTables.bootstrap.css" rel="stylesheet">
    

    <link href="/js/lib/ColReorder-1.3.3/css/colReorder.bootstrap.min.css" rel="stylesheet">
    <!--link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"> -->
    
    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/css/morris/morris-0.4.3.min.css"  rel="stylesheet">
    <link href="/css/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page fdsafdsafdsa-->
    <link href="/js/lib/sb-admin/css/sb-admin.css" rel="stylesheet">

    <link href="/css/eeda.css" rel="stylesheet">

    <link href="${SYS_CONFIG.css_path!''}" rel="stylesheet">
    
    <script src="/js/lib/jquery/jquery-1.10.2.js" type="text/javascript"></script>

    <link href="/js/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    
    <script src="/js/lib/require2.3.2.min.js"></script>
    <%include("/eeda/component/form/commonJs.html",{}){} %>
</head>

<body>

    <div id="wrapper">

        <nav id="headDiv" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">
                <h3 style="color:white;margin-top:-15px">远桥供应链</h3>
                </a>
                
            </div>
            <!-- /.navbar-header -->
			<div class="banner_slogan"></div>
            <ul class="nav navbar-top-links navbar-right">
				<%
	                var title = SYS_CONFIG.system_title!'易达物流';
	            %>
                <!-- /.dropdown -->
                <div style="display: none;">
                    ${office_name!''}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i><span class="hidden-phone"> ${userId!'N/A'}</span>   <i class="fa fa-caret-down"></i>
                        </a>
                      
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="/loginUser/editPerson"><i class="fa fa-user fa-fw"></i> 用户信息</a>
                            </li>
                           
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                </div>

                
                <div class="new_msg" style="display: none;">
                    <a href="/personalMsg">
                        <i class="fa fa-envelope-o fa-2x"></i>
                    </a>
                </div>
                <div class="person_image">
                    <img src="/images/simple/person_image_40x40.png">
                    <a href="/loginUser/editPerson">
                        ${userId!'N/A'}
                    </a>
                </div>
                <div class="log_out"  style="float:right">
                    <a href="/logout">
                        Log Out 退出
                            
                    </a>
                </div>
            </ul>
        </nav>
        <div style="text-align:center;">
        	<span id="headShow" style="width:50px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;position: absolute;background-color: rgba(241, 241, 241, 0.3); margin-top:-5px;z-index:1;color:white;cursor: pointer;">
        	   <i id='hide_header_icon' class="fa fa-angle-up fa-2x"></i>
            </span>
        	
        </div>
        <!-- /.navbar-static-top -->

        <nav  id='left_side_bar' class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <%  
                        var map = permissionMap!'';
                    
                        for(module in modules![]){
                        %>
                            <li id="${module.id!}">

                                <% if('Y' == module.is_one_module!) {
                                    first_moudle = module.orders[0];
                                %>
                                    <a href="${first_moudle.url!''}">
                                        <i class="fa fa-file-text fa-fw"></i>
                                        ${first_moudle.module_name!}
                                    </a>
                                <%} else {%>
                                    <a href="#">
                                        <% 
                                            if(module.icon!=null){ 
                                            %>
                                                <img src="/images/${module.icon!}" style="width: 12px;margin-top: -3px;">
                                        <%  }else {%>
                                                <i class="fa fa-file-text fa-fw"></i>
                                        <%  } %>
                                        <span style="padding-left: 5px;">${module.module_name!}</span>
                                            <span class="fa arrow"></span>
                                    </a>
                                    <% if(module.orders != null ){%>
                                        <ul class="nav nav-second-level">
                                            <%
                                            for(menu_order in module.orders){
                                            %>
                                                <li id="${menu_order.id}">
                                                    <a href="${menu_order.url!''}">${menu_order.module_name!}</a>
                                                </li>
                                            <%}%>
                                        </ul>
                                    <%}%>
                                <%}%>
                            </li>
                    <%  }%>
                </ul>
                <!--  /#side-menu -->

            </div>
            <div class="version">版本号: <span id="version_no">170428.0152</span></div>
            <!-- /.sidebar-collapse -->
        </nav>


        <!-- /.navbar-static-side -->
        <a id='hide_menu_btn' href="#" style="position: absolute;left: 150px;top: 250px; z-index:1; height: 200px; background-color: rgb(241, 241, 241); border-top-right-radius: 10px; border-bottom-right-radius:10px;" title="隐藏菜单">
            <i id='hide_menu_icon' class="fa fa-angle-double-left fa-2x" style="margin-top: 90px;"></i>
        </a>
        <ol class="breadcrumb">
            <div class="breadcrumb_icon"></div>
            <!--li><a href="#"></a></li-->
            <li id="breadcrumb_li"></li>
            <div class="breadcrumb_config_icon pull-right" style="display: none; margin-right: 10px;">
                <a id="list_config" href="#" title="列表设置">
                    <i class="fa fa-gear"></i>
                </a>
            </div>
        </ol>
        
        
        ${layoutContent}
        
        <%include("/eeda/component/listConfig/listConfig.html",{}){} %>
        <%include("/eeda/component/listConfig/listConfigModal.html",{}){} %>
    </div>
    <!-- /#wrapper 11-->

  
</body>
<script>
$(document).ready(function() {
	$('#headShow').on('click',function(){
        var is_head_show = '';
        if(!!window.localStorage){
            is_head_show = localStorage.getItem('headDiv');
        }
		
		if(is_head_show == 'show'){
			if(!!window.localStorage){
				localStorage.setItem("headDiv","hide");
			}
			$('#hide_header_icon').removeClass('fa-angle-up').addClass('fa-angle-down');
			$('#headDiv').hide();
		}else{
			if(!!window.localStorage){
				localStorage.setItem("headDiv","show");
			}
			$('#hide_header_icon').removeClass('fa-angle-down').addClass('fa-angle-up');
			$('#headDiv').show();
		}
	});
	
	var headDiv = '';
	if(!!window.localStorage){
	 	headDiv = localStorage.getItem('headDiv');
	}

	if(headDiv == 'hide'){
		$('#hide_header_icon').removeClass('fa-angle-up').addClass('fa-angle-down');
		$('#headDiv').hide();
	}else if(headDiv == 'show'){
		$('#hide_header_icon').removeClass('fa-angle-down').addClass('fa-angle-up');
		$('#headDiv').show();
	}
})
</script>
</html>

