<!DOCTYPE html>
<html>
<% var isEnkyo = SYS_CONFIG.css_path; %>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta property="qc:admins" content="1621525725152022123671306654" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/js/lib/sco/css/sco.message.css" rel="stylesheet">
  
    <title>${_res.pageTitle}</title>
	<% if(SYS_CONFIG.logo==""){%>
	<link rel="shortcut icon" href="/yh/img/eeda_logo.ico">
	<%}else{%>
	<link rel="shortcut icon" href="${SYS_CONFIG.logo!''}">
	<%}%>

    <!-- Core CSS - Include with every page -->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <% if(isEnkyo=="/css/enkyo.css"){ %>
    	<link href="/css/enkyo.css" rel="stylesheet">
    <% }else{ %>
    	<link href="/css/simple.css" rel="stylesheet">
    <% } %>
</head>

<body>
    
   <% if(isEnkyo=="/css/enkyo.css"){ %>
	   <section class="login_back_half_up">
	        <h1 class="login_logo">
                <img height="80" ="" src="/images/enkyo/logo.jpg">
	        </h1>
	        <div class="login_langs">
	            <button class="simple_btn active">中文</button>
	            <button class="simple_btn">日语</button>
	            <button class="simple_btn">English</button>
	        </div>
	   </section>
	   <section class="login_back_half_down">
        <div class="login_half_down_icons">
            <div class="icon">
                <img src="/images/enkyo/login_icon1.png">
                <p>
                    Shared Resource
                </p>
                <p>
                    资源共享
                </p>
            </div>
            <div class="icon">
                <img src="/images/enkyo/login_icon2.png">
                <p>
                    Full Controllable
                </p>
                <p>
                    全程可控
                </p>
            </div>
            <div class="icon">
                <img src="/images/enkyo/login_icon3.png">
                <p>
                    Professional & Efficient
                </p>
                <p>
                    专业高效
                </p>
            </div>
        </div>
        <div class="login_form">
        <% if(isEnkyo=="/css/enkyo.css"){ %>
            <div class="login_form_eng_title">
               Enkyo Supply Management
            </div>
        <% }else{%>
        	<div class="login_form_eng_title">
               Esimplev Supply Management
            </div>        
        <%}%>
            <div class="login_form_cn_title">
                ${system_name!'检单-供应链管理系统'} <span style="display: none;">- 注册新用户</span>
            </div>
            <form  id="loginForm"  >
                    <div class="form-group" >
                        <input class="form-control" placeholder="Email / 用户名" id="username" name="username" type="text" autofocus value="" autocomplete="on" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" data-container="body" 
							data-toggle="popover" data-placement="bottom" 
							data-content="大写锁定已打开" 
							placeholder="Password / 密码" id="password" name="password" type="password" value="" required>
                    </div>
                   
                    <div class="form-group">
                        <div id="signInBtn" class="btn"><div style="margin-top:3px;font-size:14px;color:white;">Sign In 登录</div></div>
                    </div>
                    <div class="form-group">
                        <a href="/" style="margin-top:20px;margin-left:200px;color:#233248;font-weight:bold;">首页</a>
                    </div>
            </form>
    </section>
   <% }else{ %>
   <section class="login_back_half_up">
        <div class="login_logo">
        </div>
        <div class="login_slogan">
        </div>
        <div class="login_langs">
            <button class="simple_btn active">中文</button>
            <button class="simple_btn">日语</button>
            <button class="simple_btn">English</button>
        </div>
    </section>
    <section class="login_back_half_down">
        <div class="login_half_down_icons">
            <div class="icon">
                <img src="/images/simple/login_icon1.png">
                <p>
                    Shared Resource
                </p>
                <p>
                    资源共享
                </p>
            </div>
            <div class="icon">
                <img src="/images/simple/login_icon2.png">
                <p>
                    Full Controllable
                </p>
                <p>
                    全程可控
                </p>
            </div>
            <div class="icon">
                <img src="/images/simple/login_icon3.png">
                <p>
                    Professional & Efficient
                </p>
                <p>
                    专业高效
                </p>
            </div>
        </div>
        <div class="login_form">
        <% if(isEnkyo=="/css/enkyo.css"){ %>
            <div class="login_form_eng_title">
               Enkyo Supply Management
            </div>
        <% }else{%>
        	<div class="login_form_eng_title">
               Esimplev Supply Management
            </div>        
        <%}%>
            <div class="login_form_cn_title">
                ${system_name!'检单-供应链管理系统'} <span style="display: none;">- 注册新用户</span>
            </div>
            <form  id="loginForm"  >
                    <div class="form-group" >
                        <input class="form-control" placeholder="Email / 用户名" id="username" name="username" type="text" autofocus value="" autocomplete="on" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" data-container="body" 
							data-toggle="popover" data-placement="bottom" 
							data-content="大写锁定已打开" 
							placeholder="Password / 密码" id="password" name="password" type="password" value="" required>
                    </div>
                   
                    <div class="form-group">
                        <div id="signInBtn" class="btn"><div style="margin-top:3px">Sign In 登录</div></div>
                    </div>
                    <div class="form-group">
                        <a href="/" style="margin-top:20px;margin-left:200px;">首页</a>
                    </div>
            </form>
    </section>
    <% } %>
    <% if(isEnkyo=="/css/enkyo.css"){ %>
	    <section class="login_back_footer">
	        Copyright © 2017-2027 ENKYO
	    </section>
	<% }else{%>
		<section class="login_back_footer">
	        Copyright © 2017-2027 ESIMPLEV
	    </section>	
	<%}%>
    <script src="/js/lib/jquery/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/js/lib/validate/jquery.validate.min.js"></script>
    <script src="/js/lib/validate/jvalidate.messages_cn.js"></script>
    <script src="/js/lib/jquery/jquery.cookie.js"></script> 
    
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#signInBtn').on('click',function(){
        	login();
        });
        
        $(document).keypress(function(e) {  
            // 回车键事件  
            if(e.which == 13) {  
            	login();
            }  
        }); 
        
        var login = function(){
        	if(!$('#loginForm').valid()){
        		return false;
        	}
        	
        	$.post('/login',$('#loginForm').serialize(),function(data){
        		if(data.ERRMSG){
        			$.scojs_message(data.ERRMSG, $.scojs_message.TYPE_ERROR);
        		}else{
        			window.location.href = "/login?username="+$('#username').val()+"&password="+$('#password').val();
        		}
        	}).fail(function(){
        		alert("系统出错，请刷新后再尝试");
        	}); 
        }
        
        $('#password').on('click input',function(){
        	var value = $('#password').val(); 
        	if(value.length>0){
        		value = value.substr(value.length-1,1);
        	}
        	var className = $('#password').attr('class');
       	    if (/^[A-Z]+$/.test(value)) { 
   	    	    if(className != 'form-control popover-toggle'){
   	    	    	$('#password').attr('class','form-control popover-toggle');
   	    	    	$('.popover-toggle').popover('toggle');
   	    	    }
       	    } else {
       	    	if(className == 'form-control popover-toggle'){
       	    		$('.popover-toggle').popover('toggle');
   	    	    	$('#password').attr('class','form-control');
   	    	    } 
       	    }
        });


        //$('.popover-toggle').popover('toggle');
      //按照状态读取是否显示昵称
/*       var COOKIE_NAME = 'username'; 
      if( $.cookie(COOKIE_NAME) ){ 
    	  	$("#username").val( $.cookie(COOKIE_NAME) );
    	  	$("#remUserSelect").attr("checked",true) 
    	  	$.cookie(COOKIE_NAME, $("#username").val() , { path: '/', expires: 365 });
    	}
      $("#remUserSelect").click(function(){ 
    	  if(this.checked){ 
    		  $.cookie(COOKIE_NAME, $("#username").val() , { path: '/', expires: 365 }); 
    	  }else{ 
    		  $.cookie(COOKIE_NAME, null, { path: '/' }); //删除cookie 
    		  } 
      }); */
      
      
    });
</script>
<script src="/js/lib/sco/js/sco.message.js"></script>
</body>

</html>
