<%layout("/eeda/layout.html"){%>
<link rel="stylesheet" href="/js/lib/jQuery-File-Upload-9.9.3/css/jquery.fileupload.css">

 <div id="page-wrapper">

    <div class="row simple_search_div"><br>
                <div class="col-lg-12">                            
<!--                                 <form id="customerForm" role="form" action="/customer/save" method="post"> 用js提交保存了 -->
						 
                         <form id="customerForm" >
                                    <input id="partyId" name="party_id" type="hidden" value="${party.id!''}">
                                    <input id="office_id" name="office_id" type="hidden" value="${party.office_id!''}">
                                    <!-- /.col-lg-6 (odd) 奇数列 -->
                              <div class="row">
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>代码</label>
                                                <input class="form-control" id="code" type="text" name="code" value="${party.code!''}" readonly>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>联系人</label>
                                                <input class="form-control" id="contact_person" type="text" name="contact_person" value="${party.contact_person!''}">
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <%include("/eeda/component/form/selectField.html", 
							                                {   id:'company_type', 
							                                    label:'企业类型', 
							                                    value:party.company_type!'',
							                                    class:'form-control', 
							                                    value_list:[
							                                    	{code:'', value:''},
							                                        {code:'生产', value:'生产'},
							                                        {code:'贸易', value:'贸易'}
							                                    ]
							                                }){}%>
                                            </div>                                     
                                        </fieldset>
                                    </div>
	                          </div>
	                          <div class="row"> 
                              		<div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>助记码:拼音首字母(<span style="color:red">必填</span>)</label>
                                                <input  class="form-control" id="quick_search_code" name="quick_search_code" type="text" value="${party.quick_search_code!''}" required>
                                            </div>                                     
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>联系人(英文)</label>
                                                <input class="form-control" id="contact_person_eng" type="text" name="contact_person_eng" value="${party.contact_person_eng!''}">
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>开票单位</label>
                                                <input class="form-control" id="receipt" type="text" name="receipt" value="${party.receipt!''}">
                                            </div>
                                        </fieldset>
                                    </div>
                              </div>
							  <div class="row">  
							  		<div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>公司简称(<span style="color:red">必填</span>)</label>
                                                <input  class="form-control" id="abbr" name="abbr" type="text" value="${party.abbr!''}" required>
                                            </div>                                     
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>联系人电话</label>
                                                <input class="form-control" id="phone" type="text" name="phone" value="${party.phone!''}">
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>商检企业备案号</label>
                                                <input class="form-control" id="registration" type="text" name="registration" value="${party.registration!''}">
                                            </div>
                                        </fieldset>
                                    </div>
                              </div>
							  <div class="row">
							  		<div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>公司中文名称(<span style="color:red">必填</span>)</label>
                                                <input  class="form-control" id="company_name" name="company_name" type="text" value="${party.company_name!''}" required>
                                            </div>                                     
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>传真</label>
                                                <input  class="form-control " id="fax" type="text" name="fax" value="${party.fax!''}">
                                            </div>                                     
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>海关备案号</label>
                                                <input class="form-control" id="custom_registration" type="text" name="custom_registration" value="${party.custom_registration!''}">
                                            </div>
                                        </fieldset>
                                    </div>
                              </div>
							  <div class="row">
							  		<div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>公司英文名称</label>
                                                <input  class="form-control" id="company_name_eng" name="company_name_eng" type="text" value="${party.company_name_eng!''}">
                                            </div>                                     
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>视屏通话帐号(skype)</label>
                                                <input class="form-control" id="skype" type="text" name="skype" value="${party.skype!''}">
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>保险费率</label>
                                                <input class="form-control" id="insurance_rates" name="insurance_rates" type="text" value="${party.insurance_rates!''}">
                                            </div>
                                        </fieldset>
                                    </div>
							  </div>
							  <div class="row">
							  		<div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>中文地址</label>
                                                <input  class="form-control" id="address" type="text" name="address" value="${party.address!''}">
                                            </div>                                     
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>邮箱</label>
                                                <input  class="form-control " id="email" type="text" name="email" value="${party.email!''}">
                                            </div>                                     
                                        </fieldset>
                                    </div>
									
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>收款方式</label>
	                                           	<select class="form-control" id="payment" name="payment">
	                                           		<option value="monthlyStatement"  <%if(party.payment!''=='monthlyStatement'){ %>selected<%}%>>月结</option>
	                                           		<option value="freightCollect"  <%if(party.payment!''=='freightCollect'){ %>selected<%}%>>到付</option>
	                                           		<option value="cashPayment" <%if(party.payment!''=='cashPayment'){ %>selected<%}%>>现付</option>
	                                           	</select>
                                            </div>
                                        </fieldset>
                                    </div>
                                    
                              </div>
							  <div class="row">
							  		<div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>英文地址</label>
                                                <input  class="form-control" id="address_eng" type="text" name="address_eng" value="${party.address_eng!''}">
                                            </div>                                     
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>邮编</label>
                                                <input class="form-control" id="zip_code" type="text" name="zip_code" value="${party.zip_code!''}">
                                            </div>
                                        </fieldset>
                                    </div> 
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>计费方式</label>
	                                         	<input type="hidden" value="${party.charge_type!''}" id="chargeTypeSelect">
	                                           	<select class="form-control" id="chargeType" name="chargeType">
	                                           		<option value="perUnit">计件</option>
	                                           		<option value="perCar">整车</option>
	                                           		<option value="perCargo">零担</option>
	                                           	</select>
                                            </div>
                                        </fieldset>
                                    </div>
                              </div>
							  <div class="row">
							  		<% if(shiro.hasPermission("customer.charge_company")){%>
							  		  <div class="customerClass col-lg-4">
			                            <%include("/eeda/component/form/inputSpField.html", 
			                                {
			                                    id:'charge_company_id', 
			                                    label:'所属结算公司',
			                                    class:'form-control', 
			                                    value:party.charge_company_id!'',
			                                    display_value:party.charge_company_abbr!''
			                                }){} %>
			                          </div>
			                         <%}%>
			                         <div class="col-lg-4">
                                        <fieldset>
                                            <div class="form-group">
                                                <label>纳税人识别号</label>
                                                <input class="form-control" id="identification_no" type="text" name="identification_no" value="${party.identification_no!''}">
                                            </div>
                                        </fieldset>
                                      </div>
									  <div class="col-lg-4">
	                                        <fieldset>
	                                            <div class="form-group">
	                                                <label>重点客户提醒(一段时间内没有出现在工作单进行提醒)</label>
		                                           	<select class="form-control" id="customer_remind" name="customer_remind">
		                                           		<option></option>
		                                           		<option value="7" <% if(party.customer_remind!''=='7'){%>selected<%}%>>七天</option>
		                                           		<option value="15"<% if(party.customer_remind!''=='15'){%>selected<%}%>>十五天</option>
		                                           		<option value="30"<% if(party.customer_remind!''=='30'){%>selected<%}%>>三十天</option>
		                                           		<option value="90"<% if(party.customer_remind!''=='90'){%>selected<%}%>>九十天</option>
		                                           		<option value="180"<% if(party.customer_remind!''=='180'){%>selected<%}%>>一百八十天</option>
		                                           		<option value="360"<% if(party.customer_remind!''=='360'){%>selected<%}%>>三百六十天</option>
		                                           	</select>
	                                            </div>
	                                        </fieldset>
	                                    </div>
	                            </div>
	                            <div class="row">
	                            		<div class="col-lg-4">
	                                        <fieldset>
	                                            <div class="form-group">
	                                                <label>提单抬头</label>
													<textarea class="form-control" rows="5"  id="bill_of_lading_info" name="bill_of_lading_info">${party.bill_of_lading_info!''}</textarea>
	                                            </div>
	                                        </fieldset>
	                                    </div>	                            
	                                    <div class="col-lg-4">
	                                        <fieldset>
	                                            <div class="form-group">
	                                                <label>公司简介</label>
													<textarea class="form-control" rows="5"  id="introduction" name="introduction">${party.introduction!''}</textarea>
	                                            </div>
	                                        </fieldset>
	                                    </div>                              
	                                    <div class="col-lg-4">
	                                        <fieldset>
	                                            <div class="form-group">
	                                                <label>特别事项录入</label>
													<textarea class="form-control" rows="5" id="special_item" name="special_item">${party.special_item!''}</textarea>
	                                            </div>
	                                        </fieldset>
	                                    </div>
                               </div>
                               <div class="row">                            
	                                    <div class="col-lg-4">
	                                        <fieldset>
	                                            <div class="form-group">
	                                                <label>备注</label>
													<textarea class="form-control" rows="5" id="remark" name="remark">${party.remark!''}</textarea>
	                                            </div>
	                                        </fieldset>
	                                    </div>
                               </div>
                               <div class="row">
                               		   <div class="col-lg-12">                              
									   		<h4>经营信息</h4>
									   </div>
                                       <div class="form-group">
                                       		<div class="col-lg-4">
                                                <label>今年销售额</label>
												<input placeholder="" class="form-control" id="this_year_salesamount" name="this_year_salesamount" type="text" value="${party.this_year_salesamount!''}">
                                            </div>
                                    		<div class="col-lg-4">
                                                 <label>去年销售额</label>
											      <input placeholder="" class="form-control" id="last_year_salesamount" name="last_year_salesamount" type="text" value="${party.last_year_salesamount!''}">
                                             </div>
                                    		<div class="col-lg-4">
                                             	<label>前年销售额</label>
												<input placeholder="" class="form-control" id="beforelast_year_salesamount" name="beforelast_year_salesamount" type="text" value="${party.beforelast_year_salesamount!''}">
                                         	</div>
                                        </div>
                                </div>
						   </form>
			 
			 <div class="row">        
	             <div class="col-lg-12" style="margin-top:15px;">
	               <h4>地点信息</h4>
	             </div>
	             <div class="form-group">
	                 <div class="col-lg-12">
	                        <form id="Custom_noteForm" style="margin-top:10px;">
	                            <button class="btn  btn_green" id="add_cargo" type="button">    添加地点</button> 
	                                   <br>
	                                   <%include("/eeda/component/form/detailTable.html", 
	                                       {
	                                           id:'dock_table',
	                                           style:'width:100%',
	                                           headers:['','地点名称','联系人','联系人电话','单据备注','图片上传','地点英文名称','所属区域',''],
	                                           field_list:['id','dock_name','land_contacts','land_contact_phone','bill_remark','picture_link','dock_name_eng','dock_region',''],
	                                           value_list: itemList![]
	                                       }){} %>
	                        </form>
	                    </div>
	            </div>
            </div>         
           <!-- /.row (nested) -->
          <div class="row" style="margin-top:15px;">
               <div class="col-lg-12"> 
                <ul  class="nav nav-tabs">
                	<li class="active">
                        <a id='salesman_Info' href="#salesmanInfo" data-toggle="tab" >业务员关联信息</a>
                    </li>                    
                     <% if(shiro.hasPermission("customer.transOffer")){%>
                    <li >
                        <a id='customer_quotation' href="#customerQuotation" data-toggle="tab" >客户报价表</a>
                    </li>
                    <%}%>
                    
                    

                    <li >
                        <a id='account_Info' href="#accountInfo" data-toggle="tab" >银行账户信息</a>
                    </li>

                    <li >
                        <a id='contact_Info' href="#contactInfo" data-toggle="tab" >联系人信息</a>
                    </li>
                    <li >
                        <a id='document_info' href="#documentInfo" data-toggle="tab" >文档信息</a>
                    </li>
                </ul>
               </div>
         </div>
         <div class="tab-content">
                <div class="tab-pane fade  in" id="documentInfo">
                    <div class="form-group"> 
                     <div class="col-lg-12"> 
                        <span class=" fileinput-button" id="fileuploadSpan"> 
                                    
                                    <span style="margin-top:10px" class="btn  btn_green">
                                    	<i class="glyphicon glyphicon-plus"></i> 
                                    	选择文件</span> 
                                    <input id="fileupload" type="file" name="files[]" multiple> 
                                </span> 
                               
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'doc_table',
                                        headers:['','文档名称', '备注', '上传人', '上传时间'],
                                        field_list:['','doc_name', 'remark','c_name','upload_time'],
                                        value_list: docList![]
                                    }){} %>
                          </div>
                        </div>      
                </div>
                
                <div class="tab-pane fade " id="customerQuotation">
                    <div class="form-group"> 
                     <div class="col-lg-12"> 
                       <button id="add_customerQuotation" type="button" class="btn btn_green">添加</button>
                               
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'customer_quotation_table',
                                        style:'width:1400px',
                                        headers:[' 操作 ','','提柜码头', '装货地点1', '装货地点2', '还柜码头','车型','货柜数量','不含税运费币制','街车运费','不含税运费','税率','税金','含税运费','备注','','','','',''],
                                        field_list:['','','take_wharf','loading_wharf1','loading_wharf2','back_wharf','truck_type','container_volume','currency_id','street_vehicle_freight','tax_free_freight','tax_rate','tax','price_tax','remark'
                                            ,'take_address_name','delivery_address_name','loading_wharf1_name','loading_wharf2_name','CURRENCY_NAME'],
                                        value_list: customerQuotationList![]
                                    }){} %>
                          </div>
                        </div> 
                </div>
                
                <div class="tab-pane fade active  in" id="salesmanInfo">
                    <div class="form-group"> 
                     <div class="col-lg-12"> 
                         <%include("/eeda/profile/customer/salesmanTable.html",{}){}%>
                      </div>
                    </div>      
                </div>
                <div class="tab-pane fade in" id="accountInfo">
                    <div class="form-group"> 
                     <div class="col-lg-12"> 
                        <%include("/eeda/profile/customer/BankAccount.html",{}){}%>
                      </div>
                    </div>      
                </div>
                <div class="tab-pane fade in" id="contactInfo">
                    <div class="form-group"> 
                     <div class="col-lg-12"> 
                         <%include("/eeda/profile/customer/ContactsItem.html",{}){}%>
                      </div>
                    </div>      
                </div>
         </div>
         <a id='a_btn' data-target='#msg' data-toggle='modal' style='display:none'></a>
                    <div class="modal fade" id="msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">单据备注 </div>
					      	<div class="modal-body">
					      		<div class="form-group">
				                    <textarea id='showNote' class="form-control" rows="5" ></textarea>
				            	</div>
					    	</div>
					    	<div class="modal-footer">
					    		<button type="button" id="btnConfirm" class="btn  btn-primary" data-dismiss="modal">确认</button>
					            <button type="button" class="btn  btn-default" data-dismiss="modal">返回</button>
					        </div>
					  </div>
					</div>
				  </div>

                <div class="col-lg-12" style="margin-top:15px;">
                   <div  style="clear:both;">
                       <button id="saveBtn" type="button" class="btn btn_green">保存</button>
                       <a class="btn  btn-primary" href="/customer">返回</a>
                       <a class="btn btn_green" href="/customer/add" style="margin-left:30px;">新增</a>
                   </div>
                </div>
      </div>
     <!-- /.panel-body -->
    </div>
   <!-- /.row -->      
</div>

<%}%>

<%include("/eeda/component/jsTemplate/tableInputFieldCurrencyId.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableSelectTruckTypeField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputDockInfoField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputField.js",{}){} %>
<script>
var itemOrder={};
 var company_name = '${party.company_name!''}';

if(company_name){
	document.title = company_name +' | '+document.title;
}
</script>
<script>
requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/profile/customer/edit']);
    });
</script>