<%layout("/eeda/layout.html"){%>

<link rel="stylesheet" href="/js/lib/jQuery-File-Upload-9.9.3/css/jquery.fileupload.css">

        <div id="page-wrapper">
          <div class="row simple_small_title_div">
           <div class="col-lg-12">
            <input id="order_id" type="hidden" name="order_id" value="${order.id!''}"/>
            <input id="to_office_id" type="hidden" name="order_id" value="${order.to_office_id!to_office_id!''}"/>
            <% 
                var ref_order_id='';
                if(has(order) && (null != order.ref_job_order_id!)){
                    ref_order_id = order.ref_job_order_id;
                }else if(has(jobOrder) && (null != jobOrder.id!)){
                    ref_order_id = jobOrder.id;
                }
            %>
            <input id="ref_job_order_id"  name="ref_job_order_id" value="${ref_order_id}"/>
            
                <form id="customForm">
                    <div class="row"><!--  第1行  --> 
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'order_no', 
                                                    label:'申请单号', 
                                                    value:order.order_no!'',
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                               {   id:'ref_no', 
                                                   label:'关联单号', 
                                                   value:order.ref_no!jobOrder.order_no!''
                                               }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputPartyField.html", 
                                          {   id:'carrier',
                                              type:  'carrier',
                                              label: '船公司', 
                                              value: order.carrier!'',
                                              display_value: order.carrier_input!''
                                            }){}%>
                        </div>
                     </div>
                     
                     <div class="row"><!--  第2行  -->
	                   <div class="col-lg-4">
	                        <%include("/eeda/component/form/inputField.html", 
	                                            {   id:'status', 
	                                                label:'单据状态',
	                                                disabled: 'disabled', 
	                                                value:order.status!''
	                                            }){}%>
	                    </div>
	                    <div class="col-lg-4">
	                        <%include("/eeda/component/form/inputField.html", 
	                                           {   id:'creator_name', 
	                                               label:'创建人', 
	                                               value:user.c_name!'', 
	                                               disabled: 'disabled'
	                                            }){}%>
	                    </div>
	                    <div class="col-lg-4">
	                        <%include("/eeda/component/form/inputField.html", 
	                                           {   id:'create_stamp', 
	                                               label:'创建时间', 
	                                               value:order.create_stamp!'', 
	                                               disabled: 'disabled'
	                                           }){}%>
	                    </div>
	                </div>
                     
                     <div class="row"><!--  第2行  --> <!--         	  required:'required',-->
                        <div class="col-lg-4">
                             <%include("/eeda/component/form/selectField.html", 
                                {   id:'type', 
                                    label:'类型', 
                                    value:order.type!'',
                                    value_list:[
                                        {code:'出口柜货', value:'出口柜货'},
                                        {code:'出口散货', value:'出口散货'},
                                        {code:'进口柜货', value:'进口柜货'},
                                        {code:'进口散货', value:'进口散货'}
                                    ]
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                           	<%include("/eeda/component/form/selectField.html", 
                                {   id:'drawback', 
                                    label:'是否退税', 
                                    value:order.drawback!'',
                                    value_list:[
                                        {code:'N', value:'否'},
                                        {code:'Y', value:'是'}
                                    ]
                                }){}%> 
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/dateInputField.html", 
                                             {   id:'date_custom', 
                                                 label:'报关日期', 
                                                 value:order.date_custom!''
                                              }){}%>
                        </div><!-- /.col-lg-4 -->
                    </div>
                    <div class="row">
	                    <div class="col-lg-4">
	                       		<%include("/eeda/component/form/selectField.html", 
	                                {   id:'wharf_fee', 
	                                    label:'代垫码头杂费', 
	                                    value:order.wharf_fee!'',
	                                    value_list:[
	                                        {code:'N', value:'否'},
	                                        {code:'Y', value:'是'}
	                                    ]
	                                }){}%>
	                    </div>
	                    <div class="col-lg-4">
	                           <%include("/eeda/component/form/inputDropListField.html", 
			                                    {   id:'customs_code', 
			                                        label:'企业海关代码',
			                                        url: '/serviceProvider/searchCompanyCustomCode',
			                                        value:order.customs_code!'',
			                                        display_value:order.customs_code_name!''
			                                    }){}%>
                       </div>

                        <div class="col-lg-4" >
                            <%include("/eeda/component/form/selectField.html", 
				                                 {   id:'custom_state', 
				                                     label:'海关状态',
				                                     disabled:'disabled',
				                                     value:order.custom_state!'',
				                                     value_list:[
                                                        {code:'', value:''},
                                                        {code:'改单', value:'改单'},
                                                        {code:'复查', value:'复查'},
                                                        {code:'过磅', value:'过磅'},
                                                        {code:'查验', value:'查验'},
                                                        {code:'异常', value:'异常'},
                                                        {code:'异常待处理', value:'异常待处理'},
                                                        {code:'询价', value:'询价'},
                                                        {code:'商检', value:'商检'},
                                                        {code:'抽样', value:'抽样'},
                                                        {code:'补税', value:'补税'},
                                                        {code:'放行', value:'放行'}
				                                    ] 
				                                 }){}%>
                        </div>
                        
                    </div>
                    <div class="row">                     
                    	<div class="col-lg-4"  >
                    			<%include("/eeda/component/form/inputField.html", 
			                                    {   id:'customs_billCode', 
			                                        label:'报关单号码',
			                                        value:order.customs_billCode!''
			                                    }){}%>                	
                       </div>
                       <div class="col-lg-4"  >
                    			<%include("/eeda/component/form/inputField.html", 
			                                    {   id:'copyTracking_no', 
			                                        label:'提运单号码',
			                                        value:order.tracking_no!''
			                                    }){}%>                	
                       </div>
                       <div class="col-lg-4">
                                 <%include("/eeda/component/form/inputSelectArea.html", 
				                                {   id:'receive_sent_consignee1', 
				                                    label:'申请单企业',
				                                    inline: false,
				                                    display:false,
				                                    display_value:order.receive_sent_consignee_input!'',
				                                    value:order.receive_sent_consignee!'',
				                                    textarea_value:order.receive_sent_consignee_info!'' 
				                                 }){}%>
                       </div>
                   </div><br>
                </form>
               
          </div> 
        </div> 
			      

			<div class="row" style="margin-top:15px">
				<ul id="orderTabs" class="nav nav-tabs">
          <% 
          var isFmsUser = shiro.hasPermission("customPlanOrder.fms");
          if(isFmsUser){%>
			<li >
                <a href="#shippingOrderDetail" data-toggle="tab">托运单</a>
            </li>
          <% }%>
			<li >
                <a href="#headDetail" data-toggle="tab">头程资料</a>
            </li>
            <li class="active">
                <a href="#customDetail" data-toggle="tab">报关单</a>
            </li>
          <% if(isFmsUser){%>
  					<li >
  						<a id='chargeDetail_tab' href="#chargeDetail" data-toggle="tab">费用信息</a>
  					</li>
          <% }%>
  					<li>
  						<a href="#docDetail"  id="tabDocDetail" data-toggle="tab" name="文档信息">文档信息 <span class="badge" style="background-color: red; display:none;" >新</span></a>
  					</li>
				</ul>
				
				<div class="tab-content">
		            <div class="tab-pane fade <%if(!isFmsUser){%><%}%> in" id="shippingOrderDetail">
			            <div class="form-group">
			                 <div class="col-lg-12">
                                <%include("/cms/customPlanOrder/Consignment_note.html",{}){}%>
                            </div>
			            </div>
			        </div>
			        
		            <div class="tab-pane fade  in" id="headDetail">
			            <div class="form-group">
			                <div class="col-lg-12">
			                    <div class="row"><!--  第1行  --> 
			                        <div class="col-lg-4">
			                            <%include("/eeda/component/form/inputSelectArea.html", 
			                                             {   id:'hongkong_consignee', 
			                                                 label:'香港收货人',
			                                                 display_value:order.hongkong_consignee_input!'',
			                                                 value:order.hongkong_consignee!'',
			                                                 textarea_value:order.hongkong_consignee_info!'' 
			                                              }){}%>
			                        </div>
			                        <div class="col-lg-4">
			                            <%include("/eeda/component/form/inputPartyField.html", 
			                                            {   id:'head_carrier',
			                                                type:  'head_car',
			                                                label: '头程船公司', 
			                                                value: order.head_carrier!'',
			                                                display_value: order.head_carrier_name!''
			                                            }){}%>
			                        </div>
			                        <div class="col-lg-4">
			                            <%include("/eeda/component/form/inputField.html", 
			                                                {   id:'booking_no', 
			                                                    label:'订舱号',
			                                                    value:order.booking_no!''
			                                                }){}%>
			                        </div>
			                     </div>
			                     <div class="row"><!--  第2行  --> 
			                     	<div class="col-lg-4" >
			                            <%include("/eeda/component/form/selectField.html", 
							                                 {   id:'container_type', 
							                                     label:'柜型',
							                                     value:order.container_type!'',
							                                     value_list:[
			                                                        {code:'', value:''},
			                                                        {code:'20GP', value:'20GP'},
			                                                        {code:'40GP', value:'40GP'},
			                                                        {code:'40HQ', value:'40HQ'},
			                                                        {code:'45GP', value:'45GP'},
			                                                        {code:'45HQ', value:'45HQ'}
							                                    ] 
							                                 }){}%>
			                        </div>
			                        <div class="col-lg-4">
			                            <%include("/eeda/component/form/inputField.html", 
			                                                {   id:'cabinet_no', 
			                                                    label:'柜号',
			                                                    value:order.cabinet_no!''
			                                                }){}%>
			                        </div>
			                        <div class="col-lg-4">
			                            <%include("/eeda/component/form/inputField.html", 
			                                            {   id:'seal_no',
			                                                label: '封条号', 
			                                                value: order.seal_no!'',
			                                                display_value: order.head_carrier_name!''
			                                            }){}%>
			                        </div>
			                     </div>
			                     <div class="row"><!--  第2行  --> 
			                     	<div class="col-lg-4">
			                            <%include("/eeda/component/form/inputField.html", 
			                                                {   id:'pieces', 
			                                                    label:'件数',
			                                                    value:order.pieces!''
			                                                }){}%>
			                        </div>
			                        <div class="col-lg-4">
			                            <%include("/eeda/component/form/inputField.html", 
			                                                {   id:'gross_weight', 
			                                                    label:'毛重（KG）',
			                                                    value:order.gross_weight!''
			                                                }){}%>
			                        </div>
			                        <div class="col-lg-4">
			                            <%include("/eeda/component/form/inputField.html", 
			                                            {   id:'volume',
			                                                label: '体积（CBM）', 
			                                                value: order.volume!''
			                                            }){}%>
			                        </div>
			                     </div>
			                     <div class="row"><!--  第3行  --> 
			                     	<div class="col-lg-4">
			                            <%include("/eeda/component/form/inputField.html", 
			                                            {   id:'vessel', 
			                                                label:'船名', 
			                                                value:order.vessel!''
			                                            }){}%>
			                        </div>
			                        <div class="col-lg-4">
			                            <%include("/eeda/component/form/inputField.html", 
			                                            {   id:'voyage', 
			                                                label:'航次',
			                                                value:order.voyage!''
			                                            }){}%>
			                        </div>
			                     </div>
			                     <div class="row">
			                        <div class="col-lg-4">
			                            <%include("/eeda/component/form/inputPortCnField.html", 
			                                           {   id:'shipment_port', 
			                                               label:'装运港',
			                                               value:order.shipment_port!'',
			                                               display_value:order.shipment_port_name!''
			                                           }){}%>
			                        </div>
			                        <div class="col-lg-4">
			                            <%include("/eeda/component/form/inputPortCnField.html", 
			                                           {   id:'aim_port', 
			                                               label:'目的港',
			                                               value:order.aim_port!'',
			                                               display_value:order.aim_port_name!''
			                                           }){}%>
			                        </div>
			                     </div>
			                     <div class="row"><!--  第4行  --> 
			                        <div class="col-lg-12">
			                            <div class="form-group">
			                            <label>头程备注</label>
			                            <textarea id='remark' class="form-control" rows="3" name="remark">${order.remark!''}</textarea>
			                            </div>
			                        </div>
			                     </div>
			                    <br><br><br>
			                </div>
			            </div>
		            </div>

	 <div class="tab-pane fade in" id="chargeDetail">
		 <div class="form-group">
		      <div class="col-lg-12">
                 <div class="row simple_rectangle_title_div"><div class="font_style">Charge Information 应收信息</div></div>
              
			      <div class="panel panel-default">
				    <div class="panel-heading">
					  <a data-toggle="collapse" data-parent="#accordion" href="#collapseChargeInfo" aria-expanded="false" class="collapsed">
					     <i id='collapseChargeIcon' class="fa  <%if(order.id!''==''){%>fa-angle-double-up<%}else{%>fa-angle-double-down<%}%>"></i>  常用应收费用明细
					  </a>
					</div>
					 <div id="collapseChargeInfo" class="panel-collapse collapse <%if(order.id!''==''){%>in<%}%>" aria-expanded="false" 	style="height: auto;">
                         <div class="panel-body" id="ChargeDiv">
                            
                          </div>
                      </div>
					</div>

					<div class="col-lg-4">
                                        <%include("/eeda/component/form/inputSpField.html", 
                                                  {
                                                      id:'sp', 
                                                      label:'结算公司', 
                                                      value: ''
                                                  }){} %>
                    </div> 
                </div>
                	<div class="col-lg-12">
                		<div class="table_btn_bar button-bar">
			                 <button class="btn  btn_green" id="add_charge" type="button">添加费用</button> 
                        </div>
			                    <%include("/eeda/component/form/detailTable.html", 
                                {
                                    id:'charge_table',
                                       style:'width:1000px',
                                    headers:['是否隐藏','操作', '类别', '结算公司', '费用名称','费用名称(英文)', '单价', '数量', '单位', '币制', '金额', '收据汇率', '金额(人民币)', '备注','sp_name', 'charge_name','charge_name_eng','unit_name','currency_name','audit_flag'],
                                    field_list:['hide_flag','id', 'type', 'sp_id', 'charge_id','charge_eng_id', 'price', 'amount', 'unit_id', 'currency_id', 'total_amount',
                                     'exchange_rate', 'currency_total_amount','remark','sp_name', 'charge_name','charge_name_eng','unit_name','currency_name','audit_flag'],
                                    value_list: chargeList![]
                                }){} %>
			                </div>
			               <div class="col-lg-12">
	                           <h3>应付信息</h3>
	                       </div>
	                       <div class="col-lg-12">
	                       		<div class="panel panel-default">
				    <div class="panel-heading">
					  <a data-toggle="collapse" data-parent="#accordion" href="#collapseCostInfo" aria-expanded="false" class="collapsed">
					     <i id='collapseCostIcon' class="fa  <%if(order.id!''==''){%>fa-angle-double-up<%}else{%>fa-angle-double-down<%}%>"></i>
					                常用应付费用明细
					  </a>
					</div>
					<div id="collapseCostInfo" class="panel-collapse collapse <%if(order.id!''==''){%>in<%}%>" aria-expanded="false" style="height: auto;">
                       <div class="panel-body" id="CostDiv">
                            
                        </div>
                   </div>
			</div>
	                           <button class="btn  btn_green" id="add_cost" type="button">添加费用</button>
	                           <button class="btn  btn_green" id="copyCostToCharge" type="button">复制应付费用到应收</button>
	                           <br>
	                           <br>
	                           <%include("/eeda/component/form/detailTable.html", 
	                               {
	                                   id:'cost_table',
	                                   style:'width:1000px',
	                                   headers:['是否隐藏','操作', '类别','结算公司', '费用名称','费用名称(英文)', '单价', '数量', '单位', '币制', '金额', '收据汇率', '金额(人民币)', '备注', 'sp_name','charge_name','charge_name_eng','unit_name','currency_name','audit_flag'],
	                                   field_list:['hide_flag','id', 'type', 'sp_id', 'charge_id','charge_eng_id', 'price', 'amount', 'unit_id', 'currency_id', 'total_amount',
	                                    'exchange_rate', 'currency_total_amount', 'remark', 'sp_name', 'charge_name','charge_name_eng','unit_name','currency_name','audit_flag'],
	                                   value_list: costList![]
	                               }){} %>
	                        </div>
		                </div>
	               </div>
		            
		            <div class="tab-pane fade in active" id="customDetail">
			            <div class="form-group">
			                <div class="col-lg-12">
								<%include("/cms/customPlanOrder/Custom_note.html",{}){}%>
		                   </div>
			            </div>
		            </div>
		            
		            <div class="tab-pane fade in" id="docDetail">
                        <div class="form-group">
                            <div class="col-lg-12">
                              <% if(isFmsUser){%>
                                <br>
                                <span class="btn  btn_green fileinput-button" id="fileuploadSpan"> 
                                    <i class="glyphicon glyphicon-plus"></i> 
                                    <span>选择文件上传</span> 
                                    <input id="fileupload" type="file" name="files[]" multiple> 
                                </span> 
                                
                                <br><br>
                              <%}%>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'doc_table',
                                        headers:['是否共享','', '文档名称', '上传人', '上传时间', '备注','uploader','share_flag','cms_share_flag','new_flag','ref_job_order_id'],
                                        field_list:['ID', '', 'doc_name','c_name','upload_time', 'remark','uploader','share_flag','cms_share_flag','new_flag','ref_job_order_id'],
                                        value_list: docList![]
                                    }){} %>
                            </div>
                        </div>
                    </div>
                    
                    <a id='a_btn' data-target='#msg' data-toggle='modal' style='display:none'></a>
                    <div class="modal fade" id="msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">申报要素 </div>
					      	<div class="modal-body">
					      		<div class="form-group">
				                    <textarea id='showNote' class="form-control" rows="5" ></textarea>
				            	</div>
					    	</div>
					    	<div class="modal-footer">
					    		<button type="button" id="btnConfirm" class="btn  btn-primary" data-dismiss="modal">确认</button>
					            <button type="button" class="btn  btn-default" data-dismiss="modal">返回</button>
					        </div>
					  </div>
					</div>
				  </div>
                    
                    
	            </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <button id="saveBtn" class="btn  btn_green" >保存</button>
                    <button id="confirmCompleted" class="btn btn_green" disabled>提交</button>
                    <% if(shiro.hasPermission("customPlanOrder.audit")){%>
                    <button id="passBtn" class="btn btn_green" disabled>审核通过</button>
                    <button id="cancelAuditBtn" class="btn btn-danger btn-xs" style="display: none;background-color:#d9534f">取消审核</button>
                    <button id="refuseBtn" class="btn btn-danger" disabled style="background-color:#d9534f">审核不通过</button>
                    <%}%>
                    <a class="btn  btn-default" href="/customPlanOrder">返回</a>
                    <a class="btn btn_green" href="/customPlanOrder/create" style="float:right">新增报关申请单</a>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
<%}%>
<%include("/eeda/component/jsTemplate/tableInputDateField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableSelectTruckTypeField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputFieldCurrencyId.js",{}){} %>

   <%
	var hide_charge_col = shiro.hasPermission("customPlanOrder.fin_item_hide");
   	var passAuditing = shiro.hasPermission("customPlanOrder.audit");
   %>
<script>
    var order_no = '${order.order_no!'订单编辑'}';
    var is_show_hide_charge_col = ${hide_charge_col};
    var salesOrder = {};
    var show_passAuditing=${passAuditing};
    
</script>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function () {
        requirejs(['app/cms/customPlanOrder/edit']);
        requirejs(['app/cms/customPlanOrder/edit_item_table']);
        
    });

</script>
