<%layout("/eeda/layout.html"){%>
<link rel="stylesheet" href="/js/lib/jQuery-File-Upload-9.9.3/css/jquery.fileupload.css">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-header" style="font-size:32px">报关申请单</div>
                </div>
            </div>
            <input id="order_id" type="hidden" name="order_id" value="${order.id!''}"/>
            <input id="ref_job_order_id" type="hidden" name="ref_job_order_id" value="${jobOrder.id!''}"/>
            <div class="form-group">
                <form id="customForm">
                    <div class="row"><!--  第1行  --> 
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'order_no', 
                                                    label:'报关申请单号', 
                                                    value:order.order_no!'',
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                               {   id:'ref_no', 
                                                   label:'关联单号', 
                                                   value:order.ref_no!jobOrder.order_no!''
                                               }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputPartyField.html", 
                                          {   id:'carrier',
                                              type:  'carrier',
                                              label: '船公司', 
                                              value: order.carrier!'',
                                              display_value: order.carrier_input!''
                                            }){}%>
                        </div>
                     </div>
                     <div class="row"><!--  第2行  --> <!--         	  required:'required',-->
                        <div class="col-lg-4">
                             <%include("/eeda/component/form/selectField.html", 
                                {   id:'type', 
                                    label:'类型', 
                                    value:order.type!'',
                                    value_list:[
                                        {code:'出口', value:'出口'},
                                        {code:'进口', value:'进口'}
                                    ]
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/selectField.html", 
                                {   id:'deal_mode', 
                                    label:'成交方式', 
                                    value:order.deal_mode!'',
                                    value_list:[
                                        {code:'FOB', value:'FOB'},
                                        {code:'CIF', value:'CIF'},
                                        {code:'CFR', value:'CFR'},
                                        {code:'DDU', value:'DDU'},
                                        {code:'DDP', value:'DDP'},
                                        {code:'OTHER', value:'OTHER'}
                                    ]
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/dateInputField.html", 
                                             {   id:'date_custom', 
                                                 label:'报关日期', 
                                                 value:order.date_custom!'',
                                                 required:'required'
                                              }){}%>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputSelectArea.html", 
							                  {   id:'application_company',
							                      label:'申请企业',
							                      required:'required', 
							                      display_value:order.application_company_input!'',
							                      value:order.application_company!'',
							                      textarea_value:order.application_company_info!''
							                  }){}%>
                        </div>
                        <div class="col-lg-4">
                       		<%include("/eeda/component/form/inputSelectArea.html", 
			                                 {   id:'export_consignee', 
			                                     label:'收货人', 
                                                 required:'required',
			                                     display_value:order.export_consignee_input!'',
							                     value:order.export_consignee!'',
							                     textarea_value:order.export_consignee_info!'' 
			                                  }){}%>
                        </div>
                        
                    </div>
                    <br><br><br>
	               <div class="col-lg-12">
	                <div class="form-group" id="release_radio_div" style="text-align:center;">
	                	<input type="hidden" id="hidden_release_type" value="${shipment.release_type!''}">
	                    <label class="radio-costominline">
	                       <h4> <input type="radio" name='costomBill' value='export_costom' checked>出口货物报关单</h4>
	                    </label><nbsp>
	                    <label class="radio-costominline">
	                      <h4>  <input type="radio" name='costomBill' value='import_costom'>海关进口货物报关单</h4>
	                    </label>
	                    <label class="radio-costominline">
	                      <h4>  <input type="radio" name='costomBill' value='process_costom'>海关进口货物报关单(进料加工)</h4>
	                    </label>
	                    
	                </div>
	               </div><br><br>
	               <div class="row"><!--  第1行  --> 
                        <div class="col-lg-4">
                       		<%include("/eeda/component/form/inputSelectArea.html", 
                                 {   id:'receive_sent_consignee', 
                                     label:'收发货人(退税企业)', 
                                     required:'required',
                                     display_value:order.receive_sent_consignee!'',
				                     value:order.receive_sent_consignee!'',
				                     textarea_value:order.receive_sent_consignee!'' 
                                  }){}%>
                        </div>
                        <div class="col-lg-4">
                       		<%include("/eeda/component/form/inputSelectArea.html", 
                                {   id:'production_and_sales', 
                                    label:'生产销售单位',
                                    display_value:order.production_and_sales!'',
				                    value:order.production_and_sales!'',
				                    textarea_value:order.production_and_sales!'' 
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                             <%include("/eeda/component/form/inputSelectArea.html", 
                                {   id:'application_unit', 
                                    label:'申报单位',
                                    display_value:order.application_unit!'',
				                    value:order.application_unit!'',
				                    textarea_value:order.application_unit!''
                                }){}%>
                        </div>
                    </div>
                    
                    
                    <div class="row"><!--  第2行  --> 
                        <div class="col-lg-4">
                       		 <%include("/eeda/component/form/inputField.html", 
                                {   id:'export_port', 
                                    label:'出口口岸',
                                    inline: false,
                                    value:custom.export_port!'',
                                    required:'required'
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                       		<%include("/eeda/component/form/dateInputField.html", 
                                {   id:'custom_export_date', 
                                    label:'出口日期',
                                    class:'form-control',
                                    value:custom.export_date!'',
                                    required:'required'
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                             <%include("/eeda/component/form/dateInputField.html", 
                                {   id:'application_date', 
                                	class:'form-control',
                                    label:'申报日期',
                                    value:custom.application_date!'',
                                    required:'required'
                                }){}%>
                        </div>
                    </div>
                    
                    
                    
                    <div class="row"><!--  第3行  --> 
                        <div class="col-lg-4">
                       		<%include("/eeda/component/form/selectField.html", 
				                                 {   id:'transport_type', 
				                                     label:'运输方式', 
				                                     class:'form-control', 
				                                     required:'required',
				                                     value:order.transport_type!'',
				                                     value_list:[
                                                        {code:'', value:''},
				                                        {code:'非保税区', value:'非保税区'},
				                                        {code:'监管仓库', value:'监管仓库'},
                                                        {code:'水路运输', value:'水路运输'},
                                                        {code:'铁路运输', value:'铁路运输'},
                                                        {code:'公路运输', value:'公路运输'},
                                                        {code:'航空运输', value:'航空运输'},
                                                        {code:'邮件运输', value:'邮件运输'},
                                                        {code:'保税区', value:'保税区'},
                                                        {code:'保税仓库', value:'保税仓库'},
                                                        {code:'其它运输', value:'其它运输'},
                                                        {code:'边境特殊海关作业区', value:'边境特殊海关作业区'},
                                                        {code:'物流中心', value:'物流中心'},
                                                        {code:'物流园区', value:'物流园区'},
                                                        {code:'保税港区', value:'保税港区'},
                                                        {code:'出口加工区', value:'出口加工区'}
				                                    ] 
				                                 }){}%>
                        </div>
                        <div class="col-lg-4">
                       		<%include("/eeda/component/form/inputField.html", 
		                                {   id:'transport_tool', 
		                                    label:'运输工具名称',
		                                    inline: false,
		                                    value:custom.transport_tool!''
		                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
		                                {   id:'tracking_no', 
		                                    label:'提运单号',
		                                    inline: false,
		                                    value:custom.tracking_no!''
		                                }){}%>
                        </div>
                    </div>
                    
                    
                    
                    <div class="row"><!--  第4行  --> 
                        <div class="col-lg-4">
                       		<%include("/eeda/component/form/inputDropListField.html", 
                                {   id:'supervision_mode', 
                                    label:'监管方式',
                                    class:'form-control', 
                                    url: '/serviceProvider/searchSupervisionMethod',
                                    value:order.supervision_mode!'',
                                    display_value:order.supervision_mode_name!''
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                       		 <%include("/eeda/component/form/selectField.html", 
				                                 {   id:'nature_of_exemption', 
				                                     label:'征免性质', 
				                                     class:'form-control', 
				                                     required:'required',
				                                     value:order.nature_of_exemption!'',
				                                     value_list:[
                                                        {code:'', value:''},
				                                        {code:'0110 ', value:'一般贸易'},
				                                        {code:'0130', value:'易货贸易'},
                                                        {code:'0200', value:'来料余料结转'},
                                                        {code:'0214', value:'来料加工'},
                                                        {code:'0220', value:'来料加工设备'},
                                                        {code:'0245', value:'来料料件内销'},
                                                        {code:'0255 ', value:'来料深加工'},
                                                        {code:'0345', value:'来料成品内销'},
                                                        {code:'0513', value:'补偿贸易'},
                                                        {code:'0600', value:'进料余料结转'},
                                                        {code:'0615', value:'进料对口'},
                                                        {code:'0644', value:'进料料件内销'},
                                                        {code:'0645', value:'进料深加工'},
                                                        {code:'0715', value:'进料非对口'},
                                                        {code:'0744', value:'进料成品内销'}
				                                    ] 
				                                 }){}%>
                        </div>
                        <div class="col-lg-4">
                             <%include("/eeda/component/form/inputField.html", 
				                                {   id:'record_no', 
				                                    label:'备案号',
				                                    inline: false,
				                                    value:custom.record_no!'',
				                                    required:'required'
				                                }){}%>
                        </div>
                    </div>
                    <div class="row"><!--  第5行  --> 
                        <div class="col-lg-4">
                       		 <%include("/eeda/component/form/inputDropListField.html", 
		                        {   id:'trading_country', 
		                            class:'form-control',
		                            label:'贸易国', 
		                            value:order.trading_country!'',
                                    display_value:order.trading_country_name!'',
                                    url: '/location/searchCountry',
                                    required:'required'
		                        }){}%>
                        </div>
                        <div class="col-lg-4">
                       		<%include("/eeda/component/form/inputDropListField.html", 
		                        {   id:'destination_country', 
		                            class:'form-control',
		                            label:'抵运国', 
		                            value:order.destination_country!'',
                                    display_value:order.destination_country_name!'',
                                    url: '/location/searchCountry',
                                    required:'required'
		                        }){}%>
                        </div>
                        <div class="col-lg-4">
                             <%include("/eeda/component/form/inputDropListField.html", 
		                        {   id:'destination_port', 
		                            class:'form-control',
		                            label:'指运港', 
		                            value:order.destination_port!'',
                                    display_value:order.destination_port!'',
                                    url: '/location/searchCountry',
                                    required:'required'
		                        }){}%>
                        </div>
                    </div>
                    <div class="row"><!--  第6行  -->
                        <!-- 监管方式 代码表: http://www.233.com/bgy/bgdan/zhidao/20130225/093122850-7.html -->
                         <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'supply_of_goods', 
                                    label:'境内货源地',
                                    inline: false,
                                    value:custom.supply_of_goods!'',
                                    required:'required'
                                }){}%>
                         </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'license_no', 
                                    label:'许可证号',
                                    inline: false,
                                    value:custom.license_no!'',
                                    required:'required'
                                }){}%>
                         </div>
                         <div class="col-lg-4">
                            <!-- 报关单填制：件数、包装种类: http://www.chinatat.com/new/2_16_/2009_6_8_su39266186900282.shtml -->
                            <%include("/eeda/component/form/inputField.html", 
	                                {   id:'contract_agreement_no', 
	                                    label:'合同协议号',
	                                    inline: false,
	                                    value:custom.contract_agreement_no!'',
	                                    required:'required'
	                                }){}%>
                        </div>
                    </div>
                    <div class="row"><!--  第7行  -->    
                         <div class="col-lg-4">
                            <%include("/eeda/component/form/selectField.html", 
	                                {   id:'deal_mode', 
	                                    label:'成交方式', 
	                                    value:order.deal_mode!'',
	                                    class:'form-control',
	                                    value_list:[
	                                        {code:'FOB', value:'FOB'},
	                                        {code:'CIF', value:'CIF'},
	                                        {code:'CFR', value:'CFR'},
	                                        {code:'DDU', value:'DDU'},
	                                        {code:'DDP', value:'DDP'},
	                                        {code:'OTHER', value:'OTHER'}
	                                    ]
	                                }){}%>
                         </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
	                                {   id:'freight', 
	                                    label:'运费',
	                                    value:custom.freight!'',
	                                    inline: false
	                                }){}%>
                         </div>
                         <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
	                                {   id:'insurance_premium', 
	                                    label:'保费',
	                                    value:custom.insurance_premium!'',
	                                    inline: false
	                                }){}%>
                        </div>
                    </div>
                    <div class="row"><!--  第7行  -->    
                         <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
	                                {   id:'incidental', 
	                                    label:'杂费',
	                                    value:custom.incidental!'',
	                                    inline: false
	                                }){}%>
                         </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
	                                {   id:'number', 
	                                    label:'件数',
	                                    inline: false,
	                                    value:custom.number!'',
	                                    required:'required'
	                                }){}%>
                         </div>
                         <div class="col-lg-4">
                            <%include("/eeda/component/form/selectField.html", 
				                                 {   id:'package_type', 
				                                     label:'包装种类', 
				                                     class:'form-control', 
				                                     value:order.package_type!'',
				                                     value_list:[
                                                        {code:'', value:''},
				                                        {code:'裸装', value:'裸装'},
				                                        {code:'散装', value:'散装'},
                                                        {code:'集装箱', value:'集装箱'},
                                                        {code:'托盘', value:'托盘'},
                                                        {code:'集装包', value:'集装包'},
                                                        {code:'集装袋', value:'集装袋'},
                                                        {code:'箱', value:'箱'},
                                                        {code:'桶', value:'桶'},
                                                        {code:'袋', value:'袋'},
                                                        {code:'包', value:'包'},
                                                        {code:'木箱', value:'木箱'},
                                                        {code:'纸箱', value:'纸箱'},
                                                        {code:'木桶', value:'木桶'},
                                                        {code:'铁桶', value:'铁桶'},
                                                        {code:'塑料桶', value:'塑料桶'},
                                                        {code:'麻袋', value:'麻袋'},
                                                        {code:'纸袋', value:'纸袋'},
                                                        {code:'塑料袋', value:'塑料袋'},
                                                        {code:'卷', value:'卷'},
                                                        {code:'其他', value:'其他'}
				                                    ] 
				                                 }){}%>
                        </div>
                    </div>
                    <div class="row"><!--  第8行  -->    
                         <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'custom_gross_weight', 
                                    label:'毛重(KG)',
                                    inline: false,
                                    value:custom.gross_weight!'',
                                    required:'required'
                                }){}%>
                         </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'custom_net_weight', 
                                    label:'净重(KG)',
                                    inline: false,
                                    value:custom.net_weight!'',
                                    required:'required'
                                }){}%>
                         </div>
                         <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'container_no', 
                                    label:'集装箱号',
                                    inline: false,
                                    value:custom.container_no!'',
                                    required:'required'
                                }){}%>
                        </div>
                    </div>
                    <div class="row"><!--  第9行  -->    
                         <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'documents_attached', 
                                    label:'随附单证',
                                    inline: false,
                                    value:custom.documents_attached!'',
                                    required:'required'
                                }){}%>
                         </div>
                        <div class="col-lg-4">
                            <div class="form-group">
		                    <label>备注</label>
		                    <textarea id='note' class="form-control" rows="3" name="note">${order.note!''}</textarea>
		                    </div>
		            	</div>
                    </div>
                </form>
                <div class="row"><!--  第1行  -->
                   <div class="col-lg-4">
                        <%include("/eeda/component/form/inputField.html", 
                                            {   id:'status', 
                                                label:'状态', 
                                                value:order.status!'', 
                                                disabled: 'disabled'
                                            }){}%>
                    </div>
                    <div class="col-lg-4">
                        <%include("/eeda/component/form/inputField.html", 
                                           {   id:'creator_name', 
                                               label:'创建人', 
                                               value:user.c_name!'', 
                                               disabled: 'disabled'
                                            }){}%>
                    </div>
                    <div class="col-lg-4">
                        <%include("/eeda/component/form/inputField.html", 
                                           {   id:'create_stamp', 
                                               label:'创建时间', 
                                               value:order.create_stamp!'', 
                                               disabled: 'disabled'
                                           }){}%>
                    </div>
                </div>
            </div>

			<div class="row" style="margin-top:15px">
				<ul id="orderTabs" class="nav nav-tabs">
					<li class="active">
						<a href="#itemDetail" data-toggle="tab">货品信息</a>
					</li>
					<li>
						<a href="#docDetail" data-toggle="tab">文档信息</a>
					</li>
				</ul>
				
				<div class="tab-content">
		            <div class="tab-pane fade active in" id="itemDetail">
			            <div class="form-group">
			                <div class="col-lg-12">
			                    <button class="btn btn-success btn-xs" id="add_cargo">添加货品</button> 
                             <!--   <button class="btn btn-success btn-xs" id="create_jobOrder" disabled>创建报关工作单</button> -->
                                <br>
			                    <%include("/eeda/component/form/detailTable.html", 
			                        {
			                            id:'cargo_table',
			                            style:'width:2300px',
			                            headers:['','项号','商品编号', '商品名称', '规格型号', '申报要素', '成交数量', '成交单位','法定数量', 
                                                  '法定单位','最终目的国（地区）','单价', '总价', '币制', '征免','IS_GEN_JOB'],
			                            field_list:['id','item_no','commodity_code','commodity_name', 'standard', 'declare_element', 'transaction_amount',  'transaction_unit',
			                            'legal_amount','legal_unit','destination_country_item','price','total_price', 'currency', 'exemption','IS_GEN_JOB','currency_name'],
			                            value_list: itemList![]
			                        }){} %> 
			                </div>
			            </div>
		            </div>
		            <div class="tab-pane fade in" id="docDetail">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <br>
                                <span class="btn btn-success btn-xs fileinput-button" id="fileuploadSpan"> 
                                    <i class="glyphicon glyphicon-plus"></i> 
                                    <span>选择文件</span> 
                                    <input id="fileupload" type="file" name="files[]" multiple> 
                                </span> 
                                
                                <br><br>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'doc_table',
                                        style:'width:1400px',
                                        headers:['', '文档名称', '上传人', '上传时间', '备注'],
                                        field_list:['', 'doc_name','c_name','upload_time', 'remark'],
                                        value_list: docList![]
                                    }){} %>
                            </div>
                        </div>
                    </div>
                    
                    <a id='a_btn' data-target='#msg' data-toggle='modal' style='display:none'></a>
                    <div class="modal fade" id="msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">申报要素 </div>
					      	<div class="modal-body">
					      		<div class="form-group">
				                    <textarea id='showNote' class="form-control" rows="5" ></textarea>
				            	</div>
					    	</div>
					    	<div class="modal-footer">
					    		<button type="button" id="btnConfirm" class="btn  btn-primary" data-dismiss="modal">确认</button>
					            <button type="button" class="btn  btn-default" data-dismiss="modal">返回</button>
					        </div>
					  </div>
					</div>
				  </div>
                    
                    
	            </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <button id="saveBtn" class="btn  btn-primary" >保存</button>
                    <button id="confirmCompleted" class="btn btn-primary" disabled>提交报关行</button>
                    <button id="passBtn" class="btn btn-success" disabled>审核通过</button>
                    <button id="refuseBtn" class="btn btn-danger" disabled>审核不通过</button>
                    <a class="btn  btn-default" href="/customPlanOrder">返回</a>
                </div>
            </div>
        </div>
<%}%>
<%include("/eeda/component/jsTemplate/tableInputDateField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableSelectTruckTypeField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputFieldCurrencyId.js",{}){} %>

<script>
    var order_no = '${order.order_no!'订单编辑'}'; 
    var salesOrder = {};
</script>
<script>
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/cms/customPlanOrder/edit']);
        requirejs(['app/cms/customPlanOrder/edit_item_table']);
        
    });

</script>
