<link rel="stylesheet" href="/js/lib/pageguide-1.3.2/css/pageguide.min.css">

<ul id="tlyPageGuide" data-tourtitle="申请单教程">
  <li class="tlypageguide_left" data-tourtarget="#ref_no">
    <div>
      这里对应上游系统的单据号码。
    </div>
  </li>
  <li class="tlypageguide_left" data-tourtarget="#copyTracking_no">
    <div>
      这里填写了“提运单号码”之后，才可以填写费用明细。
    </div>
  </li>
  <li class="tlypageguide_left" data-tourtarget="#chargeDetail_tab">
    <div>
      这里填写对应的应收应付费用，确认后会流转到对账单。
    </div>
  </li>
  <li class="tlypageguide_left" data-tourtarget="#tabDocDetail">
    <div>
      上游的相关文档会保存在这里，你也可以在这里上传相关的文档，分享给客户。
    </div>
  </li>
  
</ul>