<%layout("/eeda/theme/h-ui/layout.html"){%>
    <section class="Hui-article-box">
        <nav class="breadcrumb 344343"><i class="Hui-iconfont">&#xe67f;</i> 首页
            <span class="c-gray en">&gt;</span>
            ${level1!''}
            <span class="c-gray en">&gt;</span>
            ${level2!''}
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
        </nav>
        <div class="Hui-article">
                
                        
                    
            <article class="cl pd-20">
                <input type="hidden" id="module_id" value="${module_id!''}">
                <input type="hidden" id="form_id" value="${form_id!''}">
                <% include("/eeda/form/btnToolBar.html", 
                    {
                        btnList: btnList
                    }){} %>

                <%
                    var headers=[''];
                    var form_type = "form";
                    for(field in field_list){
                        array.add(headers, field);
                        if(field.CUSTOM_SEARCH=="Y"){
                            form_type = "search_form";
                        }
                    }
                %>
                <!-- search_form -->
                <div id='search_div' style="display: none;">
                    <div class="row cl" >
                        <form id='search_form'>
                            <%for(field in headers){%>
                                <%if(field!='' && field.LISTED == 'Y'){%>
                                    <div class="col-md-4 mb-5">
                                        <label class="form-label col-xs-4 col-sm-3">${field.FIELD_DISPLAY_NAME!''}</label>
                                        <%if(field.FIELD_TYPE =='日期时间' || field.FIELD_TYPE =='日期'){%>
                                            <div class="formControls col-xs-4 col-sm-4">
                                                    <input type="text" class="input-text Wdate" name="f${field.ID!''}_${field.FIELD_NAME!''}_begin_time"
                                                        autocomplete="new-password" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                                            </div>
                                            <div style="float: left;">~</div>
                                            <div class="formControls col-xs-4 col-sm-4">
                                                <input type="text" class="input-text Wdate" name="f${field.ID!''}_${field.FIELD_NAME!''}_end_time"
                                                    autocomplete="new-password" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                                            </div>
                                        <%}else{%>
                                            <div class="formControls col-xs-8 col-sm-9">
                                                <input type="text" class="input-text" name="f${field.ID!''}_${field.FIELD_NAME!''}"
                                                    autocomplete="new-password" placeholder="">
                                            </div>
                                        <% }%>
                                        
                                    </div>
                                <%}%>
                            <%}%>
                        </div>
                    </form>
                    <div class="row cl pl-20">
                        <button type="button" class="btn btn-success size-M layui-btn" id="search_btn">查询</button>
                        <button type="button" class="btn btn-default size-M layui-btn" id="reset_btn">重置</button>
                    </div>
                </div>
                <!-- end of search_form -->

                <div class="mt-20">
                    <%include("/eeda/component/form/detailTableWithFoot.html", 
                        {
                            id:'list_table',
                            headers: headers,
                            form_type:form_type
                        }){} %>

                </div>
            </article>
        </div>
    </section>


    <div id="page-wrapper">
    </div>
<%}%>

<textarea id="field_list_json" style="display: none;">
    ${field_list_json!''}
</textarea>
<textarea id="list_action_json" style="display: none;">
    ${list_action_json!''}
</textarea>
<script>
    requirejs(['eeda_common','../js/eeda/common/header.js'], function (common) {
        <%if(action=='add'){%>
            requirejs(['app/form/add/main']);
        <%} else if(action=='edit'){%>
            requirejs(['app/form/edit/main']);
        <%} else if(action=='list'){%>
            requirejs(['app/form/list/main']);
        <%}%>
    });
</script>

<!--请在下方写此页面业务相关的脚本>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script-->
<script type="text/javascript">


</script>
<!--/请在上方写此页面业务相关的脚本-->

