<div class="modal fade" id="print_template_list">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">打印模板</div>
                <div class="modal-body">
                    <form id="template_list">
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn  btn-default return" data-dismiss="modal">返回</button>
                    <button class="btn btn-primary confirm" id="template_list_modal_ok_btn">确定</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="print_template">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">打印预览</div>
                <div class="modal-body">
                    <form id="template_content">
                         
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn  btn-default return" data-dismiss="modal">返回</button>
                    <button class="btn btn-primary confirm" id="ok_print_btn">确定</button>
                </div>
            </div>
        </div>
    </div>
