<%layout("/eeda/layout.html"){%>
    <div id="page-wrapper">
        <form id="module_form">
            <input type="hidden" id="module_id" name="module_id" value="${module_id!''}">
            <input type="hidden"  id="order_id" name="order_id" value="${order_id!''}">
            <% include("/eeda/form/btnToolBar.html", 
                {
                    btnList: btnList![]
                }){} %>

            ${form_content!'模板未定义!'}
        </form>
    </div>
<%}%>


<textarea id="form_define" style="display: none;">
    ${form_define}
</textarea>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
        <%if(action=='add'){%>
            requirejs(['app/form/add/main']);
        <%} else if(action=='edit'){%>
            requirejs(['app/form/edit/main']);
        <%} else if(action=='list'){%>
            requirejs(['app/form/list/main']);
        <%}%>
    });
</script>
