<%layout("/eeda/theme/h-ui/layout.html"){%>
<link rel="stylesheet" href="/js/lib/jQuery-File-Upload-9.9.3/css/jquery.fileupload.css">
<style>
	label{
		width:80px;
		float:left;
	}
</style>
    <section class="Hui-article-box">
        <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
            <span class="c-gray en">&gt;</span>
            ${level1!''}
            <span class="c-gray en">&gt;</span>
           ${level2!''}
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
        </nav>

        <div class="Hui-article">
            <article class="cl pd-20">
                <div class="Huialert Huialert-success" style="display: none;">
                    <i class="Hui-iconfont">&#xe6a6;</i>操作成功。
                </div>
                <div class="Huialert Huialert-error"  style="display: none;">
                    <i class="Hui-iconfont">&#xe6a6;</i>操作失败，原因：未知，请重新尝试或联系客服。
                </div>
                <form id="module_form">
                    <input type="hidden" id="module_id" name="module_id" value="${module_id!''}">
                    <input type="hidden"  id="order_id" name="order_id" value="${order_id!''}">
                    <% include("/eeda/form/btnToolBar.html", 
                        {
                            btnList: btnList![]
                        }){} %>

                    ${form_content!'模板未定义!'}
                </form>
            </article>
        </div>
    </section>
    <%include("/eeda/form/printTemplate.html", {}){} %>
<%}%>


<textarea id="form_define" style="display: none;">
    ${form_define}
</textarea>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
        <%if(action=='add'){%>
            requirejs(['app/form/add/main']);
        <%} else if(action=='edit'){%>
            requirejs(['app/form/edit/main']);
        <%} else if(action=='list'){%>
            requirejs(['app/form/list/main']);
        <%}%>
    });
</script>
