
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="/js/lib/sco/css/sco.message.css" rel="stylesheet" /> 
<title>找回密码</title>
<script type="text/javascript" src="/js/lib/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/lib/sco/js/sco.message.js"></script>
<link rel="stylesheet" href="/css/wedding/style.default.css" type="text/css" />
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.cookie.js"></script>


<style type="text/css">
.login_btn {
	border-style:none;
	border-radius:3px;
	background-color: #FF8000;
	width:60px;
	height:30px;
	cursor: pointer;
	color:white;
	font-weight:bold;
}

form input{ 
    padding: 8px 5px; border: 1px solid #ccc; width: 85%; -moz-border-radius: 2px; -webkit-border-radius: 2px; 
    border-radius: 2px; background: #fcfcfc; vertical-align: middle; -moz-box-shadow: inset 0 1px 3px #ddd; 
    -webkit-box-shadow: inset 0 1px 3px #ddd; box-shadow: inset 0 1px 3px #ddd; color: #666;
}
form p{
	color: white;
}
</style>
</head>
<body class="loginpage reg_header">
<div class="loginbox">
    <div class="loginboxinner" >
        <form id="login" >
        	<div>
 				<p>手机号码</p><input type="text" name="phone" id="phone" autocomplete="off"/>
            </div>
            <div>
            	<p>手机验证码</p>
            	<input type="text" name="v_code" id="v_code" style="width:140px;"/>
                <input class="login_btn" type="button" id="sendCodeBtn" disabled="disabled" value="获取验证码" style="background-color: #6C6C6C;width:80px;height:30px;" autocomplete="off"/>
            </div>
            <div>
				<p>新密码</p><input type="password" class="" name="password" id="password" autocomplete="off"/>
            </div>
            <div>
				<p>确认新密码</p><input type="password" name="confirm_password" id="confirm_password" autocomplete="off"/>
            </div>
            
            <br/>
            <input type="button" class="login_btn" id="findPwdbtn" value="重置密码" style="width:88%;height:40px;"/>
        </form>
    </div>
</div>

<script type="text/javascript">
	$("#phone").on('input',function(){
		var mobile = /^1(3|4|5|7|8)\d{9}$/; 
		var phone = encodeURI($('#phone').val());
		if(!mobile.test($('#phone').val())){
			$("#sendCodeBtn").attr("disabled",true);
			$("#sendCodeBtn").css("background-color","#6C6C6C");
			return false;
		}
		
		$.post("/BusinessAdmin/searchPhone",{phone:phone},function(data){
			if(data.RESULT){
				$("#sendCodeBtn").attr("disabled",false);
				$("#sendCodeBtn").css("background-color","#FF8000");
			}else{
				$("#sendCodeBtn").attr("disabled",true);
				$("#sendCodeBtn").css("background-color","#6C6C6C");
			}
		});
	});
	
	$('#findPwdbtn').on('click',function(){
		var password = $('#password').val();
		var confirm_pwd = $('#confirm_password').val();
		var phone = $('#phone').val();
		var v_code = $('#v_code').val()
		if(password == '' || confirm_pwd == '' || phone == '' || v_code == ''){
			$.scojs_message("请填写完整的信息再提交", $.scojs_message.ERROR);
			return false;
		}
		
		password = encodeURI(password);
		confirm_pwd = encodeURI(confirm_pwd);
		phone = encodeURI(phone);
		v_code = encodeURI(v_code);
		
		if(password != confirm_pwd){
			$.scojs_message("两次密码不相同", $.scojs_message.ERROR);
			return false;
		}
		
		$.post("/BusinessAdmin/findPwd",{pwd:password,phone:phone,v_code:v_code},function(data){
			if(data.RESULT){
				$.scojs_message("重置密码成功,请前往登录", $.scojs_message.TYPE_OK);
				setTimeout(function(){
					location.href = '/BusinessAdmin/login';
				},3000);
			}else{
				$.scojs_message(data.ERRMSG, $.scojs_message.ERROR);
			}
		});
		
	});
	
	$("#sendCodeBtn").click(function(){
		var password = $('#password').val();
		$.post("/BusinessAdmin/sendCode",{pwd:password},function(data){
			if(data){
				
			}else{
				
			}
		});
	});
	
	//鼠标移进移出事件
	$(".login_btn").mouseover(function(){
		$(this).css("background-color","#6C6C6C");
	});
	$(".login_btn").mouseout(function(){
		$(this).css("background-color","#FF8000");
	});
	
</script>
</body>
</html>
