
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="/js/lib/sco/css/sco.message.css" rel="stylesheet"> 
<title>商家后台登陆页</title>
<script type="text/javascript" src="/js/lib/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/lib/sco/js/sco.message.js"></script>
<link rel="stylesheet" href="/css/wedding/style.default.css" type="text/css" />
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.cookie.js"></script>


<style type="text/css">
.login_btn {
	border-style:none;
	border-radius:3px;
	background-color: #FF8000;
	width:60px;
	
	height:30px;
	cursor: pointer;
	color:white;
	font-weight:bold;
}
.login_btn:hover{
	background-color: #6C6C6C;
}
.login_btn:visited{
	background-color: #FF8000;
}
p {margin-left: 20px}
</style>
</head>
<body class="loginpage reg_header">
<div class="loginbox">
    <div class="loginboxinner">
        <div class="logo">
            <img src="/images/logo.png" />
            <div style="margin-top:10px;"></div>
            <h1 class="logo">商家<span>后台</span><div style="margin-top:10px;"></div></h1>
        </div><!--logo-->
        <br clear="all" />
        <div class="nousername">
            <div class="loginmsg">密码不正确.</div>
        </div><!--nousername-->
        <div class="nopassword">
            <div class="loginmsg">密码不正确.</div>
            <div class="loginf">
                <div class="thumb"><img alt="" src="images/thumbs/avatar1.png" /></div>
                <div class="userlogged">
                    <h4></h4>
                    <a href="index.html">Not <span></span>?</a> 
                </div>
            </div><!--loginf-->
        </div><!--nopassword-->
        <form id="login" >
            <div class="username">
                <div class="usernameinner">
                    <input type="text" name="username" id="username" id="username" autocomplete="off"/>
                </div>
            </div>
            <div class="password">
                <div class="passwordinner">
                    <input type="password" name="password" id="password" id="password" autocomplete="off"/>
                </div>
            </div>
            <input type="button" class="login_btn"  id="loginBtn" value="登录" />
                <a href="/BusinessAdmin/register" class="orangeboldlink ">
            		<div class="loginf margin1020 " style="text-align:center;">
	                	商家注册
            		</div>
                </a>
            <div class="keep"><a href="/BusinessAdmin/forgetPwd">忘记密码</a></div>
        </form>
    </div><!--loginboxinner-->
</div><!--loginbox-->
<script type="text/javascript">
	$('#loginBtn').on('click',function(){
		var username = encodeURI($('#username').val());
		var password = encodeURI($('#password').val());
		
		$.post("/BusinessAdmin/dologin",{username:username,password:password},function(data){
			if(data.RESULT){
				location.href='/BusinessAdmin';
				$('#username').focus();
			}else{
				$.scojs_message(data.ERRMSG, $.scojs_message.ERROR);
				$('#username').focus();
			}
		});
	});
</script>
</body>
</html>
