<input type="hidden" id="abroad_custom_id" value="${abroadCustom.id!''}">
<form id="abroadForm">
						            <div class="form-group">  <!--  form row  -->
						                    <div class="row">
						                        <div class="col-lg-4">
						                            <%include("/eeda/component/form/inputField.html", 
						                                {   id:'abroad_customs_broker', 
						                                    label:'报关行', 
						                                    value:abroadCustom.customs_broker!''
						                                }){}%>
						                        </div>
						                        <div class="col-lg-4">
						                            <%include("/eeda/component/form/inputField.html", 
						                                {   id:'abroad_contact', 
						                                    label:'联系人', 
						                                    value:abroadCustom.contact!''
						                                }){}%>
						                        </div>
						                        <div class="col-lg-4">
						                            <%include("/eeda/component/form/inputField.html", 
						                                {   id:'abroad_phone', 
						                                    label:'电话', 
						                                    value:abroadCustom.phone!''
						                                }){}%>
						                        </div>
						                    </div>
						                    <div class="row">
						                        
						                        <div class="col-lg-4">
						                            <%include("/eeda/component/form/inputField.html", 
						                                {   id:'abroad_custom_order_no', 
						                                    label:'报关单号码', 
						                                    value:abroadCustom.custom_order_no!''
						                                }){}%>
						                        </div>
						                        <div class="col-lg-4">
						                            <%include("/eeda/component/form/inputField.html", 
						                                {   id:'abroad_destination_country', 
						                                    label:'目的国', 
						                                    value:abroadCustom.destination_country!''
						                                }){}%>
						                        </div>
						                    </div>
						                   
						            </div><!-- /.row -->
						</form>