<%layout("/eeda/layout.html"){%>
        <div id="page-wrapper">
        
          <div class="row simple_search_div">
             <div class="panel panel-default">
            	<div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseChargeInfo" aria-expanded="false" class="collapsed">
                            <i id="collapseChargeIcon" class="fa fa-angle-double-down"></i> 查询条件                                       </a>
                        </h4>
                 </div>
             <div id="collapseChargeInfo" class="panel-collapse collapse in" aria-expanded="false" style="height: auto;">
              <div class="panel-body" id="ChargeDiv">
                <div class="col-lg-12">
                    <form id="orderForm">
                        <div class="row"><!--  第1行  -->
                            <div class="col-lg-4"><!--  三列排版  -->
                                <%include("/eeda/component/form/inputField.html", 
                                                    {   id: 'order_no', 
                                                        label: 'Booking号', 
                                                        value: ''
                                                    }){}%>
                            </div>
                            <div class="col-lg-4"><!--  三列排版  -->
                                <%include("/eeda/component/form/inputDateQueryField.html", 
                                                    {   id: 'sent_out_time', 
                                                        label: '出货时间', 
                                                        value: ''
                                                    }){}%>
                            </div>
                            <div class="col-lg-4">
                                <%include("/eeda/component/form/inputDateQueryField.html", 
                                {   id:'create_stamp', 
                                    label:'创建时间', 
                                    value:''
                                }){} %>
                            </div><!-- /.col-lg-2 -->
                        </div><!-- /.row-->
                        <div class="row">
                            <div class="col-lg-4">
                                 <%include("/eeda/component/form/selectField.html", 
                                        {   id:'status', 
                                            label:'状态', 
                                            value: '',
                                            value_list:[
                                                {code:'', value:''},
                                                {code:'新建', value:'新建'},
                                                {code:'已完成', value:'已完成'}
                                            ]
                                        }
                                     ){} %>
                            </div>
                            <div class="col-lg-4">
                              <%include("/eeda/component/form/inputField.html", 
                                                  {   id: 'customer_code', 
                                                      label: '客户代码', 
                                                      value: ''
                                                  }){}%>
                            </div>
                            <div class="col-lg-4">
                              <%include("/eeda/component/form/inputField.html", 
                                                  {   id: 'customer_name', 
                                                      label: '客户名称', 
                                                      value: ''
                                                  }){}%>
                            </div>
                        </div>
                        <div class="form-group table_btn_bar" >
                            <button id="searchBtn" class="btn btn_grey" type="button">查询</button>
                            <button id="resetBtn" class="btn btn_white" type="button">清空条件</button>
                            <a href="/bookOrder/create" class="btn btn_green" type="button">创建工作单</a>
                        </div>
                    </form>
                </div>
                </div>
			 </div> 
			</div>
            </div><!-- /.row 查询条件 结束-->
            <div class="row simple_list_div">
                
                    <ul id="orderTabs" class="nav nav-tabs" >
                        <li class="active">
                            <a href="#" data-toggle="tab">全部</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">海运</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab" >空运</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">陆运</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">报关</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">保险</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">贸易</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">快递</a>
                        </li>
                    </ul>
                    <%include("/eeda/component/form/detailTable.html", 
                        {
                            id:'eeda-table', 
                            headers:['','Booking号',
                                '类型',
                                '出货时间',
                                '客户名称',
                                '创建人',
                                '创建时间',
                                '状态']
                        }){} %>
                
            </div><!-- /.row 列表结束-->
		
        </div><!-- end of  .page-wrapper-->
        
        <!-- 删除单据的原因 -->
        <a data-target='#deleteReasonDetail' data-toggle='modal'>
            <button id="deleteReasonDetailAlert" style="display:none"></button>
        </a>
        <div class="modal fade" id="deleteReasonDetail">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">请填写删除原因</div>
                <div class="modal-body">
                    <input id="delete_id" type="hidden">
                    <form id="deleteReasonDetailForm">
                     <div class="form-group">
                     <select class="form-control search-control deleteReason">
                     <option>单据错误多</option>                   
                     <option>单据作废</option>                   
                     </select>
                     <textarea id='deleteReason' name="deleteReason" class="form-control" rows="3" required></textarea>
                     </div>
                     </form>
                </div>
              <div class="modal-footer">
                <button class="btn  btn-default return" data-dismiss="modal">返回</button>
                <button class="btn btn-primary confirm" >确定删除</button>
            </div>
        </div>
      </div>
    </div>

<%}%>

<script>
      var type = "${type!''}";
 </script>
<script>
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], 
        function (common) {
        requirejs(['app/oms/bookOrder/list']);
    },
    function(error) {
        console.error('报错了: ',error);
        //error.requireModules : is Array of all failed modules
        var failedId = error.requireModules && error.requireModules[0];
        console.error(failedId);
        console.error(error.message);
    });
</script>
