<%layout("/eeda/layout.html"){%>

	<div id="page-wrapper">
          <div class="simple_order_list_div">
          			
	                <ul id="orderTabs" class="nav nav-tabs">
	                    <li class="active">
	                        <a id='userDetailTab' href="#userDetail" data-toggle="tab" >用户基本信息</a>
	                    </li>	                    
	                </ul>
          			
            			<div class="tab-content">
            				<div class="tab-pane fade active in" id="userDetail">
            			   <form id='leadsForm' name="leadsForm" >
            			   	<input id="employee_json" name="employee_json" type="hidden"  value="${user.employee_json!''}">
            			   	<input id="employee_id" name="employee_id" type="hidden" value="${employee.id!''}">
            					<div class="form-group">
            					  <div class="col-lg-12">
            						<div class="col-lg-4">
		                                	<input id="userId" name="userId" type="hidden" value="${lu.id!''}">
					                        <div class="form-group">
						                         <label class="control-label">用户名(<span style="color:red">必填</span>)</label>
						                         <input id="username" name="username" reqiured type="text" class="form-control" value="${lu.user_name!''}" autocomplete="off" placeholder="请输入登录名(邮箱格式/ 电话号码/ 英文名称)">
					                        </div>
					                        <div class="form-group ">
						                         <label class="control-label">中文名(<span style="color:red">必填</span>)</label>
						                         <input id="name" name="name" type="text" class="form-control" value="${lu.c_name!''}" autocomplete="off" placeholder="请输入员工名称">
					                        </div>
					                        <div id="password_div">
					                        	<div class="form-group">
						                         	<label class="control-label">密码(<span style="color:red">必填</span>)</label>
						                         	<input type="password" class="form-control" id="password" name="password" value="" autocomplete="off">
						                        </div>
						                        <div class="form-group">
							                         <label class="control-label">确认输入密码(<span style="color:red">必填</span>)</label>
							                         <input type="password" class="form-control" id="confirm_password" name="confirm_password" autocomplete="off" value="">
						                        </div>
					                        </div>
					                        
					                        
				                      </div><!-- col-md-4 -->		
			                      <div class="col-lg-4">
			                      			<div class="form-group">
						                         <label class="control-label">密码提示</label>
						                         <input type="text" class="form-control" id="pw_hint" name="pw_hint" value="${lu.password_hint!''}">
					                        </div>
					                        <div class="form-group">
												 <label class="control-label">联系电话(座机电话)</label>
						                         <input type="text" class="form-control" id="user_tel" name="user_tel" autocomplete="off" value="${lu.user_tel!''}" placeholder="座机电话">
					                        </div>
					                        <div class="form-group" >
												 <label class="control-label">联系电话(移动电话)</label>
						                         <input type="text" class="form-control" id="user_phone" name="user_phone" autocomplete="off" value="${lu.user_phone!''}" placeholder="移动电话（mobilePhone）">
					                        </div>
					                        <div class="form-group" >
												 <label class="control-label">邮箱(email)</label>
						                         <input type="text" class="form-control" id="email" name="email" value="${lu.email!''}" placeholder="email">
					                        </div>					                        
			                      </div><!-- col-md-4 -->
			                      <div class="col-lg-4">
			                      			<div class="form-group" >
												 <label class="control-label">公司传真</label>
						                         <input type="text" class="form-control" id="user_fax" name="user_fax" value="${lu.user_fax!''}" placeholder="公司传真">
					                        </div>
					                        <div class="form-group" >
												 <%include("/eeda/component/form/dateInputField.html", 
									                     {   id:'entry_time',
									                     	 inline:false, 
									                         label:'入职时间',
									                         value:lu.entry_time!''
									                     }){}%>
					                        </div>
		                                	<div class="form-group" >
												 <label class="control-label">岗位</label>
						                         <input type="text" class="form-control" id="user_station" name="user_station" autocomplete="off" value="${lu.user_station!''}" 
						                         	placeholder="所属岗位" disabled>
					                        </div>					                        
					                        <div class="form-group" >
		                                         <label class="control-label">创建时间</label>
						                         <input type="text" class="form-control" id="create_time" autocomplete="off" name="create_time" value="${lu.create_time!''}" 
						                         	placeholder="创建时间" disabled>
				                            </div>		                                    
				                  </div><!-- col-md-4 -->		
			                    </div> <!-- col-md-12 -->	
		                      
			                      <div class="col-lg-12">
			                      	<div class="col-lg-6" style="display: none;">
			                      		<hr>
			                      		<div class="form-group">
				                        	<div class = "row">
				                        	<input id="officeIds" name="officeIds" type="hidden">
				                        		<div class = "col-md-3">
				                        			<label class="control-label">用户可见网点</label>
				                        		</div>
				                        		<!-- <h3>用户可见网点</h3> -->
				                        		<div class = "col-md-3">
				                        			<label>全部网点&nbsp;&nbsp; </label><input type = "checkbox" id ="selectAllOffice">
				                        		</div>
						                          
				                          	</div>
				                          	<table class="table table-striped table-bordered table-hover" id="office-table" >
				                              <thead>
				                                  <tr>
				                                      <th>网点  <button id = "addOffice" type="button" class="btn  btn-primary btn-sm">添加</button></th>
				                                      <th>默认网点</th>
				                                      <th></th>
				                                  </tr>
				                              </thead>
				                              <tbody id="tobdy">
				                                      
				                              </tbody>
				                          </table>
				                        </div>
			                      	</div>
			                      	<div class="col-lg-6">
			                      		<hr>
			                      		<div class="form-group ">
				                        	<input id="customerIds" name="customerIds" type="hidden">
				                        	<div class = "row">
				                        		<div class = "col-md-3">
				                        			<label class="control-label">用户可见客户 </label>
				                        		</div>
				                        		<!-- <h3>用户可见客户 </h3> -->
				                        		<div class = "col-md-3">
				                        			<label>全部客户&nbsp;&nbsp; </label><input type = "checkbox" name ="all_customer" 
	
				                        			<% var ul= lu!'';
				                        				if(ul!='' && ul.all_customer=='Y'){ %> checked <% } %> id ="selectAllCustomer">
				                        		</div>
				                          	</div><br>
				                          	
				                          	<% include("/eeda/component/form/detailTable.html",
				                          	{	
				                          		id:'customer-table',
				                          		style:'width:400px',
				                          		headers:['','客户','操作',''],
				                          		field_list:['id','customer_id','id','customer_name'],
				                          		value_list:userCustomerList![]
				                          	
				                          	}){} %><br>
				                          	 <button id="addCustomer" type="button" class="btn btn_green btn-sm">添加客户</button>
				                          	 <br>
			                          		<table class="table table-striped table-bordered table-hover" id="customer-table" style="display:none">
				                              	<thead>
				                                  <tr>
				                                      <th>客户  <button id="addCustomer" type="button" class="btn  btn-primary btn-sm">添加</button></th>
				                                      <th></th>
				                                  </tr>
				                              	</thead>
				                              	<tbody id="customerTbody">
				                                 
				                              	</tbody>
			                          		</table>
			                        	</div>
			                      	</div>
			                      </div>
            					</div>            				
            				  </form>
            				</div>
            				<div class="tab-pane fade in" id="employeeDetail" style="display:none">
            					<div class="form-group">
            						<div class="col-lg-12">
            							 <%include("/eeda/profile/loginUser/EditEmployee.html", {}){} %>
            						</div>
            					</div>
            				</div>
            			</div>
		                    
		                    <div class="col-lg-12">
		                    	<hr/>
		                    	<button id="saveBtn" type="button" class="btn btn_green">保存</button>
		                    	<a id="assigning_role" type="button" style = "display:none"  class="btn  btn-primary">分配岗位</a>
			                    <a class="btn  btn-primary" href="/loginUser">返回</a>
		                    </div><br>
				</div>
		</div>
<%}%>
<div class="blockUI" style="display:none"></div>
<div class="blockUI blockOverlay" style="z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.6; cursor: wait; position: fixed;"></div>
<div class="blockUI blockMsg blockPage" style="z-index: 1011; position: fixed; padding: 0px; margin: 0px; width: 30%; top: 40%; left: 35%; text-align: center; color: rgb(0, 0, 0); border: 3px solid rgb(170, 170, 170); background-color: rgb(255, 255, 255); cursor: wait;"><h4><img src="/images/loading.gif" style="height: 20px; margin-top: -3px;"></h4></div>

<%include("/eeda/component/jsTemplate/tableInputField.js",{}){} %>

<script>
var itemOrder = {};
</script>

<script>
var order = {};
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/profile/loginUser/add']);
    });
</script>


