<%layout("/eeda/theme/h-ui/layout.html"){%>

	<section class="Hui-article-box">
		<nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a> 
			<span class="c-999 en">&gt;</span>
			<span class="c-666">用户设置</span> 
			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
		</nav>
		<div class="Hui-article">
			<article class="cl pd-20" style="padding-top:10px;">
				<div class="Huialert Huialert-success" style="display: none;">
					<i class="Hui-iconfont">&#xe6a6;</i>操作成功。
				</div>
				<div class="Huialert Huialert-error"  style="display: none;">
					<i class="Hui-iconfont">&#xe6a6;</i>操作失败，原因：未知，请重新尝试或联系客服。
				</div>
				
				<div id="tab_demo" class="HuiTab">
					<div class="tabBar clearfix">
						<span class="current">用户</span>
						<span>岗位</span>
					</div>
					  <div class="tabCon">
						<div class="btn-header pd-10">
							<a href="/loginUser/addUser" class="btn btn-success">新增</a>
						</div>
						 <%include("/eeda/component/form/detailTableWithFoot.html", 
						 {
							 id:'user_table',
							 headers:[{name:'ul.user_name',display_name:'用户名'},{name:'o.office_name',display_name:'中文名'},
							 {name:'sl.ip',display_name:'用户岗位'},{name:'sl.create_stamp',display_name:'密码提示'}
							 ,{name:'sl.create_stamp',display_name:'操作'}],
							 form_type:'fixed'
						 }){} %>
					  </div>
					  <div class="tabCon">
						<div class="btn-header pd-10">
							<a href="/role/add" class="btn btn-success">新增</a>
						</div>
						<%include("/eeda/component/form/detailTableWithFoot.html", 
						{
							id:'role_table',
							headers:[{name:'efd.name',display_name:'岗位'},{name:'sl.order_id',display_name:'备注'},{name:'sl.create_stamp',display_name:'操作'}],
							form_type:'fixed'
						}){} %>
					  </div>
				</div>
			</article>
		</div>
		<footer class="footer" style="position: absolute;bottom:0px;width:100%;">
			<p>本系统由<a href="" target="_blank" title="创诚易达信息技术有限公司">创诚易达信息技术有限公司</a>提供技术支持</p>
		</footer>
	</section>
	
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
				<div class="btn-header">
					<% if(shiro.hasPermission("User.create")){%>
						<a class="btn  btn-primary" href="/loginUser/addUser">
						<span class="hidden-tablet">添加用户</span></a>
					<%}%>
				</div>
			<div class="panel panel-default">
					
				<div class="panel-body">
					<div class="row-fluid">
						
						
					</div>
				</div>
			</div>
		</div>
			<!-- /.col-lg-12 -->
	</div>
    
		
</div>


<%}%>


<script>
	<% 
		var updatePermission = shiro.hasPermission("User.update");
		var delPermission = shiro.hasPermission("User.delete");
	%>
	var User ={};
	User.update = ${updatePermission};
    User.stop = ${delPermission};
    var this_role = "${this_role!''}";

</script>
<script>
    //app根目录在WebRoot/js/
    requirejs(['app/eeda-common','app/profile/loginUser/list','app/profile/role/list'], function () {
    });
</script>

