<%layout("/WebAdmin/layout.html"){%>
        <div class="pageheader notab">
            <h1 class="pagetitle" style="float:left;">产品上传</h1>
            <div style="clear:both"></div>
        </div>
      <div class="pageheader notab">
            <form id="orderForm">
            <input type="hidden" id="product_id" name="product_id" value="${product.id!''}" />
            <div class="registered " id="login-content" >
                <dl class="form-group">
                    <dt>
                        <div class="fm-label-wrap" >
                            <label for="fm-login-id">产品名称：</label>
                        </div>
                    </dt>
                    <dd>
                        <div class="textin input_div">
                            <input type="text" id="product_name" name="product_name" value="${product.name!''}" /> <span class="red">*</span>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt class="fm-label">
                        <div class="fm-label-wrap ">
                            <label for="fm-login-password">产品封面：</label>
                        </div>
                    </dt>
                    <dd class="fm-field" id="fm-login-password-wrap">
                        <div class="file">
                            <input type="file" id="file_cover" name="file_photo"  class="ehdel_upload" />选择图片
                        </div>
                        <span class="red">*图片要求: 200*150, 小于500Kb</span>
						<div class="form-control" style="margin-left:100px">
                        	<img style="width: 200px; height: 150px;" class="shadow" src="/upload/${product.cover!'nophoto.png'}" value="${product.cover!''}" id="img_cover"/>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt class="fm-label">
                        <div class="fm-label-wrap ">
                            <label for="fm-login-password">分类：</label>
                        </div>
                    </dt>
                    <dd class="fm-field" id="fm-login-password-wrap">
                        <div class="textin input_div">
                            <div style="padding-top:5px;">
                                 <select  class=" select_text" id ="category" value ="">
							            		<%
							                    	for(category in categorys!){ 
							                    %>
							                    	<option value='${category.id!''}' <% if(category.id==product.category){%> selected<%}%> >${category.name!''}</option>
							                   
							                    <%
							                    	}
							                    %>
							        </select>
                            </div>    
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt class="fm-label">
                        <div class="fm-label-wrap ">
                            <label for="fm-login-password">单 位：</label>
                        </div>
                    </dt>
                    <dd class="fm-field" id="fm-login-password-wrap">
                        <div class="chose">
                            <label><input type="radio" class="radio" name="unit" value="一套" <% if(product.unit!'一套'=='一套'){%>checked<%}%>  />一套</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" class="radio" name="unit" value="一件" <% if(product.unit!''=='一件'){%>checked<%}%>  />一件</label>
                            <span class="red">*</span>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt class="fm-label">
                        <div class="fm-label-wrap ">
                            <label for="fm-login-password">价 格：</label>
                        </div>
                    </dt>
                    <dd class="fm-field" id="fm-login-password-wrap">
                        <div class="chose">
                            <label>
                                <input type="radio" class="radio" name="price_type" value="人民币" <% if(product.price_type!'人民币'=='人民币'){%>checked<%}%>  />
                                <input style="width:100px;" type="text" id="price" name="price" value="${product.price!''}" required/>人民币
                            </label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" class="radio" name="price_type" value="面议" <% if(product.price_type!''=='面议'){%>checked<%}%> />面议</label>
                            <span class="red">*</span>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt class="fm-label">
                        <div class="fm-label-wrap ">
                            <label for="fm-login-password">产品编辑：</label>
                        </div>
                    </dt>
                    <dd class="fm-field" id="fm-login-password-wrap">
                        <div class="textin">
                            <textarea name="ProductContent" id="content" class="fill-detail" style="width:350px">${product.content!''}</textarea>
                        </div>
                    </dd>
                </dl>
                <h3 style="padding:10px">产品明细图</h3>
                <div class="file" style="margin-left:10px;">
                    <input type="file"  id="file_photo" name="file_photo" class="ehdel_upload" />
                    	选择图片
                </div>
                <span class="red">*图片要求小于500Kb(普通商家只能上传10个产品)</span>
				<hr/>
                <div class="img_row" id="img_item">
                <%for(item in pictures![]){%>
                
                  	<img style='width: 200px; height: 150px;margin-left:20px;' name="img_photo" class="shadow " src='/upload/${item.photo!"nophoto.png"}' value='${item.photo!""}' id="img_photo${item.seq!''}">
                  	<a href="#" style="color:red" class="delete_picture" pid="${item.id!''}">删除</a>
                <%}%>
                </div>
            </div>
            </form>
            <div style=" margin:10px 0 0 20px">
                <button type="button" id="save_btn" class="btn btn_blue" style="width:200px;" >保存</button>
                <button type="button" id="back_btn" class="btn btn_blue" style="width:200px;" >返回</button>
            </div>
              <div style=" margin:10px 0 0 20px">
                
            </div>
      </div>


<%}%>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
    	requirejs(['/js/WebAdmin/tao_manage/product/modify/edit.js']);
    });
</script>
