<%layout("/eeda/layout.html"){%>
	<div id="page-wrapper">
		<div class="row">
             <div class="col-lg-12">
              	<div class="btn-header">
              		<div class="btn-header" style="font-size: 32px" align="left">收款申请单</div>
				</div>
                <div class="panel panel-default">
            		<div class="panel-body">
            		 	<form id="orderForm">
            			<div class="row search_panel">
            			<input id='idsArray' name='idsArray' type="hidden" value="${idsArray!''}">
            			<input id='sp_id' name='sp_id' type="hidden" value="${order.sp_id!''}" >
            			<input id='account_id' name='account_id' type="hidden" value="${order.account_id!''}">
            			<input id='order_id' name='order_id' type="hidden" value="${order.id!''}">
            			<input id='status' name='status' type="hidden" value="${order.status!''}">
            			
            			<input id='detailJson' name='detailJson' type="hidden">
            			<input id='total_amount' name='total_amount' type="hidden">
            			
                            <div class="col-lg-4">
                            	<%include("/eeda/component/form/inputField.html", { id:'order_no',
								label:'申请单号', value:order.order_no!'',disabled:'disabled'
								}){}%>
								<%include("/eeda/component/form/inputField.html", { id:'create_stamp',
								label:'申请日期', value:order.create_stamp!'',disabled:'disabled'
								}){}%>
								<%include("/eeda/component/form/inputField.html", { id:'creator_name',
								label:'提交人', value:order.creator_name!'',disabled:'disabled'
								}){}%>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="search-label">发票类型</label>
                                    <input id="invoice_type_show" type="hidden" value="${order.bill_type!''}">
                                    <select id="invoice_type" class="form-control search-control invoice_type" name="invoice_type">
                                    <option></option>
                                    <option value="wbill" <% if(order.bill_type!'wbill'=='wbill'){%>selected<%}%>>无发票</option>
                                    <option value="mbill" <% if(order.bill_type!''=='mbill'){%>selected<%}%>>自开发票</option>
                                    <option value="dbill" <% if(order.bill_type!''=='dbill'){%>selected<%}%>>代开发票</option>
                                    </select>
                                </div>
                                <%include("/eeda/component/form/inputField.html", { id:'billing_unit',
								label:'开票单位', value:order.billing_unit!''
								}){}%>
								<%include("/eeda/component/form/inputField.html", { id:'payee_unit',
								label:'收款单位', value:order.payee_unit!''
								}){}%>
								<%include("/eeda/component/form/inputField.html", { id:'payee_name',
								label:'收款人', value:order.payee_name!''
								}){}%>
                            </div>
                            <div class="col-lg-4">
                            	<div class="form-group">
                                    <label class="search-label">收款方式</label>
                                    <input type="hidden" id="payment_method_show" value="${order.payment_method!''}"/>
                                	<select id="payment_method" class="form-control search-control payment_method" name="payment_method" >
                                    <option value=""></option>
                                    <option value="cash" <% if(order.payment_method!'cash'=='cash'){%>selected<% }%>>现金</option>
                                    <option value="transfers" <% if(order.payment_method!''=='transfers'){%>selected<% }%>>转账</option>
                                    </select>
                                </div>
	                            <div id="transfers_massage">
		                            <%include("/eeda/component/form/inputField.html", { id:'deposit_bank',
									label:'开户行', value:order.deposit_bank!''
									}){}%>
									<%include("/eeda/component/form/inputField.html", { id:'bank_no',
									label:'收款账号', value:order.bank_no!''
									}){}%>
									<%include("/eeda/component/form/inputField.html", { id:'account_name',
									label:'账户名', value:order.account_name!''
									}){}%>
                                </div>
                            </div>
                        </div>
                        <br/><hr/>
                        <label class="" style="font-size:18px" >业务单据信息列表</label><hr/>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="eeda-table">
                                <thead>
                                    <tr>
                                        <th>应收类别</th>
                                        <th>业务单号</th>
                                        <th>结算公司</th>
                                        <th>应收金额</th>
                                        <th>待收金额</th>
                                        <th>本次收款</th>
                                        <th>创建人</th>
                                        <th>创建时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                	<tr>
                                        <th colspan="3"><div align="center">合计</div></th>
                                        <th><span id="total"></span></th>
                                        <th><span id="nopay"></span></th>
                                        <th><span id="pay"></span></th>
                                        <th colspan="2"><div align="center"></div></th>
                                	</tr>
                                </tfoot>
                            </table>
                       </div>
                       
				       <div class=".tooltip-demo">
                            <hr/>
                        	<a style="display:none" id ="style"><i class='fa fa-check'></i></a>
                        	<button id="saveBtn" type="button" disabled="disabled" class="btn  btn-primary" data-toggle="tooltip" title="" data-original-title="Default tooltip">保存</button> 
                            <button id="printBtn" type="button" disabled="disabled" class="btn  btn-primary" data-toggle="tooltip" title="" data-original-title="Default tooltip">打印</button>
                            <a class="btn  btn-primary" href="/chargeAcceptOrder">返回</a>
                            <button id="checkBtn" type="button" disabled="disabled" class="btn  btn-primary" data-toggle="tooltip" title="" data-original-title="Default tooltip">复核</button>
                            <button id="returnBtn" type="button" disabled="disabled" class="btn  btn-primary" data-toggle="tooltip" title="" data-original-title="Default tooltip">退回</button>
                            <button id="deleteBtn" type="button" class="btn  btn-danger" >撤销</button>
                       </div><br/><br/>
                       <hr/>
                      
                        
                       <label class="" style="font-size:18px" >收款信息</label><hr/>
                       <div class="row search_panel">
                           <div class="col-lg-4">
                           		<%include("/eeda/component/form/inputField.html", { id:'check_name',
								label:'复核人', value:order.check_name!'',disabled:'disabled'
								}){}%>
								<%include("/eeda/component/form/inputField.html", { id:'check_stamp',
								label:'复核时间', value:order.check_stamp!'',disabled:'disabled'
								}){}%>
                       		</div>
                           
	                       <div class="col-lg-4">
	                       		<div class="form-group">
	                           	   <label class="search-label">收款方式</label>
	                           	   <input type="hidden" id="receive_type_show"  name="receive_type_show" value="${invoiceApplication.receive_type!''}"> 
	                                  <select id="receive_type" class="form-control search-control receive_type" name="receive_type">
	                                  	<option value="cash">现金</option>
	                                    <option value="transfers">转账</option>                                             
	                                  </select>
	                            </div>
	                            <div id="receive_type_massage">
		                            <div class="form-group">
			                            <label class="search-label">收入银行</label>
			                            <input type="hidden" id="receive_banks" placeholder="请选择支付银行" name="receive_banks" value="${invoiceApplication.receive_bank_id!''}"> 
			                        	   <select class="form-control search-control receive_bank" name="receive_bank" id="receive_bank" >
			                        	   		<option></option>
			                              		<%for(account in accountList){ %>
			                             		<option value='${account.ID!''}'>${account.BANK_NAME!''}</option>
			                             		<%}%>
			                               </select>
		                        	</div>
	                        	</div>
	                       </div>
	                       <div class="col-lg-4">
	                       		<%include("/eeda/component/form/inputField.html", { id:'pay_amount',
								label:'复申请收款金额', value:order.pay_amount!'',disabled:'disabled'
								}){}%>
	                            <%include("/eeda/component/form/dateInputField.html", {id:'receive_time', label:'收款时间', value:invoiceApplication.receive_time!''}){} %>
	                        </div>
	                    </div>
	                         
                        <div class=".tooltip-demo">
                            <hr/>
                            <button id="confirmBtn" type="button" class="btn  btn-primary" data-toggle="modal" disabled="disabled"  data-target=".bs-example-modal-sm">收款确认</button>
                            <a class="btn  btn-primary" href="/chargeAcceptOrder">返回</a>
                            <button id="returnConfirmBtn" type="button" class="btn  btn-primary" disabled >撤回</button>
                        </div>
           				</div>
           			 </form>
           		</div>	
			</div>
		</div>
	</div>
<%}%>
<script>
    var itemOrder = {};
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/arap/ChargeAcceptOrder/chargeEdit']);
    });
</script>
