<%layout("/eeda/layout.html"){%>
<link rel="stylesheet" href="/js/lib/jQuery-File-Upload-9.9.3/css/jquery.fileupload.css">
	<div id="page-wrapper">
		<div class="row">
             <div class="col-lg-12">
              	<div class="btn-header">
              		<div class="btn-header" style="font-size: 32px" align="left">收款申请单</div>
				</div>
                <div class="panel panel-default">
                <form id="orderForm">
            		<div class="panel-body">
            			<div class="row search_panel">
            			<input id='ids' name='ids' type="hidden" value="${ids!''}">
            			<input id='sp_id' name='sp_id' type="hidden" value="${order.sp_id!''}" >
            			<input id='order_id' name='order_id' type="hidden" value="${order.id!''}">
            			
            			<input id='detailJson' name='detailJson' type="hidden">
            			<input id='total_app_usd' name='total_app_usd' type="hidden">
                        <input id='total_app_cny' name='total_app_cny' type="hidden">
                        <input id='total_app_hkd' name='total_app_hkd' type="hidden">
                        <input id='total_app_jpy' name='total_app_jpy' type="hidden">
                            <div class="col-lg-4">
                            	<%include("/eeda/component/form/inputField.html", { id:'order_no',
								label:'申请单号', value:order.order_no!'',disabled:'disabled'
								}){}%>
								<%include("/eeda/component/form/inputField.html", { id:'create_stamp',
								label:'申请日期', value:order.create_stamp!'',disabled:'disabled'
								}){}%>
								<%include("/eeda/component/form/inputField.html", { id:'creator_name',
								label:'提交人', value:order.creator_name!'',disabled:'disabled'
								}){}%>
								<%include("/eeda/component/form/inputField.html", { id:'status',
								label:'状态', value:order.status!'新建',disabled:'disabled'
								}){}%>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="search-label">发票类型</label>
                                    <input id="invoice_type_show" type="hidden" value="${order.bill_type!''}">
                                    <select id="invoice_type" class="form-control search-control invoice_type" name="invoice_type">
                                    <option></option>
                                    <option value="wbill" <% if(order.bill_type!'wbill'=='wbill'){%>selected<%}%>>无发票</option>
                                    <option value="mbill" <% if(order.bill_type!''=='mbill'){%>selected<%}%>>自开发票</option>
                                    <option value="dbill" <% if(order.bill_type!''=='dbill'){%>selected<%}%>>代开发票</option>
                                    </select>
                                </div>
                                <%include("/eeda/component/form/inputField.html", { id:'billing_unit',
								label:'开票单位', value:order.billing_unit!''
								}){}%>
								<%include("/eeda/component/form/inputField.html", { id:'payee_unit',
								label:'付款单位', value:order.payee_unit!''
								}){}%>
								<%include("/eeda/component/form/inputField.html", { id:'payee_name',
								label:'付款人', value:order.payee_name!''
								}){}%>
                            </div>
                            <div class="col-lg-4">
                            	<div class="form-group">
                                    <label class="search-label">收款方式</label>
                                    <input type="hidden" id="payment_method_show" value="${order.payment_method!''}"/>
                                	<select id="payment_method" class="form-control search-control payment_method" name="payment_method" >
                                    <option value=""></option>
                                    <option value="cash" <% if(order.payment_method!'cash'=='cash'){%>selected<% }%>>现金</option>
                                    <option value="transfers" <% if(order.payment_method!''=='transfers'){%>selected<% }%>>转账</option>
                                    </select>
                                </div>
	                             <div id="transfers_massage" <% if(invoiceApplication.payment_method!'cash'=='cash'){%>style="display:none"<% }%>>
		                            <%include("/eeda/component/form/inputField.html", { id:'deposit_bank',
									label:'开户行', value:order.deposit_bank!''
									}){}%>
									<%include("/eeda/component/form/inputField.html", { id:'bank_no',
									label:'收款账号', value:order.bank_no!''
									}){}%>
									<%include("/eeda/component/form/inputField.html", { id:'account_name',
									label:'账户名', value:order.account_name!''
									}){}%>
                                </div>
                            </div>
							<div class="col-lg-12">
								<label>发票信息</label>
								<textarea id='invoice_no' class="form-control" rows="3" name="invoice_no">${order.invoice_no!''}</textarea>
							</div>
                        </div>
                        <br/><hr/>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-lg-3">
                                <%include("/eeda/component/form/inputField.html", { id:'modal_cny',
                                label:'CNY', value:order.cny!'',disabled:'disabled'
                                }){}%>
                            </div>
                            <div class="col-lg-3">
                                <%include("/eeda/component/form/inputField.html", { id:'modal_hkd',
                                label:'HKD', value:order.hkd!'',disabled:'disabled'
                                }){}%>
                            </div>
                            <div class="col-lg-3">
                                <%include("/eeda/component/form/inputField.html", { id:'modal_jpy',
                                label:'JPY', value:order.jpy!'',disabled:'disabled'
                                }){}%>
                            </div>
                            <div class="col-lg-3">
                                <%include("/eeda/component/form/inputField.html", { id:'modal_usd',
                                label:'USD', value:order.usd!'',disabled:'disabled'
                                }){}%>
                            </div>
                        </div>
                        <ul id="orderTabs" class="nav nav-tabs">
							<li class="active">
								<a href="#list" data-toggle="tab" id="costCheckOrderItem">业务单据</a>
							</li>
							<li>
                                <a href="#item_list" data-toggle="tab" id="costCheckOrderSelectItem">单据明细</a>
                            </li>
							<li >
								<a href="#upload" data-toggle="tab" data-src="create" id="costCheckOrderbasic">发票图片上传</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="list">
		                        <div class="table-responsive">
		                            <table class="table table-striped table-bordered table-hover" id="eeda-table">
		                                <thead>
		                                    <tr>
		                                        <th>应收类别</th>
                                                <th>对账单号</th>
                                                <th>结算单位</th>
                                                
                                                <th>应收CNY</th>
                                                <th style="background-color: floralwhite;">待申请CNY</th>
                                                <th style="background-color: bisque;">本次申请CNY</th>
                                                
                                                <th>应收HKD</th>
                                                <th style="background-color: floralwhite;">待申请HKD</th>
		                                        <th style="background-color: bisque;">本次申请HKD</th>
                                                
                                                <th>应收JPY</th>
                                                <th style="background-color: floralwhite;">待申请JPY</th>
		                                        <th style="background-color: bisque;">本次申请JPY</th>
                                                
                                                <th>应收USD</th>
                                                <th style="background-color: floralwhite;">待申请USD</th>
                                                <th style="background-color: bisque;">本次申请USD</th>

                                                <th>创建人</th>
                                                <th>创建时间</th>
                                                <th>备注</th>
		                                    </tr>
		                                </thead>
		                                <tbody>
		                                </tbody>
		                                <tfoot>
		                                	<tr>
		                                        <th colspan="3"><div align="center">合计</div></th>
		                                        
		                                        <th><span id="total_cny"></span></th>
                                                <th style="background-color: floralwhite;"><span id="nopay_cny"></span></th>
                                                <th style="background-color: bisque;"><span id="pay_cny"></span></th>
                                                
                                                <th><span id="total_hkd"></span></th>
                                                <th style="background-color: floralwhite;"><span id="nopay_hkd"></span></th>
		                                        <th style="background-color: bisque;"><span id="pay_hkd"></span></th>
                                                
                                                <th><span id="total_jpy"></span></th>
                                                <th style="background-color: floralwhite;"><span id="nopay_jpy"></span></th>
		                                        <th style="background-color: bisque;"><span id="pay_jpy"></span></th>
		                                        
		                                        <th><span id="total_usd"></span></th>
                                                <th style="background-color: floralwhite;"><span id="nopay_usd"></span></th>
                                                <th style="background-color: bisque;"><span id="pay_usd"></span></th>

		                                        <th colspan="3"><div align="center"></div></th>
		                                	</tr>
		                                </tfoot>
		                            </table>
		                       </div>
		                   </div>
		                   <div class="tab-pane fade" id="item_list">
                                <%include("/eeda/arap/ChargeAcceptOrder/chargeEdit_select_item.html", {}){} %>
                            </div>
		                   <div class="tab-pane fade" id="upload">
		                   		<div class="form-group">
		                   			<br/>
		                   			<span class="btn btn-success fileinput-button" id="fileuploadSpan"> 
					                <i class="glyphicon glyphicon-plus"></i> 
					                <span>选择图片</span> 
					                <input id="fileupload" type="file" name="files[]" multiple> 
				           	    	</span> 
				           	    	
				           	    	<%include("/eeda/component/form/detailTable.html", 
	                                    {
	                                        id:'doc_table',
	                                        style:'width:1200px',
	                                        headers:['', '文档名称', '上传人', '上传时间', '备注'],
	                                        field_list:['', 'doc_name','c_name','upload_time', 'remark'],
	                                        value_list: docList![]
	                                    }){} %>
			                   	</div>
		                   </div>
		               </div>
                       
				       <div class=".tooltip-demo">
                            <hr/>
                        	<a style="display:none" id ="style"><i class='fa fa-check'></i></a>
                        	<button id="saveBtn" type="button" disabled="disabled" class="btn  btn-primary" >保存</button> 
                            <button id="printBtn" type="button" disabled="disabled" class="btn  btn-primary" >打印</button>
                            <a class="btn  btn-default" href="/chargeAcceptOrder">返回</a>
                            <button id="checkBtn" type="button" disabled="disabled" class="btn  btn-primary" >复核</button>
                            <button id="returnBtn" type="button" disabled="disabled" class="btn  btn-primary"  style="display:none" >退回</button>
                            <button id="deleteBtn" type="button" class="btn  btn-danger"  style="display:none"  >撤销</button>
                       </div><br/><br/>
                       <hr/>
                      
                        
                       <label class="" style="font-size:18px" >收款信息</label><hr/>
                       <div class="search_panel">
                         <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="search-label">收款CNY</label>
                                    <input type="text" class="form-control search-control pay_amount" readonly="readonly" id="app_cny" >
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="search-label">收款HKD</label>
                                    <input type="text" class="form-control search-control pay_amount" readonly="readonly" id="app_hkd" >
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="search-label">收款JPY</label>
                                    <input type="text" class="form-control search-control pay_amount" readonly="readonly" id="app_jpy">
                                </div>
                            </div>
                       </div>
                       <div class="row">  
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="search-label">收款USD</label>
                                    <input type="text" class="form-control search-control pay_amount" readonly="readonly" id="app_usd" >
                                </div>
                            </div>
                       </div>
                       <div class="row">
                           <div class="col-lg-4">
                           		<%include("/eeda/component/form/inputField.html", { id:'check_name',
								label:'复核人', value:order.check_name!'',disabled:'disabled'
								}){}%>
					       </div>
					        <div class="col-lg-4">
								<%include("/eeda/component/form/inputField.html", { id:'check_stamp',
								label:'复核时间', value:order.check_stamp!'',disabled:'disabled'
								}){}%>
                       		</div>
                       	</div>
                       	<div class="row">
                       		<div class="col-lg-4">
                           		<%include("/eeda/component/form/inputField.html", { id:'receiver_name',
								label:'	确认收款人', value:order.receiver_name!'',disabled:'disabled'
								}){}%>
					       </div>
					       <div class="col-lg-4">
	                            <%include("/eeda/component/form/dateInputField.html",
				                        {    id:'receive_time', 
				                             label:'收款时间',
				                             value:invoiceApplication.receive_time!''
	                              }){} %>
	                        </div>
	                       <div class="col-lg-4">
	                       		<div class="form-group">
	                           	   <label class="search-label">收款方式</label> 
	                                  <select id="receive_type" class="form-control search-control receive_type" name="receive_type">
	                                  	<option value=""></option>
                                    	<option value="cash" <% if(order.receive_type!'cash'=='cash'){%>selected<% }%>>现金</option>
                                    	<option value="transfers" <% if(order.receive_type!''=='transfers'){%>selected<% }%>>转账</option>                                       
	                                  </select>
	                            </div>
	                             <div id="receive_type_massage" <% if(order.receive_type!'cash'=='cash'){%>style="display:none"<% }%>>
		                            <div class="form-group">
			                            <label class="search-label">收入银行</label>
			                            <input type="hidden" id="receive_banks" placeholder="请选择支付银行" name="pay_banks" value="${invoiceApplication.confirm_bank_id!''}"> 
			                        	   <select class="form-control search-control receive_bank" name="receive_bank" id="receive_bank" >
			                        	   		<option></option>
			                             		<%for(account in accountList){ %>
			                             		<option value="${account.ID!''}" <%if(order.receive_bank_id!'4'==account.ID!){%>selected<% }%>>${account.BANK_NAME!''}</option>
			                             		<%}%>
			                               </select>
		                        	</div>
	                        	</div>
	                       </div>
	                       
	                    </div>  
	                  </div>
	                         
                        <div class=".tooltip-demo">
                            <hr/>
                            <button id="confirmBtn" type="button" class="btn  btn-primary" data-toggle="modal" disabled="disabled"  data-target=".bs-example-modal-sm">收款确认</button>
                            <a class="btn  btn-default" href="/chargeAcceptOrder">返回</a>
                            <button id="returnConfirmBtn" type="button" class="btn  btn-primary" style="display:none" >撤回</button>
                        </div>
           				</div>
           			 </form>
           		</div>	
			</div>
		</div>
	</div>
	
<%}%>
<script>
    var itemOrder = {};
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/arap/ChargeAcceptOrder/chargeEdit']);
    });
</script>
