
            <input type="hidden" id="land_id" value="${land.id!''}">
            <div class="row">
                <div class="col-lg-4">
                   <%include("/eeda/component/form/dateInputField.html", 
                       {   id:'land_export_date', 
                           label:'出货时间', 
                           value:order.land_export_date!'',
                           disabled: 'disabled'
                       }){}%>
                </div>
            </div>
            <div class="form-group">  <!--  form row  -->
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button class="btn btn-success btn-xs" id="add_land">添加陆运</button> 
                                <a href='#' data-toggle="modal" data-target="#partyModal" class="btn btn-success btn-xs">添加收发货人</a>
                                <button class="btn btn-success btn-xs" id="truckOrderPDF" disabled>生成派车单PDF</button> 
                                <a href='#' data-toggle="modal" data-target="#cabinet_truck_detail">
                                    <button class="btn btn-success btn-xs" id="cabinet_truck" disabled>柜货派车单PDF</button>
                                </a>
                                <br><br>
                            	
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'land_table',
                                        style:'width:4800px',
                                        headers:[
                                            '<input id="allCheckOfLand" type="checkbox" style="width:30px">',
                                            '',
                                            '', 
                                            '', 
                                            '收卸货类型', 
                                            '运输公司', 
                                            '运单号', 
                                            '司机', 
                                            '司机电话', 
                                            '车型',
                                            '车牌',
                                            '发货人',
                                            '发货人电话', 
                                            '发货地点',
                                            '收货人',
                                            '收货人电话', 
                                            '收货地点', 
                                            '预约到达时间', 
                                            '货品描述',
                                            '件数',
                                            '毛重(KG)',
                                            '体积(CBM)',
                                            '运输及时间要求',
                                            '签收文件描述', 
                                            '签收状态',
                                            'TRANSPORT_COMPANY_NAME',
                                            'CONSIGNOR_NAME', 
                                            'CONSIGNEE_NAME','JOB_ORDER_LAND_DOC_ID'],
                                        field_list:[
                                            'id',
                                            '',
                                            'id', 
                                            'doc_name',
                                            'unload_type', 
                                            'transport_company', 
                                            'trans_no', 
                                            'driver',
                                            'driver_tel',
                                            'truck_type',
                                            'car_no',
                                            'consignor',
                                            'consignor_phone',
                                            'take_address',
                                            'consignee',
                                            'consignee_phone',
                                            'delivery_address',
                                            'eta',
                                            'cargo_desc',
                                            'pieces',
                                            'gross_weight',
                                            'volume',
                                            'required_time_remark',
                                            'doc_name',
                                            'sign_status',
                                            'TRANSPORT_COMPANY_NAME',
                                            'CONSIGNOR_NAME', 
                                            'CONSIGNEE_NAME','JOB_ORDER_LAND_DOC_ID'],
                                        value_list: landList![]
                                    }){} %>
                            </div>
                        </div>
                    </div>
            </div><!-- /.row -->
            
    <div class="modal fade" id="cabinet_truck_detail">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">生成柜货派车单PDF详情</div>
            <div class="modal-body">
            <input type="hidden" value="${truckHead.id!truckHeadId!''}" id="truckHeadId">
            <form id = "truckHeadForm">
                <div class="form-group">
                        <div class="row">
                           <div class="col-lg-6">
                                <%include("/eeda/component/form/inputField.html", 
                                   {   id:'truck_head_end_place', 
                                       label:'TO',
                                       value:truckHead.head_end_place!''
                                   }){}%>
                           </div>
                           <div class="col-lg-6">
                                <%include("/eeda/component/form/inputField.html", 
                                   {   id:'truck_head_start_place', 
                                       label:'FROM',
                                       value:truckHead.head_start_place!''
                                   }){}%>
                           </div>
                       </div>
                        <div class="row">
                           <div class="col-lg-6">
                                <%include("/eeda/component/form/inputField.html", 
                                   {   id:'truck_head_attn', 
                                       label:'ATTN',
                                       value:truckHead.head_attn!''
                                   }){}%>
                           </div>
                           <div class="col-lg-6">
                                 <%include("/eeda/component/form/inputField.html", 
                                   {   id:'truck_head_tel', 
                                       label:'TEL',
                                       value:truckHead.head_tel!'3225992'
                                   }){}%>
                           </div>
                       </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <%include("/eeda/component/form/inputField.html", 
                                   {   id:'truck_head_customerTel', 
                                       label:'TEL',
                                       value:truckHead.head_customerTel!''
                                   }){}%>
                           </div>
                           <div class="col-lg-6">
                                    <%include("/eeda/component/form/inputField.html", 
                                       {   id:'truck_head_date',
                                           label:'DATE',
                                           disabled:'disabled',
                                           value:truckHead.head_date!''
                                       }){}%>
                           </div>
                       </div>
                        <div class="row">
                           <div class="col-lg-6">
                                <%include("/eeda/component/form/inputField.html", 
                                   {   id:'truck_head_fax', 
                                       label:'FAX',
                                       value:truckHead.head_fax!''
                                   }){}%>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                                <%include("/eeda/component/form/inputField.html", 
                                   {   id:'truck_head_title', 
                                       label:'标题',
                                       value:truckHead.head_title!'1X40HQ FM ZHUHAI TO OSAKA'
                                   }){}%>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-lg-12">
                                <%include("/eeda/component/form/inputField.html", 
                                   {   id:'truck_head_remark',
                                       label:'备注',
                                       value:truckHead.head_remark!'请安排10/AUG 西域港报关出口'
                                   }){}%>
                           </div>
                       </div>
                       <div class="row">
                            <div class="col-lg-6">
                               <%include("/eeda/component/form/dateInputField.html", 
                               {   id:'cabinet_arrive_date', 
                                   label:'预约柜货到达时间', 
                                   inline:false,
                                   value:truckHead.cabinet_arrive_date!''
                               }){}%>
                           </div>
                       </div>
                       <div class="row">
	                       <div class="col-lg-12"> 
	                          <div class="form-group">
	                               <label>柜货到达备注</label>
	                               <textarea id='cabinet_arrive_remark' class="form-control" rows="3" name="cabinet_arrive_remark">${truckHead.cabinet_arrive_remark!''}</textarea>
	                          </div>
	                      </div>
                       </div>
                    
                </div>   
                </form>
            </div>
            <div class="modal-footer">
                <button id="printCabinetTruck" class="btn btn-primary" >确认打印PDF</button>
                <button class="btn  btn-default" data-dismiss="modal" >返回</button>
            </div>
        </div>
      </div>
    </div>
