
<input type="hidden" id="trade_id" value="${trade.id!''}">
<form id="tradeForm">
<div class="form-group">  <!--  form row  -->
             <div class="row">
                    <div class="col-lg-12">
                        <h3>贸易商品信息</h3>
                    </div>
             </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'contract_number', 
                                    label:'合同号', 
                                    value:trade.contract_number!''
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/dateInputField.html", 
                                {   id:'set_out_date', 
                                    label:'厂家出货日期', 
                                    value:trade.set_out_date!''
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/dateInputField.html", 
                                {   id:'custom_date', 
                                    label:'报关日期', 
                                    value:trade.custom_date!''
                                }){}%>
                        </div>
                     </div>
                       <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-success btn-xs" type="button" id="add_trade_cost_table">添加明细</button>
                                <br>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'trade_cost_table',
                                        style:'width:4000px',
                                        headers:['','供应商','商品名称','规格型号','数量','单位','单价(CNY)','国内货值(CNY)','增值税率','退税率','退税金额','单价差异','调整后退税金额','调整后单价','调整后总价','报关单价','报关金额','报关币制','报关汇率','CURRENCY_NAME','SP_NAME'],
                                        field_list:[
                                        '',
                                        'sp',
                                        'commodity_name',
										'specification_model',
										'number',
										'unit',
										'price',
										'domestic_price',
										'value_added_tax',
										'tax_refund_rate',
										'tax_refund_amount',
										'',
										'adjusted_tax_refund_amount',
										'adjusted_unit_price',
										'adjusted_total_price',
										'custom_price',
										'custom_amount',
										'custom_currency',
										'custom_rate',
										'CURRENCY_NAME',
										'SP_NAME'
                                            ],
                                        value_list: trade_cost_list![]
                                    }){} %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>应收服务费用</h3>
                            </div>
                        </div>
                           
                            <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-success btn-xs" type="button" id="add_charge_service_table">添加明细</button>
                                <br>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'charge_service_table',
                                        style:'width:1100px',
                                        headers:['','结算公司','费用名称','结算币制','结算汇率','金额','charge_name','currency_name','sp_name'],
                                        field_list:['','sp','charge_id','currency','rate','fee_amount','charge_name','currency_name','sp_name'],
                                        value_list: trade_charge_service_list![]
                                    }){} %>
                            </div>
                            </div>
                           <div class="row">
	                            <div class="col-lg-12">
	                                <h3>销售应收费用</h3>
	                            </div>
                           </div>
                         
                            <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-success btn-xs" type="button" id="add_trade_sale_table">添加明细</button>
                                <br>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'trade_sale_table',
                                        style:'width:1100px',
                                        headers:['','结算公司','费用名称','结算币制','结算汇率','金额','charge_name','currency_name','sp_name'],
                                        field_list:['','sp','charge_id','currency','rate','fee_amount','charge_name','currency_name','sp_name'],
                                        value_list: trade_charge_sale_list![]
                                    }){} %>
                            </div>
                            </div>
            </div><!-- /.row -->
            </form>
