<input type="hidden" id="custom_id" value="${custom.id!''}">
<form id="customForm">
      

            <div class="form-group">  <!--  form row  -->
                    
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <a id='createCustomPlanOrderBtn' href='javascript:void(0);' class="btn btn-success btn-xs" target="_blank">添加报关申请单</a>
                                <%include("/eeda/component/form/selectField.html", 
                                {   id:'custom_broker', 
                                    label:'请选择报关行', 
                                    value:order.custom_broker!'',
                                    value_list:[
                                        {code:'珠海瑞龙报关代理有限公司', value:'珠海瑞龙报关代理有限公司'}
                                      }
                                    ]
                                }){}%>                                
                                <br>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'custom_item_table',
                                        style:'width:1000px;',
                                        headers:[ '','报关申请单号码','报关行', '报关单号码','海关状态', '填报人', '填报时间','提交人', '提交时间'],
                                        field_list:['id','custom_plan_no','custom_bank', 'custom_order_no', 'status', 
                                        'creator', 'create_stamp','fill_name','fill_stamp'],
                                        value_list: customItemList![]
                                    }){} %>
                            </div>
                        </div>
                    </div>
            

                <div class="row">
                       <div class="form-group">
                           <div class="col-lg-12">
                               <div class="form-group" >
                               <label class="search-label">状态(暂定以下几种)</label>
                               <div class="checkbox">
                                <input type="hidden" value="${custom.declareSuccess_updater!''}" id="declareSuccess_updater">
                                <input type="hidden" value="${custom.declareSuccess_time!''}" id="declareSuccess_time">
                                   <label>
                                    <input type="checkbox" value='declareSuccess' style="margin-top: 0px;">
                                       1.申报成功(更新人: <span id="declareSuccess_updater_span">${custom.declareSuccess_updater!''}</span> , 更新时间: <span id="declareSuccess_time_span">${custom.declareSuccess_time!''}</span>)
                                   </label>
                               </div>
                               <div class="checkbox">
                                <input type="hidden" value="${custom.onDataBaseRoad_updater!''}" id="onDataBaseRoad_updater">
                                <input type="hidden" value="${custom.onDataBaseRoad_time!''}" id="onDataBaseRoad_time">
                                   <label>
                                       <input type="checkbox" value='onDataBaseRoad' style="margin-top: 0px;">
                                       2.发往海关数据库(更新人: <span id="onDataBaseRoad_updater_span">${custom.onDataBaseRoad_updater!''}</span> , 更新时间: <span id="onDataBaseRoad_time_span">${custom.onDataBaseRoad_time!''}</span>)
                                   </label>
                               </div>
                               <div class="checkbox">
                                <input type="hidden" value="${custom.gateInSuccess_updater!''}" id="gateInSuccess_updater">
                                <input type="hidden" value="${custom.gateInSuccess_time!''}" id="gateInSuccess_time">
                                   <label>
                                       <input type="checkbox" value='gateInSuccess' style="margin-top: 0px;">
                                       3.入库成功(更新人: <span id="gateInSuccess_updater_span">${custom.gateInSuccess_updater!''}</span> , 更新时间: <span id="gateInSuccess_time_span">${custom.gateInSuccess_time!''}</span>)
                                   </label>
                               </div>
                               <div class="checkbox">
                                <input type="hidden" value="${custom.customOrderCheck_updater!''}" id="customOrderCheck_updater">
                                <input type="hidden" value="${custom.customOrderCheck_time!''}" id="customOrderCheck_time">
                                   <label>
                                       <input type="checkbox" value='customOrderCheck' style="margin-top: 0px;">
                                       4.报关单查验(报关人: <span id="customOrderCheck_updater_span">${custom.customOrderCheck_updater!''}</span> , 时间: <span id="customOrderCheck_time_span">${custom.customOrderCheck_time!''}</span>)
                                   </label>
                               </div>
                               <div class="checkbox">
                                    <input type="hidden" value="${custom.release_updater!''}" id="release_updater">
                                <input type="hidden" value="${custom.release_time!''}" id="release_time">
                                   <label>
                                       <input type="checkbox" value='release' style="margin-top: 0px;">
                                       5.放行(报关人: <span id="release_updater_span">${custom.release_updater!''}</span> , 时间: <span id="release_time_span">${custom.release_time!''}</span>)
                                   </label>
                               </div>
                               <div class="checkbox">
                                <input type="hidden" value="${custom.conclusion_updater!''}" id="conclusion_updater">
                                <input type="hidden" value="${custom.conclusion_time!''}" id="conclusion_time">
                                   <label>
                                       <input type="checkbox" value='conclusion' style="margin-top: 0px;">
                                       6.审结(报关人: <span id="conclusion_updater_span">${custom.conclusion_updater!''}</span> , 时间: <span id="conclusion_time_span">${custom.conclusion_time!''}</span>)
                                   </label>
                               </div>
                           </div>
                           </div>
                       </div>
                </div>
                
	             <h4>报关文档</h4>
	             <span class="btn btn-success btn-xs fileinput-button" id="fileuploadSpanOfCustom"> 
	                 <i class="glyphicon glyphicon-plus"></i> 
	                 <span>选择文件</span> 
	                 <input id="fileuploadOfCustom" type="file" name="files[]" multiple> 
	             </span> 
	             <%include("/eeda/component/form/detailTable.html", 
	                 {
	                     id:'custom_doc_table',
	                     style:'width:1400px',
	                     headers:['<input id="allCheckOfCustomDoc" type="checkbox" style="width:30px">','', '文档名称', '上传人', '上传时间', '备注'],
	                     field_list:['id','', 'doc_name','c_name','upload_time', 'remark'],
	                     value_list: customDocList![]
	                 }){} %>
	              <br>
                            
                           
                
         </div><!-- /.row -->
</form>