<%layout("/eeda/layout.html"){%>
<link rel="stylesheet" href="/yh/js/plugins/jQuery-File-Upload-9.9.3/css/jquery.fileupload.css">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-header" style="font-size:32px">工作单</div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">  <!--  form row  -->
                <form id="orderForm">
                    <input id="order_id" type="hidden" name="order_id" value="${order.id!''}"/>
                    <div class="row"><!--  第1行  -->
                        <div class="col-lg-4"><!--  三列排版  -->
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'order_no', 
                                    label:'工作单号', 
                                    value:order.order_no!'',
                                    disabled: 'disabled'
                                }){}%>
                        </div>
                        <div class="col-lg-4"><!--  三列排版  -->
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'plan_order_no', 
                                    label:'计划订单号', 
                                    value: order.plan_order_no!plan.order_no!,
                                    disabled: 'disabled'
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputCustomerField.html", 
                                {
                                    id:'customer_id', 
                                    label:'客户', 
                                    required:'required',
                                    value:order.customer_id!'',
                                    display_value:party.abbr!''
                                }){} %>
                       </div>
                    </div>
                    <div class="row"><!--  第4行  -->
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/selectField.html", 
                                {   id:'type', 
                                    label:'类型', 
                                    required:'required',
                                    value:order.type!'',
                                    value_list:[
                                        {code:'export', value:'出口'},
                                        {code:'import', value:'进口'}, 
                                        {code:'both', value:'进出口'},
                                        {code:'oneDayTrip', value:'一日游'} 
                                    ],
                                    disabled: 'disabled'
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-8">
                        	<input type="hidden" id="hiddenTransports" value ="${order.transport_type!''}">
                            <div class="form-group" id="transport_type">
                                <label class="search-label">服务项目</label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value='ocean'>海运
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value='air'>空运
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value='domestic'>陆运
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value='custom'>报关
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value='insur'>保险
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row"><!--  第4行  -->
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'status', 
                                    label:'状态', 
                                    value:order.status!'', 
                                    disabled: 'disabled'
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'creator_name', 
                                    label:'创建人', 
                                    value:user.c_name!'', 
                                    disabled: 'disabled'
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'create_stamp', 
                                    label:'创建时间', 
                                    value:order.create_stamp!'', 
                                    disabled: 'disabled'
                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>货品信息</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'gross_weight', 
                                    label:'毛重(KG)', 
                                    value: order.gross_weight!planOrder.gross_weight!''
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'net_weight', 
                                    label:'净重(KG)', 
                                    value: order.net_weight!planOrder.net_weight!''
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'volume', 
                                    label:'体积(CBM)', 
                                    value: order.volume!planOrder.volume!''
                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'pieces', 
                                    label:'件数', 
                                    value: order.pieces!planOrder.pieces!''
                                }){}%>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group" id="billing_method">
                            <input type="hidden" id="hidden_billing_method" value="${order.billing_method!''}">
                                <label class="search-label">计费方式</label>
                                <label class="checkbox-inline">
                                    <input type="radio" name='billing_method' value='perWeight' checked>重货(按重量)
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name='billing_method' value='perVolume'>泡货(按体积)
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.row -->
            
            <div class="row">
            	<div class="form-group">
                 <label>备注</label>
                 <textarea id='note' class="form-control" rows="3" name="note">${order.remark!''}</textarea>
            	</div>
            </div>

			<div class="row" style="margin-top:15px">
				<ul id="orderTabs" class="nav nav-tabs">
                    <li>
                        <a id='oceanDetailTab' href="#oceanDetail" data-toggle="tab" style="display: none;">海运信息</a>
                    </li>
                    <li >
                        <a id='airDetailTab' href="#airDetail" data-toggle="tab" style="display: none;">空运信息</a>
                    </li>
                    <li>
                        <a id='domesticDetailTab' href="#domesticDetail" data-toggle="tab" style="display: none;">陆运信息</a>
                    </li>
                    <li>
                        <a id='customDetailTab' href="#customDetail" data-toggle="tab" style="display: none;">报关信息</a>
                    </li>
                    <li>
                        <a id='insurDetailTab' href="#insurDetail" data-toggle="tab" style="display: none;">保险信息</a>
                    </li>
                    <li class="active">
                        <a href="#chargeDetail" data-toggle="tab">费用明细</a>
                    </li>
                    <li>
                        <a href="#docDetail" data-toggle="tab">相关文档</a>
                    </li>
				</ul>
				<div class="tab-content">
                    <div class="tab-pane fade in" id="oceanDetail">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <%include("/oms/JobOrder/JobOrderEdit_ocean.html", {}){} %>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="airDetail">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <%include("/oms/JobOrder/JobOrderEdit_air.html", {}){} %>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="domesticDetail">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <%include("/oms/JobOrder/JobOrderEdit_land.html", {}){} %>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="customDetail">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <%include("/oms/JobOrder/JobOrderEdit_custom.html", {}){} %>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="insurDetail">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <%include("/oms/JobOrder/JobOrderEdit_insur.html", {}){} %>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade active in" id="chargeDetail">
                        <div class="col-lg-12">
                            <h3>应收信息</h3>
                        </div>
                        <div class="col-lg-12">
                            <button class="btn btn-success btn-xs" id="add_charge">添加费用</button>
                            <br>
                            <%include("/eeda/component/form/detailTable.html", 
                                {
                                    id:'charge_table',
                                    style:'width:1500px;',
                                    headers:['', '类别', '结算公司', '费用名称', '单价', '数量', '单位', '币制', '金额', '收据汇率', '金额(人民币)', '备注'],
                                    field_list:['', 'type', 'sp_id', 'charge_id', 'price', 'amount', 'unit_id', 'currency_id', 'total_amount',
                                     'exchange_rate', 'currency_total_amount','remark'],
                                    value_list: chargeList![]
                                }){} %>
                        </div>
                        
                        
                        <div class="col-lg-12">
                            <h3>应付信息</h3>
                        </div>
                        <div class="col-lg-12">
                            <button class="btn btn-success btn-xs" id="add_charge_cost">添加费用</button>
                            <br>
                            <%include("/eeda/component/form/detailTable.html", 
                                {
                                    id:'cost_table',
                                    style:'width:1500px;',
                                    headers:['', '类别','结算公司', '费用名称', '单价', '数量', '单位', '币制', '金额', '收据汇率', '金额(人民币)', '备注'],
                                    field_list:['', 'type', 'sp_id', 'charge_id', 'price', 'amount', 'unit_id', 'currency_id', 'total_amount',
                                     'exchange_rate', 'currency_total_amount', 'remark'],
                                    value_list: costList![]
                                }){} %>
                        </div>
                        
                    </div>
                    <div class="tab-pane fade in" id="docDetail">
                        <div class="form-group">
                            <div class="col-lg-12">
                                   <!-- 此处上传doc -->
								   <div class="panel-body">  <!-- 样式 -->           
	                                       <div class="row">
									  		<div class="col-lg-12" style="clear:both;">
									  			<div class="form-group"> 
										  		  <span class="btn btn-success fileinput-button">
						                                <i class="glyphicon glyphicon-plus"></i>
						                                <span>选择图片</span>
						                                <input id="fileupload" type="file" name="files[]" multiple>
						                            </span>                                                
												    <br>
	                                            </div>
	                                    	</div>
										</div>
									</div>
                                <button class="btn btn-success btn-xs" id="add_doc">添加文档</button>
                                <br>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'doc_table',
                                        headers:['', '文档名称', '上传人', '上传时间', '备注'],
                                        field_list:['', 'doc_name', 'uploader', 'upload_stamp', 'remark'],
                                        value_list: docList![]
                                    }){} %>
                            </div>
                        </div>
                    </div>
	            </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <a id='saveBtn' class="btn  btn-primary" href="#">保存</a>
                    <button id="printBtn" type="button" class="btn  btn-primary" data-toggle="modal"  data-target=".bs-example-modal-sm">打印</button>
                    <a class="btn  btn-default" href="/jobOrder">返回</a>
                </div>
                <!-- /.col-lg-12 -->
            </div>


        </div><!--  form row  -->
        <!-- /#page-wrapper -->
<%}%>
<script>
    var order_no = '${order.order_no!'订单编辑'}'; 
    var itemOrder = {};
</script>
<script>
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/oms/jobOrder/edit']);
        //requirejs(['app/oms/jobOrder/edit_domestic_table']);
        //requirejs(['app/oms/jobOrder/edit_charge_cost_table']);
        requirejs(['app/oms/jobOrder/edit_doc_table']);
        //requirejs(['app/oms/jobOrder/edit_cargo_table']);
        //requirejs(['app/oms/jobOrder/edit_flight_table']);
        // requirejs(['app/oms/jobOrder/edit_item_table']);
        // requirejs(['app/oms/jobOrder/edit_charge_table']);
        // requirejs(['app/oms/jobOrder/edit_shipment_detail']);
        requirejs(['app/oms/jobOrder/edit_file_upload']);
        
        //requirejs(['app/yh/js/plugins/jQuery-File-Upload-9.5.7/jquery.ui.widget']);
        //requirejs(['app/yh/js/plugins/jQuery-File-Upload-9.5.7/jquery.iframe-transport']);
        //requirejs(['app/yh/js/plugins/jQuery-File-Upload-9.5.7/jquery.fileupload']);
    });
</script>