
<form id = "expressForm">
<input type="hidden" id="express_id" value="${express.id!''}">
     <div class="form-group">  <!--  form row  -->
     		<div class="row col-lg-12">
     			<h3>寄件人信息</h3>
     		</div>
             <div class="row">
                 <div class="col-lg-4">
                     <%include("/eeda/component/form/inputField.html", 
                         {   id:'send_name', 
                             label:'姓名', 
                             value:express.send_name!''
                         }){}%>
                 </div>
                 <div class="col-lg-4">
                     <%include("/eeda/component/form/inputField.html", 
                         {   id:'send_phone', 
                             label:'联系电话', 
                             value:express.send_phone!''
                         }){}%>
                 </div>
                 <div class="col-lg-4">
                     <%include("/eeda/component/form/inputField.html", 
                         {   id:'send_address', 
                             label:'详细地址', 
                             value:express.send_address!''
                         }){}%>
                 </div>
             </div>
             
             <div class="row col-lg-12">
     			<h3>收件人信息</h3>
     		</div>
             <div class="row">
                 <div class="col-lg-4">
                     <%include("/eeda/component/form/inputField.html", 
                         {   id:'receive_name', 
                             label:'姓名', 
                             value:express.receive_name!''
                         }){}%>
                 </div>
                 <div class="col-lg-4">
                     <%include("/eeda/component/form/inputField.html", 
                         {   id:'receive_phone', 
                             label:'联系电话', 
                             value:express.receive_phone!''
                         }){}%>
                 </div>
                 <div class="col-lg-4">
                     <%include("/eeda/component/form/inputField.html", 
                         {   id:'receive_address', 
                             label:'详细地址', 
                             value:express.receive_address!''
                         }){}%>
                 </div>
             </div>
             
             <hr/>
             <div class="row">
             	<div class="col-lg-4">
                     <%include("/eeda/component/form/inputField.html", 
                         {   id:'transfer_no', 
                             label:'运单号', 
                             value:express.transfer_no!''
                         }){}%>
                 </div>
                 <div class="col-lg-4">
                     <%include("/eeda/component/form/inputField.html", 
                         {   id:'carrier_company', 
                             label:'承运公司', 
                             value:express.carrier_company!''
                         }){}%>
                 </div>
                 <div class="col-lg-4">
                     <%include("/eeda/component/form/DateInputField.html", 
                         {   id:'shipping_date', 
                             label:'出货日期', 
                             value:express.shipping_date!''
                         }){}%>
                 </div>
             </div>
     </div>
</form>


