<%layout("/eeda/layout.html"){%>
        <div id="page-wrapper">
        <%
	      //如果只有edit, 没指定特定的, 默认都有编辑权限
	      var orderPermission = shiro.hasPermission("jobOrder.order");
	      var boolOrder= orderPermission;
    	%>
            <div class="row simple_search_div">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    	<div class="row"><!--  第1行  -->
                        	<div class="col-lg-4"><!--  三列排版  -->
                            	<div class="search_single">
                              		<select id="selected_field" name="selected_field" class="form-control search-label">
	                            		<option value="sono_like">SO号</option>
	                               		<option value="container_no">柜号</option>
	                               		<option value="status">状态</option>
	                                	<option value="order_no">工作单号</option>
	                                	<option value="old_order_no">旧工作单号</option>
	                                	<option value="customer_name">客户名称</option>
	                                	<option value="customer_code_like">客户代码</option>
                            		</select>

                            		<input type="text" class="form-control search-control" id="single_sono" name="sono">
                            		
                            		<input type="text" class="form-control search-control" id="single_container_no" name="container_no" style="display: none;">
                            		
                            		<select id="single_status_list" name="status_list" class="form-control search-control" style="display: none;">
                                		<option value="新建">新建</option>
                                		<option value="已完成">已完成</option>
                            		</select>
                            
                           	 		<input type="text" class="form-control search-control" id="single_order_no" name="order_no" style="display: none;">
                           	 
                           	 		<input type="text" class="form-control search-control" id="single_old_order_no" name="old_order_no" style="display: none;">
                           	 		
                           	 		<input type="text" class="form-control search-control" id="single_customer_name" name="customer_name" style="display: none;">
                           	 		
                           	 		<input type="text" class="form-control search-control" id="single_customer_code" name="customer_code" style="display: none;">
                           	 		
                          		</div>
                      		</div>
                      <div class="col-lg-4"><!--  三列排版  -->
                          <div class="search_single">
                            <button id="singleSearchBtn" class="btn btn_grey" type="button">查询</button>
                           <a href="/jobOrder/create" class="btn btn_green" type="button">创建工作单</a>
                          </div>
                          
                      </div>
                      <div class="col-lg-4"><!--  三列排版  -->
                          <h4 class="panel-title pull-right" style="padding-top: 5px;">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseChargeInfo" aria-expanded="false" class="complex_search collapsed">
                                <i id="collapseChargeIcon" class="fa fa-angle-double-down"></i> 高级查询
                              </a>
                          </h4>
                      </div>
                  </div>
                  
              </div>
                    <div id="collapseChargeInfo" class="panel-collapse collapse" aria-expanded="false" style="height: auto;">
                        <div class="panel-body" id="ChargeDiv">
                            <div class="col-lg-12">
                                <form id="orderForm">
                                    <div class="row"><!--  第1行  -->
                                        <div class="col-lg-4"><!--  三列排版  -->
                                            <%include("/eeda/component/form/inputField.html", 
                                                                {   id: 'sono', 
                                                                    label: 'SO号', 
                                                                    value: ''
                                                                }){}%>
                                        </div>
                                        <div class="col-lg-4"><!--  三列排版  -->
                                            <%include("/eeda/component/form/inputField.html", 
                                                                {   id: 'container_no', 
                                                                    label: '柜号', 
                                                                    value: ''
                                                                }){}%>
                                        </div>
                                        <div class="col-lg-4"><!--  三列排版  -->
                                            <%include("/eeda/component/form/inputField.html", 
                                                                {   id: 'old_order_no', 
                                                                    label: '旧工作单号', 
                                                                    value: ''
                                                                }){}%>
                                        </div>
                                    </div>
                                    <div class="row"><!--  第1行  -->
                                        <div class="col-lg-4"><!--  三列排版  -->
                                            <%include("/eeda/component/form/inputField.html", 
                                                                {   id: 'order_no', 
                                                                    label: '工作单号', 
                                                                    value: ''
                                                                }){}%>
                                        </div>
                                        <div class="col-lg-4"><!--  三列排版  -->
                                            <%include("/eeda/component/form/inputDateQueryField.html", 
                                                                {   id: 'sent_out_time', 
                                                                    label: '出货时间', 
                                                                    value: ''
                                                                }){}%>
                                        </div>
                                        <div class="col-lg-4">
                                            <%include("/eeda/component/form/inputDateQueryField.html", 
                                            {   id:'create_stamp', 
                                                label:'创建时间', 
                                                value:''
                                            }){} %>
                                        </div><!-- /.col-lg-2 -->
                                    </div><!-- /.row-->
                                    <div class="row">
                                        <div class="col-lg-4">
                                             <%include("/eeda/component/form/selectField.html", 
                                                    {   id:'status', 
                                                        label:'状态', 
                                                        value: '',
                                                        value_list:[
                                                            {code:'', value:''},
                                                            {code:'新建', value:'新建'},
                                                            {code:'已完成', value:'已完成'}
                                                        ]
                                                    }
                                                 ){} %>
                                        </div>
                                        <div class="col-lg-4">
                                          <%include("/eeda/component/form/inputField.html", 
                                                              {   id: 'customer_code', 
                                                                  label: '客户代码', 
                                                                  value: ''
                                                              }){}%>
                                        </div>
                                        <div class="col-lg-4">
                                          <%include("/eeda/component/form/inputSpField.html", 
                                                              {   id: 'customer_name', 
                                                                  label: '客户名称',
                                                                  list:'list', 
                                                                  value: ''
                                                              }){}%>
                                        </div>
                                    </div>
                                    <div class="form-group table_btn_bar" >
                                        <button id="searchBtn" class="btn btn_grey" type="button">查询</button>
                                        <button id="resetBtn" class="btn btn_white" type="button">清空条件</button>
                                        <a href="/jobOrder/create" class="btn btn_green" type="button">创建工作单</a>
                                        <%if(boolOrder){%>
                                        <button id="lockBtn" class="btn btn_green" style="float:right" type="button" disabled>工作单锁单</button>
                                        <%}%>
                                    </div>
                                </form>
                            </div>
                        </div>
                   </div>
                </div>

                
            </div><!-- /.row 查询条件 结束-->
            <div class="row simple_list_div">
                
                    <ul id="orderTabs" class="nav nav-tabs" >
                        <li class="active">
                            <a href="#" data-toggle="tab">全部</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">海运</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab" >空运</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">陆运</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">报关</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">保险</a>
                        </li>
                        <% var user_office_id = office_id;
                        if(user_office_id==1){%>
                        <li>
                            <a href="#" data-toggle="tab">贸易</a>
                        </li>
                        <%}%>
                        <li>
                            <a href="#" data-toggle="tab">快递</a>
                        </li>
                    </ul>
                    <%include("/eeda/component/form/detailTable.html", 
                        {
                            id:'eeda-table', 
                            headers:['','','工作单号',
                                '类型',
                                '出货时间',
                                '客户名称',
                                'SO/mbl',
                                '柜号',
                                'pod',
                                '费用',
                                '创建人',
                                '更新人',
                                '创建时间',
                                '状态','']
                        }){} %>
                
            </div><!-- /.row 列表结束-->

        </div><!-- end of  .page-wrapper-->
        
        <!-- 删除单据的原因 -->
        <a data-target='#deleteReasonDetail' data-toggle='modal'>
            <button id="deleteReasonDetailAlert" style="display:none"></button>
        </a>
        <div class="modal fade" id="deleteReasonDetail">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">请填写删除原因</div>
                <div class="modal-body">
                    <input id="delete_id" type="hidden">
                    <form id="deleteReasonDetailForm">
                     <div class="form-group">
                     <select class="form-control search-control deleteReason">
                     <option>单据重复</option>                   
                     <option>单据作废</option>
                     <option>单据信息错误太多，不要了</option>                     
                     </select><br/><br/>
                     <textarea id='deleteReason' name="deleteReason" class="form-control" rows="3" required></textarea>
                     </div>
                     </form>
                </div>
              <div class="modal-footer">
                <button class="btn  btn-default return" data-dismiss="modal">返回</button>
                <button class="btn btn-primary confirm" >确定删除</button>
            </div>
        </div>
      </div>
    </div>

<%}%>

<script>
      var type = "${type!''}";
 </script>
<script>
    requirejs(['/js/eeda/eeda-common.js'], 
        function (common) {
        requirejs(['app/oms/jobOrder/list']);
    },
    function(error) {
        console.error('报错了: ',error);
        //error.requireModules : is Array of all failed modules
        var failedId = error.requireModules && error.requireModules[0];
        console.error(failedId);
        console.error(error.message);
    });
</script>
