
<form id = "customForm">
            <div class="row">  <!--  form row  -->
            <input type="hidden" id="item_id" value="${custom.id!''}">
                    <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'customs_broker', 
                                    label:'报关行', 
                                    value:custom.customs_broker!'',
                                    placeholder:'基础数据??'
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'contact', 
                                    label:'联系人', 
                                    value:custom.contact!''
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'phone', 
                                    label:'电话', 
                                    value:custom.phone!''
                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'custom_order_no', 
                                    label:'报关单号码', 
                                    value:custom.custom_order_no!''
                                }){}%>
                        </div>
                        
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/selectField.html", 
                                {   id:'trade_mode', 
                                    label:'贸易方式(监管方式)', 
                                    required:'required',
                                    value:order.trade_mode!'',
                                    value_list:[
                                        {code:'export', value:'一般贸易'},
                                        {code:'import', value:'进料对口'}, 
                                        {code:'both', value:'其它进出口免费'}
                                    ],
                                    disabled: 'disabled'
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/selectField.html", 
                                {   id:'trade_clause', 
                                    label:'贸易条款', 
                                    required:'required',
                                    value:order.trade_clause!'',
                                    value_list:[
                                        {code:'export', value:'CIF'},
                                        {code:'import', value:'EXW'}, 
                                        {code:'both', value:'FOB'},
                                        {code:'both', value:'DDP'},
                                        {code:'both', value:'DDU'}
                                    ],
                                    disabled: 'disabled'
                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'destination_country', 
                                    label:'目的国', 
                                    value:custom.destination_country!''
                                }){}%>
                        </div>
                    </div>
                   
                    <div class="row">

                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="form-group" >
                                <label class="search-label">状态</label>
                                <div class="checkbox">
                                    <label >
                                        <input type="checkbox" value='declareSuccess' style="margin-top: 0px;">
                                        1.申报成功
                                    </label>
                                     (更新人:AAA, 更新时间:2016-07-21 15:23:12)
                                </div>
                                <div class="checkbox">
                                    <label >
                                        <input type="checkbox" value='onDataBaseRoad' style="margin-top: 0px;">
                                        2.发往海关数据库
                                    </label>
                                     (更新人:AAA, 更新时间:2016-07-21 15:23:12)
                                </div>
                                <div class="checkbox">
                                    <label >
                                        <input type="checkbox" value='gateInSuccess' style="margin-top: 0px;">
                                        3.入库成功
                                    </label>
                                     (更新人:AAA, 更新时间:2016-07-21 15:23:12)
                                </div>
                                <div class="checkbox">
                                    <label >
                                        <input type="checkbox" value='customOrderCheck' style="margin-top: 0px;">
                                        4.报关单查验(报关人:AAA, 时间:2016-07-21 15:23:12)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label >
                                        <input type="checkbox" value='release' style="margin-top: 0px;">
                                        6.放行(报关人:AAA, 时间:2016-07-21 15:23:12)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label >
                                        <input type="checkbox" value='conclusion' style="margin-top: 0px;">
                                        7.审结(报关人:AAA, 时间:2016-07-21 15:23:12)
                                    </label>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
            </div><!-- /.row -->
</form>


