
<input type="hidden" id="trade_id" value="${trade.id!''}">
<form id="tradeForm">
<div class="form-group">  <!--  form row  -->
             <div class="row">
                    <div class="col-lg-12">
                        <h3>贸易商品信息</h3>
                    </div>
             </div>
             
            <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-success btn-xs" type="button" id="add_trade_cargo_table">添加明细</button>
                        <br>
                        <%include("/eeda/component/form/detailTable.html", 
                            {
                                id:'trade_cargo_table',
                                style:'width:3310px',
                                headers:['','商品名称','规格型号','数量','单价(CNY)','国内货值(CNY)','增值税','退税率','退税金额','总价差异','单价差异','调整后退税金额','调整后单价','调整后总价','单价(USD)','出口货值（USD)'],
                                field_list:[
                                '',
                                'commodity_name',
                                'specification_model',
                                'number',
                                'cny_price',
                                'cny_domestic_price',
                                'value_added_tax',
                                'tax_refund_rate',
                                'tax_refund_amount',
                                '',
                                '',
                                'adjusted_tax_refund_amount',
                                'adjusted_unit_price',
                                'adjusted_total_price',
                                'usd_price',
                                'usd_export_amout'
                                    ],
                                value_list: trade_cargo_list![]
                            }){} %>
                    </div>
                </div>
                        
             <div class="row">
                    <div class="col-lg-12">
                        <h3>应付费用</h3>
                    </div>
             </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'cost_contract_number', 
                                    label:'合同号', 
                                    value:trade.cost_contract_number!''
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputCurrencyField.html", 
                                {   id:'cost_currency', 
                                    label:'结算币制', 
                                    value:trade.cost_currency!'',
                                    display_value:trade.cost_currency_name!''
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                {   id:'cost_rate', 
                                    label:'结算汇率', 
                                    value:trade.cost_rate!''
                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputSelectArea.html", 
                                {   id:'cost_company', 
                                    label:'供应商', 
                                    value:trade.cost_company!'',
                                    display_value:trade.cost_company_abbr!'',
                                    textarea_value:trade.cost_company_info!''
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/dateInputField.html", 
                                {   id:'cost_set_out_date', 
                                    label:'出货日期', 
                                    value:trade.cost_set_out_date!''
                                }){}%>
                        </div>
                     </div>
                       <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-success btn-xs" type="button" id="add_trade_cost_table">添加明细</button>
                                <br>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'trade_cost_table',
                                        style:'width:2910px',
                                        headers:['','商品名称','规格型号','数量','单价','国内货值(CNY)','增值税','退税率','退税金额','总价差异','单价差异','调整后退税金额','调整后单价','调整后总价'],
                                        field_list:[
                                        '',
                                        'commodity_name',
										'specification_model',
										'number',
										'price',
										'domestic_price',
										'value_added_tax',
										'tax_refund_rate',
										'tax_refund_amount',
										'',
										'',
										'adjusted_tax_refund_amount',
										'adjusted_unit_price',
										'adjusted_total_price'
                                            ],
                                        value_list: trade_cost_list![]
                                    }){} %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>应收服务费用</h3>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-lg-4">
                                       <%include("/eeda/component/form/inputCustomerField.html", 
		                                {
		                                    id:'charge_service_company', 
		                                    label:'结算公司', 
		                                    value:trade.charge_service_company!'',
		                                    display_value:trade.charge_service_company_abbr!''
		                                }){} %>
                                </div>
                                <div class="col-lg-4">
                                    <%include("/eeda/component/form/inputCurrencyField.html", 
                                        {   id:'charge_service_currency', 
                                            label:'结算币制', 
                                            value:trade.charge_service_currency!'',
                                            display_value:trade.charge_service_currency_name!''
                                        }){}%>
                                </div>
                                <div class="col-lg-4">
                                    <%include("/eeda/component/form/inputField.html", 
                                        {   id:'charge_service_rate', 
                                            label:'结算汇率', 
                                            value:trade.charge_service_rate!''
                                        }){}%>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-success btn-xs" type="button" id="add_charge_service_table">添加明细</button>
                                <br>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'charge_service_table',
                                        style:'width:500px',
                                        headers:['','费用名称','金额',''],
                                        field_list:['','charge_id','fee_amount','charge_name'],
                                        value_list: trade_charge_service_list![]
                                    }){} %>
                            </div>
                            </div>
                           <div class="row">
	                            <div class="col-lg-12">
	                                <h3>销售应收费用</h3>
	                            </div>
                           </div>
                            <div class="row">
                                <div class="col-lg-4">
                                        <%include("/eeda/component/form/inputCustomerField.html", 
                                        {
                                            id:'charge_sale_company', 
                                            label:'结算公司', 
                                            value:trade.charge_sale_company!'',
                                            display_value:trade.charge_sale_company_abbr!''
                                        }){} %>
                                </div>
                                <div class="col-lg-4">
                                    <%include("/eeda/component/form/inputCurrencyField.html", 
                                        {   id:'charge_sale_currency', 
                                            label:'结算币制', 
                                            value:trade.charge_sale_currency!'',
                                            display_value:trade.charge_sale_currency_name!''
                                        }){}%>
                                </div>
                                <div class="col-lg-4">
                                    <%include("/eeda/component/form/inputField.html", 
                                        {   id:'charge_sale_rate', 
                                            label:'结算汇率', 
                                            value:trade.charge_sale_rate!''
                                        }){}%>
                                </div>
                                <div class="col-lg-4">
                                    <%include("/eeda/component/form/dateInputField.html", 
                                        {   id:'charge_sale_set_out_date', 
                                            label:'出货日期', 
                                            value:trade.charge_sale_set_out_date!''
                                        }){}%>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-success btn-xs" type="button" id="add_trade_sale_table">添加明细</button>
                                <br>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'trade_sale_table',
                                        style:'width:1550px',
                                        headers:['','商品名称','规格型号','数量(PCS)','单价','出口货值','备注'],
                                        field_list:[
                                        '',
                                        'commodity_name',
										'specification_model',
										'number',
										'price',
										'export_amout',
										'remark'],
                                        value_list: trade_charge_sale_list![]
                                    }){} %>
                            </div>
                            </div>
            </div><!-- /.row -->
            </form>
