<input type="hidden" id="customSelf_id" value="${customSelf.id!''}">
           
            <div class="form-group">  <!--  form row  -->
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button id='addCustomSelf' class="btn btn-success btn-xs" type="button">添加报关申请单</button>
                                <br>
                                <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'custom_self_item_table',
                                        style:'width:1200px;',
                                        headers:[ '','报关行', '报关单号码','海关状态', '填报人', '填报时间'],
                                        field_list:['','custom_bank', 'custom_order_no', 'status', 
                                        'creator', 'create_stamp'],
                                        value_list: customSelfItemList![]
                                    }){} %>
                            </div>
                        </div>
                    </div>
            

<form id="custom_china_self_form" style="display:none">
                <div class="row" >
                       <div class="form-group">
                           <div class="col-lg-12">
                               <div class="form-group" >
                               <label class="search-label">状态(暂定以下几种)</label>
                               <div class="checkbox">
                                <input type="hidden" value="${customSelf.declareSuccess_updater!''}" id="self_declareSuccess_updater">
                                <input type="hidden" value="${customSelf.declareSuccess_time!''}" id="self_declareSuccess_time">
                                   <label>
                                    <input type="checkbox" value='declareSuccess' style="margin-top: 0px;">
                                       1.申报成功(更新人: <span id="self_declareSuccess_updater_span">${customSelf.declareSuccess_updater!''}</span> , 更新时间: <span id="self_declareSuccess_time_span">${customSelf.declareSuccess_time!''}</span>)
                                   </label>
                               </div>
                               <div class="checkbox">
                                <input type="hidden" value="${customSelf.onDataBaseRoad_updater!''}" id="self_onDataBaseRoad_updater">
                                <input type="hidden" value="${customSelf.onDataBaseRoad_time!''}" id="self_onDataBaseRoad_time">
                                   <label>
                                       <input type="checkbox" value='onDataBaseRoad' style="margin-top: 0px;">
                                       2.发往海关数据库(更新人: <span id="self_onDataBaseRoad_updater_span">${customSelf.onDataBaseRoad_updater!''}</span> , 更新时间: <span id="self_onDataBaseRoad_time_span">${customSelf.onDataBaseRoad_time!''}</span>)
                                   </label>
                               </div>
                               <div class="checkbox">
                                <input type="hidden" value="${customSelf.gateInSuccess_updater!''}" id="self_gateInSuccess_updater">
                                <input type="hidden" value="${customSelf.gateInSuccess_time!''}" id="self_gateInSuccess_time">
                                   <label>
                                       <input type="checkbox" value='gateInSuccess' style="margin-top: 0px;">
                                       3.入库成功(更新人: <span id="self_gateInSuccess_updater_span">${customSelf.gateInSuccess_updater!''}</span> , 更新时间: <span id="self_gateInSuccess_time_span">${customSelf.gateInSuccess_time!''}</span>)
                                   </label>
                               </div>
                               <div class="checkbox">
                                <input type="hidden" value="${customSelf.customOrderCheck_updater!''}" id="self_customOrderCheck_updater">
                                <input type="hidden" value="${customSelf.customOrderCheck_time!''}" id="self_customOrderCheck_time">
                                   <label>
                                       <input type="checkbox" value='customOrderCheck' style="margin-top: 0px;">
                                       4.报关单查验(报关人: <span id="self_customOrderCheck_updater_span">${customSelf.customSelfOrderCheck_updater!''}</span> , 时间: <span id="self_customOrderCheck_time_span">${customSelf.customSelfOrderCheck_time!''}</span>)
                                   </label>
                               </div>
                               <div class="checkbox">
                                    <input type="hidden" value="${customSelf.release_updater!''}" id="self_release_updater">
                                <input type="hidden" value="${customSelf.release_time!''}" id="self_release_time">
                                   <label>
                                       <input type="checkbox" value='release' style="margin-top: 0px;">
                                       5.放行(报关人: <span id="self_release_updater_span">${customSelf.release_updater!''}</span> , 时间: <span id="self_release_time_span">${customSelf.release_time!''}</span>)
                                   </label>
                               </div>
                               <div class="checkbox">
                                <input type="hidden" value="${customSelf.conclusion_updater!''}" id="self_conclusion_updater">
                                <input type="hidden" value="${customSelf.conclusion_time!''}" id="self_conclusion_time">
                                   <label>
                                       <input type="checkbox" value='conclusion' style="margin-top: 0px;">
                                       6.审结(报关人: <span id="self_conclusion_updater_span">${customSelf.conclusion_updater!''}</span> , 时间: <span id="self_conclusion_time_span">${customSelf.conclusion_time!''}</span>)
                                   </label>
                               </div>
                           </div>
                           </div>
                       </div>
                </div>
</form>
         </div><!-- /.row -->