<input type="hidden" id="china_custom_id" value="${chinaCustom.id!''}">
<form id="chinaForm">
						            <div class="form-group">  <!--  form row  -->
						                    <div class="row">
						                        <div class="col-lg-4">
						                            <%include("/eeda/component/form/inputField.html", 
						                                {   id:'china_customs_broker', 
						                                    label:'报关行', 
						                                    value:chinaCustom.customs_broker!''
						                                }){}%>
						                        </div>
						                        <div class="col-lg-4">
						                            <%include("/eeda/component/form/inputField.html", 
						                                {   id:'china_contact', 
						                                    label:'联系人', 
						                                    value:chinaCustom.contact!''
						                                }){}%>
						                        </div>
						                        <div class="col-lg-4">
						                            <%include("/eeda/component/form/inputField.html", 
						                                {   id:'china_phone', 
						                                    label:'电话', 
						                                    value:chinaCustom.phone!''
						                                }){}%>
						                        </div>
						                    </div>
						                    <div class="row">
						                        
						                        <div class="col-lg-4">
						                            <%include("/eeda/component/form/inputField.html", 
						                                {   id:'china_custom_order_no', 
						                                    label:'报关单号码', 
						                                    value:chinaCustom.custom_order_no!''
						                                }){}%>
						                        </div>
						                        <div class="col-lg-4">
						                            <%include("/eeda/component/form/inputField.html", 
						                                {   id:'china_destination_country', 
						                                    label:'目的国', 
						                                    value:chinaCustom.destination_country!''
						                                }){}%>
						                        </div>
						                    </div>
						                   
						            </div><!-- /.row -->
						</form>