<div id='partyModal' class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">新增联系人</h4>
      </div>
      <div class="modal-body">
            <form id = "partyForm">
                <div class="form-group"> 
                	<div class="row">
							<div align="center">
		                         <label class="label-margin">公司类型</label>
		                         <label class="radio-inline">
		                             <input type="radio" name="comType" value="SP" >供应商
		                         </label>
		                         <label class="radio-inline">
		                             <input type="radio" name="comType"  value="CUSTOMER">客户
		                         </label>
		                     </div>
					</div>
					<hr/>
                    <div class="row">
                    	<div class="col-lg-6">
	                       <%include("/eeda/component/form/inputField.html", 
	                                {   id:'company_name', 
	                                    label:'公司名称',
	                                    required:'required'
	                                }){}%>
                        </div>
                        <div class="col-lg-6"> 
                       		<%include("/eeda/component/form/inputField.html", 
                                {   id:'abbr', 
                                    label:'公司简称',
                                    required:'required'
                                }){}%>
                        </div>
                        <div class="col-lg-6"> 
                       		<%include("/eeda/component/form/inputField.html", 
                                {   id:'phone', 
                                    label:'联系电话',
                                    required:'required'
                                }){}%>
                         </div>
                    </div>
                    <div class="row">
                    	<div class="col-lg-6"> 
                       		<%include("/eeda/component/form/inputField.html", 
                                {   id:'contact_person', 
                                    label:'联系人',
                                    required:'required'
                                }){}%>
                        </div>
                        <div class="col-lg-6"> 
                       		<%include("/eeda/component/form/inputField.html", 
                                {   id:'address', 
                                    label:'联系地址',
                                    required:'required'
                                }){}%>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-lg-6"> 
                       		<%include("/eeda/component/form/inputField.html", 
                                {   id:'contact_person_eng', 
                                    label:'联系人（英）',
                                    required:'required'
                                }){}%>
                        </div>
                        <div class="col-lg-6"> 
                       		<%include("/eeda/component/form/inputField.html", 
                                {   id:'address_eng', 
                                    label:'联系地址（英）',
                                    required:'required'
                                }){}%>
                         </div>
                    </div>
                    <div class="row" id="show_type" style="display:none">
                     	 <div class=col-lg-12>
                         	<label>供应商类型</label><hr/>
                         </div>
                         <div class="col-lg-6"> 
                         <div class="checkbox">
                             <label>
                                 <input id="sp_type_truck" name="sp_type_truck" type="checkbox" value="truck" >运输公司
                             </label>
                         </div>
                         <div class="checkbox">
                             <label>
                                 <input id="sp_type_carrier" name="sp_type_carrier" type="checkbox" value="carrier" style="margin-top: 0px;">船公司
                             </label>
                         </div>
                         <div class="checkbox">
                             <label>
                                 <input id="sp_type_air" name="sp_type_air" type="checkbox" value="air" style="margin-top: 0px;">航空公司
                             </label>
                         </div>
                         <div class="checkbox">
                             <label>
                                 <input id="sp_type_broker" name="sp_type_broker" type="checkbox" value="broker" style="margin-top: 0px;">报关行
                             </label>
                         </div>
                         <div class="checkbox">
                             <label>
                                 <input id="sp_type_line" name="sp_type_line" type="checkbox" value="line" style="margin-top: 0px;">干线运输供应商
                             </label>
                         </div>
                         <div class="checkbox">
                             <label>
                                 <input id="sp_type_delivery" name="sp_type_delivery" type="checkbox" value="delivery" style="margin-top: 0px;">配送供应商
                             </label>
                         </div>
                         </div>
                         <div class="col-lg-6"> 
                         <div class="checkbox">
                             <label>
                                 <input id="sp_type_pickup" name="sp_type_pickup" type="checkbox" value="pickup" style="margin-top: 0px;">提货供应商
                             </label>
                         </div>
                         <div class="checkbox">
                             <label>
                                 <input id="sp_type_personal" name="sp_type_personal" type="checkbox" value="personal" style="margin-top: 0px;">个人运输供应商
                             </label>
                         </div>
                         <div class="checkbox">
                             <label>
                                 <input id="sp_type_head_car" name="sp_type_head_car" type="checkbox" value="head_car" style="margin-top: 0px;">头程船公司
                             </label>
                         </div>
                         <div class="checkbox">
                             <label>
                                 <input id="sp_type_oversea_agent" name="sp_type_oversea_agent" type="checkbox" value="oversea_agent" style="margin-top: 0px;">海外代理
                             </label>
                         </div>
                         <div class="checkbox">
                             <label>
                                 <input id="sp_type_booking_agent" name="sp_type_booking_agent" type="checkbox" value="booking_agent" style="margin-top: 0px;">订舱代理
                             </label>
                         </div>
                         <div class="checkbox">
                             <label>
                                 <input id="sp_type_cargo_agent" name="sp_type_cargo_agent" type="checkbox" value="cargo_agent" style="margin-top: 0px;">货运代理
                             </label>
                         </div>
                         </div>
                     </div>
            	</div>
      		</form>
      </div>
      <div class="modal-footer">
        <button type="button" id="returnOrderBtn"  class="btn btn-default" data-dismiss="modal">返回</button>
        <button type="button" id="savePartyBtn" class="btn btn-primary">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




