<%layout("/lego_app/mainLayout.html"){%>
	<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
		<a class=" mui-icon mui-icon-left-nav mui-pull-left" href="javascript:void(0)"></a>
		<h1 class="mui-title">单据:${form_name!''}</h1>
		<a id="menu" class="mui-action-menu mui-btn-link mui-pull-right" href="#action_popover">操作</a>
	</header>
	<div id="action_popover" class="mui-popover">
		<ul class="mui-table-view">
			<li class="mui-table-view-cell"><a href="#">保存</a></li>
			<li class="mui-table-view-cell"><a href="#">打印</a></li>
			<li class="mui-table-view-cell"><a href="#">审核</a></li>
		</ul>
	</div>
	<div class="mui-content">
		<input type="hidden" id="module_id" value="${module_id!''}">
		<input type="hidden" id="form_id" value="${form_id!''}">
		<input type="hidden" id="order_id" value="${order_id!''}">
		<form class="mui-input-group">
			<div id="form_fields">
				<!-- 字段 -->
				<!-- 你也许需要才能看到数据刷新本页 -->
			</div>
			<ul id="app_form_list" class="mui-table-view mui-table-view-chevron">
				
			</ul>
		</form>
	</div>
	<%include("/lego_app/jsTemplate/inputField.art",{}){} %>
	<%include("/lego_app/jsTemplate/detailList.art",{}){} %>
<%}%>

<script>
	requirejs(['/js/eeda/eeda-common.js'], function (common) {
		
	});
</script>