<%layout("/BusinessAdmin/layout.html"){%>
        <div class="pageheader notab">
      <h1 class="pagetitle" style="float:left;">视频案例</h1><span class="red" style="float:left;">*普通商家只能上传5个视频</span>
      <div style=" clear:both;"></div>
    </div>
    <div class="pageheader notab" style="height:350px;">
        <div class="zdy-fenlei">
        <p><strong>上传案例</strong></p>
        <div class="mt10"><label>案例名称：<input type="text" name="example_name" id="example_name"/></label></div>
         <div class="mt10">上传封面：<input type="file" value="单张上传" class="edit" id="title_up" name="title_up"/><span class="red">*图片小于500Kb</span>
         </div>
                <img src="/images/fengmianpic.png" id="title_img"/>
        <div class="mt10">优酷视频地址：<input type="text" class="longtxt" id="youku_address" name="youku_address"/></label></div>
        <div class="mt10"><input type="button" style="width:200px;" class="stdbtn btn_blue" value="上 传" id="upload"/> </div>
        </div>
    </div>
			<div class="row">
	      <%include("/eeda/component/form/detailTable.html", 
	          {
	              id:'eeda_table', 
	              headers:['视屏名字', '优酷地址', '创建时间','操作']
	      }){} %> 
 	</div>
<%}%>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
         requirejs(['/js/BusinessAdmin/video/list.js']);
    });
</script>
