<%layout("/eeda/layout.html"){%>
<div id="page-wrapper">

	<input id="order_id" type="hidden" name="order_id" value="${order.id!''}" />
	<div class="row simple_search_div">
	   <div class="col-lg-12">
		<form id="orderForm">
			<input id="sp_id" type="hidden" name="sp_id" value="${order.sp_id!''}" />
			<input id="declare_unit_id" type="hidden" name="declare_unit_id" value="${order.declare_unit_id!''}" />
			<div class="row">
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", {
					id:'order_no', label:'对账单号', value:order.order_no!'', disabled:
					'disabled' }){}%>
				</div>
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", { id:'status',
					label:'单据状态', value:order.status!'新建', disabled: 'disabled' }){}%>
				</div>
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", {
					id:'creator_name',
					 label:'创建人', value:order.creator_name!'',
					 disabled:'disabled' 
					 }){}%>
				</div>
			</div>
			<!--  第3行  -->
			<div class="row">
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", {
					id:'create_time', label:'创建时间', value:order.create_stamp!'',
					disabled: 'disabled' }){}%>
				</div>
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", {
					 id:'confirm_name',
					 label:'确认人',
					 value:order.confirm_name!'', 
					 disabled:'disabled' 
					 }){}%>
				</div>
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", {
					id:'confirm_time', label:'确认时间',
					value:order.confirm_stamp!'',
					disabled: 'disabled'
					 }){}%>
				</div>
			</div>
			<!--  第4行  -->
			<div class="row">
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", { id:'declare_unit',
					label:'申报单位', value:order.declare_unit!'',disabled:'disabled'
					}){}%>
				</div>
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", { id:'address',
					label:'地址', value:order.address!'',disabled:'disabled'
					}){}%>
				</div>
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", { id:'contact_person',
					label:'联系人', value:order.contact_person!'',disabled:'disabled'
					}){}%>
				</div>
			</div>
			<!--  第5行  -->
			<div class="row">
				<div class="col-lg-4">
					<%include("/eeda/component/form/inputField.html", { id:'phone',
					label:'电话', value:order.phone!'',disabled:'disabled'
					}){}%>
				</div>
				<div class="col-lg-4">	
					<%include("/eeda/component/form/inputDateQueryField.html", { id:'check_time',
					label:'对账时间', begin_value:order.begin_time!'', end_value:order.end_time!'', disabled: 'disabled' 
					}){}%>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<label>备注</label>
					<textarea id='remark' class="form-control" rows="3" name="remark">${order.remark!''}</textarea>
				</div>
			</div>
			
			<div class="row">
					<div class="col-lg-12">
						<div class="btn-header" style="font-size: 18px">结算金额汇总</div>
					</div>
				   <div class="col-lg-6">
					<%include("/eeda/component/form/inputField.html", { id:'total_amount',
					label:'应收人民币总额', value:order.total_amount!'',disabled:'disabled'
					}){}%>
				</div>
			</div>
		</form>
	  </div>
	</div>
	<!-- /.row -->
		<div class="row simple_search_div" style = "margin-top:10px">
			<div class="panel-heading">
	              <h4 class="panel-title">
	                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseChargeInfo" aria-expanded="false" class="collapsed">
	                  <i id="collapseChargeIcon" class="fa fa-angle-double-down"></i> 收款确认                                       </a>
	              </h4>
	          </div>
	        <div id="collapseChargeInfo" class="panel-collapse collapse in" aria-expanded="false" style="height: auto;">
                                <form id="confirmForm">
                                    <!-- <div class="search_panel"> -->
		                              <div class="col-lg-4">

										<%include("/eeda/component/form/inputField.html", { id:'status',
													label:'状态', value:order.status!'未处理',disabled:'disabled'
													}){}%>
		                              </div>
		                            <div class="col-lg-4">
		                            	<div class="form-group">
		                                    <label class="search-label">收款方式</label>
		                                    <input type="hidden" id="payment_method_show" value="${order.payment_method!''}"/>
		                                	<select id="payment_method" class="form-control search-control payment_method" name="payment_method" >
		                                    <option value=""></option>
		                                    <option value="cash" <% if(order.payment_method!'cash'=='cash'){%>selected<% }%>>现金</option>
		                                    <option value="transfers" <% if(order.payment_method!''=='transfers'){%>selected<% }%>>转账</option>
		                                    <option value="checkTransfers" <% if(order.payment_method!''=='checkTransfers'){%>selected<% }%>>支票转账</option>
		                                    </select>
		                                </div>
			                             <div id="transfers_massage" <% if(order.payment_method!'cash'=='cash'){%>style="display:none"<% }%>>
				                            <%include("/eeda/component/form/inputAccountField.html", 
				                            { id:'deposit_bank',
											label:'开户行',
										    value:order.deposit_bank!'',
										    display_value:order.deposit_bank_input
											}){}%>
											
											<%include("/eeda/component/form/inputField.html", 
											{ id:'account_no',
											label:'收款账号', value:order.account_no!''
											}){}%>
											
											<%include("/eeda/component/form/inputField.html", 
											{ id:'account_name',
											label:'账户名', value:order.account_name!''
											}){}%>
		                                </div>
		                            </div>
		                            <div class="col-lg-4">
			                            <div class="form-group">
			                                    <label class="search-label">发票类型</label>
			                                    <input id="invoice_type_show" type="hidden" value="${order.bill_type!''}">
			                                    <select id="bill_type" class="form-control search-control invoice_type" name="bill_type">
				                                    <option></option>
				                                    <option value="wbill" <% if(order.bill_type!'wbill'=='wbill'){%>selected<%}%>>无发票</option>
				                                    <option value="ordinarybill" <% if(order.bill_type!''=='ordinarybill'){%>selected<%}%>>增值税普通发票</option>
				                                    <option value="specialbill" <% if(order.bill_type!''=='specialbill'){%>selected<%}%>>增值税专用发票</option>
				                                    <option value="dbill" <% if(order.bill_type!''=='dbill'){%>selected<%}%>>代开发票(垫付款)</option>
				                                    <option value="HKINVbill" <% if(order.bill_type!''=='HKINVbill'){%>selected<%}%>>HK INV</option>
			                                    </select>
			                            </div>
		                            </div>
		                          <div id="projectFee">
		                            <div class="col-lg-4">
			                            <div class="form-group">
			                                    <label class="search-label">项目</label>
			                                    <input id="fee_type_show" type="hidden" value="${order.fee_type!''}">
			                                    <select id="fee_type" class="form-control search-control fee_type" name="fee_type">
				                                    <option></option>
				                                    <option value="transFee" <% if(order.fee_type!''=='transFee'){%>selected<%}%>>代理货运服务费</option>
				                                    <option value="customFee" <% if(order.fee_type!''=='customFee'){%>selected<%}%>>代理报关服务费</option>
				                                    <option value="consultFee" <% if(order.fee_type!''=='consultFee'){%>selected<%}%>>咨询服务费</option>
				                                    <option value="internationalFee" <% if(order.fee_type!''=='internationalFee'){%>selected<%}%>>国际货代服务费</option>
			                                    </select>
			                            </div>
		                            </div>
		                            <div class="col-lg-4" style="display:none">
					                            <%include("/eeda/component/form/inputField.html", 
					                            { id:'invoice_money',
													label:'开票金额', 
													value:order.invoice_money!''
													}){}%>
		                            </div>
		                          </div>
									<div class="col-lg-12">
										<label>发票信息</label>
										<textarea id='invoice_no' class="form-control" rows="3" name="invoice_no">${order.invoice_no!''}</textarea>
									</div>
		                        <!-- </div><br/><br/> -->
		
		                       
									<div class="form-group">
										<div class="col-lg-12">
											<h4>收款金额汇总</h4>
										</div>
									</div>
							   
		                        
		                        <div class=" form-group">
			                            <div class="col-lg-4">
			                                <%include("/eeda/component/form/inputField.html", { id:'modal_cny',
			                                label:'本次收款CNY', value:order.modal_cny!''
			                                }){}%>
			                            </div>
			                            <div class="col-lg-4" >
				                            <%include("/eeda/component/form/inputField.html", { id:'modal_usd',
				                            label:'未收余额CNY', value:order.modal_usd!'',disabled:'disabled'
				                            }){}%>
			                            </div>
			                         
		                         </div><br>
		                            <div class=" form-group">
			                       		<div class="col-lg-4">
			                           		<%include("/eeda/component/form/inputField.html", { id:'confirm_name',
											label:'	确认收款人', value:order.confirm_name!'',disabled:'disabled'
											}){}%>
								       </div>
								       <div class="col-lg-4">
				                            <%include("/eeda/component/form/dateInputField.html",
							                        {    id:'receive_time', 
							                             label:'收款时间',
							                             
							                             value:order.receive_time!''
				                              }){} %>
				                        </div>
				                     </div>
                                    <div class="button-bar col-lg-12" style = "margin-bottom:15px" >
										<button id='confirmBtn' class="btn  btn_green" disabled >收款确认</button> 							            
									</div>
                                </form>                        
		                  	 </div>
				</div>
  		<div class="simple_order_list_div">
			<ul id="orderTabs" class="nav nav-tabs">
				<li class="active"><a href="#unchecked" data-toggle="tab"
					id="costCheckOrderItem">费用明细信息</a></li>
				<li ><a href="#receiptDetail" data-toggle="tab"
				id="costCheckreceipt">收款明细信息</a></li>
			</ul>
		<br>
	         <div class="tab-content">
                <div class="tab-pane fade active in" id="unchecked">
						<%include("/eeda/component/form/detailTable.html", 
                            {
                                id:'eeda-table', 
                                style:'width:1500px',
                               headers:['<input type="checkbox" id="allCheck">','工作单号','报关日期','提单号/船运单号','结算公司','费用名称','单价','数量',
                               '币制','金额','备注','报关单号码','创建时间','order_id'],
								field_list:['id','order_no','date_custom','booking_no','abbr_name','fin_name',
								'amount','price','currency_name','total_amount','remark','customs_billcode','create_stamp','order_id'], 
								value_list: order.itemList!item_list![] 
							}){} %>
			    </div>
			    <div class="tab-pane fade  in" id="receiptDetail">
			    	<div class="col-lg-12">
				    	<label >剩余金额汇总</label>
				    	<label >CNY:</label><br><br>
			    	</div>
						<%include("/eeda/component/form/detailTable.html", 
                            {
                                id:'receip-table', 
                                style:'width:700px',
                               headers:['币制','应收金额','已收金额','剩余金额','收款时间','确认收款人'],
								field_list:['id','order_no','date_custom','booking_no','abbr_name','abbr_name'], 
								value_list: order.itemList!item_list![] 
							}){} %>
			    </div>
			</div>

		<div class="button-bar" >
			<button id='saveBtn' class="btn  btn_green" disabled >保存</button> 
			<button id='confrimBtn' class="btn  btn_green" disabled >确认</button> 
			<a class="btn  btn_white" href="/cmsChargeCheckOrder">返回</a>

            <button id="printCustomOrderBtn" class="btn   btn_green" >生成对账单PDF</button>
            
		</div>
	</div>
</div>
<%}%>
<script> 
    var itemOrder = {};
</script>
<script>
    requirejs(['/js/common.js', '/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/cms/cmsChargeCheckOrder/edit']);
    });
</script>
