<html xmlns="http://www.w3.org/1999/xhtml" class="_ok_app_hidden" style="width: 100%; margin-left: 0px;"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>商家后台-填写资料</title>
<link rel="stylesheet" href="/css/BusinessAdmin/style.default.css" type="text/css" />
<link rel="stylesheet" href="/css/BusinessAdmin/pagestyle.css" type="text/css" />
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.flot.min.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/jquery.slimscroll.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/general.js"></script>
<script type="text/javascript" src="/js/BusinessAdmin/plugins/dashboard.js"></script>
<script src="/js/lib/require2.3.2.min.js"></script>

<%include("/eeda/component/form/commonJs.html",{}){} %>
<link href="/js/lib/sco/css/sco.message.css" rel="stylesheet"> 
<link href="/js/lib/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet">
<link href="/css/eeda.css" rel="stylesheet"> 
<link href="/css/wedding/main.css" rel="stylesheet">
<meta http-equiv="Content-Security-Policy" content="style-src * 'unsafe-inline' 'self' blob: data: file:">
<meta name="chromesniffer" id="chromesniffer_meta" content="{&quot;jQuery&quot;:&quot;1.7&quot;,&quot;jQuery UI&quot;:&quot;1.8.16&quot;}">
<style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style>
</head>

<body class="reg_header">

		<%
			if(creator.user_name!'0' == '0'){
		%>
			<script>
				alert("你还没走第一步！！点击跳转")
				window.location.href = "/BusinessAdmin/register";
			</script>
		<%
			}
		%>
		<input type ="hidden"  id = 'user_name' value = "${creator.user_name!''}"/>
		<input type ="hidden"   id ='user_pass' value = "${creator.password!''}"/>
		<input type ="hidden"    id = 'user_phone' value = "${creator.phone!''}"/>
<input type="hidden" name="register_type"  id="register_type" value="2">
<div class="bodywrapper">
    <!--topheader-->
    <!--leftmenu-->
    <div style="width:900px; margin:30px auto; border:1px solid #ccc; background-color:#FFF;">
        <div class="pageheader notab">
            <h1 class="pagetitle">注册账号 &gt; <strong class="orange">填写资料</strong> &gt;  等待审核 &gt; 完成 </h1>
        </div>
        <!--pageheader-->
        <ul class="hornav">
            <li class="current"><a href="#company" data-type="company">企业注册</a></li>
            <li class=""><a data-type="personal" href="#personal">个人注册</a></li>
        </ul>
        <div id="contentwrapper" class="contentwrapper">
        <form  id="two_form">
            <div id="personal" class="subcontent" style="display: none;">
                <div class="registered " id="login-content">
                    <dl>
                        <dt>
                            <div class="fm-label-wrap ">
                                <label for="fm-login-id">负责人姓名：</label>
                            </div>
                        </dt>
                        <dd>
                            <div class="">
                                <input type="text" class="input_text" name="contact_1"/><span style="color:red">*</span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="fm-label">
                            <div class="fm-label-wrap ">
                                <label for="fm-login-password">联系电话：</label>
                            </div>
                        </dt>
                        <dd class="fm-field" id="fm-login-password-wrap">
                            <div class="">
                                <input type="text" class="input_text" name="telephone_1"><span style="color:red">*</span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="fm-label">
                            <div class="fm-label-wrap ">
                                <label for="fm-login-password">身份证正面：</label>
                            </div>
                        </dt>
                        <dd class="fm-field" id="fm-login-password-wrap">
                            <div class="file">
                           		 选择图片
                                <input type="file" id="id_card" name="id_card" />
                            </div>
                            <span class="red">图片为JPG格式，小于2M</span>
                            <div class="form-control" style="margin-left:100px">
                            	<img style="width: 200px; height: 150px;" class="shadow" src="" value="" id="img_id_card"/>   
			            	</div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="fm-label">
                            <div class="fm-label-wrap ">
                                <label for="fm-login-password">行业：</label>
                            </div>
                        </dt>
                        <dd class="fm-field" id="fm-login-password-wrap">
                            <div class="textin">
                                <div style="padding-top:5px;">
                                    <select name="trade_type_1">
                                    <% for(cate in cateList![]){%>
                                    	<option value="${cate.id}">${cate.name}</option>
                                    <%}%>
                                    </select>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl>
		          	  <dt class="fm-label">
			              <div class="fm-label-wrap">
			                <label for="fm-login-password">店铺地址：</label>
			              </div>
		              </dt>
		              <div class="row">
		                  <%include("/eeda/component/form/inputLocationField.html", 
		                  {
		                      id:'p_c_d_1', 
		                      label:'店铺地址', 
		                      value: p_c_d!'',
		                      display_value: p_c_d_name!''
		                  }){} %>
		                  <div class="" style="margin-left:95px;" >
		              	  	  <input type="text" id="address" class="input_text addr" name="shop_address_1" value="" placeholder=" 具体地址" >
		              	  </div>
		              </div>
		            </dl>
                    <dl>
                        <dt class="fm-label">
                            <div class="fm-label-wrap ">
                                <label for="fm-login-password">店铺电话：</label>
                            </div>
                        </dt>
                        <dd class="fm-field" id="fm-login-password-wrap">
                            <div class="">
                                <input type="text" class="input_text" name="shop_telephone_1">
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="fm-label">
                            <div class="fm-label-wrap ">
                                <label for="fm-login-password">QQ：</label>
                            </div>
                        </dt>
                        <dd class="fm-field" id="fm-login-password-wrap">
                            <div class="">
                                <input type="text" class="input_text" name="qq_1">
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="fm-label">
                            <div class="fm-label-wrap ">
                                <label for="fm-login-password">简介：</label>
                            </div>
                        </dt>
                        <dd class="fm-field" id="fm-login-password-wrap">
                            <div class="textin">
                                <textarea class="form-control" rows="5" name="about_1"></textarea>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="fm-label">
                            <div class="fm-label-wrap ">
                                <label for="fm-login-password">Logo：</label>
                            </div>
                        </dt>
                        <dd class="fm-field" id="fm-login-password-wrap">
			                <div class="file">
				                <input type="file" name="logo_1" id="logo_1" value=""/>
				               	 选择图片
			                </div>
			                <span class="red">图片为JPG格式，小于1000kb</span> 
			                <div class="form-control" style="margin-left:100px">
			                	<img style='width: 100px; height: 100px;' class='shadow' value='' id="img_logo_1">      
			            	</div>
			            </dd>
                    </dl>
                </div>
            </div>
            <!-- #updates -->
            <div id="company" class="subcontent">
                <div class="registered " id="login-content">
                    <dl>
                        <dt>
                            <div class="fm-label-wrap ">
                                <label for="fm-login-id">公司名称：</label>
                            </div>
                        </dt>
                        <dd>
                            <div class="">
                                <input class="input_text" type="text" name="company_name"><span style="color:red">*</span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="fm-label">
                            <div class="fm-label-wrap ">
                                <label for="fm-login-password">负责人姓名：</label>
                            </div>
                        </dt>
                        <dd class="fm-field" id="fm-login-password-wrap">
                            <div class="">
                                <input class="input_text" type="text" name="contact_2"/><span style="color:red">*</span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="fm-label">
                            <div class="fm-label-wrap ">
                                <label for="fm-login-password">联系电话：</label>
                            </div>
                        </dt>
                        <dd class="fm-field" id="fm-login-password-wrap">
                            <div class="">
                                <input class="input_text" type="text" name="telephone_2"/><span style="color:red">*</span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="fm-label">
                            <div class="fm-label-wrap ">
                                <label for="fm-login-password">营业执照：</label>
                            </div>
                        </dt>
                        <dd class="fm-field" id="fm-login-password-wrap">
                            <div class="file">
                           		 选择图片
                                <input type="file" id="company_pic_2" name="company_pic_2" />
                            </div>
                            <span class="red">图片为JPG格式，小于2M</span>
                            <div class="form-control" style="margin-left:100px">
                            	<img style="width: 200px; height: 150px;" class="shadow" src="" value="" id="img_company_pic_2"/>   
			            	</div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="fm-label">
                            <div class="fm-label-wrap ">
                                <label for="fm-login-password">行业：</label>
                            </div>
                        </dt>
                        <dd class="fm-field" id="fm-login-password-wrap">
                            <div class="textin">
                                <div style="padding-top:5px;">
                                    <select name="trade_type_2">
                                    <% for(cate in cateList![]){%>
                                    	<option value="${cate.id}">${cate.name}</option>
                                    <%}%>
                                    </select>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="fm-label">
                            <div class="fm-label-wrap ">
                                <label for="fm-login-password">店铺地址：</label>
                            </div>
                        </dt>
                        <div class="row">
		                  <%include("/eeda/component/form/inputLocationField.html", 
		                  {
		                      id:'p_c_d_2', 
		                      label:'店铺地址', 
		                      value: '',
		                      display_value: ''
		                  }){} %>
		                  <div class="" style="margin-left:95px;" >
		              	  	  <input type="text" id="address" class="input_text addr" name="shop_address_2" value="" placeholder=" 具体地址" >
		              	  </div>
		              </div>
                    </dl>
                    <dl>
                        <dt class="fm-label">
                            <div class="fm-label-wrap ">
                                <label for="fm-login-password">店铺电话：</label>
                            </div>
                        </dt>
                        <dd class="fm-field" id="fm-login-password-wrap">
                            <div class="">
                                <input class="input_text" type="text" name="shop_telephone_2">
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="fm-label">
                            <div class="fm-label-wrap ">
                                <label for="fm-login-password">QQ：</label>
                            </div>
                        </dt>
                        <dd class="fm-field" id="fm-login-password-wrap">
                            <div class="">
                                <input class="input_text" type="text" name="qq_2">
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="fm-label">
                            <div class="fm-label-wrap ">
                                <label for="fm-login-password">简介：</label>
                            </div>
                        </dt>
                        <dd class="fm-field" id="fm-login-password-wrap">
                            <div class="">
                                <textarea class="input_text" class="form-control" rows="5" name="about_2"></textarea>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="fm-label">
                            <div class="fm-label-wrap ">
                                <label for="fm-login-password">公司Logo：</label>
                            </div>
                        </dt>
                        <dd class="fm-field" id="fm-login-password-wrap">
			                <div class="file">
				                <input type="file" name="logo_2" id="logo_2" value=""/>
				               	 选择图片
			                </div>
			                <span class="red">图片为JPG格式，2M</span> 
			                <div class="form-control" style="margin-left:100px">
			                	<img style='width: 100px; height: 100px;' class='shadow' value='' id="img_logo_2">      
			            	</div>
			            </dd>
                    </dl>
                    
                	</div>
            	</div>
            <!-- #activities -->
            </form>
            <div style="padding-left:10px; margin-top:10px;">
                <button type="button"  class="stdbtn btn_blue" style="width:200px;"  id="nextBtn">下一步</button>
            </div>
        </div>
        <!--contentwrapper-->
    </div>
    <!-- centercontent -->
</div>




</body>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
         requirejs(['/js/BusinessAdmin/register/info/index.js']);
    });
</script>


</html>