<%layout("/lego_app/mainLayout.html"){%>
	<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">单据:${form_name!''}</h1>
		<a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="#action_popover"></a>
	</header>
	<input type="hidden" id="module_id" value="${module_id!''}">
	<input type="hidden" id="form_id" value="${form_id!''}">
	<input type="hidden" id="field_col_name" value="${field_col_name!''}">
	<div class="mui-content">
		<ul id="app_form_list" class="mui-table-view">
			
		</ul>
	</div>
<%}%>
<script type="text/templete" id="app_form_list_item">
	<li class="mui-table-view-cell">
		<a class="mui-navigate-right" href="{{link}}">
			${display_field.field_display_name!''}:{{value}}
		</a>
	</li>
</script> 
<script>
	requirejs(['/js/eeda/eeda-common.js'], function (common) {
		<%if(action=='add'){%>
			requirejs(['app/form/add/main']);
		<%} else if(action=='edit'){%>
			requirejs(['app/form/edit/main']);
		<%} else if(action=='list'){%>
			requirejs(['app/lego_app/form/list/main']);
		<%}%>
	});
</script>