<div class="form-group" >
	<div id="${id}_div" class="input-append date">
        <%if(inline!true){%>
        <label class="search-label">
         <%}else{%>
        <label>
         <%}%>
        ${label!''}
        <%if(required!'' =='required'){%>
        <span style='color:red; display:initial;'>*</span>
   		<%}%>
   		</label>
        
        <% if(inline!true){%>
			<span class="add-on"> 
		<%}else{%>
			<span class="add-on" style="margin-top:30px"> 
		<%}%>
        	<i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
        <input id="${id}" name= "${id}" class="form-control <% if(inline!true){%>
			search-control
		<%}%>  beginTime_filter" type="text" value="${value}" ${required!''} ${disabled!''}>
     </div>
</div>
<script>
$(document).ready(function() {
	//时间控件
	var dateType = "";
	if('${type!}'=='time'){
		dateType = "time"
	}
	$('#${id}_div').datetimepicker({  
	    format: dateType=='time'?'yyyy-MM-dd hh:MM:ss':'yyyy-MM-dd',  
	    language: 'zh-CN'
	}).on('changeDate', function(ev){
	    $(".bootstrap-datetimepicker-widget").hide();   
	    $('#${id}').trigger('keyup');
	});

    //回显
    var dateValue = '${value}';
    if(dateValue){
        $('#${id}').val(dateValue.substr(0,dateType=='time'?19:10));
    }
});
</script>