<table id="${id}" class="table table-border table-bordered table-bg table-hover table-sort">
    <tfoot class="search">
        <tr class="text-c">
            <%for(name in headers){%>
                <th></th>
            <%}%>
        </tr>
    </tfoot>
    <thead class="head">
        <tr class="text-c">
        	<%for(field in headers){
                if(field==''){%>
                    <th width="25"></th>
              <%}else{%>
                    <th width="100" field_name="f${field.ID}_${field.FIELD_NAME!''}">${field.FIELD_DISPLAY_NAME!''}</th>
              <%}
        	}%>
            <%if(form_type=="form"){%><th width="120">操作</th><%}%>
        </tr>
    </thead>

    <tbody>
    	<%for(record in value_list![]){
    		 var map = @record.getColumns();
    		%>
    		<tr  class="text-c" id='${map["id"]}'>
    			<% 
    				for(col_name in field_list![]){
                        if(col_name != null && col_name !=''){
    					    print('<td>'+map[col_name]+'</td>');
                        }else{
                            print('<td></td>');
                        }
    				}
    			%>
    		</tr>
    	<%}%>
    </tbody>
    
</table>