<table id="${id}" class="table table-border table-bordered table-bg table-hover table-sort" >
    <thead class="eeda">
		<%if(headers.~size>0){%>
        <tr>
        	<%for(name in headers){%>
        		<th>${name}</th>
        	<%}%>
		</tr>
		<%}%>
    </thead>
    <tbody>
    	<%for(record in value_list![]){
    		 var map = @record.getColumns();
    		%>
    		<tr id='${map["id"]}'>
    			<% 
    				for(col_name in field_list![]){
                        if(col_name != null && col_name !=''){
    					    print('<td>'+map[col_name]+'</td>');
                        }else{
                            print('<td></td>');
                        }
    				}
    			%>
    		</tr>
    	<%}%>
    </tbody>
</table>
<br/>