<div class="form-group">
	<% if(label!''!=""){ %>
		<label class="search-label">${label!''}
	<% } %>
    <%if(required!'' =='required'){%>
        <span style='color:red; display:initial;'>*</span>
    <%}%>
    </label>
    <input type="text" class="form-control search-control" 
    id="${id}_input" name="${id}_input" placeholder="${placeholder!'请选择客户'}" value="${display_value!''}" style="${style!''};"  ${required!''} ${disabled!''}>
    
    <ul id='${id}_list' tabindex="-1" 
	    class="pull-right dropdown-menu default dropdown-scroll" 
	    style="top: 22%; left: 33%;">
    </ul>
</div>
<input id="${id}" style="display: none;" name="${id}" value="${value!''}"/>
<script>

$(document).ready(function() {

	//获取客户列表，自动填充
	var companyList =$("#${id}_list");
	var inputField = $('#${id}_input');
	var hiddenField = $('#${id}');
	
	//处理中文输入法, 没完成前不触发查询
	var cpLock = false;
    inputField.on('compositionstart', function () {
        cpLock = true;
    });
    inputField.on('compositionend', function () {
        cpLock = false;
    });

	inputField.on('keyup click', function(event){
	    var me = this;
	    var inputStr = inputField.val();
	    if(cpLock)
	    	return;

	    if (event.keyCode == 40) {
            companyList.find('li').first().focus();
            return false;
        }

	     $.get("/customer/search", {customerName:inputStr}, function(data){
	    	if(inputStr!=inputField.val()){//查询条件与当前输入值不相等，返回
				return;
			}
	        companyList.empty();

	        if(inputStr=='' && data.length>0){
				if(data[0].REF_ID){
					companyList.append('<span class="search_hint">您曾经使用过的'+data.length+'行记录, 需要别的数据请输入查询条件</span>');
				}else{
					companyList.append('<span class="search_hint">最多只显示'+data.length+'行记录, 如无想要记录, 请输入更多查询条件</span>');
				}
			}else if(data.length==0){
				companyList.append('<span class="search_hint">无记录或是您没有获取该公司的权限</span>');
			}else if(inputStr.length>0 && data.length==10){
				companyList.append('<span class="search_hint">最多只显示'+data.length+'行记录, 如无想要记录, 请输入更多查询条件</span>');
			}

	        for(var i = 0; i < data.length; i++){
	        	var code = data[i].CODE;
	        	if(!code){
	        		code="";
	        	}else{
	        		code=" - "+data[i].CODE;
	        	}
	        	companyList.append("<li tabindex='"+i+"'><a class='fromLocationItem' post_code='"+data[i].POSTAL_CODE+"' contact_person='"+data[i].CONTACT_PERSON+"' email='"+data[i].EMAIL+"' phone='"+data[i].PHONE+"' partyId='"+data[i].ID+"' partyCode='"+data[i].CODE+"' address='"+data[i].ADDRESS+"', company_name='"+data[i].COMPANY_NAME+"', >"+data[i].ABBR+code +"</a></li>");
	        }
	            
	            
	        companyList.css({ 
		    	left:$(me).position().left+"px", 
		    	top:$(me).position().top+26+"px" 
		    });

		    eeda.hidePopList();
	        companyList.show();

			//当查询结果只有一个时，自动赋值到hiddenField
	        if(data.length==0){
                hiddenField.val('');
            }
            if(data.length==1 && data[0].ID){
                hiddenField.val(data[0].ID);
//                 inputField.val(data[0].ABBR);
//                 companyList.hide();
            }
            if(!inputStr && data.length>1){
                hiddenField.val('');
            }   
	    },'json');
	});
	
	companyList.on('click', '.fromLocationItem', function(e){
		inputField.val($(this).text());
	    companyList.hide();
	    var companyId = $(this).attr('partyId');
	    hiddenField.val(companyId);
	});

	//回车处理
 	companyList.on('keydown', 'li', function(e){
        if (e.keyCode == 13) {
          inputField.val($(this).text());//名字
          companyList.hide();
          var dataId = $(this).find('a').attr('partyId');
          hiddenField.val(dataId);//id
        }
    });

    companyList.on('focus', 'li', function() {
        $this = $(this);
        $this.addClass('active').siblings().removeClass();
        // $this.closest('div.container').scrollTop($this.index() * $this.outerHeight());
    }).on('keydown', 'li', function(e) {
        $this = $(this);
        if (e.keyCode == 40) {
            $this.next().focus();
            return false;
        } else if (e.keyCode == 38) {
            $this.prev().focus();
            return false;
        }
    });
	//当用户只点击了滚动条，没选客户，再点击页面别的地方时，隐藏列表
	companyList.on('mousedown', function(){
	    return false;//阻止事件回流，不触发 $('#spMessage').on('blur'
	});

	// 没选中item，焦点离开，隐藏列表
	$(document).on('click', function(event){
        var clickedEl_id = $(event.target).attr('id');
        var inputField_id = inputField.attr('id');

	    if (clickedEl_id!=inputField_id && companyList.is(':visible') ){
		    companyList.hide();
	    }

        if(clickedEl_id!=inputField_id && hiddenField.val()==''){
            inputField.val('');
        }
    });

});
</script>