<%layout("/eeda/layout.html"){%>
<% var orderPermission = shiro.hasPermission("planOrder.order");
   var boolOrder = orderPermission;
   %>
        <div id="page-wrapper">
        <form id="orderForm">
        <div style="margin-left:0;">
            <div class="row simple_search_div" style="padding:10px 0 10px 0">
                <div class="col-lg-12">
                   <input id="order_id" type="hidden" name="order_id" value="${order.id!''}"/>
                       <div class="row">
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'order_no', 
                                                    label:'拼箱单号', 
                                                    value:order.order_no!'',
                                                    disabled: 'disabled'
                                                }){}%>
                        </div> 
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'creator_name', 
                                                    label:'创建人', 
                                                    value:order.creator_name!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'create_time', 
                                                    label:'创建时间', 
                                                    value:order.create_time!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>                       
                    </div>
                    <div class="row"><!--  第4行  -->
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/selectField.html", 
                                {   id:'trans_clause', 
                                    label:'运输条款', 
                                    value:order.trans_clause!'',
                                    value_list:[
                                    	{code:'CY-CY', value:'CY-CY'},
                                    	{code:'CY-DOOR', value:'CY-DOOR'},
                                        {code:'CFS-CFS', value:'CFS-CFS'},
                                        {code:'CFS-DOOR', value:'CFS-DOOR'},                                            
                                        {code:'DOOR-DOOR', value:'DOOR-DOOR'},
                                        {code:'DOOR-CFS', value:'DOOR-CFS'},
                                        {code:'DOOR-CY', value:'DOOR-CY'},                                            
                                        {code:'CY-FOR', value:'CY-FOR'},
                                    	{code:'CY-CFS', value:'CY-CFS'},                                        	
                                    	{code:'CY-TACKLE', value:'CY-TACKLE'},
                                    	{code:'CY-RAMP', value:'CY-RAMP'},                                        	
                                    	{code:'CY-FREE OUT', value:'CY-FREE OUT'},
                                    	{code:'CY-LINER OUT', value:'CY-LINER OUT'},                                        	
                                    	{code:'CFS-CY', value:'CFS-CY'},                                        	                                           
                                        {code:'DOOR-FREE OUT', value:'DOOR-FREE OUT'},
                                        {code:'DOOR-LINER OUT', value:'DOOR-LINER OUT'},
                                        {code:'TACKLE-CY', value:'TACKLE-CY'},                                            
                                        {code:'TACKLE-CFS', value:'TACKLE-CFS'},                                        	
                                    	{code:'RAMP-CY', value:'RAMP-CY'},                                        	
                                    	{code:'FREE IN-CY', value:'FREE IN-CY'},
                                    	{code:'FREE IN-DOOR', value:'FREE IN-DOOR'},                                        	
                                    	{code:'FREE IN-FREE OUT', value:'FREE IN-FREE OUT'},
                                    	{code:'LINER IN-CY', value:'LINER IN-CY'},
                                    	{code:'LINER INCY-DOOR', value:'LINER IN-DOOR'},                                        	
                                    	{code:'CY-HOOK', value:'CY-HOOK'},
                                    	{code:'CY-WATER', value:'CY-WATER'},                                        	
                                    	{code:'CY-BARGE', value:'CY-BARGE'},
                                    	{code:'CY-MOTOR', value:'CY-MOTOR'},                                        	
                                    	{code:'CY-RAIL', value:'CY-RAIL'},
                                    	{code:'CY-RAIL+TRUCK', value:'CY-RAIL+TRUCK'},                                        	
                                    	{code:'CY-CY TRANSSHIP', value:'CY-CY TRANSSHIP'},                                        	
                                    	{code:'FREE IN-WATER', value:'FREE IN-WATER'},
                                    	{code:'HOOK-HOOK', value:'HOOK-HOOK'},                                         	
                                    	{code:'PIER-PIER', value:'PIER-PIER'}                                  	
                                    	
                                    ]
                            }){}%>
                        </div>      
                        <div class="col-lg-4">
                              <%include("/eeda/component/form/selectField.html", 
                                {   id:'trade_type', 
                                    label:'贸易类型', 
                                    value:order.trade_type!'',
                                    value_list:[
                                        {code:'FOB', value:'FOB'},
                                        {code:'CIF', value:'CIF'},
                                        {code:'CFR', value:'CFR'},
                                        {code:'DDU', value:'DDU'},
                                        {code:'DDP', value:'DDP'},
                                        {code:'OTHER', value:'OTHER'}
                                    ]
                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/eeda/component/form/inputField.html", 
                                                {   id:'status', 
                                                    label:'状态', 
                                                    value:order.status!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                    </div>    
                    <div class="row">
                    	<div class="col-lg-4">
                    	<%include("/eeda/component/form/inputField.html", 
                                                {   id:'transport_type', 
                                                    label:'服务类型', 
                                                    value:order.transport_type!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                    </div>  
                            
                <div class="form-group">
                 <label>备注</label>
                 <textarea id='note' class="form-control" rows="3" name="note">${order.remark!''}</textarea>
                </div>
                </div>
            </div>
            </div>
            
            <div style="margin-top:10px;margin-left:15px">
            <div class="row small_head"  style="width:200px"><div class="font_style" style="">Product Information 明细信息</div></div>
            <div class="row simple_small_title_div">
            <div class="col-lg-12">
            	<div class="row">
		           <div class="col-lg-4"><!--  三列排版  --> 
		                <%include("/eeda/component/form/inputSelectArea.html", 
		                    {   id:'MBLshipper', 
		                        label:'发货人MBLShipper', 
		                        display_value:order.MBLshipperAbbr!'',
		                        value:order.MBLshipper!'',
		                        textarea_value:order.MBLshipper_info!''
		                    }){}%>
		            </div>
		            <div class="col-lg-4"><!--  三列排版  --> 
		             <%include("/eeda/component/form/inputPartySelectArea.html", 
		                    {   id:'MBLconsignee', 
		                        label:'收货人MBLConsignee', 
		                        display_value:order.MBLconsigneeAbbr!'',
		                        value:order.MBLconsignee!'',
		                        textarea_value:order.MBLconsignee_info!''
		                    }){}%>
		            </div>
		            <div class="col-lg-4">
		             <%include("/eeda/component/form/inputPartySelectArea.html", 
		                    {
		                        id:'MBLnotify_party', 
		                        label:'通知人MBLNotifyParty', 
		                        display_value:order.MBLnotify_partyAbbr!'',
		                        value:order.MBLnotify_party!'',
		                        textarea_value:order.MBLnotify_party_info!''
		                    }){} %>
		           </div>
		        </div>
		        </div>
            </div>
            </div>
            </form>
            <div class="simple_order_list_div"> 
                <div class="">
                    <ul id="orderTabs" class="nav nav-tabs">
                        <li class="active">
                            <a href="#itemDetail" data-toggle="tab">工作单明细</a>
                        </li>
                    </ul>
                    <div class="button-bar " style="display:none">
                        <button class="btn btn_green guide_target4" id="add_cargo">添加</button> 
                        <!-- <button class="btn btn_green" id="create_jobOrder" disabled>创建工作单</button> -->
                    </div>
                    <%include("/eeda/component/form/detailTable.html", 
                                    {
                                        id:'cargo_table',
                                        style:'width:1800px',
                                        headers:['','工作单号','客户名称','出货类型','出货时间', '启运港POL','目的港POD','件数','毛重(KG)','体积(CBM)','货物名称',
                                        			'船公司', '船名vessel', '航次voyage','ETA','ETD','SO号码','净重(KG)','总重量(KG)','收货港POR'
                                                   ],
                                                 
                                        field_list:['id','order_no','customer_name','order_type','order_export_date','pol','pod','pieces','gross_weight','volume', 
                                        'cargo_name','carrier', 'vessel', 'voyage', 'eta','etd','so_number', 'net_weight','vgm','por'
                                        ],
                                        value_list: itemList![]
                                    }){} %>

                    
                    <div class="button-bar">
                        <button id='saveBtn' class="btn btn_green" >保存</button>
                        <a class="btn btn_white" href="/lclOrder">返回</a>
                    </div>
                    
                </div>
            </div>
            
            <a id='containerTypeShow_btn' data-target='#containerType_msg' data-toggle='modal' style='display:none'></a>
		    <div class="modal fade" id="containerType_msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		      <div class="modal-dialog">
		        <div class="modal-content">
		          <div class="modal-header">请选择箱量 </div>
		            <div class="modal-body">
		                <div class="form-group">
		                    <ul id="containerTypeTab" class="checkbox-inline">
			                    <li class="checkbox-inline">
			                        <input type="checkbox" value="20'GP">20GP X </input><input class="container_amount" style="width:30px"  value='1'></input>
			                    </li><br>
			                    <li class="checkbox-inline">
			                        <input type="checkbox" value="40'GP">40GP X </input><input class="container_amount" style="width:30px"  value='1'></input>
			                    </li><br>
			                    <li class="checkbox-inline">
			                        <input type="checkbox" value="45'GP">45GP X </input><input class="container_amount" style="width:30px"  value='1'></input>
			                    </li><br>
			                    <li class="checkbox-inline">
			                        <input type="checkbox" value="45'GP">45HQ X </input><input class="container_amount" style="width:30px"  value='1'></input>
			                    </li>
			                </ul>
		                </div>
		            </div>
		            <div class="modal-footer">
		                <button type="button" id="containerType_btnConfirm" class="btn  btn-primary" data-dismiss="modal">确认</button>
		                <button type="button" class="btn  btn-default" data-dismiss="modal">返回</button>
		            </div>
		      </div>
		    </div>
		  </div>
        </div>
<%}%>
<%include("/eeda/component/jsTemplate/tableInputDateField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableInputField.js",{}){} %>
<%include("/eeda/component/jsTemplate/tableSelectTruckTypeField.js",{}){} %>

<%include("/oms/PlanOrder/edit_guide.html",{}){} %>

<div class="blockUI" style="display:none"></div>
<div class="blockUI blockOverlay" style="z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.6; cursor: wait; position: fixed;"></div>
<div class="blockUI blockMsg blockPage" style="z-index: 1011; position: fixed; padding: 0px; margin: 0px; width: 30%; top: 40%; left: 35%; text-align: center; color: rgb(0, 0, 0); border: 3px solid rgb(170, 170, 170); background-color: rgb(255, 255, 255); cursor: wait;"><h4><img src="/images/loading.gif" style="height: 20px; margin-top: -3px;"></h4></div>

<script>
    var order_no = '${order.order_no!'订单编辑'}'; 
    var lclOrder = {};
</script>
<script>
    requirejs(['/js/eeda/eeda-common.js'], function (common) {
        requirejs(['app/oms/lclOrder/edit']);
        requirejs(['app/oms/lclOrder/edit_item_table']);
    });

</script>
